@using Edubase.Web.UI.Areas.Governors.Models
@using Edubase.Web.UI.Helpers
@model EditGroupDelegationInformationViewModel

@{
    ViewBag.hideLogo = true;
    ViewBag.SelectedTab = "EditGovernance";
    Layout = Model.Layout;
}

<div id="" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">Governance</h1>
        @using (Html.BeginForm("GroupEditDelegation", "GovernanceDelegation", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.GroupUId)
            <h2 class="govuk-heading-s">Delegated authority of local governing body</h2>
            <div class="edit-governor">
                <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.DelegationInformation)">
                    @Html.LabelFor(x => x.DelegationInformation, new {@class = "govuk-label"})
                    @Html.ValidationMessageFor(x => x.DelegationInformation, "Details must be 1000 characters or less", new { @class = "govuk-error-message" })
                    @Html.TextAreaFor(x => x.DelegationInformation, new {rows = "6", cols = "60", @class="govuk-textarea"})
                </div>

                <div class="button-row">
                    <button type="submit" value="Save" class="govuk-button">Save delegated authority</button>
                    <a href="@Url.RouteUrl("GroupEditGovernance", new {GroupUId = Model.GroupUId})" id="cancel-button" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>

@section ViewScripts
{
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("delegated-authority.*.js"))"></script>

}
