@using Edubase.Web.UI.Areas.Governors.Models
@using Edubase.Web.UI.Helpers
@model SelectSharedGovernorViewModel

@{
    ViewBag.hideLogo = true;
    ViewBag.SelectedTab = "EditGovernance";
    Layout = Model.Layout;
}

<div id="select-shared-governor" class="tab-content">

    @using (Html.BeginForm("SelectSharedGovernor", "SharedGovernor", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @Html.HiddenFor(x => x.GovernorType)
                @if (Model.Governors.Any())
                {
                <div class="button-row govuk-!-margin-bottom-4">
                    <input type="submit" value="Select" class="govuk-button"/>
                    <a href="@Url.RouteUrl("EstabEditGovernance", new {establishmentUrn = Model.Urn.Value})" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
                }
                else
                {
                <div class="button-row govuk-!-margin-bottom-4">
                    <a href="@Url.RouteUrl("EstabEditGovernance", new {establishmentUrn = Model.Urn.Value})" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
                }
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Select @Model.GovernorType</h2>
                @if (Model.Governors.Any())
                {
                <div class="exapanding-list-wrap">
                    @Html.HiddenFor(x => x.Urn)
                    @Html.HiddenFor(x => x.Role)
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        @for (var index = 0; index < Model.Governors.Count; index++)
                        {
                            @Html.EditorFor(x => x.Governors[index])
                        }
                    </div>
                    <div class="button-row">
                        <input type="submit" value="Select" class="govuk-button"/>
                        <a href="@Url.RouteUrl("EstabEditGovernance", new {establishmentUrn = Model.Urn.Value})" class="govuk-button govuk-button--secondary">Cancel</a>
                    </div>

                </div>
                }
                else
                {
                <p>There are no shared governors available for this establishment</p>
                <a href="@Url.RouteUrl("EstabEditGovernance", new {establishmentUrn = Model.Urn.Value})" class="govuk-button govuk-button--secondary">Cancel</a>
                }
            </div>
        </div>
    }

</div>
@section ViewScripts
{
    <script nonce="@Html.ScriptNonce()">
    $('.gias-checkboxes__conditional--input').on('change', function(e) {
        const panel = $('#' + $(this).attr('aria-controls')).parent('.shared-governor');
        if (this.checked) {
           panel.addClass('gias-checkboxes__conditional--expanded');
        } else {
            panel.removeClass('gias-checkboxes__conditional--expanded');
        }

    });
    </script>
}
