@using Edubase.Web.UI.Areas.Governors.Models
@using Edubase.Web.UI.Helpers
@model EditGroupCorporateContactViewModel

@{
    ViewBag.hideLogo = true;
    ViewBag.SelectedTab = "EditGovernance";
    Layout = Model.Layout;
}

<div id="" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">Corporate contact</h1>
        @using (Html.BeginRouteForm("GroupEditCorporateContactPost", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.GroupUId)
            <div class="edit-governor">
                <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.CorporateContact)">
                    @Html.LabelFor(x => x.CorporateContact, new { @class = "govuk-label" })
                    @Html.ValidationMessageFor(x => x.CorporateContact, null, new { @class = "govuk-error-message" })
                    @Html.TextBoxFor(x => x.CorporateContact, new { @class = "govuk-input govuk-!-width-two-thirds", maxlength = 15 })
                </div>

                <div class="button-row">
                    <button type="submit" value="Save" class="govuk-button">Save corporate contact</button>
                    <a href="@Url.RouteUrl("GroupEditGovernance", new {GroupUId = Model.GroupUId})" class="govuk-button govuk-button--secondary" id="cancel-button" data-module="govuk-button">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>
