@model CreateTrustModel
@{
    ViewBag.bodyClasses = "create-edit-school school-details";
    ViewBag.hideLogo = true;
    ViewBag.Title = "Create academy trust";
}

@section ViewScripts {
    <style type="text/css">
        dt {
            min-width:100px;
        }
        td {
            padding:2px 8px 0px 0 !important;
        }
        
    </style>
}

@using (Html.BeginForm("Create", "Trust", FormMethod.Post))
{ 
    <div class="grid-row">
        <div class="column-full">
            @Html.ActionLink("Search for an Academy Trust", "Index", "Search", null, new { @class = "home-link" })
            <h1 class="heading-xlarge">Create a new Multi academy trust or Single academy trust</h1> 
            @Html.ValidationSummary(null, new { @class = "error-summary" })
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="bold-small">Selected company</h2>

            <ul class="school-results-listing">
                <li>
                    <h2 class="bold-small">
                        @Model.Name
                    </h2>
                    <table class="borderless" style="float:none; clear:both; margin-top:10px;">
                        <tr>
                            <td style="white-space:nowrap;">Companies House Number:</td>
                            <td>@Model.CompaniesHouseNumber</td>
                        </tr>
                        <tr>
                            <td>Incorporated:</td>
                            <td>@(Model.OpenDate?.ToString("dd MMMM yyyy"))</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>@Model.Address</td>
                        </tr>
                    </table>
                </li>
            </ul>

            @Html.ActionLink("Change", "SearchCompaniesHouse", null, new { @class = "button" })
            <br /><br />
            @Html.HiddenFor(x => x.Address)
            @Html.HiddenFor(x => x.Name)
            @Html.HiddenFor(x => x.OpenDate)
            @Html.HiddenFor(x => x.CompaniesHouseNumber)

            <div class="form-group @Html.ValidationCssClassFor(x => x.TypeId)">
                <label for="TypeId" class="form-label bold-small" style="font-weight:bold;">Trust type</label>
                @Html.EduGroupTypesDropDownFor(x => x.TypeId)
            </div>
            <br /><br />
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "button button-grey cancel" })
            <button type="submit" class="button submit">Submit</button>
        </div>
    </div>
}
