@using Edubase.Web.UI.Models
@using Edubase.Web.UI.Helpers
@model MATDetailViewModel
@{
    ViewBag.Title = Model.MAT.Name;
    ViewBag.PageClass = "mat-details";
}
<br />
<p>@Html.ActionLink("Go back", "Index", "Search")</p>

<h1 class="heading-large">@Model.MAT.Name</h1>

@if (Model.IsUserLoggedOn)
{
    @Html.ActionLink("Edit", "Edit", "Trust", new { id = Model.MAT.GroupUID }, new { @class = "button mobile-full-width" })
}

<div class="column-full">
    <div class="grid-row summary">
        <table class="borderless no-padding">
            <tr>
                <th scope="row">Companies House Number</th>
                <td>@Model.MAT.CompaniesHouseNumber</td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td>@Model.MAT.GroupType</td>
            </tr>
            <tr>
                <th scope="col">Number of schools belonging to the MAT</th>
                <td>@Model.MAT.EstablishmentCount</td>
            </tr>
            <tr>
                <th scope="col">Open date</th>
                <td>@(Model.MAT.OpenDate?.ToString("dd/MM/yyyy") ?? "None recorded")</td>
            </tr>
            <tr>
                <th scope="col">Address</th>
                <td>@(Model.MAT.Address ?? "None recorded")</td>
            </tr>

        </table>

        
        <h3 class="heading-medium">List of academies (@Model.MAT.EstablishmentCount)</h3>
        <div class="column-full2">
            <ul class="school-results-listing">
                @foreach (var result in Model.Establishments)
                {
                    <li>
                        <h2>@Html.ActionLink(result.Establishment.Name, "Details", "Schools", new { id = result.Establishment.Urn }, new { @class = "bold-small" })</h2>
                        <dl>
                            <dt>Address:</dt>
                            <dd>@SchoolDetailsHelpers.GetAddress(result.Establishment)</dd>
                            <dt>URN:</dt>
                            <dd> @result.Establishment.Urn</dd>
                            <dt>School type:</dt>
                            <dd>@result.Establishment.EstablishmentType</dd>
                            <dt>Headteacher name:</dt>
                            <dd>@result.Establishment.HeadTitle @result.Establishment.HeadFirstName @result.Establishment.HeadLastName</dd>
                        </dl>
                    </li>
                }
            </ul>
        </div>


    </div>
</div>