@using Edubase.Services.Enums
@using Microsoft.Ajax.Utilities
@using Edubase.Web.UI.Areas.Establishments.Models.Search
@model EstablishmentSearchDownloadViewModel
@using Edubase.Web.UI.Models.Search
@using Edubase.Web.UI.Helpers
@{
    ViewBag.Title = string.Format("Download establishment search results");
    ViewBag.bodyClasses = " search-page custom-fields-download";
    ViewBag.hideLogo = true;
}

@section Head
{
    <meta name="robots" content="noindex,nofollow" />
}

@section BreadCrumbs
{
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        @Html.ActionLink("Search", "Index", "Search", new { area = "" },
            new { @class = "govuk-back-link" })
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item">
                            @Html.ActionLink("Home", "Index", "Home",
                                new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                        </li>
                        <li class="govuk-breadcrumbs__list-item">
                            @Html.ActionLink("Search", "Index", "Search",
                                new { area = "", SelectedTab = SearchViewModel.Tab.Establishments },
                                new { @class = "govuk-breadcrumbs__link" })
                        </li>
                        <li class="govuk-breadcrumbs__list-item">
                            <a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "EstablishmentsSearch", new { area = "Establishments" })}?{Model.SearchQueryString}")>Search results</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    }
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" role="alert">
        <h2 class="govuk-error-summary__title">There was a problem</h2>
        <ul class="govuk-list govuk-error-summary__list">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="no-js-show-block">
            @Html.Partial("_ValidationSummary", ViewData.ModelState)
        </div>
        <h1 class="govuk-heading-xl">Download data</h1>

        <h2 class="govuk-heading-m">Download establishment search results</h2>
        <h2 class="govuk-heading-m">Select the data you are interested in</h2>
    </div>
</div>

@using (Html.BeginForm("PrepareDownload", "EstablishmentsSearch", FormMethod.Get, new { id = "field-selection" }))
{
    <input type="hidden" name="Dataset" value="Custom">
    <input type="hidden" name="SearchType" value="@((int)Model.SearchType)">

    <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--1">
                <h2 class="govuk-heading-m">\select fields to include in the download</h2>
            </legend>

            @foreach (var category in Model.CustomFieldsByCategory)
            {
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            @category.Category
                        </legend>

                        <div class="govuk-checkboxes">
                            @foreach (var field in category.CustomFields)
                            {
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkbox__input"
                                           type="checkbox"
                                           id="@field.Id"
                                           name="selectedCustomFields"
                                           value="@field.Id"
                                           @(Model.SelectedCustomFields.Contains(field.Id) ? "checked" : "")>
                                    <label class="govuk-label govuk-checkbox__label" for="@field.Id">
                                        @field.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>
            }
        </fieldset>
    </div>
    <button type="submit" class="govuk-button">Next</button>
}



@section ViewScripts
{
    <script nonce="@Html.ScriptNonce()">
        var fieldListByCat = @Html.Json(Model.CustomFieldsByCategory);
        var fieldList = @Html.Json(Model.CustomFields);
    </script>
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("download-select-fields.*.js"))"></script>
}
