@using Edubase.Services.Enums
@using Microsoft.Ajax.Utilities
@using Edubase.Web.UI.Areas.Establishments.Models.Search
@model EstablishmentSearchDownloadViewModel
@{
    ViewBag.bodyClasses = " search-page";
    ViewBag.hideLogo = true;
}

<div class="breadcrumbs">
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        @Html.ActionLink("Home", "Index", "Search", new { area = "" })
    }
    else
    {
        <a href=@($"{Url.Action("Index", "EstablishmentsSearch", new {area = "Establishments"})}?{Model.SearchQueryString}")> Back to search results</a>
    }
</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Download data</h1>
    </div>
    <div class="horizontal-tabs-wrapper">
        <div class="column-full">

            <h2 class="bold-medium">Download establishment search results</h2>
            <p>1 of 4</p>
            <h2 class="bold-medium">Select the data you are interested in</h2>
            <p>
                Core data includes commonly used ﬁelds including <abbr title="Unique Reference Number">URN</abbr>,
                establishment name, address, type and phase. Full data includes all data ﬁelds.
            </p>

            @using (Html.BeginForm("PrepareDownload", "Search", FormMethod.Get))
            {
                @Html.HiddenFor(m => m.SearchQueryString)
                <div class="download-step">
                    <div class="form-group">
                        <fieldset>
                            <legend class="visually-hidden">Select a data set</legend>
                            <div class="block-radio-button-wrap">
                                <label class="block-label selection-button-radio" for="radio-1">
                                    <input id="radio-1" type="radio" name="dataset" value="core" checked="checked" class="core-full">
                                    Core set of data
                                </label>
                            </div>
                            
                            <div class="block-radio-button-wrap">
                                <label class="block-label selection-button-radio" for="radio-2">
                                    <input id="radio-2" type="radio" name="dataset" value="full" class="core-full">
                                    Full set of data
                                </label>
                            </div>

                            @if (Model.AllowAnyExtraFields)
                            {
                                <div class="panel-indent shift-panel" id="data-download-options">
                                    <fieldset>
                                        <legend class="bold">Include non-public data:</legend>

                                        @if (Model.AllowIncludeEmailAddresses)
                                        {
                                            <label class="block-label" for="@nameof(Model.IncludeEmailAddresses)">
                                                <input id="@nameof(Model.IncludeEmailAddresses)" type="checkbox" name="@nameof(Model.IncludeEmailAddresses)" value="true" class="edubase-button-checkbox">
                                                Email addresses
                                            </label>
                                        }

                                        @if (Model.AllowIncludeIEBTFields)
                                        {
                                            <label class="block-label" for="@nameof(Model.IncludeIEBTFields)">
                                                <input id="@nameof(Model.IncludeIEBTFields)" type="checkbox" name="@nameof(Model.IncludeIEBTFields)" value="true" class="edubase-button-checkbox">
                                                IEBT fields
                                            </label>
                                        }

                                        @if (Model.AllowIncludeBringUpFields)
                                        {
                                            <label class="block-label" for="@nameof(Model.IncludeBringUpFields)">
                                                <input id="@nameof(Model.IncludeBringUpFields)" type="checkbox" name="@nameof(Model.IncludeBringUpFields)" value="true" class="edubase-button-checkbox">
                                                Bring up fields
                                            </label>
                                        }

                                        @if (Model.AllowIncludeChildrensCentreFields)
                                        {
                                            <label class="block-label" for="@nameof(Model.IncludeChildrensCentreFields)">
                                                <input id="@nameof(Model.IncludeChildrensCentreFields)" type="checkbox" name="@nameof(Model.IncludeChildrensCentreFields)" value="true" class="edubase-button-checkbox">
                                                Children's centre fields
                                            </label>
                                        }

                                    </fieldset>
                                </div>
                            }

                        </fieldset>
                    </div>
                </div>

                @Html.HiddenFieldsFromQueryString()

                <input class="button button-next" type="submit" value="Select and continue">
            }

        </div>
    </div>
</div>

@section ViewScripts
{
    <script>
        (function() {
            var $radios = $('#full-content').find('.core-full');
            var $panel = $('#data-download-options');
            if ($panel.length > 0) {
                $radios.on('change', function () {
                    $panel.detach().insertAfter($(this).parents('.block-radio-button-wrap'));
                });

                $panel.detach().insertAfter(
                    $radios.filter(function(n, rad) {
                        return rad.checked;
                    }).parents('.block-radio-button-wrap'));
            }
        }());
    </script>
}

