@using Edubase.Services.Enums
@using Microsoft.Ajax.Utilities
@using Edubase.Web.UI.Areas.Establishments.Models.Search
@model EstablishmentSearchDownloadViewModel
@using Edubase.Web.UI.Helpers
@{
    ViewBag.bodyClasses = " search-page";
    ViewBag.hideLogo = true;
}

<div class="breadcrumbs">
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        @Html.ActionLink("Home", "Index", "Search", new { area = "" })
    }
    else
    {
        <a href=@($"{Url.Action("Index", "EstablishmentsSearch", new {area = "Establishments"})}?{Model.SearchQueryString}")> Back to search results</a>
    }
</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Download data</h1>
    </div>
    <div class="horizontal-tabs-wrapper">
        <div class="column-full">

            <h2 class="bold-medium">Download establishment search results</h2>
            <br />
            <h2 class="bold-medium">Select the data you are interested in</h2>
            <p>
                Core data includes commonly used ﬁelds including <abbr title="Unique Reference Number">URN</abbr>,
                establishment name, address, type and phase. Full data includes all data ﬁelds.
            </p>

            <div class="expanding-content-wrapper" data-update-text="true" data-opened-text="Less information" data-closed-text="More information">
                <a href="#" class="expanding-content-trigger">
                    More information
                </a>
                <div class="expanding-content panel-indent">
                    <p class="bold-small">Core data fields</p>
                    <p>Address, Admissions Policy, Boarders, Close Date, County, Diocese, Establishment Name, Establishment Number, Establishment Status, Federation Flag, Federations, Further Education Type, Gender, Head First Name, Head Last Name, Head Title, LA, Locality, Nursery Provision, Official Sixth Form, Open Date, Phase Of Education, Postcode, Religious Character, Religious Ethos, School Sponsor Flag, School Sponsors, Statutory High Age, Statutory Low Age, Street, Telephone Number, Town, Trusts, Trust School Flag, Type Of Establishment, UKPRN, URN, School Website</p>
                </div>
            </div>

            @using (Html.BeginForm("PrepareDownload", "Search", FormMethod.Get))
            {
                @Html.HiddenFor(m => m.SearchQueryString)
                <div class="download-step">
                    <div class="form-group">
                        <fieldset class="stacked-controls">
                            <legend class="visually-hidden">Select a data set</legend>

                            @Html.GiasRadioFor(m => m.Dataset, "core", "Core set of data", null, new { @checked = "checked", @class = "core-full" })

                            @Html.GiasRadioFor(m => m.Dataset, "full", "Full set of data", null, new { @class = "core-full" })

                            @Html.GiasRadioFor(m => m.Dataset, "custom", "Choose a specific set of data", null, new { @class = "custom-fields" })

                            <div class="panel-indent shift-panel stacked-controls" id="data-download-options">
                                <fieldset>
                                    <legend class="bold">Include additional data:</legend>

                                    @if (Model.AllowIncludeEmailAddresses)
                                    {
                                        @Html.GiasCheckboxFor(m => m.IncludeEmailAddresses, "Email addresses")

                                    }

                                    @if (Model.AllowIncludeIEBTFields)
                                    {
                                        @Html.GiasCheckboxFor(m => m.IncludeIEBTFields, "IEBT fields")

                                    }

                                    @if (Model.AllowIncludeBringUpFields)
                                    {
                                        @Html.GiasCheckboxFor(m => m.IncludeBringUpFields, "Bring up fields")

                                    }

                                    @if (Model.AllowIncludeChildrensCentreFields)
                                    {
                                        @Html.GiasCheckboxFor(m => m.IncludeChildrensCentreFields, "Children's centre fields")

                                    }

                                    @Html.GiasCheckboxFor(m => m.IncludeLinks, "Links")

                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                </div>

                @Html.HiddenFieldsFromQueryString()

                <input class="button" type="submit" value="Select and continue">
            }

        </div>
    </div>
</div>

@section ViewScripts
{
    <script>
        (function() {
            var $radios = $('#full-content').find('.core-full');
            var $panel = $('#data-download-options');
            if ($panel.length > 0) {
                $radios.on('change', function () {
                    $panel.detach().insertAfter($(this).parents('.radio-button-wrap'));
                });

                $panel.detach().insertAfter(
                    $radios.filter(function(n, rad) {
                        return rad.checked;
                    }).parents('.radio-button-wrap'));
            }

            $(".custom-fields").on("change", function () {
                $panel.detach();
            });
        }());
    </script>
}

