@using Edubase.Services.Enums
@using Microsoft.Ajax.Utilities
@using Edubase.Web.UI.Areas.Establishments.Models.Search
@model EstablishmentSearchDownloadViewModel
@using Edubase.Web.UI.Helpers
@{
    ViewBag.Title = string.Format("Download establishment search results");
    ViewBag.bodyClasses = " search-page custom-fields-download";
    ViewBag.hideLogo = true;
}

@section BackLink
{
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
        {
            @Html.ActionLink("Home", "Index", "Search", new { area = "" }, new { @class="govuk-back-link" })
        }
        else
        {
            <a class="govuk-back-link" href=@($"{Url.Action("Index", "EstablishmentsSearch", new {area = "Establishments"})}?{Model.SearchQueryString}")> Back to search results</a>
        }
}
<div id="field-select-app" v-cloak>
    @* *@
    @* <div class="govuk-grid-row "> *@
    @*     <div class="govuk-grid-column-full"> *@
    @*         <div v-if="showValidationError" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"> *@
    @*             <h2 id="error-summary-title" class="govuk-error-summary__title">Incorrect or missing details</h2> *@
    @*             <div class="govuk-error-summary__body"> *@
    @*                 <ul class="govuk-list govuk-error-summary__list"> *@
    @*                     <li> *@
    @*                         <a href="#errorOneFieldReq" v-if="errorOneFieldReq">Select at least one field</a> *@
    @*                         <a href="#search" v-if="errorEmptySearch" @@click="focusOnSearch">Enter a field name to search</a> *@
    @*                     </li> *@
    @*                 </ul> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@

    <div class="govuk-grid-row js-show-block">
        <div class="govuk-grid-column-full">
            <error-summary error-title="There was a problem" :errors="errorMessages"/>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Download data</h1>

            <h2 class="govuk-heading-m">Download establishment search results</h2>
            <h2 class="govuk-heading-m">Select the data you are interested in</h2>
        </div>
    </div>
    @using (Html.BeginForm("PrepareDownload", "Search", FormMethod.Get, new Dictionary<string, object> {["@submit"] = "handleSubmit", ["id"] = "field-selection"}))
    {
        <div id="js-field-selection" class="js-show-block">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <search-by-field-name :fields="fields" :selected-fields="selectedFields"/>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-padding-top-4">
                    <view-switcher :view-as-list="viewAsList"/>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <input type="submit" class="govuk-button" value="Next"/>
                </div>
                <checkbox-remote-selection :selected-fields="selectedFields"/>
            </div>

            <div class="govuk-grid-row" v-show="!viewAsList">
                <div class="govuk-grid-column-full">
                    <vueaccordion accordion-id="test"
                                  :panel-data="categoryList"
                                  :selected-fields="selectedFields"/>
                </div>
            </div>

            <div class="govuk-grid-row" v-show="viewAsList">
                <div class="govuk-grid-column-full">
                    <div class="govuk-form-group" v-if="searchMatches.length === 0">
                        <div class="govuk-checkboxes">
                            <checkbox :input-id="chx.id"
                                      id-prefix="alpha"
                                      :label="chx.name"
                                      :value="chx.id"
                                      v-model="selectedFields"
                                      v-for="(chx, i) in fields" :key="i+'_'"></checkbox>
                        </div>
                    </div>
                    <div class="govuk-form-group" v-else>
                        <checkbox :input-id="chx.id"
                                  id-prefix="alpha"
                                  :label="chx.name"
                                  :value="chx.id"
                                  v-model="selectedFields"
                                  v-for="(chx, i) in searchMatches" :key="i+'_'"></checkbox>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <input type="submit" class="govuk-button" value="Next"/>
                </div>
            </div>
        </div>

        <div id="no-js-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <input type="submit" class="govuk-button" value="Next"/>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-accordion" id="download-fields" data-module="govuk-accordion">
                        @foreach (var fieldCategory in Model.CustomFieldsByCategory)
                        {
                            var panelId = @fieldCategory.Category.ToLower().Replace(" ", "-");

                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="@panelId">
                                            @fieldCategory.Category
                                        </span>
                                    </h2>
                                </div>
                                <div class="govuk-accordion__section-content" aria-labelledby="@panelId">
                                    <div class="govuk-checkboxes">
                                        @foreach (var chx in fieldCategory.CustomFields)
                                        {
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="@chx.Id" name="zm" type="checkbox" value="@chx.Id">
                                                <label class="govuk-label govuk-checkboxes__label" for="@chx.Id">
                                                    @chx.Name
                                                </label>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <input type="submit" class="govuk-button" value="Next"/>
                </div>
            </div>
        </div>
        @Html.HiddenFieldsFromQueryString(new[] {EstablishmentSearchDownloadViewModel.SelectedCustomFieldsBindAlias})
    }
</div>



@section ViewScripts
{
    <script nonce="@Html.ScriptNonce()">
        var fieldListByCat = @Html.Json(Model.CustomFieldsByCategory);
        var fieldList = @Html.Json(Model.CustomFields);
    </script>
    <script src="/public/assets/scripts/build/download-select-fields.js"></script>
}
