@using Edubase.Web.UI.Models.Search
@using Microsoft.Ajax.Utilities
@model EstablishmentSearchDownloadViewModel
@{
    ViewBag.bodyClasses = " search-page";
    ViewBag.hideLogo = true;
}
@section Head
{
    <meta name="robots" content="noindex,nofollow" />
}

@section BreadCrumbs
{
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        @Html.ActionLink("Search", "Index", "Search",
            new { area = "" }, new { @class = "govuk-back-link" })
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item">
                            @Html.ActionLink("Home", "Index", "Home",
                                new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                        </li>
                        <li class="govuk-breadcrumbs__list-item">
                            @Html.ActionLink("Search", "Index", "Search",
                                new { area = "", SelectedTab = SearchViewModel.Tab.Establishments },
                                new { @class = "govuk-breadcrumbs__link" })
                        </li>
                        <li class="govuk-breadcrumbs__list-item">
                            <a class="govuk-breadcrumbs__link"
                               href=@($"{Url.Action("Index", "EstablishmentsSearch", new { area = "Establishments" })}?{Model.SearchQueryString}")>
                                Search results
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    }
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Download data</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Download establishment search results</h2>
        <h2 class="govuk-heading-m">Select the data you are interested in</h2>
        <p>
            Core data includes commonly used fields including <abbr title="Unique Reference Number">URN</abbr>,
            establishment name, address, type and phase. Full data includes all data fields.
        </p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    More information
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-!-font-weight-bold">Core data fields</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Address</li>
                    <li>Admissions policy</li>
                    <li>Boarders</li>
                    <li>Close date</li>
                    <li>County</li>
                    <li>Diocese</li>
                    <li>Establishment name</li>
                    <li>Establishment number</li>
                    <li>Establishment status</li>
                    <li>Federation flag</li>
                    <li>Federations</li>
                    <li>Further education type</li>
                    <li>Gender</li>
                    <li>Head first name</li>
                    <li>Head last name</li>
                    <li>Head title</li>
                    <li>LA</li>
                    <li>Locality</li>
                    <li>Nursery provision</li>
                    <li>Official sixth form</li>
                    <li>Open date</li>
                    <li>Phase of education</li>
                    <li>Postcode</li>
                    <li>Religious character</li>
                    <li>Religious ethos</li>
                    <li>School sponsors flag</li>
                    <li>School sponsors</li>
                    <li>Statutory high age</li>
                    <li>Statutory low age</li>
                    <li>Street</li>
                    <li>Telephone number</li>
                    <li>Town</li>
                    <li>Trusts</li>
                    <li>Trust school flag</li>
                    <li>Type of establishment</li>
                    <li>UKPRN</li>
                    <li>URN</li>
                    <li>School website</li>
                </ul>
            </div>
        </details>

        @using (Html.BeginForm("PrepareDownload", "EstablishmentsSearch", FormMethod.Get))
        {
            @Html.HiddenFor(m => m.SearchQueryString)
            <div class="download-step">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-visually-hidden">Select a data set</legend>
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                @Html.GiasRadioFor(m => m.Dataset, "core", "Core set of data", null, new { @checked = "checked", @class = "govuk-radios__input core-full", data_aria_controls = "core-additional" })
                            </div>
                            <div class="govuk-radios__conditional" id="core-additional">
                                @DataOptions()
                            </div>
                            <div class="govuk-radios__item">
                                @Html.GiasRadioFor(m => m.Dataset, "full", "Full set of data", null, new { @class = "govuk-radios__input core-full", data_aria_controls = "full-additional" })
                            </div>
                            <div class="govuk-radios__conditional" id="full-additional">
                                @DataOptions()
                            </div>
                            <div class="govuk-radios__item">
                                @Html.GiasRadioFor(m => m.Dataset, "custom", "Choose a specific set of data", null, new { @class = "govuk-radios__input  custom-fields" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            @Html.HiddenFieldsFromQueryString()
            foreach (var laId in Model.SelectedLocalAuthorityIds ?? Enumerable.Empty<int>())
            {
                <input type="hidden" name="SelectedLocalAuthorityIds" value="@laId" />
            }
            var statusId = Request.QueryString.GetValues("SelectedEstablishmentStatusIds") ?? new string[0];
            foreach (var status in statusId)
            {
                @Html.Raw($"<input type=\"hidden\" name=\"SelectedEstablishmentStatusIds\" value=\"{HttpUtility.HtmlEncode(status)}\" />")
            }
            <input class="govuk-button" type="submit" value="Select and continue">
        }
    </div>
</div>


@helper DataOptions()
{
    <div class="govuk-form-group">
        <div class="govuk-checkboxes">
            @if (Model.AllowIncludeEmailAddresses)
            {
                @FormHelpers.GiasCheckbox("true", "IncludeEmailAddresses", "Email addresses", null, new { id = "IncludeEmailAddresses", @class = "govuk-checkboxes__input" })
            }

            @if (Model.AllowIncludeIEBTFields)
            {
                @FormHelpers.GiasCheckbox("true", "IncludeIEBTFields", "IEBT fields", null, new { id = "IncludeIEBTFields", @class = "govuk-checkboxes__input" })
            }

            @if (Model.AllowIncludeBringUpFields)
            {
                @FormHelpers.GiasCheckbox("true", "IncludeBringUpFields", "Bring up fields", null, new { id = "IncludeBringUpFields", @class = "govuk-checkboxes__input" })
            }

            @if (Model.AllowIncludeChildrensCentreFields)
            {
                @FormHelpers.GiasCheckbox("true", "IncludeChildrensCentreFields", "Children's centre fields", null, new { id = "IncludeChildrensCentreFields", @class = "govuk-checkboxes__input" })
            }

            @FormHelpers.GiasCheckbox("true", "IncludeLinks", "Links", null, new { id = "IncludeLinks", @class = "govuk-checkboxes__input" })
        </div>
    </div>
}
