@model CreateGroupModel
@{
    ViewBag.bodyClasses = "create-edit-school";
    ViewBag.hideLogo = true;
    ViewBag.Title = "Create academy trust";
}



@using (Html.BeginForm("Create", "Group", FormMethod.Post))
{ 
    <div class="grid-row">
        <div class="column-full">
            @Html.ActionLink("Back", "Index", "Search", null, new { @class = "home-link" })
            
            @if (Model.TrustExists == true)
            {
                <div class="pending-updates-message dismissable-message dismissable-warning">
                    <div class="exclaim"></div>
                    Trust already exists, please select cancel to start again
                    <a class="cross" href="#"><span class="visually-hidden">Dismiss notification</span></a>
                </div>
            }

            <h1 class="heading-xlarge">Create a new Multi academy trust or Single academy trust</h1> 
            @Html.ValidationSummary(null, new { @class = "error-summary" })
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="bold-small">Selected company</h2>

            <ul class="school-results-listing">
                <li>
                    <h2 class="bold-small">
                        @Model.Name
                    </h2>
                    <table class="borderless trust-details">
                        <tr>
                            <th scope="row">Companies House Number:</th>
                            <td><a href="@System.Configuration.ConfigurationManager.AppSettings["CompaniesHouseBaseUrl"]@Model.CompaniesHouseNumber">@Model.CompaniesHouseNumber</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Incorporated:</th>
                            <td>@(Model.OpenDate?.ToString("dd MMMM yyyy"))</td>
                        </tr>
                        <tr>
                            <th scope="row">Address:</th>
                            <td>@Model.Address</td>
                        </tr>
                    </table>
                </li>
            </ul>

            @Html.ActionLink("Change", "SearchCompaniesHouse", null, new { @class = "button mobile-full-width" })

            @Html.HiddenFor(x => x.Address)
            @Html.HiddenFor(x => x.Name)
            @Html.HiddenFor(x => x.OpenDate)
            @Html.HiddenFor(x => x.CompaniesHouseNumber)
        </div>
        <div class="column-half">
            <div class="form-group single-group @Html.ValidationCssClassFor(x => x.TypeId)">
                <label for="TypeId" class="form-label bold-small">Trust type</label>
                @Html.DropDownListFor(x => x.TypeId, Model.GroupTypes, "", new { @class = "form-control" })
            </div>
        </div>
            
            
        
    </div>
    <div class="grid-row">
        <div class="column-full">
            @Html.ActionLink("Cancel", "SearchCompaniesHouse", null, null, new { @class = "button button-grey mobile-full-width cancel" })
            @if (!Model.TrustExists)
            {
                <button type="submit" class="button submit mobile-full-width">Submit</button>
            }
        </div>
    </div>
}
