@using Edubase.Web.UI.Models
@using Edubase.Common
@using Edubase.Services.Enums
@model MATDetailViewModel
@{
    ViewBag.Title = Model.Group.Name;
    ViewBag.PageClass = "mat-details";
}
<p>
    <a class="font-xsmall" href="/Search#groups">Back to search</a>
</p>

<h1 class="heading-large">@Model.Group.Name</h1>

@if (Model.CanUserEdit)
{
    @Html.ActionLink("Edit", "Edit", "Group", new { id = Model.Group.GroupUID }, new { @class = "button mobile-full-width" })
}

<div class="grid-row summary">
    <div class="column-full">
        <table class="borderless no-padding">
            @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust))
            {
                <tr>
                    <th scope="row">Companies House Number</th>
                    <td>@Model.Group.CompaniesHouseNumber</td>
                </tr>
            }
            <tr>
                <th scope="row">Type</th>
                <td>@Model.Group.GroupType</td>
            </tr>
            <tr>
                <th scope="col">Number of schools belonging to the MAT</th>
                <td>@Model.Group.EstablishmentCount</td>
            </tr>
            <tr>
                <th scope="col">
                    @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust))
                    {
                        <text>Incorporated on</text>
                    }
                    else
                    {
                        <text>Open date</text>
                    }
                </th>
                <td>@(Model.Group.OpenDate?.ToString("dd/MM/yyyy") ?? "Not recorded")</td>
            </tr>


            @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.ChildrensCentresGroup, eLookupGroupType.SingleacademyTrust, eLookupGroupType.MultiacademyTrust))
            {
                <tr>
                    <th scope="col">Address</th>
                    <td>@(Model.Group.Address ?? "Not recorded")</td>
                </tr>
            }

            @if (Model.Group.GroupTypeId == (int) eLookupGroupType.ChildrensCentresGroup)
            {
                <tr>
                    <th scope="col">Group manager email</th>
                    <td>@(Model.Group.ManagerEmailAddress ?? "Not recorded")</td>
                </tr>
            }

            @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.ChildrensCentresGroup, eLookupGroupType.ChildrensCentresCollaboration))
            {
                <tr>
                    <th scope="col">Local authority</th>
                    <td>@(Model.LocalAuthority)</td>
                </tr>
            }

            @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust, eLookupGroupType.SchoolSponsor))
            {
                <tr>
                    <th scope="col">Group ID</th>
                    <td>@Model.Group.GroupId</td>
                </tr>
            }

        </table>
        <br />
    </div>
</div>



<div class="grid-row horizontal-tabs-wrapper">
    <div class="column-full">

        @if (Model.Group.GroupTypeId == (int)eLookupGroupType.MultiacademyTrust)
        {
            <div class="tab-wrap">
                <ul class="horizontal-tabs">
                    <li>
                        <a href="#list" class="horizontal-tab">
                            @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust, eLookupGroupType.SchoolSponsor))
                            {
                                <text>Academies</text>
                            }
                            else
                            {
                                <text>Providers</text>
                            }
                        </a>
                    </li>
                    <li>
                        <a href="#governance" class="horizontal-tab">Governance</a>
                    </li>
                </ul>
            </div>
        }
        <div class="tab-content-wrapper horizontal-tabs-content">
            <div id="list" class="tab-content">
                <h3 class="heading-medium">
                    List of
                    @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust, eLookupGroupType.SchoolSponsor))
                    {
                        <span>academies</span>
                    }
                    else
                    {
                        <span>providers</span>
                    }
                    (@Model.Group.EstablishmentCount)
                </h3>
                <div class="column-full2">
                    <ul class="school-results-listing">
                        @foreach (var result in Model.Establishments)
                        {
                            <li>
                                <h2>@Html.ActionLink(result.Establishment.Name, "Details", "Establishment", new { id = result.Establishment.Urn }, new { @class = "bold-small" })</h2>
                                <dl>
                                    <dt>Address:</dt>
                                    <dd>@result.Establishment.Address</dd>
                                    <dt>URN:</dt>
                                    <dd> @result.Establishment.Urn</dd>
                                    <dt>School type:</dt>
                                    <dd>@result.Establishment.EstablishmentType</dd>
                                    <dt>Headteacher name:</dt>
                                    <dd>@result.Establishment.HeadTitle @result.Establishment.HeadFirstName @result.Establishment.HeadLastName</dd>
                                </dl>
                            </li>
                        }
                    </ul>
                </div>

            </div>
            <div id="governance" class="tab-content">
                
                @if (!Model.Governors.Any() && !Model.HistoricalGovernors.Any())
                {
                    <p>There is no governance information for this establishment</p>
                }
                else
                {
                    if (Model.Governors.Any())
                    {
                        @Html.Partial("_Governors", Model.Governors)
                        if (Model.HistoricalGovernors.Any())
                        {
                            <br />
                            <hr />
                            <br />
                        }
                    }

                    if (Model.HistoricalGovernors.Any())
                    {
                        <h3 class="bold-xsmall">Historic (left with past 12 months)</h3>
                        @Html.Partial("_Governors", Model.HistoricalGovernors)
                    }
                }


            </div>
        </div>
    </div>
</div>