@using Edubase.Common
@using Edubase.Web.UI.Models.Tools
@using System.Net

@model MergeEstablishmentsModel

@{
    ViewBag.Title = "Amalgamations and mergers tool";
    ViewBag.bodyClasses = "create-edit mergers";
    ViewBag.SiteSection = "tools";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a asp-controller="Home" asp-action="Index" class="govuk-breadcrumbs__link">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a asp-controller="Tools" asp-action="Index" class="govuk-breadcrumbs__link">Tools</a>
                    </li>
                    <li id="tertiary-breadcrumb" class="govuk-breadcrumbs__list-item">
                        <a asp-controller="Tools" asp-action="MergersTool" class="govuk-breadcrumbs__link">Amalgamations and mergers tool</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Merger</h1>
    </div>
</div>

<form asp-action="ProcessMergeAsync" asp-controller="AmalgamateMerge" method="post" class="has-typeahead">
    @Html.AntiForgeryToken()

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" id="merger-summary">
            <p>You can propose closing one or more schools and altering the remaining school.</p>
            <h2 class="govuk-heading-s">Establishments to be merged</h2>
            <p>
                Lead establishment (remains open)
                <br />
                <span>@Model.LeadEstablishmentUrn</span> @Model.LeadEstablishmentName
            </p>

            <p>Establishments to be merged</p>
            <ol class="govuk-list govuk-list--number linked-establishments" id="linked-establishments">
                @if (!string.IsNullOrEmpty(Model.Establishment1Name))
                {
                    @await Html.PartialAsync("_MergingEstablishment", (
                        Model.Establishment1Urn.GetValueOrDefault(),
                        Model.Establishment2Name
                        )
                    )
                }
                @if (!string.IsNullOrEmpty(Model.Establishment2Name))
                {
                    @await Html.PartialAsync("_MergingEstablishment", (
                        Model.Establishment2Urn.GetValueOrDefault(),
                        Model.Establishment2Name
                        )
                    )
                }
                @if (!string.IsNullOrEmpty(Model.Establishment3Name))
                {
                    @await Html.PartialAsync("_MergingEstablishment", (
                        Model.Establishment3Urn.GetValueOrDefault(),
                        Model.Establishment3Name
                        )
                    )
                }
            </ol>

            @Html.EditorFor(x => x.MergeDate, new { fieldsetClassName = "edit-date-fieldset", title = "Merge date" })

            @Html.HiddenFor(x => x.LeadEstablishmentUrn)
            @Html.HiddenFor(x => x.LeadEstablishmentName)
            @Html.HiddenFor(x => x.Establishment1Urn)
            @Html.HiddenFor(x => x.Establishment1Name)
            @Html.HiddenFor(x => x.Establishment2Urn)
            @Html.HiddenFor(x => x.Establishment2Name)
            @Html.HiddenFor(x => x.Establishment3Urn)
            @Html.HiddenFor(x => x.Establishment3Name)
            @Html.HiddenFor(x => x.EstablishmentType)
        </div>

        <div class="govuk-grid-column-full">
            <div class="button-row">
                <a asp-controller="AmalgamateMerge" asp-action="MergeEstablishments" class="govuk-button govuk-button--secondary">
                    @Html.Raw(WebUtility.HtmlDecode("« Go back"))
                </a>
                <button type="submit" class="govuk-button">Process</button>
                <a asp-controller="Tools" asp-action="MergersTool" class="govuk-button govuk-button--secondary cancel">Cancel</a>
            </div>
        </div>
    </div>
</form>
