@using Microsoft.Ajax.Utilities
@model BulkUpdateViewModel

<div class="breadcrumbs">
    <ul>
        <li>
            @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
        </li>
    </ul>
</div>

@using (Html.BeginRouteForm("ProcessBulkUpdate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="grid-row spaced-groups">
        <div class="column-full">
            @if (Model.Result != null && Model.Result.IsCompleted() && !Model.Result.IsFailure() && !Model.Result.CompletedWithErrors())
            {
                <div class="pending-updates-message dismissable-message bulk-update-success">
                    <div class="tick"></div>
                    <p>Your bulk update was successful.</p>
                    <a class="cross" href="#"><span class="visually-hidden">Dismiss notification</span></a>
                </div>
            }
            <h1 class="heading-xlarge">Establishment bulk update</h1>
            
            <p>Update establishment records by uploading a CSV or XLSX file.</p>
        </div>
        <div class="column-full">

            <div class="expanding-content-wrapper" data-update-text="false">
                <a href="#" class="expanding-content-trigger">
                    Help with preparing files                    
                </a>
                <div class="expanding-content panel-indent">
                    <p>For a step by step guide to prepare documents for bulk update please download this file.</p>
                    <p class="download-list-item">
                        <a href="https://edubasepr.blob.core.windows.net/guidance/Establishment_Bulk_Update_Guide.pdf" target="_blank" rel="nofollow" class="js-track" data-track="bulkUpdate|establish-bulk-update|download">Establishment bulk update guidance PDF, 353KB </a>
                    </p>
                </div>
            </div>

            @if (Model.Result != null)
            {
                if (Model.Result.Errors.Any(x => x.Code == "error.maxRowsLimitReached.payload.bulkUpload"))
                {
                    <div class="validation-summary-errors error-summary">
                        <span>Information missing or incorrect</span>
                        <p>The file size is too large. Please use a file size smaller than 1MB. There are also limits of:
                            <ul class="list-bullet inside">
                                <li>
                                    5,000 rows per file for back office users
                                </li>
                                <li>
                                    1,000 rows per file for EFADO, SFC and DDCE users
                                </li>
                                <li>
                                    200 rows per file for establishment and MAT users
                                </li>
                            </ul>
                        </p>
                    </div>
                }
                else if (Model.Result.Errors.Any(x => x.Code == "error.mismatchType.EduBaseBulkUpload-MultipleColumnsfile.type.bulkUpload"))
                {
                    <div class="validation-summary-errors error-summary">
                        <span>Information missing or incorrect</span>
                        <p>
                            Multiple column files must be XLSX and bulk upload files can be XLSX or tab delimited text files. For more information, see <a href="/guidance">the Establishment bulk update guidance document</a>
                        </p>
                    </div>
                }
                else if (Model.Result.Errors.Any())
                {
                    <div class="validation-summary-errors error-summary">
                        <span>Information missing or incorrect</span>
                        <p>
                            @Model.Result.Errors.First().Message
                        </p>
                    </div>
                }
                else
                {
                    if (Model.Result.IsFailure())
                    {
                        <div class="form-group error" id="error-log">
                            <p class="error-message">Please download the error log to correct your data before resubmitting</p>
                            <p class="download-list-item">
                                <a href="@Model.Result.ErrorLogFile.Url">@Model.Result.ErrorLogFile.Name</a>
                            </p>
                        </div>
                    }

                    if (Model.Result.CompletedWithErrors())
                    {
                        <div class="form-group error" id="error-log">
                            <p class="error-message">@Model.Result.RowErrors rows encountered errors during import. Please download the error log to correct your data before resubmitting</p>
                            <p class="download-list-item">
                                <a href="@Model.Result.ErrorLogFile.Url">@Model.Result.ErrorLogFile.Name</a>
                            </p>
                        </div>
                    }
                }
            }

        </div>
        <div class="column-half">
            <div class="form-group upload-control @Html.ValidationCssClassFor(x => x.BulkFile)">
                <label for="bulkfile" class="form-label">Upload a file</label>      
                @Html.ValidationMessageFor(x => x.BulkFile)  
                <div class="upload-control-wrapper">
                    @Html.TextBoxFor(x => x.BulkFile, new { type = "file", @class = "file-input" });
                    <button class="button button-grey file-selector">Choose file</button>
                    <div class="text-field-wrapper">
                        <input type="text" class="file-name" readonly="readonly" value="No file chosen" />
                    </div>
                </div>
            </div>

            <div class="form-group @Html.ValidationCssClassFor(x => x.BulkUpdateType)">
                <label class="form-label" for="upload-file-type">
                    Select file type
                </label>
                @Html.ValidationMessageFor(x => x.BulkUpdateType)  
                @Html.EnumDropDownListFor(x => x.BulkUpdateType, "Select...", new { @class = "form-control" })
            </div>

            @Html.EditorFor(m => m.EffectiveDate, new { title = "Effective date (optional)" })

            @if (Model.CanOverrideCRProcess)
            {
                <span class="checkbox-wrap">
                    @Html.CheckBoxFor(x => x.OverrideCRProcess, new { @id = "override-cr" })
                    @Html.LabelFor(x => x.OverrideCRProcess, "Override CR", new { @for = "override-cr", @class = "edubase-button-checkbox" })
                </span>
                <br /><br />
            }

        </div>
        <div class="column-full">
            <input type="submit" class="button mobile-full-width" value="Submit"/>           
            <a href="/Tools" class="button button-grey cancel mobile-full-width">Cancel</a>
        </div>
       
</div>
}
