@using Edubase.Common
@using Edubase.Data.Entity
@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Helpers.Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models
@model FaqItemViewModel
@{
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "GIAS: FAQ");
    ViewBag.bodyClasses = "create-edit";
    ViewBag.SiteSection = "help";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.RouteLink("FAQs", "Faq", null, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @Html.Partial("_ValidationSummary", ViewData.ModelState)

        <h1 class="govuk-heading-xl">@(Model.Id == null ? "Create a new" : "Edit a") frequently asked questions entry</h1>
    </div>
</div>

@using (Html.BeginRouteForm(Model.Id == null ? "PostCreateItem" : "PostEditItem", new {Model.Id}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @Html.HiddenFor(x => x.Id)
            <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.Title)">
                @Html.LabelFor(x => x.Title, new { @class = "govuk-label"})
                @Html.ValidationMessageFor(x => x.Title, null, new { @class = "govuk-error-message"})
                @Html.TextBoxFor(x => x.Title, new { @class = "govuk-input"})
            </div>

            <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.Content)">
                @Html.LabelFor(x => x.Content, new { @class = "govuk-label"})
                @Html.ValidationMessageFor(x => x.Content, null, new {@class = "govuk-error-message"})
                @Html.TextAreaFor(x => x.Content, 10, 40, new { @class = "govuk-textarea entry-content"})
            </div>

            <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.GroupId)">
                @Html.ValidationMessageFor(x => x.GroupId, null, new { @class = "govuk-error-message" })

                <div class="govuk-radios">
                    @{
                        var groupItem = 0;
                        foreach (FaqGroup group in Model.Groups.OrderBy(x => x.DisplayOrder))
                        {
                            var elementId = nameof(Model.GroupId);
                            groupItem += 1;
                            if (groupItem > 1)
                            {
                                elementId = $"{nameof(Model.GroupId)}-{group.RowKey}";
                            }

                            <div class="govuk-radios__item">
                                @Html.GiasRadioFor(x => x.GroupId, group.RowKey, group.GroupName, null, new {id = @StringUtils.ElementIdFormat(group.GroupName) + "-radio", @class = "govuk-radios__input panel-trigger"})
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="button-row govuk-!-padding-top-6">
                <button type="submit" id="save-entry-button" class="govuk-button">Save entry</button>
                @if (Model.Id != null)
                {
                <button type="submit" class="govuk-button govuk-button--secondary" name="@nameof(Model.IsDeleting)" id="delete-button" value="true">Delete</button>
                }
                @Html.RouteLink("Cancel", "Faq", null, new { @class = "govuk-button govuk-button--secondary"})
            </div>
        </div>
    </div>
}

@section ViewScripts
{
 <script src="@Html.Raw(Html.GetWebpackScriptUrl("edit-faq-glossary.*.js"))"></script>
}
