@using Edubase.Data.Entity
@model Edubase.Web.UI.Models.Faq.FaqGroupsViewModel
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.SiteSection = "help";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("FAQs", "Index", "Faq", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

@if (ViewBag.ShowSaved != null && ViewBag.ShowSaved)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="pending-updates-message js-dismiss-message js-trigger-aria-live" role="alert">
                <div class="tick"></div>
                <p class="message-text" aria-live="polite">Your changes have been saved</p>
                <a class="cross" href="#">
                    <span class="govuk-visually-hidden">Dismiss notification</span>
                </a>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Manage groups for FAQs</h1>
    </div>
</div>

<div class="button-row govuk-!-margin-bottom-4">
    @Html.ActionLink(
        "Back",
        "Index",
        "Faq",
        null,
        new { @class = "govuk-back-link gias-back-link--button", data_module = "govuk-button" })
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p>Add, edit or delete templated messages for notification banners.</p>
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">List of FAQ groups</h2>
    </div>

    <div class="govuk-grid-column-full">
        @Html.RouteLink("Add group", "CreateGroup", null, new { @class = "govuk-button" })
    </div>

    <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list gias-summary-top-border">
            @foreach (var group in Model.Groups)
            {
                @await Html.PartialAsync("_FaqGroupRow", group)
            }
        </dl>
    </div>
</div>
