@model FaqViewModel
@{
    ViewBag.Title = "GIAS: Frequently asked questions";
    ViewBag.SiteSection = "help";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Search", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
        <h1 class="govuk-heading-xl">Frequently asked questions (FAQs)</h1>
        <p>Answers to commonly asked questions about Get information about schools.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (Model.UserCanEdit)
        {
        <p>
            @Html.RouteLink("New entry", "CreateFaqItem", null, new { @class = "plus-link" })

            <div class="govuk-form-group">
                <button type="submit" id="governor-search-submit" class="govuk-button" name="searchtype" value="@eSearchType.Governor">Search</button>
            </div>

        </p>

        }


        @foreach (var item in Model.Items)
        {
            // GDS migration. If at some point the FAQs only contain new content
            // created after this page has been released, this can go
            // old content has small/medium/ large, but these are removed in favour of s/m/l in the new front end
            var headingModifer = item.TitleFontSize;
            if (item.TitleFontSize == "large")
            {
                headingModifer = "l";
            }
            else if (item.TitleFontSize == "medium")
            {
                headingModifer = "m";
            }
            else if (item.TitleFontSize == "small")
            {
                headingModifer = "s";
            }
            <h2 class="govuk-heading-@headingModifer">@item.Title</h2>
            <p>@Html.Raw(item.Content.Replace("\n","<br/>"))</p>
            if (Model.UserCanEdit)
            {
                @Html.RouteLink("Edit entry", "EditFaqItem", new { id = item.RowKey }, new { @class = "govuk-button govuk-button--secondary Faq-edit-button" })
            }
        }
    </div>
</div>
