@model BulkCreateFreeSchoolsViewModel

@{
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "Bulk create new free schools");
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}
@Html.Partial("_ValidationSummary", ViewData.ModelState)

@using (Html.BeginRouteForm("BulkCreateFreeSchoolsPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Bulk create new free schools</h1>
            <p>Follow these steps to bulk create new free schools:</p>
        </div>
        <div class="govuk-grid-column-full">
            @if (Model?.Result?.RowErrors > 0)
            {
                <div class="govuk-form-group govuk-form-group--error" id="error-log">
                    <p class="govuk-error-message">Please download the error log to correct your data before resubmitting</p>
                    <p>
                        <a href="@Model.Result.ErrorLogFile.Url">@Model.Result.ErrorLogFile.Name</a>
                    </p>
                </div>
            }
        </div>

        <div class="govuk-grid-column-two-thirds">
            <ol class="govuk-list govuk-list--number">
                <li>
                    <p>
                        Download the free schools template using this link:<br />
                        @Html.ActionLink("FreeSchoolsTemplate.xlsx, 9.52KB", "Container", "Home", new { area = "", file = "Bulk_Create_Free_Schools_template.xlsx" }, null)
                    </p>
                </li>
                <li>
                    <p>Fill in the template with the free schools you wish to create.</p>
                </li>
                <li>
                    <p>Upload the completed template using the 'Choose file' button below. All uploads must be in XLSX format.</p>
                </li>
            </ol>
        </div>

        <div class="govuk-grid-column-full govuk-!-padding-top-4">
            <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.BulkFile)">
                <label for="BulkFile" class="govuk-label">Upload a file</label>
                @Html.ValidationMessageFor(x => x.BulkFile, null, new { @class ="govuk-error-message" })
                @Html.TextBoxFor(x => x.BulkFile, new { type = "file" , @class = "govuk-file-upload"})
            </div>
        </div>
        <div class="govuk-grid-column-full">
            <div class="button-row govuk-!-padding-top-6">
                <input type="submit" class="govuk-button" value="Submit" />
                @Html.ActionLink("Cancel", "Index", "Tools", new {area = ""}, new { @class = "govuk-button govuk-button--secondary cancel", data_module="govuk-button" })
            </div>
        </div>
    </div>
}
