@using Edubase.Web.UI.Areas.Groups.Models
@using Edubase.Common;
@using Edubase.Services.Enums;
@model GroupSearchViewModel
@{
    var startResult = @Model.StartIndex + 1;
    var endResult = (@Model.StartIndex + @Model.PageSize > @Model.Count) ? @Model.Count : @Model.StartIndex + @Model.PageSize;
}
@if (Model.Error != null)
{
    <div class="column-two-thirds">
        <p class="no-school-results">Please try @Html.ActionLink("searching again", "Index", "Search", new { area = "" }, null) using different spelling or words.</p>
    </div>
}
else if (Model.Results.Count > 0)
{

        <div class="top-pagination">
            @Html.Partial("_GenericPagination", Model, new ViewDataDictionary
            {
                {"resultsDescription", String.Concat("Showing ", @startResult, "-", @endResult, " of <span class='result-count'> ", @Model.Count, "</span> groups")},
                {"maxPages", 5 }
            })
        </div>

    <ul class="school-results-listing">
        @{
            var resultId = startResult;

               foreach (var result in Model.Results)
            {
                <li>
                    <h2 role="region" aria-label='result @resultId of @endResult'>@Html.ActionLink(result.Name, "Details", "Group", new {id = result.GroupUId, area = "groups", searchQueryString = Model.SearchQueryString}, new {@class = "bold-small"})</h2>
                    <dl>
                        <dt>Type:</dt>
                        <dd>@(Model.GroupTypes.FirstOrDefault(x => x.Id == result.GroupTypeId)?.Name)</dd>
                        @if (result.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust))
                        {
                            <dt>Companies House Number:</dt>
                            <dd>
                                @if (result.CompaniesHouseNumber != null)
                                {
                                    <a href="@System.Configuration.ConfigurationManager.AppSettings["CompaniesHouseBaseUrl"]@result.CompaniesHouseNumber">@result.CompaniesHouseNumber</a>
                                }
                            </dd>
                        }
                        <dt>Group <abbr title="Unique Identifier">UID</abbr>:</dt>
                        <dd>@result.GroupUId</dd>
                        <dt>Group ID:</dt>
                        <dd>@(result.GroupId ?? "Not recorded")</dd>
                    </dl>
                </li>
                resultId += 1;
            }
        }
    </ul>


        <div class="lower-pagination">
            @Html.Partial("_GenericPagination", Model, new ViewDataDictionary { { "hideDescription", true } })
        </div>

}
else
{
    <div class="column-two-thirds">
        @if (Model.GroupSearchModel.Text.IsInteger())
        {
            <p class="no-school-results">Please check the number entered or try @Html.ActionLink("searching again", "Index", "Search", new { area = "" }, null) using the group name.</p>
        }
        else
        {
            <p class="no-school-results">Please try @Html.ActionLink("searching again", "Index", "Search", new { area = "" }, null) using different spelling or words.</p>
        }
    </div>
}
