@using Edubase.Web.UI.Controllers
@{
    Layout = "../../govuk/layouts/template.cshtml";
    var version = typeof(HomeController).Assembly.GetName().Version;
}

@section Head {
    <!--[if gt IE 8]><!-->
    <link href="/public/assets/stylesheets/main.css?v=@version" rel="stylesheet" type="text/css"><!--<![endif]-->
    <!--[if lte IE 8]><link href="/public/assets/stylesheets/main-ie8.css" rel="stylesheet" type="text/css"/><![endif]-->

    @(RenderSection("Head", required: false))
}

@RenderSection("BackLink", false)
@RenderSection("BreadCrumbs", false)

<main id="main-content" class="govuk-main-wrapper @(ViewBag.pageClass)" role="main">
    @RenderBody()
</main>

@section BodyEnd {

    @if (!Request.Browser.Browser.Contains("MSIE 8"))
    {
        <script nonce="@Html.ScriptNonce()">
            var azureMapsApiKey = "@(System.Configuration.ConfigurationManager.AppSettings["AzureMapsApiKey"])";
        </script>
        <script src="/public/assets/scripts/build/bundle.js?v=@version"></script>


        @(RenderSection("ViewScripts", required: false))
    }
}
