@using Edubase.Web.UI.Controllers
@using Edubase.Web.UI.Helpers
@{
    Layout = "../../govuk/layouts/template.cshtml";
    var version = typeof(HomeController).Assembly.GetName().Version;
}


@if (ViewContext.Controller.GetType().Name != nameof(NotificationsController))
{
    Html.RenderAction("BannersPartial", "Notifications", new { area = "" });
}

@section Head {
    @(RenderSection("Head", required: false))
}

@RenderSection("BackLink", false)
@RenderSection("BreadCrumbs", false)

<main id="main-content" class="govuk-main-wrapper @(ViewBag.pageClass)" role="main">
    @RenderBody()
</main>

@section BodyEnd {

    @if (!Request.Browser.Browser.Contains("MSIE 8"))
    {
        <script nonce="@Html.ScriptNonce()">
            var azureMapsApiKey = "@(System.Configuration.ConfigurationManager.AppSettings["AzureMapsApiKey"])";
        </script>

        <script src="@Html.Raw(Html.GetWebpackScriptUrl("bundle.*.js"))"></script>
        @(RenderSection("ViewScripts", required: false))
    }
}
