@using Edubase.Web.UI.Controllers
@{
    Layout = "../../govuk/layouts/template.cshtml";
    var version = typeof (HomeController).Assembly.GetName().Version;
}

@section Head {
    <!--[if gt IE 8]><!--><link href="/public/assets/stylesheets/main.css?v=@version" rel="stylesheet" type="text/css"><!--<![endif]-->

    <!--[if lte IE 8]><link href="/public/assets/stylesheets/main-ie8.css" rel="stylesheet" type="text/css"/><![endif]-->

    @(RenderSection("Head", required: false))
}

<main id="content" class="page @(ViewBag.pageClass)" role="main" tabindex="-1">
    @RenderBody()
</main>

@section BodyEnd {

    @if (!Request.Browser.Browser.Contains("MSIE 8"))
    {
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="/public/jquery/dist/jquery.min.js"></script>
        <script src="/public/jquery-simulate/jquery.simulate.js"></script>
        <!--<![endif]-->

        <script src="/public/dirrty/dist/jquery.dirrty.js"></script>

        <!--[if IE 9]>
        <script src="/public/termi/element.details.ie8.js"></script>
        <!--<![endif]-->
        <!--[if gt IE 9]>
        <script src="/public/termi/element.details.js"></script>
        <!--<![endif]-->

        <!--[if (gte IE 9)|!(IE)]><!-->
        <script nonce="06cb7b504645a8ce1558dbddf1885bca45ec92e23d3c9a28e6e1e464c70d15fe">
            var azureMapsApiKey = "@(System.Configuration.ConfigurationManager.AppSettings["AzureMapsApiKey"])";
        </script>
        <script src="/public/assets/scripts/leaflet-bundle.js"></script>
        <script src="/public/assets/scripts/application.js?v=@version"></script>

        <!--<![endif]-->

        <!--[if (gte IE 9)|!(IE)]><!-->
        @(RenderSection("ViewScripts", required: false))
        <!--<![endif]-->
    }


}
