@using Edubase.Web.UI.Controllers
@using Edubase.Web.UI.Helpers
@{
    Layout = "../../govuk/layouts/template.cshtml";
    var version = typeof(HomeController).Assembly.GetName().Version;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    var isNotificationsController = ViewContext.RouteData.Values["controller"]?.ToString() == nameof(NotificationsController);
}

@if (!isNotificationsController)
{
@*     @await Html.PartialAsync("Banners") *@
}

@section Head {
    @(RenderSection("Head", required: false))
}

@RenderSection("BackLink", false)
@RenderSection("BreadCrumbs", false)

<main id="main-content" class="govuk-main-wrapper @(ViewBag.pageClass)" role="main">
    @RenderBody()
</main>

@section BodyEnd {

    @{
        var userAgent = ViewContext.HttpContext.Request.Headers["User-Agent"].ToString();
        var isIE8 = userAgent.Contains("MSIE 8.0");
    }

    @if (!isIE8)
    {
        <script nonce="@Html.ScriptNonce()">
            var azureMapsApiKey = "@Configuration["AppSettings:AzureMapsApiKey"]";
        </script>

        <script src="@Html.Raw(Html.GetWebpackScriptUrl("bundle.*.js"))"></script>
        @(RenderSection("ViewScripts", required: false))
    }
}
