@model ChangeHistoryViewModel


@if (Model.Items.Any())
{
    <div>
        @Html.Partial("_GenericPaginationV2", Model)
    </div>
    <table class="edubase-table change-history establishment-changes" id="changes-table">
        <thead>
            <tr>
                <th scope="col" class="cell-edate"><a href="@Url.SortUrl("effectiveDateUtc")">Date changed</a></th>
                @if (!Model.SingleEstablishment)
                {
                    <th scope="col" class="cell-urn">
                        <a href="@Url.SortUrl("establishmentUrn")">
                            <abbr title="Unique reference number">
                                URN
                            </abbr>
                        </a>
                    </th>
                    <th scope="col" class="cell-estab"><a href="@Url.SortUrl("establishmentName")">Establishment</a></th>
                }
                <th scope="col" class="cell-updatedfield"><a href="@Url.SortUrl("fieldName")">Updated field</a></th>
                <th scope="col" class="cell-oldvalue"><a href="@Url.SortUrl("oldValue")">Old value</a></th>
                <th scope="col" class="cell-newvalue"><a href="@Url.SortUrl("newValue")">New value</a></th>
                <th scope="col" class="cell-suggested"><a href="@Url.SortUrl("originatorUserName")">Suggested by</a></th>
                <th scope="col" class="cell-suggested"><a href="@Url.SortUrl("approverUserName")">Approved by</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td aria-label="Date changed">@(item.EffectiveDate?.ToString("dd/MM/yyyy"))</td>
                    @if (!Model.SingleEstablishment)
                    {
                        <td aria-label="URN">@Html.RouteLink(item.EstablishmentUrn?.ToString() ?? "Unknown", "EstabDetails", new { id = item.EstablishmentUrn })</td>
                        <td aria-label="Establishment">@Html.RouteLink(item.EstablishmentName ?? "Unknown", "EstabDetails", new { id = item.EstablishmentUrn })</td>
                    }
                    <td aria-label="Updated field">@item.FieldName</td>
                    <td aria-label="Old value">@item.OldValue</td>
                    <td aria-label="New value">@item.NewValue</td>
                    <td aria-label="Suggested by">@item.SuggesterName</td>
                    <td aria-label="Approved by">@item.ApproverName</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @Html.Partial("_GenericPaginationV2", Model)
    </div>
}
else
{
    <p>There are no results, please widen your search with the filters.</p>
}
