@using Edubase.Services.Enums
@model ChangeHistoryViewModel

@{
    var request = HttpContext.Current.Request;
    var sortDir = "desc";
    var sortField = "requestedDateUtc";
    if (!string.IsNullOrEmpty(request.QueryString["sortby"])) 
    {
        sortField = request.QueryString["sortby"].Substring(0, request.QueryString["sortby"].IndexOf("-"));
        sortDir = (request.QueryString["sortby"] ?? "").Contains("asc") ? "asc" : "desc";
    }
}

   @if (Model.Items.Any())
   {
    <div>
        @Html.Partial("_GenericPaginationV2", Model)
    </div>
    <table class="edubase-table change-history sortable-table expanding-table group-change-history" id="changes-table">
        <thead>
            <tr>
                <th scope="col" class="cell-edate multi-line">
                    <a href="@Url.SortUrl("requestedDateUtc")"
                       class="@Html.Conditional(sortField == "requestedDateUtc", "selected-sort") @(sortDir == "asc"? "sorted-asc": "sorted-desc")">Date<br/>changed</a>
                </th>
                @if (!Model.SingleGroup)
                {
                    <th scope="col" class="cell-requesttype multi-line">
                        <a href="@Url.SortUrl("uid")"
                           class="@Html.Conditional(sortField == "uid", "selected-sort") @(sortDir == "asc"? "sorted-asc": "sorted-desc")">Group<br/>UID</a>
                    </th>
                    <th scope="col" class="cell-estab single-line">
                        <a href="@Url.SortUrl("groupName")"
                           class="@Html.Conditional(sortField == "groupName", "selected-sort") @(sortDir == "asc"? "sorted-asc": "sorted-desc")">Group</a>
                    </th>
                }
                <th scope="col" class="cell-requesttype multi-line">
                    <a href="@Url.SortUrl("requestType")"
                       class="@Html.Conditional(sortField == "requestType", "selected-sort") @(sortDir == "asc"? "sorted-asc": "sorted-desc")">Request<br/>type</a>
                </th>
                <th scope="col" class="cell-change"><span class="not-a-link">Change</span></th>
                <th scope="col" class="cell-suggested multi-line">
                    <a href="@Url.SortUrl("originatorUserName")"
                       class="@Html.Conditional(sortField == "originatorUserName", "selected-sort") @(sortDir == "asc"? "sorted-asc": "sorted-desc")">Suggested<br/> by</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td aria-label="Date changed">@(item.RequestedDate?.ToString("dd/MM/yyyy"))</td>
                    @if (!Model.SingleGroup)
                    {
                        <td aria-label="Group UID">@Html.RouteLink(item.GroupUId.ToString(), "GroupDetails", new { id = item.GroupUId })</td>
                        <td aria-label="Group">@Html.RouteLink(item.GroupName, "GroupDetails", new { id = item.GroupUId })</td>
                    }
                    <td aria-label="Request type">@item.RequestType</td>
                    <td aria-label="Change">
                        <dl class="key-value-list">
                            @if (item.RequestType == GroupChangeRequestType.GroupChange)
                            {
                                <dt>Field</dt>
                                <dd>@item.FieldName</dd>
                                <dt>Old value</dt>
                                <dd>@item.OldValue</dd>
                                <dt>New value</dt>
                                <dd>@item.NewValue</dd>
                            }
                            else
                            {
                                <dt>Establishment</dt>
                                <dd>@item.LinkUrn @item.LinkEstablishmentName</dd>
                                <dt>Link date</dt>
                                <dd>@(item.LinkDateUtc?.ToString("dd/MM/yyyy"))</dd>
                                <dt>Type</dt>
                                <dd>@(item.LinkType?.ToString() ?? "not recorded")</dd>
                            }

                        </dl>
                    </td>
                    <td aria-label="Suggested by">@item.SuggesterName</td>
                </tr>
            }
        </tbody>
    </table>
        <div>
            @Html.Partial("_GenericPaginationV2", Model)
        </div>
    }
    else
    {
        <p>There are no results, please widen your search with the filters.</p>
    }
 