@using Edubase.Common
@using VM = Edubase.Web.UI.Models.Search.SearchViewModel;
@using Edubase.Web.UI.Helpers;
@model VM
<div class="">
<h2 class="govuk-heading-s">Search by:</h2>

<ul class="search-type-list has-typeahead">
<li class="search-type-wrapper">
    @using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
    {
        @Html.HiddenFor(m => m.SelectedTab, new {id = "estab-selected-tab0"})
        <fieldset class="govuk-fieldset search-toggle-panel">
            <legend class="govuk-visually-hidden">Search by name or reference number</legend>
            <div class="govuk-form-group">
                <div class="govuk-radio" data-module="govuk-radio">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.SearchType, eSearchType.Text, new {id = "searchtype-name", data_toggle_panel = "#searchby-name-ref", autocomplete="off", @class = "govuk-radios__input"})
                        <label for="searchtype-name" class="govuk-label govuk-radios__label">Name or reference number</label>
                    </div>
                </div>
            </div>
            <div class="panel panel-border-narrow @Html.Conditional(string.Equals(Model.ErrorPanel, "Name"), "govuk-form-group--error")" id="searchby-name-ref">
                @* This gets dynamically populated *@
                <span class="govuk-error-message hidden"></span>
                @Html.ValidationMessageFor(x => x.TextSearchModel.Text, null, new { @class="govuk-error-message" })

                <div class="govuk-form-group">
                    <label class="govuk-label" for="TextSearchModel_Text">
                        Enter name, <abbr title="Unique Reference Number">URN</abbr>, LAESTAB or UKPRN
                        <a href="#name-reference-help" class="help-icon modal-link">
                            <span class="govuk-visually-hidden">Help with reference numbers</span>
                            @helpers.DialogHiddenPrompt()
                        </a>
                    </label>

                    @Html.TextBoxFor(x => x.TextSearchModel.Text, new {@class = "govuk-input govuk-input--width-20", autocomplete = "off", data_suggestion_url = "/search/suggest?text=", maxlength = "200", aria_describedby = "name-reference-help"})
                </div>
                <div class="govuk-form-group">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input id="include-open-establishments-name" type="checkbox" checked="checked" name="OpenOnly" value="true" class="govuk-checkboxes__input"/>
                            <label for="include-open-establishments-name" class="govuk-checkboxes__label">Include open schools only</label>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(x => x.TextSearchModel.AutoSuggestValue, new {id = "estab-autosuggest-value"})
                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button" id="name-search-submit" name="SearchType" value="@eSearchType.Text">Search</button>
                </div>
                <input type="hidden" name="@VM.BIND_ALIAS_GOONERES" value="true"/>
            </div>
        </fieldset>
    }
</li>

<li class="search-type-wrapper">
    @using (Html.BeginRouteForm("SearchResults", FormMethod.Get, new {id = "location-search-form"}))
    {
        <fieldset class="govuk-fieldset search-toggle-panel">
            <legend class="govuk-visually-hidden">Search by location</legend>
            <div class="govuk-form-group">
                <div class="govuk-radio" data-module="govuk-radio">
                    <div class="govuk-radios__item">
                        @Html.HiddenFor(m => m.SelectedTab)
                        @Html.RadioButtonFor(m => m.SearchType, eSearchType.Location, new {id = "searchtype-location", data_toggle_panel = "#searchby-location-ref", autocomplete = "off", @class = "govuk-radios__input"})
                        <label for="searchtype-location" class="govuk-label govuk-radios__label">
                            Location
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel panel-border-narrow @Html.Conditional(string.Equals(Model.ErrorPanel, "Location"), "govuk-form-group--error")" id="searchby-location-ref">
                @* This alert gets dynamically populated *@
                <span class="govuk-error-message hidden"></span>
                @Html.ValidationMessageFor(x => x.LocationSearchModel.Text, null, new { @class = "govuk-error-message" })
                <div class="govuk-form-group">
                    <label class="govuk-label" for="LocationSearchModel_Text">Enter postcode, town or city</label>
                    @Html.TextBoxFor(x => x.LocationSearchModel.Text, new {@class = "govuk-input govuk-input--width-20 location-search", autocomplete = "off", maxlength = "200"})
                </div>

                @Html.HiddenFor(x => x.LocationSearchModel.AutoSuggestValue)
                <div class="govuk-form-group">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input id="include-open-establishments-location" type="checkbox" checked="checked" name="OpenOnly" value="true" class="govuk-checkboxes__input"/>
                            <label for="include-open-establishments-location" class="govuk-checkboxes__label">Include open schools only</label>
                        </div>
                    </div>
                </div>
                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button search-button" id="location-search-submit" name="SearchType" value="@eSearchType.Location">Search</button>
                </div>
            </div>

        </fieldset>
    }
</li>
<li class="search-type-wrapper" id="la">
    <fieldset class="govuk-fieldset search-toggle-panel">
        <legend class="govuk-visually-hidden">Search by local authority</legend>
        @using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
        {
            <div class="govuk-form-group">
                <div class="govuk-radio" data-module="govuk-radio">
                    <div class="govuk-radios__item">
                        @Html.HiddenFor(m => m.SelectedTab, new {id = "estab-selected-tab1"})
                        @Html.RadioButtonFor(m => m.SearchType, eSearchType.ByLocalAuthority, new {id = "searchtype-la", data_toggle_panel = "#searchby-la-ref", autocomplete = "off", @class = "govuk-radios__input"})
                        <label for="searchtype-la" class="govuk-label govuk-radios__label">
                            Local authority
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel panel-border-narrow @Html.Conditional(string.Equals(Model.ErrorPanel, "LocalAuthority"), "govuk-form-group--error")" id="searchby-la-ref">
                <span class="govuk-error-message hidden"></span>
                @Html.ValidationMessageFor(x => x.LocalAuthorityToAdd, null, new { @class = "govuk-error-message" })

                <div class="govuk-form-group">
                    <label class="govuk-label" for="LocalAuthorityToAdd">Enter one or more local authorities (LAs)</label>
                    <div class="selected-las form-group">
                        <div id="la-id-target" class="la-id-target">

                            @foreach (var id in Model.SelectedLocalAuthorityIds)
                            {
                                var la = Model.LocalAuthorities.First(x => x.Id == id);
                                <input value="@la.Name" type="hidden" class="form-control user-selected-la"/>
                                <button type="submit" class="remove-suggest-la" name="LocalAuthorityToRemove" data-remove="@id" value="@id">@la.Name</button>
                            }
                            <div class="floating-text-field-wrap">
                                @Html.TextBoxFor(x => x.LocalAuthorityToAdd, new {@class = "govuk-input govuk-input--width-20 floating-text-field", autocomplete = "off"})
                            </div>
                        </div>
                        <button type="submit" class="govuk-button--secondary govuk-button no-js-remove"
                                name="SearchType" value="@eSearchType.LocalAuthorityDisambiguation">
                            Find
                        </button>
                    </div>
                </div>
                <div class="govuk-form-group">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            @if(Request.QueryString["OpenOnly"] == null)
                            {
                                Model.OpenOnly = true;
                            }
                            @Html.CheckBoxFor(x => x.OpenOnly, new { @class = "govuk-checkboxes__input", @id = "include-open-establishments-la" })
                            <label for="include-open-establishments-la" class="govuk-checkboxes__label">Include open schools only</label>
                        </div>
                    </div>
                </div>


                @Html.HiddenFieldsFromQueryString(new[] {"NoResults", "SearchType"})
                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button" id="la-search-submit" name="SearchType" value='@eSearchType.ByLocalAuthority'>Search</button>
                </div>
            </div>
        }

    </fieldset>
</li>

<li aria-hidden="true">
    <p>or</p>
</li>

<li class="search-type-wrapper">
    @using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
    {
        <fieldset class="govuk-fieldset search-toggle-panel">
            <legend class="govuk-visually-hidden">Search all establishments</legend>
            <div class="govuk-form-group">
                <div class="govuk-radio" data-module="govuk-radio">
                    <div class="govuk-radios__item">
                        @Html.HiddenFor(m => m.SelectedTab, new {id = "estab-selected-tab2"})
                        @Html.RadioButtonFor(m => m.SearchType, eSearchType.EstablishmentAll, new {id = "searchtype-all", data_toggle_panel = "#searchby-all-ref", autocomplete = "off", @class = "govuk-radios__input"})
                        <label for="searchtype-all" class="govuk-label govuk-radios__label">
                            All establishments
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel panel-border-narrow" id="searchby-all-ref">
                <div class="govuk-form-group govuk-!-padding-top-2">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input id="include-open-establishments-all" type="checkbox" checked="checked" name="OpenOnly" value="true" class="govuk-checkboxes__input"/>
                            <label for="include-open-establishments-all" class="govuk-checkboxes__label">Include open schools only</label>
                        </div>
                    </div>
                    </div>
                    @Html.HiddenFor(x => x.TextSearchModel.AutoSuggestValue)
                    <div class="govuk-form-group ">
                        <button type="submit" class="govuk-button search-button" id="all-search-submit" name="SearchType" value="@eSearchType.EstablishmentAll">Search</button>
                    </div>

                    <input type="hidden" name="@VM.BIND_ALIAS_GOONERES" value="true"/>
            </div>
        </fieldset>
    }
</li>
</ul>

</div>
