@using Edubase.Web.UI.Models.Search;
@using eStatus = Edubase.Services.Enums.eLookupEstablishmentStatus;
@using VM = Edubase.Web.UI.Models.Search.SearchViewModel;
@using Edubase.Web.UI.Helpers;
@model VM


@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    @Html.ValidationSummary(null, new { @class = "error-summary" })
    <div class="edubase-search-element">
        <label for="forename" class="bold-small">First name</label>
        @Html.TextBoxFor(x => x.GovernorSearchModel.Forename, new { maxlength = 120, id = "forename", @class = "form-control auto-clear" })
    </div>
    <div class="edubase-search-element">
        <label for="surname" class="bold-small">Last name</label>
        @Html.TextBoxFor(x => x.GovernorSearchModel.Surname, new { maxlength = 120, id = "surname", @class = "form-control auto-clear" })
    </div>
    <div class="edubase-search-element">
        <label for="roleid" class="bold-small">Role</label>
        <span class="form-hint">For example, trustee</span>
       
        <div class="form-group">
            <div class="scroll-wrapper">
                <div class="scroll-content">
                    @foreach (var governorRole in Model.GovernorRoles)
                    {
                        <label>
                            <input name="GovernorSearchModel.RoleId" value="@governorRole.Id.ToString()" type="checkbox" />
                            @FormatHelpers.FirstCharToUpper(@governorRole.Name.ToLower())
                        </label>
                    }
                </div>
            </div>
        </div>   
    </div>
    <div class="edubase-search-element">
        <label class="block-label selection-button-checkbox" for="IncludeHistoric">
            @Html.CheckBoxFor(x => x.GovernorSearchModel.IncludeHistoric, new { id = "IncludeHistoric" })
            <span class="font-small">Include historic records (governors who stepped down in the last 12 months)</span>
        </label>
    </div>
    <div class="edubase-search-element">
        <button type="submit" class="button button-next" name="searchtype" value="@eSearchType.Governor">Search</button>
    </div>

    <p class="search-all-shortcut">
        <a href="@Url.Action("Index", "GovernorSearch", new { area = "Governors" })?@(QueryStringHelper.ToQueryString(VM.BIND_ALIAS_STATUSIDS, (int) eStatus.Open, (int) eStatus.OpenButProposedToClose))">Show all Governors</a>
    </p>
}


