@using Edubase.Common
@using Edubase.Web.UI.Models.Search;
@using eStatus = Edubase.Services.Enums.eLookupEstablishmentStatus;
@using VM = Edubase.Web.UI.Models.Search.SearchViewModel;
@using Edubase.Web.UI.Helpers;
@model VM

@{
    var gSearch = "";
    if (Request.QueryString["gsearch"] != null)
    {
        gSearch = Request.QueryString["gsearch"];
    }
}
<div>
<h2 class="govuk-heading-s">Search by:</h2>
<ul class="search-type-list">
    <li class="search-type-wrapper">
        @using (Html.BeginRouteForm("SearchResults", FormMethod.Get, new {id = "governor-search-by-name-or-role"}))
        {
            @Html.HiddenFor(m => m.SelectedTab, new {id = "gov-selected-tab0"})
            <div class="govuk-fieldset search-toggle-panel">
                <div class="govuk-form-group">
                    <div class="govuk-radio" data-module="govuk-radio">
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.Governor, new {id = "searchtype-gov-namerole", name = "gsearch", value = "name-role", data_toggle_panel = "#searchtype-gov-namerole-ref", autocomplete = "off", @class = "govuk-radios__input"})
                            <label for="searchtype-gov-namerole" class="govuk-label govuk-radios__label">
                                Name or role
                            </label>

                        </div>
                    </div>
                </div>
                <div class="panel panel-border-narrow @Html.Conditional(string.Equals(Model.ErrorPanel, "Governor"), "govuk-form-group--error")" id="searchtype-gov-namerole-ref">
                    @* This alert gets dynamically populated *@
                    <span class="govuk-error-message hidden"></span>
                    @Html.ValidationMessageFor(x => x.GovernorSearchModel.Forename, null, new { @class = "govuk-error-message" })
                    <div class="govuk-form-group">
                        <label for="forename" class="govuk-label">First name</label>@*id = "forename",*@
                        @Html.TextBoxFor(x => x.GovernorSearchModel.Forename, new {maxlength = 120,  @class = "govuk-input govuk-input--width-20"})
                    </div>
                    <div class="govuk-form-group">
                        <label for="surname" class="govuk-label">Last name</label>
                        @Html.TextBoxFor(x => x.GovernorSearchModel.Surname, new {maxlength = 120, id = "surname", @class = "govuk-input govuk-input--width-20"})
                    </div>

                    <div class="govuk-form-group">
                        <div class="govuk-option-select gias-governor-roles">
                            <div class="container-head" tabindex="0">
                                <div class="option-select-label">Role</div>
                                <span class="govuk-body-s">For example, trustee</span>
                            </div>
                            <div class="options-container" id="governor-roles">
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    @foreach (var governorRole in Model.GovernorRoles)
                                    {
                                        <div class="govuk-checkboxes__item">
                                            <input name="GovernorSearchModel.RoleId" class="govuk-checkboxes__input"
                                                   id="govrole-@governorRole.Id.ToString()" value="@governorRole.Id.ToString()" type="checkbox"
                                                   @if (Model.GovernorSearchModel.RoleId.Contains(governorRole.Id))
                                                   {
                                                       <text>checked="checked"</text>
                                                   }/>
                                            <label for="govrole-@governorRole.Id.ToString()" class="govuk-checkboxes__label govuk-body">
                                                @governorRole.Name
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                @* @Html.CheckBoxFor(x => x.GovernorSearchModel.IncludeHistoric, new {id = "IncludeHistoricRole0", @class = "govuk-checkboxes__input"}) *@
                                <input class="govuk-checkboxes__input" id="IncludeHistoricRole0" name="GovernorSearchModel.IncludeHistoric" type="checkbox" value="true">
                                <label for="IncludeHistoricRole0" class="govuk-checkboxes__label govuk-body">Include historic records (governors who stepped down in the last 12 months)</label>
                            </div>
                        </div>
                    </div>


                    <div class="govuk-form-group">
                        <button type="submit" id="governor-search-submit" class="govuk-button" name="searchtype" value="@eSearchType.Governor">Search</button>
                    </div>
                </div>
            </div>
        }
    </li>

    <li class="search-type-wrapper">
        @using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
        {
            @Html.HiddenFor(m => m.SelectedTab, new {id = "gov-selected-tab1"})
            <fieldset class="govuk-fieldset search-toggle-panel">
                <div class="govuk-form-group">
                    <div class="govuk-radio" data-module="govuk-radio">
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.GovernorReference, new {id = "searchtype-gov-refno", name = "gsearch", value = "gid", data_toggle_panel = "#searchtype-gov-refno-ref", autocomplete = "off", @class = "govuk-radios__input"})
                            <label for="searchtype-gov-refno" class="govuk-label govuk-radios__label">
                                Reference number
                            </label>
                        </div>
                    </div>
                </div>

                <div class="panel panel-border-narrow @Html.ValidationCssClassFor(x => x.GovernorSearchModel.Gid)" id="searchtype-gov-refno-ref">
                    @* This alert gets dynamically populated *@
                    <span class="govuk-error-message hidden"></span>
                    @Html.ValidationMessageFor(x => x.GovernorSearchModel.Gid, null, new { @class = "govuk-error-message"})
                    <div class="govuk-form-group">
                        <label for="GovernorSearchModel_Gid" class="govuk-label">
                            Enter governor ID number (GID number)
                        </label>

                    @Html.TextBoxFor(x => x.GovernorSearchModel.Gid, new {maxlength = 10, @class = "govuk-input govuk-input--width-20"})
                    </div>
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="IncludeHistoricRole1" name="GovernorSearchModel.IncludeHistoric" type="checkbox" value="true">
                                <label for="IncludeHistoricRole1" class="govuk-checkboxes__label govuk-body">Include historic records (governors who stepped down in the last 12 months)</label>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-form-group">
                        <button type="submit" id="governor-search-submit-1" class="govuk-button" name="searchtype" value="@eSearchType.GovernorReference">Search</button>
                    </div>

                </div>
            </fieldset>
        }
    </li>

    <li aria-hidden="true">
        <p>or</p>
    </li>

    <li class="search-type-wrapper">
        @using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
        {
            @Html.HiddenFor(m => m.SelectedTab, new {id = "gov-selected-tab1"})

            <fieldset class="govuk-fieldset search-toggle-panel">
                <div class="govuk-form-group">
                    <div class="govuk-radio" data-module="govuk-radio">
                        <div class="govuk-radios__item">
                            <input type="radio" id="searchtype-gov-all" data-toggle-panel="#searchtype-gov-all-ref" name="gsearch" value="all" autocomplete="off" class="govuk-radios__input"
                                   @Html.Conditional(gSearch == "all", "checked=checked")/>
                            <label for="searchtype-gov-all" class="govuk-label govuk-radios__label">All governors</label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-border-narrow" id="searchtype-gov-all-ref">
                    <div class="govuk-form-group govuk-!-padding-top-2">
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                @* @Html.CheckBoxFor(x => x.GovernorSearchModel.IncludeHistoric, new {id = "IncludeHistoricRole2", @class = "govuk-checkboxes__input"}) *@
                                <input class="govuk-checkboxes__input" id="IncludeHistoricRole2" name="GovernorSearchModel.IncludeHistoric" type="checkbox" value="true">
                                <label for="IncludeHistoricRole2" class="govuk-checkboxes__label govuk-body">Include historic records (governors who stepped down in the last 12 months)</label>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-form-group">
                        <button type="submit" id="governor-search-submit-2" class="govuk-button" name="searchtype" value="@eSearchType.GovernorAll">Search</button>
                    </div>
                </div>
            </fieldset>
        }
    </li>
</ul>

</div>
