@using Edubase.Web.UI.Models.Search;
@using eStatus = Edubase.Services.Enums.eLookupEstablishmentStatus;
@using VM = Edubase.Web.UI.Models.Search.SearchViewModel;
@using Edubase.Web.UI.Helpers;
@model VM

@{
    var gSearch = "";
    if (Request.QueryString["gsearch"] != null)
    {
        gSearch = Request.QueryString["gsearch"];
    }
}
<fieldset>
    <legend>
        <h2 class="heading-small flush--top">Search by:</h2>
    </legend>
    <ul>
        <li class="search-type-wrapper">
            @using (Html.BeginRouteForm("SearchResults", FormMethod.Get, new { id = "governor-search-by-name-or-role" }))
            {
                @Html.HiddenFor(m => m.SelectedTab)
                <fieldset class="search-toggle-panel">
                    <span class="radio-button-wrap">
                        @Html.RadioButtonFor(m => m.SearchType, eSearchType.Governor, new { id = "searchtype-gov-namerole", name = "gsearch", value = "name-role", data_toggle_panel = "#searchtype-gov-namerole-ref" })
                        <label class="edubase-button-radio" for="searchtype-gov-namerole">
                            Name or role
                        </label>
                    </span>
                    <div class="expanding-search-field" id="searchtype-gov-namerole-ref">
                        @* This alert gets dynamically populated *@
                        <div class="warning-message visuallyhidden" role="alert">
                            <p class="message-text" aria-live="polite"></p>
                        </div>
                        @if (Model.SearchType == eSearchType.Governor && Model.NoResults)
                        {
                            @* Static alert for no search results *@
                            <div role="alert" class="warning-message js-trigger-aria-live">
                                <p class="warning-message-text" aria-live="polite">We couldn't find any governors matching your search criteria</p>
                            </div>
                        }
                        <div class="edubase-search-element">
                            <label for="forename" class="form-label">First name</label>
                            @Html.TextBoxFor(x => x.GovernorSearchModel.Forename, new {maxlength = 120, id = "forename", @class = "form-control"})
                        </div>
                        <div class="edubase-search-element">
                            <label for="surname" class="form-label">Last name</label>
                            @Html.TextBoxFor(x => x.GovernorSearchModel.Surname, new {maxlength = 120, id = "surname", @class = "form-control"})
                        </div>

                        <div class="form-group">
                            <div class="govuk-option-select form-control-1-2">
                                <div class="container-head">
                                    <div class="option-select-label hard--left">Role</div>
                                    <span class="font-xsmall">For example, trustee</span>
                                </div>
                                <div class="options-container" id="governor-roles">
                                    <fieldset>
                                    @foreach (var governorRole in Model.GovernorRoles)
                                    {
                                        <input name="GovernorSearchModel.RoleId"
                                        id="govrole-@governorRole.Id.ToString()" value="@governorRole.Id.ToString()" type="checkbox" class="filter-input" />
                                        <label for="govrole-@governorRole.Id.ToString()" class="filter-radio">
                                            @FormatHelpers.FirstCharToUpper(@governorRole.Name.ToLower())
                                        </label>
                                    }
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="checkbox-wrap">
                                @Html.CheckBoxFor(x => x.GovernorSearchModel.IncludeHistoric, new {id = "IncludeHistoricRole0"})

                                <label for="IncludeHistoricRole0" class="edubase-button-checkbox">Include historic records (governors who stepped down in the last 12 months)</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="governor-search-submit" class="button mobile-full-width" name="searchtype" value="@eSearchType.Governor">Search</button>
                        </div>
                    </div>
                </fieldset>
            }
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                @using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
                {
                    @Html.HiddenFor(m => m.SelectedTab)
                    <fieldset class="search-toggle-panel">
                        <span class="radio-button-wrap">
                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.GovernorReference, new { id = "searchtype-gov-refno", name = "gsearch", value = "gid", data_toggle_panel = "#searchtype-gov-refno-ref" })
                            <label class="edubase-button-radio" for="searchtype-gov-refno">
                                Reference number
                            </label>
                        </span>
                        <div class="expanding-search-field" id="searchtype-gov-refno-ref">
                            @* This alert gets dynamically populated *@
                            <div class="warning-message visuallyhidden" role="alert">
                                <p class="message-text" aria-live="polite"></p>
                            </div>
                            @if (Model.SearchType == eSearchType.GovernorReference && Model.NoResults)
                            {
                            @* Static alert for no search results *@
                                <div role="alert" class="warning-message js-trigger-aria-live">
                                    <p class="warning-message-text" aria-live="polite">We couldn't find any governors matching your search criteria</p>
                                </div>
                            }
                            <div class="form-group @Html.ValidationCssClassFor(x => x.GovernorSearchModel.Gid)">
                                <label for="GovernorSearchModel_Gid" class="form-label">
                                    Enter governor ID number (GID number)
                                </label>
                                @Html.ValidationMessageFor(x => x.GovernorSearchModel.Gid)
                                @Html.TextBoxFor(x => x.GovernorSearchModel.Gid, new { maxlength = 10, @class = "form-control form-control-1-2" })
                            </div>

                            <div class="form-group">
                                <span class="checkbox-wrap">
                                    @Html.CheckBoxFor(x => x.GovernorSearchModel.IncludeHistoric, new { id = "IncludeHistoricRole1" })
                                    <label for="IncludeHistoricRole1" class="edubase-button-checkbox">Include historic records (governors who stepped down in the last 12 months)</label>
                                </span>
                            </div>

                            <div class="form-group">

                                <button type="submit" id="governor-search-submit-1" class="button mobile-full-width" name="searchtype" value="@eSearchType.Governor">Search</button>
                            </div>

                        </div>
                    </fieldset>
                }
            </li>
        }

        <li aria-hidden="true">
            <p>or</p>
        </li>

        <li>
            @using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
            {
                @Html.HiddenFor(m => m.SelectedTab)

                <fieldset class="search-toggle-panel">
                    <span class="radio-button-wrap">
                        <input type="radio" id="searchtype-gov-all" data-toggle-panel="#searchtype-gov-all-ref" name="gsearch" value="all"
                               @Html.Conditional(gSearch == "all", "checked=checked") />
                        <label class="edubase-button-radio" for="searchtype-gov-all">All governors</label>
                    </span>
                    <div class="expanding-search-field" id="searchtype-gov-all-ref">
                        <div class="form-group">
                            <span class="checkbox-wrap">
                                @Html.CheckBoxFor(x => x.GovernorSearchModel.IncludeHistoric, new {id = "IncludeHistoricRole2"})
                                <label for="IncludeHistoricRole2" class="edubase-button-checkbox">Include historic records (governors who stepped down in the last 12 months)</label>
                            </span>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="governor-search-submit-2" class="button mobile-full-width" name="searchtype" value="@eSearchType.Governor">Search</button>
                        </div>

                    </div>
                </fieldset>
            }
        </li>
    </ul>

</fieldset>
