@using Edubase.Web.UI.Models
@using Edubase.Common;
@using Edubase.Services.Enums
@model GroupSearchResultsModel

@if (Model.Error != null)
{
    <div class="column-two-thirds">
        <p class="no-school-results">Please try @Html.ActionLink("searching again", "Index") using different spelling or words.</p>
    </div>
}
else if (Model.Results.Count > 0)
{
    if (Model.PageCount > 1)
    {
        <div class="column-two-thirds top-pagination">
            @Html.Partial("_ResultsPaginationAdvSearch")
        </div>
    }
    <div class="column-two-thirds">
        <ul class="school-results-listing">
            @foreach (var result in Model.Results)
                {
                <li>
                    <h2>@Html.ActionLink(result.Name ?? "s", "Details", "Group", new { id = result.GroupUID }, new { @class = "bold-small" })</h2>
                    <dl>
                        @if (result.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust))
                        {
                            <dt>Companies House Number:</dt>
                                <dd>@result.CompaniesHouseNumber</dd>
                        }
                        <dt>Type:</dt>
                        <dd>@(Model.GroupTypes.FirstOrDefault(x => x.Id == result.GroupTypeId)?.Name)</dd>
                        <dt>Number of schools belonging to the MAT:</dt>
                        <dd>@result.EstablishmentCount</dd>
                    </dl>
                </li>
            }
        </ul>
    </div>

    if (Model.PageCount > 1)
    {
        <div class="column-two-thirds lower-pagination">
            @Html.Partial("_ResultsPaginationAdvSearch")
        </div>
    }
}
else
{
    <div class="column-two-thirds">
        @if (Model.SearchTerm.IsInteger())
        {
            <p class="no-school-results">Please check the number entered or try @Html.ActionLink("searching again", "Index") using the multi-academy trust name.</p>
        }
        else
        {
            <p class="no-school-results">Please try @Html.ActionLink("searching again", "Index") using different spelling or words.</p>
        }
    </div>
}
