@using Edubase.Web.UI.Models.Search;
@using eStatus = Edubase.Services.Enums.eLookupEstablishmentStatus;
@using VM = Edubase.Web.UI.Models.Search.SearchViewModel;
@using Edubase.Web.UI.Helpers;
@model VM


<p class="group-search-intro">
    You can search for academy trusts and sponsors, local authority maintained school
    federations and trusts as well as childrens centre groups and collaborations.
</p>

@using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
{
    @Html.HiddenFor(m => m.SelectedTab)
    <fieldset>
        <legend>
            <h2 class="heading-small flush--top">Search by:</h2>
        </legend>
        <ul>
            <li class="search-type-wrapper">
                <fieldset class="search-toggle-panel">
                    <span class="radio-button-wrap">
                        @Html.RadioButtonFor(m => m.SearchType, eSearchType.Group, new { id = "searchtype-name-group", name="search-by", value="all", data_toggle_panel = "#searchby-group-ref" })
                        <label class="edubase-button-radio" for="searchtype-name-group">
                            Name or reference number
                        </label>
                    </span>

                    <div class="expanding-search-field" id="searchby-group-ref">
                        <div class="edubase-search-element with-typeahead has-typeahead" id="group-search-container">
                            @* This alert gets dynamically populated *@
                            <div class="warning-message visuallyhidden" role="alert">
                                <p class="warning-message-text" aria-live="polite"></p>
                            </div>
                            @if (Model.SearchType == eSearchType.Group && Model.NoResults)
                            {
                            @* Static alert for no search results *@
                                <div role="alert" class="warning-message js-trigger-aria-live">
                                    <p class="warning-message-text" aria-live="polite">We couldn't find any establishments matching your search criteria</p>
                                </div>
                            }
                            <label class="form-label" for="GroupSearchModel_Text">
                                Enter name, Companies House number, Group <abbr title="Unique Identifier">UID</abbr> or ID
                                <a href="#group-reference" class="icon-help">
                                    <span class="visuallyhidden">About reference numbers</span>
                                </a>
                            </label>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.GroupSearchModel.Text, new { @class = "form-control", autocomplete = "off", data_suggestion_url = "/search/suggestgroup?text=", maxlength = "200", aria_describedby="group-reference" })
                            </div>

                            @Html.HiddenFor(x => x.GroupSearchModel.AutoSuggestValue)
                            <input type="hidden" name="g" value="true" />

                        </div>
                        <div class="form-group">
                            <button type="submit" id="group-search-submit" class="button mobile-full-width  search-button" name="searchtype" value="@eSearchType.Group">Search</button>
                        </div>

                    </div>
                </fieldset>
            </li>

            <li aria-hidden="true">
                <p>or</p>
            </li>

            <li class="search-type-wrapper">

                    <fieldset class="search-toggle-panel">
                        <span class="radio-button-wrap">
                            <input id="searchtype-all-groups" name="search-by" value="all" type="radio" data-toggle-panel="#searchby-allgroups-ref">
                            <label class="edubase-button-radio" for="searchtype-all-groups">
                                All establishment groups
                            </label>
                        </span>
                        <div class="expanding-search-field" id="searchby-allgroups-ref">
                            <div class="form-group">
                                <a href="@Url.Action("Index", "GroupSearch", new { area = "Groups" })?@(QueryStringHelper.ToQueryString(VM.BIND_ALIAS_STATUSIDS, (int) eStatus.Open, (int) eStatus.OpenButProposedToClose))" class="button mobile-full-width search-button">Search</a>
                            </div>

                            <input type="hidden" name="@VM.BIND_ALIAS_GOONERES" value="true" />
                        </div>
                    </fieldset>
            </li>
        </ul>
    </fieldset>
}
