@using Edubase.Common
@using Edubase.Web.UI.Models.Search;
@using eStatus = Edubase.Services.Enums.eLookupEstablishmentStatus;
@using VM = Edubase.Web.UI.Models.Search.SearchViewModel;
@using Edubase.Web.UI.Helpers;
@model VM

<p class="group-search-intro">
    You can search for academy trusts and sponsors, local authority maintained school
    federations and trusts as well as children's centre groups and collaborations.
</p>

<div>
    <h2 class="govuk-heading-s">Search by:</h2>

    <ul class="search-type-list">
        <li class="search-type-wrapper">
            @using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
            {
                @Html.HiddenFor(m => m.SelectedTab, new {id = "group-selected-tab0"})
                @Html.HiddenFor(x => x.GroupSearchModel.AutoSuggestValue)
                <input type="hidden" name="@VM.BIND_ALIAS_GOONERES" value="true"/>
                <input type="hidden" name="g" value="true"/>

                <fieldset class="govuk-fieldset search-toggle-panel">
                    <div class="govuk-form-group">
                        <div class="govuk-radio" data-module="govuk-radio">
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(m => m.SearchType, eSearchType.Group, new {id = "searchtype-name-group", name = "search-by", value = "all", data_toggle_panel = "#searchby-group-ref", autocomplete="off", @class = "govuk-radios__input"})
                                <label for="searchtype-name-group" class="govuk-label govuk-radios__label">
                                    Name or reference number
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-border-narrow @Html.Conditional(string.Equals(Model.ErrorPanel, "Group"), "govuk-form-group--error")" id="searchby-group-ref">
                        <div class="edubase-search-element with-typeahead has-typeahead" id="group-search-container">
                            @* This alert gets dynamically populated *@
                            <span class="govuk-error-message hidden"></span>
                            @Html.ValidationMessageFor(x => x.GroupSearchModel.Text, null, new { @class = "govuk-error-message" })
                            <div class="govuk-form-group">
                            <label class="govuk-label" for="GroupSearchModel_Text">
                                Enter name, Companies House number, Group <abbr title="Unique Identifier">UID</abbr>, ID or UKPRN
                                <a href="#group-reference" class="help-icon modal-link">
                                    <span class="govuk-visually-hidden">Help with reference numbers</span>
                                    <dialog-hidden-prompt />
                                </a>
                            </label>
                                @Html.TextBoxFor(x => x.GroupSearchModel.Text, new {@class = "govuk-input govuk-input--width-20", autocomplete = "off", data_suggestion_url = "/search/suggestgroup?text=", maxlength = "200", aria_describedby = "group-reference"})
                            </div>
                        </div>
                        <div class="govuk-form-group">
                            <a href="@Url.Action("Details", "Group", new { id = 19865 })"
                               class="govuk-button search-button">
                                Search
                            </a>
                        </div>
                    </div>
                </fieldset>
            }
        </li>

        <li aria-hidden="true">
            <p>or</p>
        </li>

        <li class="search-type-wrapper">
            @using (Html.BeginRouteForm("SearchResults", FormMethod.Get))
            {
                @Html.HiddenFor(m => m.SelectedTab, new {id = "group-selected-tab1"})
                <input type="hidden" name="@VM.BIND_ALIAS_STATUSIDS" value="@((int) eStatus.Open)"/>
                <input type="hidden" name="@VM.BIND_ALIAS_STATUSIDS" value="@((int) eStatus.OpenButProposedToClose)"/>

                <fieldset class="govuk-fieldset search-toggle-panel">
                    <div class="govuk-form-group">
                        <div class="govuk-radio" data-module="govuk-radio">
                            <div class="govuk-radios__item">
                                <input id="searchtype-all-groups" name="search-by" value="all" type="radio" data-toggle-panel="#searchby-allgroups-ref" autocomplete="off" class="govuk-radios__input">
                                <label for="searchtype-all-groups" class="govuk-label govuk-radios__label">
                                    All establishment groups
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-border-narrow" id="searchby-allgroups-ref">
                        <div class="govuk-form-group govuk-!-padding-top-2">
                            <button type="submit" id="group-search-submit-2" class="govuk-button  search-button" name="searchtype" value="@eSearchType.GroupAll">Search</button>
                        </div>
                    </div>
                </fieldset>
            }
        </li>
    </ul>
</div>
