@using System.Globalization
@using Edubase.Web.UI.Helpers
@model Edubase.Web.UI.Models.Notifications.NotificationsBannersViewModel
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.SiteSection = "tools";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Notifications", "Index", "Notifications", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

@if (ViewBag.ShowSaved != null && ViewBag.ShowSaved)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="pending-updates-message js-dismiss-message js-trigger-aria-live" role="alert">
                <div class="tick"></div>
                <p class="message-text" aria-live="polite">Your changes have been saved</p>
                <a class="cross" href="#">
                    <span class="govuk-visually-hidden">Dismiss notification</span>
                </a>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Manage visibility of notification banners</h1>
    </div>
</div>

<div class="button-row govuk-!-margin-bottom-4">
    @Html.ActionLink(
        "Back",
        "Index",
        "Notifications",
        null,
        new { @class = "govuk-back-link gias-back-link--button", data_module = "govuk-button" })
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Current status for notification banners</h2>
    </div>
</div>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Get Information about Schools can have a maximum of two notification banners showing.

        @if (Model.Banners.Count() < 2)
        {
            <span>
                Only add a notification banner where necessary - and absolutely necessary for a second one.
            </span>
        }
    </strong>
</div>

@if (Model.Banners.Count() < 2)
{
    @Html.RouteLink("Add notification banner " + (Model.Banners.Count() + 1), "CreateBanner", null, new { @class = "govuk-button" })
}

@if (Model.Banners.Any())
{
    var bannerCounter = 1;
    foreach (var banner in Model.Banners)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-s">Notification banner @bannerCounter</h3>
            </div>
        </div>

        {
            Html.RenderPartial("_NotificationBannerPartial", banner, new ViewDataDictionary(this.ViewData) { { "bannerPreview", true } });
        }

        <dl class="govuk-summary-list govuk-!-margin-top-4">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Publish status:</dt>
                <dd class="govuk-summary-list__value">@(banner.Status.EnumDisplayNameFor())</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Visibility start:</dt>
                <dd class="govuk-summary-list__value">@banner.Start.ToString("h:mmtt", CultureInfo.InvariantCulture).ToLower() <span class="govuk-!-margin-right-2"></span> @banner.Start.ToString("d MMMM yyyy", CultureInfo.InvariantCulture)</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Visibility end:</dt>
                <dd class="govuk-summary-list__value">@banner.End.ToString("h:mmtt", CultureInfo.InvariantCulture).ToLower() <span class="govuk-!-margin-right-2"></span> @banner.End.ToString("d MMMM yyyy", CultureInfo.InvariantCulture)</dd>
            </div>
        </dl>

        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-two-thirds">
                @Html.RouteLink("Edit notification banner " + bannerCounter, "EditBanner", new { id = banner.RowKey, counter = bannerCounter }, new { @class = "govuk-button govuk-button--secondary" })
                @Html.RouteLink("Delete notification banner " + bannerCounter, "DeleteBanner", new { id = banner.RowKey, counter = bannerCounter }, new { @class = "govuk-button govuk-button--secondary gias-banner-delete-button" })
            </div>
        </div>

        bannerCounter++;
    }
}
