@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models.Notifications
@model Edubase.Web.UI.Models.Notifications.NotificationsTemplateViewModel
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.SiteSection = "tools";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Notifications", "Index", "Notifications", new {area = ""}, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @Html.Partial("_ValidationSummary", ViewData.ModelState)
        <h1 class="govuk-heading-xl">Manage templated messages for notification banners</h1>
    </div>
</div>

@using (Html.BeginRouteForm(Model.Id == null ? "PostCreateTemplate" : "PostEditTemplate", new { Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="button-row govuk-!-margin-bottom-4">
        @if (Model.Action == eNotificationsTemplateAction.Message)
        {
            @Html.ActionLink(
                "Back",
                "Templates",
                "Notifications",
                null,
                new {@class = "govuk-back-link gias-back-link--button", data_module = "govuk-button"})
        }
        else
        {
            <button type="submit" class="govuk-back-link gias-back-link--button" name="@nameof(Model.GoBack)" value="true">
                Back
            </button>
        }
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-m">@(Model.Id == null ? "Add" : "Edit") templated message</span>
        </div>
    </div>

    <div class="govuk-grid-row">

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Action)
        @Html.HiddenFor(x => x.OriginalContent)

        @if (Model.Action == eNotificationsTemplateAction.Message)
        {
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Message</h2>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <p>Keep the message concise and user focused. The maximum number of characters permitted is 400. This includes spaces.</p>

                <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.Content)">
                    @Html.ValidationMessageFor(x => x.Content, null, new { @class = "govuk-error-message" })
                    @Html.TextAreaFor(x => x.Content, new { @class = "govuk-textarea entry-content", rows = "6", cols = "40", maxlength = "400" })
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(x => x.Content)
        }

        @if (Model.Action == eNotificationsTemplateAction.Review)
        {
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Check this new templated message is correct before saving.</h2>
            </div>

            <div class="govuk-grid-column-full">
                <dl class="govuk-summary-list gias-summary-top-border">
                    @if (!string.IsNullOrEmpty(Model.OriginalContent))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Old templated message</dt>
                            <dd class="govuk-summary-list__value">@Model.OriginalContent</dd>
                        </div>
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">New templated message</dt>
                        <dd class="govuk-summary-list__value">@Model.Content</dd>
                    </div>
                </dl>
            </div>

        }
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="button-row govuk-!-padding-top-6">
                <button type="submit" class="govuk-button">@(Model.Id != null || Model.Action == eNotificationsTemplateAction.Review ? "Accept and save" : "Continue")</button>
            </div>
        </div>
    </div>
}
