@using Edubase.Services.Enums
@model ChangeHistoryViewModel
@{
    ViewBag.Title = "";
    ViewBag.PageClass = "search-history-results search-results";
}

<div class="grid-row">
    <div class="column-full results-heading">
        <div class="breadcrumbs">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
                </li>
                <li>
                    @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
                </li>
                <li>
                    @Html.ActionLink("Change history", "Index", "ChangeHistory", new { area = "" }, null)
                </li>
            </ul>
        </div>
        <h1 class="heading-xlarge">Download change history</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">Select the file format of the data you are interested in</h2>
        <p>You can download your requested data in either CSV or XLSX format. The file will download as a ZIP file: open the ZIP to access its contents.</p>
    </div>

    <div class="column-full">
        @using (Html.BeginRouteForm("ChangeHistoryDownload", FormMethod.Get))
        {
            <fieldset class="stacked-controls">
                <legend class="visually-hidden">Download data options</legend>
                <span class="radio-button-wrap">
                    @Html.RadioButtonFor(m => m.DownloadFormat, eFileFormat.CSV, new { id = "download-csv"})
                    <label class="edubase-button-radio" for="download-csv">
                        Data in CSV format
                    </label>
                </span>
            
                <span class="radio-button-wrap">
                    @Html.RadioButtonFor(m => m.DownloadFormat, eFileFormat.XLSX, new { id = "download-xslx" })
                    <label class="edubase-button-radio" for="download-xslx">
                        Data in XLSX (Excel) format
                    </label>
                </span>
            </fieldset>

            @Html.HiddenFieldsFromQueryString()
            <div class="button-row">
                <input type="submit" class="button" value="Continue" />
                <a href=@($"{Url.RouteUrl("ChangeHistorySearch")}?{Request.QueryString}") class="button button-grey">Cancel</a>  
            </div>
            
        }
    </div>
</div>