@model ChangeHistoryViewModel
@{
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "Search change history");
    ViewBag.bodyClasses = "search-changes schools-search-page";
}
<div class="breadcrumbs">
    <ol>
        <li>@Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)</li>
    </ol>
</div>

@Html.Partial("_ValidationSummary", ViewData.ModelState)

<h1 class="heading-xlarge">Change history</h1>

<div class="grid-row" id="change-history-app">
    <div class="column-full">
        <p>
            This allows you to find out when establishments (such as schools, colleges and
            children's centres) and groups (such as multi-academy trusts and federations)
            made changes to their records and what was changed.
        </p>
    </div>

    <div class="column-full">
        <div class="horizontal-tabs-wrapper">
            <div class="tab-wrap search-tabs">
                <ul class="horizontal-tabs">
                    <li>
                        @{ var estabSelected = Model.SelectedTab == ChangeHistoryViewModel.Tab.Establishments ? "selected-tab" : ""; }
                        @Html.RouteLink("Establishment change history", "ChangeHistoryCriteria", new {SelectedTab = "Establishments"}, new {@class = $"horizontal-tab estab {estabSelected}" })
                    </li>
                    <li>
                        @{ var groupSelected = Model.SelectedTab == ChangeHistoryViewModel.Tab.Groups ? "selected-tab" : ""; }
                        @Html.RouteLink("Group change history", "ChangeHistoryCriteria", new { SelectedTab = "Groups" }, new { @class = $"horizontal-tab group {groupSelected}" })
                    </li>
                </ul>
            </div>

            <div class="tab-content-wrapper horizontal-tabs-content">
                @if (Model.SelectedTab == ChangeHistoryViewModel.Tab.Establishments) {
                <div id="establishments" class="tab-content">

                    <fieldset class="search-types-accordion">
                        <legend>
                            <h2 class="heading-small flush--top">Search by:</h2>
                        </legend>

                        <ul class="search-type-list has-typeahead">
                            <li class="search-type-wrapper">
                                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                                {
                                    @Html.HiddenFor(m => m.SelectedTab)
                                    <fieldset class="search-toggle-panel">
                                        <legend class="visually-hidden">Search by name or reference number</legend>
                                        <div class="multiple-choice multiple-choice--radio">
                                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.Text, new { id = "searchtype-name", data_toggle_panel = "#searchby-name-ref" })
                                            <label for="searchtype-name">
                                                Name or reference number
                                            </label>
                                        </div>
                                        <div class="panel panel-border-narrow" id="searchby-name-ref">
                                            @* This alert gets dynamically populated *@
                                            <div class="warning-message visuallyhidden" role="alert">
                                                <p class="message-text" aria-live="polite"></p>
                                            </div>
                                            @if (Model.NoResultsForName)
                                            {
                                                @* Static alert for no search results *@
                                                <div role="alert" class="warning-message js-trigger-aria-live">
                                                    <p class="message-text" aria-live="polite">We couldn't find any establishments matching your search criteria</p>
                                                </div>
                                            }
                                            <label class="form-label" for="TextSearchModel_Text">
                                                Enter name, <abbr title="Unique Reference Number">URN</abbr>, LAESTAB or UKPRN
                                                <a href="#name-reference-help" class="tooltip-link js-tooltip">
                                                    <span class="visuallyhidden">Help with reference numbers</span>
                                                </a>
                                            </label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(x => x.TextSearchModel.Text, new { @class = "form-control", autocomplete = "off", data_suggestion_url = "/search/suggest?text=", aria_describedby="name-reference-help" })
                                            </div>
                                            @Html.HiddenFor(x => x.TextSearchModel.AutoSuggestValue)
                                            <div class="form-group">
                                                <button type="submit" class="button search-button" id="name-search-submit">Search</button>
                                            </div>
                                        </div>
                                    </fieldset>

                                }
                            </li>

                            <li aria-hidden="true">
                                <p>or</p>
                            </li>

                            <li class="search-type-wrapper">
                                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                                {
                                    <fieldset class="search-toggle-panel">
                                        <legend class="visually-hidden">Search all establishments</legend>
                                        <div class="multiple-choice multiple-choice--radio">
                                            @Html.HiddenFor(m => m.SelectedTab)
                                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.EstablishmentAll, new { id = "searchtype-all", data_toggle_panel = "#searchby-all-ref" })
                                            <label for="searchtype-all">
                                                All establishments
                                            </label>
                                        </div>
                                        <div class="panel panel-border-narrow" id="searchby-all-ref">
                                            @if (Model.NoResultsForName)
                                            {
                                                <div class="warning-message">
                                                    <p>We couldn't find any establishments matching your search criteria</p>
                                                </div>
                                            }
                                            <fieldset class="push--bottom">
                                                <legend class="visually-hidden">Select the change type</legend>

                                                <div class="multiple-choice">
                                                    @Html.RadioButtonFor(m => m.DateFilterMode, ChangeHistoryViewModel.DATE_FILTER_MODE_APPLIED, new {id = "datefiltermode-applied"})
                                                    <label for="datefiltermode-applied">
                                                        Applied: The date the change was proposed in GIAS
                                                    </label>
                                                </div>

                                                <div class="multiple-choice">
                                                    @Html.RadioButtonFor(m => m.DateFilterMode, ChangeHistoryViewModel.DATE_FILTER_MODE_APPROVED, new {id = "datefiltermode-approved"})
                                                    <label for="datefiltermode-approved">
                                                        Approved: The date the change  was approved
                                                    </label>
                                                </div>

                                                <div class="multiple-choice">
                                                    @Html.RadioButtonFor(m => m.DateFilterMode, ChangeHistoryViewModel.DATE_FILTER_MODE_EFFECTIVE, new {id = "datefiltermode-effective"})
                                                    <label for="datefiltermode-effective">
                                                        Effective: The date the change occurred
                                                    </label>
                                                </div>
                                            </fieldset>

                                            <div class="column-two-thirds push--bottom">
                                                <div class="date-group-wrap">
                                                    @Html.EditorFor(x => x.DateFilterFrom, new { title = "From (optional)" })
                                                </div>
                                                <div class="date-group-wrap">
                                                    @Html.EditorFor(x => x.DateFilterTo, new { title = "To (optional)" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(x => x.TextSearchModel.AutoSuggestValue)
                                            <div class="form-group">
                                                <button type="submit" class="button search-button" id="all-search-submit">Search</button>
                                            </div>

                                        </div>
                                    </fieldset>
                                }
                            </li>
                        </ul>
                    </fieldset>
                </div>
                }
                @if (Model.SelectedTab == ChangeHistoryViewModel.Tab.Groups)
                {
                <div id="groups" class="tab-content">
                    <fieldset>
                        <legend>
                            <h2 class="heading-small flush--top">Search by:</h2>
                        </legend>
                        <ul>
                            <li class="search-type-wrapper">
                                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                                {
                                    @Html.HiddenFor(m => m.SelectedTab)
                                    <fieldset class="search-toggle-panel">
                                        <div class="multiple-choice multiple-choice--radio">
                                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.Group, new {id = "searchtype-name-group", data_toggle_panel = "#searchby-group-ref"})
                                            <label for="searchtype-name-group">
                                                Name or reference number
                                            </label>

                                        </div>
                                        <div class="panel panel-border-narrow" id="searchby-group-ref">
                                            <div class="edubase-search-element with-typeahead has-typeahead" id="group-search-container">
                                                @* This alert gets dynamically populated *@
                                                <div class="warning-message visuallyhidden" role="alert">
                                                    <p class="message-text" aria-live="polite"></p>
                                                </div>
                                                @if (Model.GroupSearchError)
                                                {
                                                    @* Static alert for no search results *@
                                                    <div role="alert" class="warning-message js-trigger-aria-live">
                                                        <p class="message-text" aria-live="polite">We couldn't find any establishment groups matching your search criteria</p>
                                                    </div>
                                                }
                                                <label class="form-label" for="GroupSearchModel_Text">
                                                    Enter name, Companies House number, Group <abbr title="Unique Identifier">UID</abbr> or ID
                                                    <a href="#group-reference" class="tooltip-link js-tooltip">
                                                        <span class="visuallyhidden">Help with reference numbers</span>
                                                    </a>
                                                </label>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(x => x.GroupSearchModel.Text, new {@class = "form-control", autocomplete = "off", data_suggestion_url = "/search/suggestgroup?text=", aria_describedby="group-reference"})
                                                </div>

                                                @Html.HiddenFor(x => x.GroupSearchModel.AutoSuggestValue)
                                                <div class="form-group">
                                                    <button type="submit" id="group-search-submit" class="button search-button">Search</button>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>
                                }
                            </li>

                            <li aria-hidden="true">
                                <p>or</p>
                            </li>

                            <li class="search-type-wrapper">
                                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                                {
                                    @Html.HiddenFor(m => m.SelectedTab)
                                    <fieldset class="search-toggle-panel">
                                        <div class="multiple-choice multiple-choice--radio">
                                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.GroupAll, new {id = "searchtype-all-groups", data_toggle_panel = "#searchby-allgroups-ref"})
                                            <label for="searchtype-all-groups">
                                                All groups
                                            </label>
                                        </div>
                                        <div class="panel panel-border-narrow" id="searchby-allgroups-ref">
                                            <div class="column-two-thirds">
                                                <div class="date-group-wrap">
                                                    @Html.EditorFor(x => x.DateFilterFrom, new {title = "From (optional)"})
                                                </div>
                                                <div class="date-group-wrap">
                                                    @Html.EditorFor(x => x.DateFilterTo, new {title = "To (optional)"})
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" id="all-group-submit" class="button search-button">Search</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                }
                            </li>
                        </ul>
                    </fieldset>
                </div>
                }
            </div>
        </div>
    </div>
</div>


@{
    Html.RenderPartial("Partials/_Helptext");
}

@section ViewScripts
{
    <script src="/public/dfeagiledevops-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="/public/assets/scripts/standalone/accessibility.js"></script>

    <script nonce="4CC30YJLSMKGDS6G">
        (function() {
            DfE.Views.schoolSearch.init({ highlightFirstSuggestion: true });
        }());
    </script>

}
