@model ChangeHistoryViewModel
@{
    ViewBag.Title = "Search change history";
    ViewBag.bodyClasses = "search-changes schools-search-page";
}
<div class="breadcrumbs">
    <ul>
        <li>
            @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
        </li>        
    </ul>
</div>

<h1 class="heading-xlarge">Change history</h1>
@Html.ValidationSummary("Incorrect or missing details", new { @class = "error-summary" })

<div class="grid-row" id="change-history-app">
    <div class="column-full">
        <p>
            This allows you to find out when establishments (such as schools, colleges and
            children's centres) and groups (such as multi academy trusts and federations)
            made changes to their records and what was changed.
        </p>
    </div>
        
    <div class="column-full">
        <div class="horizontal-tabs-wrapper">
            <div class="tab-wrap search-tabs">
                <ul class="horizontal-tabs">
                    <li>
                        @{ var estabSelected = Model.SelectedTab == ChangeHistoryViewModel.Tab.Establishments ? "selected-tab" : ""; }
                        @Html.RouteLink("Establishment change history", "ChangeHistoryCriteria", new {SelectedTab = "Establishments"}, new {@class = $"horizontal-tab estab {estabSelected}" })
                    </li>
                    <li>
                        @{ var groupSelected = Model.SelectedTab == ChangeHistoryViewModel.Tab.Groups ? "selected-tab" : ""; }
                        @Html.RouteLink("Group change history", "ChangeHistoryCriteria", new { SelectedTab = "Groups" }, new { @class = $"horizontal-tab group {groupSelected}" })
                    </li>
                </ul>
            </div>

            <div class="tab-content-wrapper horizontal-tabs-content">
                <div id="establishments" class="tab-content @((Model.SelectedTab != ChangeHistoryViewModel.Tab.Establishments) ? "hidden-tab-content" : "")" aria-hidden="@(Model.SelectedTab != ChangeHistoryViewModel.Tab.Establishments)">

                    <fieldset class="search-types-accordion">
                        <legend>Search by:</legend>

                        <ul class="search-type-list has-typeahead">
                            <li class="search-type-wrapper">
                                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                                {
                                    @Html.HiddenFor(m => m.SelectedTab)
                                    <fieldset class="search-toggle-panel">
                                        <legend class="visually-hidden">Search by name of reference number</legend>
                                        <span class="radio-button-wrap">                        
                                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.Text, new { id = "searchtype-name", data_toggle_panel = "#searchby-name-ref" })
                                            <label class="edubase-button-radio" for="searchtype-name">
                                                Name or reference number
                                            </label>
                                        </span>
                                        <div class="expanding-search-field" id="searchby-name-ref">
                                            @if (Model.NoResultsForName)
                                            {
                                                <div class="warning-message">
                                                    <p>We couldn't find any establishments matching your search criteria</p>
                                                </div>
                                            }
                                            <span class="search-hint">
                                                Name, URN, LAESTAB or UKPRN
                                                <a href="#name-reference-help" class="icon-help">
                                                    <span class="visuallyhidden">About reference numbers</span>
                                                </a>
                                            </span>
                                            <div class="form-group">
                                                @Html.TextBoxFor(x => x.TextSearchModel.Text, new { @class = "form-control", autocomplete = "off", data_suggestion_url = "/search/suggest?text=" })
                                            </div>
                                            @Html.HiddenFor(x => x.TextSearchModel.AutoSuggestValue)
                                            <div class="form-group">
                                                <button type="submit" class="button mobile-full-width search-button" id="name-search-submit">Search</button>
                                            </div>
                                        </div>
                                    </fieldset>

                                }
                            </li>
                        </ul>
                        <p>or</p>
                        <ul>
                            <li class="search-type-wrapper">
                                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                                {
                                    <fieldset class="search-toggle-panel">
                                        <legend class="visually-hidden">Search by name of reference number</legend>
                                        <span class="radio-button-wrap">
                                            @Html.HiddenFor(m => m.SelectedTab)
                                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.EstablishmentAll, new { id = "searchtype-all", data_toggle_panel = "#searchby-all-ref" })
                                            <label class="edubase-button-radio" for="searchtype-all">
                                                All establishments
                                            </label>
                                        </span>
                                        <div class="expanding-search-field" id="searchby-all-ref">
                                            @if (Model.NoResultsForName)
                                            {
                                                <div class="warning-message">
                                                    <p>We couldn't find any establishments matching your search criteria</p>
                                                </div>
                                            }
                                            <fieldset class="inline-date-type-radios">
                                                <legend class="visually-hidden">Select a date type</legend>
                                                <span class="radio-button-wrap">
                                                    @Html.RadioButtonFor(m => m.DateFilterMode, ChangeHistoryViewModel.DATE_FILTER_MODE_APPLIED, new {id = "datefiltermode-applied"})
                                                    <label class="edubase-button-radio" for="datefiltermode-applied">
                                                        Applied
                                                    </label>
                                                </span>

                                                <span class="radio-button-wrap">
                                                    @Html.RadioButtonFor(m => m.DateFilterMode, ChangeHistoryViewModel.DATE_FILTER_MODE_APPROVED, new {id = "datefiltermode-approved"})
                                                    <label class="edubase-button-radio" for="datefiltermode-approved">
                                                        Approved
                                                    </label>
                                                </span>

                                                <span class="radio-button-wrap">
                                                    @Html.RadioButtonFor(m => m.DateFilterMode, ChangeHistoryViewModel.DATE_FILTER_MODE_EFFECTIVE, new {id = "datefiltermode-effective"})
                                                    <label class="edubase-button-radio" for="datefiltermode-effective">
                                                        Effective
                                                    </label>
                                                </span>
                                            </fieldset>
                                             

                                            <div class="column-two-thirds">
                                                <div class="date-group-wrap">
                                                    @Html.EditorFor(x => x.DateFilterFrom, new { title = "From (optional)" })
                                                </div>
                                                <div class="date-group-wrap">
                                                    @Html.EditorFor(x => x.DateFilterTo, new { title = "To (optional)" })
                                                </div>                                                
                                            </div>
                                            @Html.HiddenFor(x => x.TextSearchModel.AutoSuggestValue)
                                            <div class="form-group">
                                                <button type="submit" class="button mobile-full-width search-button" id="all-search-submit">Search</button>
                                            </div>

                                        </div>
                                    </fieldset>
                                }
                            </li>
                        </ul>
                    </fieldset>
                </div>
                <div id="groups" class="tab-content @((Model.SelectedTab != ChangeHistoryViewModel.Tab.Groups) ? "hidden-tab-content" : "")" aria-hidden="@(Model.SelectedTab != ChangeHistoryViewModel.Tab.Groups)">
                    <fieldset>
                        <legend>Search by:</legend>
                        <ul>
                            <li class="search-type-wrapper">
                                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                                {
                                    <fieldset class="search-toggle-panel">
                                        <span class="radio-button-wrap">
                                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.Group, new {id = "searchtype-name-group", data_toggle_panel = "#searchby-group-ref"})
                                            <label class="edubase-button-radio" for="searchtype-name-group">
                                                Name or reference number
                                            </label>
                                        </span>
                                        <div class="expanding-search-field" id="searchby-group-ref">
                                            <div class="edubase-search-element with-typeahead has-typeahead" id="group-search-container">
                                                <label class="form-label">
                                                    Name, Companies House number, Group UID or ID
                                                    <a href="#group-reference" class="icon-help">
                                                        <span class="visuallyhidden">About reference numbers</span>
                                                    </a>
                                                </label>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(x => x.GroupSearchModel.Text, new {@class = "form-control", autocomplete = "off", data_suggestion_url = "/search/suggestgroup?text="})
                                                </div>

                                                @Html.HiddenFor(x => x.GroupSearchModel.AutoSuggestValue)
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" id="group-search-submit" class="button mobile-full-width search-button">Search</button>
                                            </div>

                                        </div>
                                    </fieldset>
                                }
                            </li>
                        </ul>
                        <p>or</p>
                        <ul>
                            <li class="search-type-wrapper">
                                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                                {
                                    <fieldset class="search-toggle-panel">
                                        <span class="radio-button-wrap">
                                            @Html.RadioButtonFor(m => m.SearchType, eSearchType.GroupAll, new {id = "searchtype-all-groups", data_toggle_panel = "#searchby-allgroups-ref"})
                                            <label class="edubase-button-radio" for="searchtype-all-groups">
                                                All groups
                                            </label>
                                        </span>
                                        <div class="expanding-search-field" id="searchby-allgroups-ref">
                                            <div class="column-two-thirds">
                                                <div class="date-group-wrap">
                                                    @Html.EditorFor(x => x.DateFilterFrom, new {title = "From (optional)"})
                                                </div>
                                                <div class="date-group-wrap">
                                                    @Html.EditorFor(x => x.DateFilterTo, new {title = "To (optional)"})
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" id="all-group-submit" class="button mobile-full-width search-button">Search</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                }
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>


@{
    Html.RenderPartial("Partials/_Helptext");
}

@section ViewScripts
{
<script src="/public/dfeagiledevops-typeahead/dist/typeahead.bundle.min.js"></script>
    
}

