@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models
@using Edubase.Web.UI.Models.Search

@model ChangeHistoryViewModel
@{
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "Search change history");
    ViewBag.bodyClasses = "create-edit changes-search";
    ViewBag.SiteSection = "tools";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

@Html.Partial("_ValidationSummary", ViewData.ModelState)

<h1 class="govuk-heading-xl">View establishment and group change history</h1>

<div class="govuk-grid-row" id="change-history-app">
<div class="govuk-grid-column-full">
    <p>
        View establishment and group data changes by selecting the appropriate tab, the relevant search options and search.
    </p>
</div>

<div class="govuk-grid-column-full">
<div class="gias-tabs-wrapper">
<div class="tab-wrap search-tabs">
    <ul class="gias-tabs">
        <li id="establishment-change-history" class="gias-tabs__list-item @Html.Conditional(Model.SelectedTab == ChangeHistoryViewModel.Tab.Establishments, "gias-tabs__list-item--selected")">
            @Html.RouteLink("Establishment change history", "ChangeHistoryCriteria", new {SelectedTab = SearchViewModel.Tab.Establishments}, new {@class = $"gias-tabs__tab estab"})
        </li>
        <li id="group-change-history" class="gias-tabs__list-item @Html.Conditional(Model.SelectedTab == ChangeHistoryViewModel.Tab.Groups, "gias-tabs__list-item--selected")">
            @Html.RouteLink("Group change history", "ChangeHistoryCriteria", new {SelectedTab = SearchViewModel.Tab.Groups}, new {@class = $"gias-tabs__tab group"})
        </li>
    </ul>
</div>

<div class="tab-content-wrapper gias-tabs-content">
@if (Model.SelectedTab == ChangeHistoryViewModel.Tab.Establishments)
{
    <div id="establishments" class="tab-content">
        <h2 class="govuk-heading-s">Search by:</h2>
        <ul class="search-type-list has-typeahead">
            <li class="search-type-wrapper">
                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                {
                    @Html.HiddenFor(m => m.SelectedTab, new { id="selected-tab2"} )
                    <fieldset class="govuk-fieldset search-toggle-panel">
                        <legend class="govuk-visually-hidden">Search by name or reference number</legend>
                        <div class="govuk-form-group  govuk-!-margin-bottom-3">
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    @Html.RadioButtonFor(m => m.SearchType, eSearchType.Text, new {id = "searchtype-name", @class = "govuk-radios__input", data_toggle_panel = "#searchby-name-ref"})
                                    <label for="searchtype-name" class="govuk-radios__label">
                                        Name or reference number
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-border-narrow @Html.ValidationGroupCssClass("TextSearchModel.Text")" id="searchby-name-ref">
                            @Html.ValidationMessageFor(x => x.TextSearchModel.Text, null, new { @class = "govuk-error-message" })
                            <label class="govuk-label" for="TextSearchModel_Text">
                                Enter name, <abbr title="Unique Reference Number">URN</abbr>, LAESTAB or UKPRN
                                <a href="#name-reference-help" class="help-icon modal-link">
                                    <span class="govuk-visually-hidden">Help with reference numbers</span>
                                    <dialog-hidden-prompt/>
                                </a>
                            </label>
                            <div class="govuk-form-group">
                                @Html.TextBoxFor(x => x.TextSearchModel.Text, new {@class = "govuk-input govuk-!-width-one-half", autocomplete = "off", data_suggestion_url = "/search/suggest?text=", aria_describedby = "name-reference-help"})
                            </div>
                            @Html.HiddenFor(x => x.TextSearchModel.AutoSuggestValue, new { id="estab-autosuggest-value"})
                            <div class="govuk-form-group govuk-!-margin-bottom-3">
                                <button type="submit" class="govuk-button search-button" id="name-search-submit">Search</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </li>

            <li aria-hidden="true">
                <p>or</p>
            </li>

            <li class="search-type-wrapper">
                @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                {
                    <fieldset class="govuk-fieldset search-toggle-panel">
                        <legend class="govuk-visually-hidden">Search all establishments</legend>
                        @Html.HiddenFor(m => m.SelectedTab, new { id="selected-tab3"} )
                        <div class="govuk-form-group">
                            <div class="govuk-radio" data-module="govuk-radio">
                                <div class="govuk-radios__item">
                                    @Html.RadioButtonFor(m => m.SearchType, eSearchType.EstablishmentAll, new {id = "searchtype-all", data_toggle_panel = "#searchby-all-ref", @class = "govuk-radios__input"})
                                    <label for="searchtype-all" class="govuk-radios__label">
                                        All establishments
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-border-narrow @Html.ValidationGroupCssClass("searchby-all-ref")" id="searchby-all-ref">
                            @if (Model.NoResultsForName && Model.SearchType.Equals(eSearchType.EstablishmentAll))
                            {
                                <span class="govuk-error-message">We could not find any establishments matching your search criteria</span>
                            }
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-visually-hidden">Select the change type</legend>
                                <div class="govuk-form-group govuk-!-padding-top-2">

                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            @Html.RadioButtonFor(m => m.DateFilterMode, ChangeHistoryViewModel.DATE_FILTER_MODE_APPLIED, new {id = "datefiltermode-applied", @class = "govuk-radios__input"})
                                            <label for="datefiltermode-applied" class="govuk-label govuk-radios__label">
                                                Applied: The date the change was proposed in GIAS
                                            </label>
                                        </div>

                                        <div class="govuk-radios__item">
                                            @Html.RadioButtonFor(m => m.DateFilterMode, ChangeHistoryViewModel.DATE_FILTER_MODE_APPROVED, new {id = "datefiltermode-approved", @class = "govuk-radios__input"})
                                            <label for="datefiltermode-approved" class="govuk-label govuk-radios__label">
                                                Approved: The date the change was approved
                                            </label>
                                        </div>

                                        <div class="govuk-radios__item">
                                            @Html.RadioButtonFor(m => m.DateFilterMode, ChangeHistoryViewModel.DATE_FILTER_MODE_EFFECTIVE, new {id = "datefiltermode-effective", @class = "govuk-radios__input"})
                                            <label for="datefiltermode-effective" class="govuk-label govuk-radios__label">
                                                Effective: The date the change occurred
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="govuk-grid-column-one-third">
                                <div class="date-group-wrap">
                                    @Html.EditorFor(x => x.DateFilterFrom, new {title = "From (optional)", fieldsetClassName = "edit-date-fieldset"})
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-third">
                                <div class="date-group-wrap">
                                    @Html.EditorFor(x => x.DateFilterTo, new {title = "To (optional)", fieldsetClassName = "edit-date-fieldset"})
                                </div>
                            </div>
                            <div class="govuk-clearfix"></div>
                            @Html.HiddenFor(x => x.TextSearchModel.AutoSuggestValue)
                            <div class="govuk-grid-column-full">
                                <div class="button-row">
                                    <button type="submit" class="govuk-button search-button" id="all-search-submit">Search</button>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                }
            </li>
        </ul>

    </div>
}
@if (Model.SelectedTab == ChangeHistoryViewModel.Tab.Groups)
{
    <div id="groups" class="tab-content">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-heading-s">Search by:</h2>
            </legend>
            <ul class="govuk-list search-type-list">
                <li class="search-type-wrapper">
                    @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                    {
                        @Html.HiddenFor(m => m.SelectedTab, new { id="selected-tab0"} )
                        <fieldset class="search-toggle-panel govuk-fieldset">
                             <div class="govuk-form-group  govuk-!-margin-bottom-3">
                                 <div class="govuk-radio" data-module="govuk-radio">
                                     <div class="govuk-radios__item">
                                         @Html.RadioButtonFor(m => m.SearchType, eSearchType.Group, new {id = "searchtype-name-group", data_toggle_panel = "#searchby-group-ref", @class = "govuk-radios__input"})
                                         <label for="searchtype-name-group" class="govuk-label govuk-radios__label ">
                                             Name or reference number
                                         </label>

                                     </div>
                                 </div>
                             </div>
                            <div class="panel panel-border-narrow @Html.ValidationGroupCssClass("GroupSearchModel.Text")" id="searchby-group-ref">
                                <div class="edubase-search-element with-typeahead has-typeahead" id="group-search-container">
                                    @Html.ValidationMessageFor(x => x.GroupSearchModel.Text, null , new { @class = "govuk-error-message" })
                                    <label class="govuk-label" for="GroupSearchModel_Text">
                                        Enter name, Companies House number, Group <abbr title="Unique Identifier">UID</abbr>, ID or UKPRN
                                        <a href="#group-reference" class="help-icon modal-link">
                                            <span class="govuk-visually-hidden">Help with reference numbers</span>
                                            <dialog-hidden-prompt />
                                        </a>
                                    </label>
                                    <div class="govuk-form-group">
                                        @Html.TextBoxFor(x => x.GroupSearchModel.Text, new {@class = "govuk-input govuk-!-width-one-half", autocomplete = "off", data_suggestion_url = "/Search/SuggestGroup?text=", aria_describedby = "group-reference"})
                                    </div>

                                    @Html.HiddenFor(x => x.GroupSearchModel.AutoSuggestValue)
                                    <div class="govuk-form-group  govuk-!-margin-bottom-3">
                                        <button type="submit" id="group-search-submit" class="govuk-button search-button">Search</button>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    }
                </li>

                <li aria-hidden="true">
                    <p>or</p>
                </li>

                <li class="search-type-wrapper">
                    @using (Html.BeginRouteForm("ChangeHistorySearch", FormMethod.Get))
                    {
                        @Html.HiddenFor(m => m.SelectedTab, new { id="selected-tab1"} )
                        <fieldset class="search-toggle-panel govuk-fieldset">
                            <div class="govuk-form-group">
                            <div class="govuk-radio" data-module="govuk-radio">
                                <div class="govuk-radios__item">
                                        @Html.RadioButtonFor(m => m.SearchType, eSearchType.GroupAll, new {id = "searchtype-all-groups", data_toggle_panel = "#searchby-allgroups-ref", @class = "govuk-radios__input"})
                                        <label for="searchtype-all-groups" class="govuk-label govuk-radios__label">
                                            All groups
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border-narrow govuk-clearfix" id="searchby-allgroups-ref">
                                <div class="govuk-grid-column-one-third">
                                    <div class="date-group-wrap">
                                        @Html.EditorFor(x => x.DateFilterFrom, new {title = "From (optional)", fieldsetClassName = "edit-date-fieldset"})
                                    </div>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <div class="date-group-wrap">
                                        @Html.EditorFor(x => x.DateFilterTo, new {title = "To (optional)", fieldsetClassName = "edit-date-fieldset"})
                                    </div>
                                </div>
                                <div class="govuk-grid-column-full">
                                    <div class="button-row">
                                        <button type="submit" id="all-group-submit" class="govuk-button search-button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </li>
            </ul>
        </fieldset>
    </div>
}
</div>
</div>
</div>
</div>


@{
    Html.RenderPartial("Partials/_Helptext");
}

@section ViewScripts
{
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("change-history-search.*.js"))"></script>

}
