@using Edubase.Web.UI.Helpers
@model dynamic
@{
    ViewBag.Title = Model.SCHNAME.ToString();
    ViewBag.PageClass = "school-details";
}

<h1 class="heading-large">@Model.SCHNAME <span class="urn">(URN: @Model.id)</span></h1>

<div class="column-full">
    <div class="grid-row summary">
        <details>
            <summary>
                <span class="summary">Show school details<span class="visuallyhidden"> Click to expand</span></span>
            </summary>
            <div class="panel-indent with-icons">
                <div class="column-half">
                    <div class="grid-row">
                        <ul class="school-details-list">
                            <li class="school-address"><strong>@SchoolDetailsHelpers.GetAddress(Model)</strong></li>
                            <li class="school-local-authority">Local authority: <strong>@Model.EDUB_LANAME</strong></li>
                            <li class="school-headteacher">Headteacher: <strong>@Model.EDUB_HEADTITLE @Model.EDUB_HEADFIRSTNAME @Model.EDUB_HEADLASTNAME</strong></li>
                        </ul>
                    </div>
                </div>

                <div class="column-half">
                    <div class="grid-row">
                        <ul class="school-details-list">
                            <li>Phase of education: <strong>@SchoolDetailsHelpers.GetPhasesOfEducation(Model)</strong></li>
                            <li>School type: <strong>@Model.EDUB_TYPEOFESTABLISHMENT</strong></li>
                            <li>Admissions policy: <strong>@Model.ADMPOL</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </details>
    </div>

    <div class="grid-row">
        <hr/>
        <div class="ofsted">
            <div class="column-quarter">
                <img src="/public/assets/images/ofsted-logo-x-small.jpeg" alt="Ofsted logo" />
            </div>
            <div class="column-three-quarters">
                <p class="ofsted-rating">@SchoolDetailsHelpers.GetOfstedRating(Model.OFSTED_INSPOUTCOME)</p>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <hr/>
        <div class="stats-left">
            <div class="column-quarter stats-icon pupils">
                <p class="main-stats-label">Pupils</p>
                <p class="main-stats-value">@Model.census.NOR</p>
            </div>
            <div class="column-quarter stats-icon ages">
                <p class="main-stats-label">Ages</p>
                <p class="main-stats-value">@Model.AGEL to @Model.AGEH</p>
            </div>
        </div>
        <div class="stats-right">
            <div class="column-quarter stats-icon gender-mixed">
                <p class="main-stats-label">Gender</p>
                <p class="main-stats-value">@Model.GENDER</p>
            </div>
            <div class="column-quarter stats-icon denom">
                <p class="main-stats-label">Denomination</p>
                <p class="main-stats-value">@Model.RELDENOM</p>
            </div>
        </div>
        <hr />
    </div>

    <div class="grid-row outer side-menu">
        <div class="column-quarter">
            <div class="grid-row">
                <div class="tab first">
                    Dashboard
                </div>
            </div>
            <div class="grid-row">
                <div class="tab">
                    School characteristics
                </div>
            </div>
            <div class="grid-row">
                <div class="tab">
                    Absence and exclusions
                </div>
            </div>
            <div class="grid-row">
                <div class="tab">
                    Key stage 4
                </div>
            </div>
            <div class="grid-row">
                <div class="tab">
                    Documents
                </div>
            </div>
            <div class="grid-row">
                <div class="tab last">
                    Useful info
                </div>
            </div>
        </div>
        <div class="column-three-quarters content-column">
            <div class="tab-content-wrapper">
                <div class="tab-content">
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row outer selector-menu">
        <div class="grid-row">
            <div class="column-full selector-menu-options">
                <select>
                    <option>Dashboard</option>
                    <option>School characteristics</option>
                    <option>Absence and exclusions</option>
                    <option>Key stage 4</option>
                    <option>Documents</option>
                    <option>Dashboard</option>
                    <option>Useful info</option>
                    <option>123</option>
                </select>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full content-column">
                <div class="tab-content-wrapper">
                    <div class="tab-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>