@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models
@using Edubase.Common
@using Edubase.Data.Entity
@using Edubase.Services.Enums
@model EstablishmentDetailViewModel
@{
    ViewBag.Title = Model.Establishment.Name;
    ViewBag.PageClass = "school-details";
    ViewBag.HideLogo = true;
}

@if (Model.ShowPendingMessage)
{
    <div class="pending-updates-message">
        <div class="tick"></div>
        Updates require approval. The Data Owner has been notified.
        <div class="cross" onclick="$(this).parent().hide();"></div>
    </div>
}
else if (Model.UserHasPendingApprovals)
{
    <div class="pending-updates-message">
        <div class="exclaim"></div>
        You have pending approvals awaiting for this school. @Html.ActionLink("Approve now.", "Index", "Approval", new { urn = Model.Establishment.Urn }, null)
        <div class="cross" onclick="$(this).parent().hide();"></div>
    </div>
}

@if (Model.PendingChanges.Any())
{
    <div class="pending-updates">
        <div class="icon" style="height:24px;">!</div>
        <h3>Data update@(Model.PendingChanges.Count > 1 ? "s" : "") pending Data Owner approval</h3>
        @foreach (var item in Model.PendingChanges)
        {
            <div class="group">
                <div>Data field: @item.DataField</div>
                <div>Old: @(item.OldValue.Clean() ?? "(nothing)")</div>
                <div>New: @(item.NewValue.Clean() ?? "(nothing)")</div>
            </div>
        }
    </div>
}

<h1 class="heading-large">@Html.PendingUpdateFor(x => x.Name) @Model.Establishment.Name</h1>
@if (Model.UserCanEdit)
{
    @Html.ActionLink("Edit", "Edit", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "button mobile-full-width" })
}

<div class="column-full">
    <div class="grid-row summary">
        <table class="borderless">
            <caption class="visually-hidden">@Model.Establishment.Name information</caption>
            <tr>
                <th scope="row">Address:</th>
                <td>@Model.Establishment.Address</td>
            </tr>
            <tr>
                <th scope="row">Local authority:</th>
                <td>
                    @Html.PendingUpdateFor(x => x.LocalAuthorityId)
                    @if (Model.Establishment.LocalAuthorityId.HasValue)
                    {
                        <a href="/Search/SearchByLaName?searchTerm=@Model.Establishment.LocalAuthority">
                            @Model.Establishment.LocalAuthority
                        </a> 
                        <text>(@Model.Establishment.LocalAuthorityId)</text>
                    }
                </td>
            </tr>

            @if (Model.DisplayProfile.HeadteacherDetails)
            {
                <tr>
                    <th scope="row">Headteacher/Principal:</th>
                    <td>
                        @(Html.PendingUpdatesFor("HeadTitleId", "HeadFirstName", "HeadLastName"))
                        @Model.Establishment.HeadTitle @Model.Establishment.HeadFirstName @Model.Establishment.HeadLastName
                    </td>
                </tr>
            }
            
            @if (Model.DisplayProfile.AgeRange)
            {
                <tr>
                    <th scope="col">Age range:</th>
                    <td>
                        @(Html.PendingUpdatesFor("StatutoryLowAge", "StatutoryHighAge"))
                        @if (Model.Establishment.StatutoryLowAge.HasValue && Model.Establishment.StatutoryHighAge.HasValue)
                        {
                            <text>@(Model.Establishment.StatutoryLowAge) to @(Model.Establishment.StatutoryHighAge)</text>
                        }
                    </td>
                </tr>
            }
            
            <tr>
                <th scope="row">Phase of education:</th>
                <td>
                    @(Html.PendingUpdatesFor(x=>x.EducationPhaseId))
                    @Model.Establishment.EducationPhase
                </td>
            </tr>
            
            <tr>
                <th scope="row">School type</th>
                <td>
                    @(Html.PendingUpdatesFor(x => x.TypeId))
                    @Model.Establishment.EstablishmentType
                </td>
            </tr>
            
            @if (Model.DisplayProfile.FurtherEducationType)
            {
                <tr>
                    <th scope="row">Further Education type:</th>
                    <td>
                        @Model.Establishment.FurtherEducationType
                    </td>
                </tr>
            }

            @if (Model.DisplayProfile.GroupDetails && Model.Group != null)
            {
                <tr>
                    <th scope="row">@(Model.GroupFieldLabel):</th>
                    <td>
                        @Html.ActionLink(Model.Group.Name, "Details", "Trust", new { id = Model.Group.GroupUID }, null)
                    </td>
                </tr>
            }

            @if (Model.DisplayProfile.GenderOfEntry)
            {
                <tr>
                    <th scope="row">Gender of entry:</th>
                    <td>
                        @(Html.PendingUpdatesFor(x => x.GenderId))
                        @Model.Establishment.Gender
                    </td>
                </tr>
            }

            <tr>
                <th scope="row">ID:</th>
                <td>
                    URN: @Model.Establishment.Urn, 
                    @if (Model.DisplayProfile.LAESTAB)
                    {
                        <text>DfE number: @Model.Establishment.LAESTAB<br /></text>
                    }
                    UKPRN: @Model.Establishment.UKPRN
                </td>
            </tr>

            <tr>
                <th scope="row">Establishment status:</th>
                <td>
                    @(Html.PendingUpdatesFor(x => x.StatusId))
                    @if (Model.IsClosed)
                    {
                        <span style="color:red;">@Model.Establishment.Status</span>
                    }
                    else
                    {
                        @Model.Establishment.Status
                    }
                </td>
            </tr>

            @if (Model.DisplayProfile.AdmissionsPolicy)
            {
                <tr>
                    <th scope="row">Admissions policy:</th>
                    <td>
                        @(Html.PendingUpdatesFor(x => x.AdmissionsPolicyId))
                        @Model.Establishment.AdmissionsPolicy
                    </td>
                </tr>
            }

            @if (Model.DisplayProfile.WebsiteAddress)
            {
                <tr>
                    <th scope="row">Website:</th>
                    <td>
                        <a href="@Model.Establishment.Contact.WebsiteAddress" target="_blank">@Model.Establishment.Contact.WebsiteAddress</a>
                    </td>
                </tr>
            }

             <tr><th scope="row">Telephone:</th><td>@Model.Establishment.Contact.TelephoneNumber</td></tr>
            
            @if (Model.DisplayProfile.OfstedRatingDetails)
            {
                <tr>
                    <th scope="row">Ofsted rating:</th>
                    <td>
                        @Model.Establishment.OfstedRating  
                        @if (Model.Establishment.OfstedInspectionDate.HasValue)
                        {
                            <span>(Last inspection: @(Model.Establishment.OfstedInspectionDate?.ToString("dd MMMM yyyy")))</span>
                        }
                        <br />
                        <a href="@Model.OfstedRatingReportUrl" target="_blank" rel="external">Ofsted report</a>
                    </td>
                </tr>
            }

            @if (Model.DisplayProfile.Inspectorate)
            {
                <tr><th scope="row">Inspectorate:</th><td>@Model.Establishment.Inspectorate</td></tr>
            }

            @if (Model.DisplayProfile.Proprietor)
            {
                <tr><th scope="row">Proprietor's name:</th><td>@Model.Establishment.ProprietorName</td></tr>
            }

        </table>

        <div class="map-container">
            <a href="#map" id="map-toggle" class="expanding-content-trigger map-toggle">Show map</a>
            <div id="map" class="school-detail-map"
                 data-latlng="[@(Model.Establishment.Location?.Longitude),@(Model.Establishment.Location?.Latitude)]"
                 data-school-name="@Model.Establishment.Name"
                 data-school-address="@Model.Establishment.Address"></div>
        </div>
    </div>

    <div class="grid-row horizontal-tabs-wrapper">
        <div class="tab-wrap">
            <ul class="horizontal-tabs">
                <li>
                    <a href="#school-dashboard" class="horizontal-tab">Details</a>
                </li>
                <li>
                    <a href="#school-contact" class="horizontal-tab">Contact</a>
                </li>
                <li>
                    <a href="#school-governance" class="horizontal-tab">Governance</a>
                </li>
                <li>
                    <a href="#school-links" class="horizontal-tab">Links</a>
                </li>
                @if (Model.DisplayProfile.LocationDetails)
                {
                    <li>
                        <a href="#school-location" class="horizontal-tab">Location</a>
                    </li>
                }@if (Model.ChangeHistory != null)
                {
                    <li>
                        <a href="#school-change-history" class="horizontal-tab">Changes</a>
                    </li>
                }
            </ul>
        </div>


        <div class="tab-content-wrapper horizontal-tabs-content">
            <div id="school-dashboard" class="tab-content">
                <table class="borderless">
                    <caption class="visually-hidden">@Model.Establishment.Name details</caption>
                    
                    @if (Model.DisplayProfile.ReligiousCharacter)
                    {
                        <tr>
                            <th scope="row">Religious character:</th>
                            <td>@Model.Establishment.ReligiousCharacter</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.Diocese)
                    {
                        <tr>
                            <th scope="row">Diocese:</th>
                            <td>@Model.Establishment.Diocese</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.ReligiousEhtos)
                    {
                        <tr>
                            <th scope="row">Religious ehtos:</th>
                            <td>@Model.Establishment.ReligiousEthos</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.BoardingProvision)
                    {
                        <tr>
                            <th scope="row">Boarders:</th>
                            <td>@Model.Establishment.ProvisionBoarding</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.BoardingProvision)
                    {
                        <tr>
                            <th scope="row">Nursery provision:</th>
                            <td>@Model.Establishment.ProvisionNursery</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.OfficialSixthFormProvision)
                    {
                        <tr>
                            <th scope="row">Official sixth form:</th>
                            <td>@Model.Establishment.ProvisionOfficialSixthForm</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.Capacity)
                    {
                        <tr>
                            <th scope="row">School capacity:</th>
                            <td>@Model.Establishment.Capacity</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.Section41Approved)
                    {
                        <tr>
                            <th scope="row">Section 41 approved:</th>
                            <td>@Model.Establishment.Section41Approved</td>
                        </tr>
                    }
                    
                    <tr>
                        <th scope="row">Open date / Reason:</th>
                        <td>
                            @(Model.Establishment.OpenDate?.ToString("dd/MM/yyyy") ?? "Not recorded")<br />
                            @Model.Establishment.ReasonEstablishmentOpened
                        </td>
                    </tr>

                    @if (Model.DisplayProfile.CloseDate)
                    {
                        <tr>
                            <th scope="row">Close date / Reason:</th>
                            <td>
                                @(Model.Establishment.CloseDate?.ToString("dd/MM/yyyy"))<br />
                                @Model.Establishment.ReasonEstablishmentClosed
                            </td>
                        </tr>
                    }


                    @if (Model.DisplayProfile.SpecialClasses)
                    {
                        <tr>
                            <th scope="row">Special classes:</th>
                            <td>@Model.Establishment.ProvisionSpecialClasses</td>
                        </tr>
                    }


                    @if (Model.DisplayProfile.SENStat)
                    {
                        <tr>
                            <th scope="row">Number of Special Pupils Under a SEN Statement/EHCP:</th>
                            <td>@Model.Establishment.SENStat</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.SENNoStat)
                    {
                        <tr>
                            <th scope="row">Number of Special Pupils Not Under a SEN Statement/EHCP:</th>
                            <td>@Model.Establishment.SENNoStat</td>
                        </tr>
                    }


                    @if (Model.DisplayProfile.MainEmailAddress)
                    {
                        <tr>
                            <th scope="row">Email:</th>
                            <td>@Model.Establishment.Contact.EmailAddress</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.AlternativeEmailAddress)
                    {
                        <tr>
                            <th scope="row">Email:</th>
                            <td>@Model.Establishment.ContactAlt.EmailAddress</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.LastChangedDate)
                    {
                        <tr>
                            <th scope="row">Last Change:</th>
                            <td>@(Model.Establishment.LastChangedDate?.ToString("dd/MM/yyyy"))</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.SENProvisions)
                    {
                        <tr>
                            <th scope="row">Type of SEN provision:</th>
                            <td>
                                @if (Model.Establishment.SEN1Id.HasValue)
                                {
                                    <text>@Model.Establishment.SEN1<br /></text>
                                }
                                @if (Model.Establishment.SEN2Id.HasValue)
                                {
                                    <text>@Model.Establishment.SEN2<br /></text>
                                }
                                @if (Model.Establishment.SEN3Id.HasValue)
                                {
                                    <text>@Model.Establishment.SEN3<br /></text>
                                }
                                @if (Model.Establishment.SEN4Id.HasValue)
                                {
                                    <text>@Model.Establishment.SEN4<br /></text>
                                }
                            </td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.TeenageMothers)
                    {
                        <tr>
                            <th scope="row">Teenage mothers:</th>
                            <td>@Model.Establishment.TeenageMothersProvision</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.TeenageMothersCapacity)
                    {
                        <tr>
                            <th scope="row">Teenage mothers places:</th>
                            <td>@Model.Establishment.TeenageMothersCapacity</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.ChildcareFacilities)
                    {
                        <tr>
                            <th scope="row">Childcare facilities:</th>
                            <td>@Model.Establishment.ChildcareFacilities</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.SENFacilities)
                    {
                        <tr>
                            <th scope="row">SEN facilities:</th>
                            <td>@Model.Establishment.PRUSEN</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.PupilsWithEBD)
                    {
                        <tr>
                            <th scope="row">Pupils with EBD:</th>
                            <td>@Model.Establishment.PRUEBD</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.PRUNumberOfPlaces)
                    {
                        <tr>
                            <th scope="row">Number of places:</th>
                            <td>@Model.Establishment.PlacesPRU</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.PRUFullTimeProvision)
                    {
                        <tr>
                            <th scope="row">Full time provision :</th>
                            <td>@Model.Establishment.PruFulltimeProvision</td>
                        </tr>
                    }


                    @if (Model.DisplayProfile.PRUPupilsEducatedByOthers)
                    {
                        <tr>
                            <th scope="row">Pupils educated by other providers:</th>
                            <td>@Model.Establishment.PruEducatedByOthers</td>
                        </tr>
                    }


                    @if (Model.DisplayProfile.TypeOfResourcedProvision)
                    {
                        <tr>
                            <th scope="row">Type of resourced provision:</th>
                            <td>@Model.Establishment.TypeOfResourcedProvision</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.ResourcedProvisionOnRoll)
                    {
                        <tr>
                            <th scope="row">Resourced provision number on roll:</th>
                            <td>@Model.Establishment.ResourcedProvisionOnRoll</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.ResourcedProvisionCapacity)
                    {
                        <tr>
                            <th scope="row">Resourced provision capacity:</th>
                            <td>@Model.Establishment.ResourcedProvisionCapacity</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.SenUnitOnRoll)
                    {
                        <tr>
                            <th scope="row">SEN Unit number on roll:</th>
                            <td>@Model.Establishment.SenUnitOnRoll</td>
                        </tr>
                    }
                    
                    @if (Model.DisplayProfile.SenUnitCapacity)
                    {
                        <tr>
                            <th scope="row">SEN Unit capacity:</th>
                            <td>@Model.Establishment.SenUnitCapacity</td>
                        </tr>
                    }


                    @if (Model.DisplayProfile.BSOInspectorate)
                    {
                        <tr>
                            <th scope="row">Inspectorate name:</th>
                            <td>@Model.Establishment.BSOInspectorate</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.BSOInspectorateReport)
                    {
                        <tr>
                            <th scope="row">Inspectorate report:</th>
                            <td>@Model.Establishment.BSOInspectorateReportUrl</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.BSODateOfLastInspectionVisit)
                    {
                        <tr>
                            <th scope="row">Date of Last Inspection Visit:</th>
                            <td>@(Model.Establishment.BSODateOfLastInspectionVisit?.ToString("dd/MM/yyyy"))</td>
                        </tr>
                    }

                    @if (Model.DisplayProfile.BSODateOfNextInspectionVisit)
                    {
                        <tr>
                            <th scope="row">Date of Next Inspection Visit:</th>
                            <td>@(Model.Establishment.BSODateOfNextInspectionVisit?.ToString("dd/MM/yyyy"))</td>
                        </tr>
                    }


                </table>

            </div>
            <div id="school-contact" class="tab-content">
                <table class="borderless">
                    <caption class="visually-hidden">Contact information for @Model.Establishment.Name</caption>
                    <tr>
                        <th scope="row">School website</th>
                        <td>@Model.Establishment.Contact.WebsiteAddress</td>
                    </tr>
                    <tr>
                        <th scope="row">Main email</th>
                        <td>@Model.Establishment.Contact.EmailAddress</td>
                    </tr>
                    <tr>
                        <th scope="row">Alternative email</th>
                        <td>@Model.Establishment.ContactAlt.EmailAddress</td>
                    </tr>
                    <tr>
                        <th scope="row">Telephone number</th>
                        <td>@Model.Establishment.Contact.TelephoneNumber</td>
                    </tr>
                </table>
            </div>
            <div id="school-governance" class="tab-content">

                @if (!Model.Governors.Any() && !Model.HistoricalGovernors.Any())
                {
                    <p>There is no governance information for this establishment</p>
                }
                else
                {
                    if (Model.Governors.Any())
                    {
                        @Html.Partial("_Governors", Model.Governors)
                        if (Model.HistoricalGovernors.Any())
                        {
                            <br />
                            <hr />
                            <br />
                        }
                    }

                    if (Model.HistoricalGovernors.Any())
                    {
                        <h3 class="bold-xsmall">Historic (left with past 12 months)</h3>
                        @Html.Partial("_Governors", Model.HistoricalGovernors)
                    }
                }

            </div>
            <div id="school-links" class="tab-content">
                    @if (Model.LinkedEstablishments.Length > 0)
                    {
                        <table class="estab-links mi">
                            <thead>
                                <tr>
                                    <th>URN</th>
                                    <th>Establishment name</th>
                                    <th>Type of link</th>
                                    <th>Date linked</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.LinkedEstablishments.Length; i++)
                                {
                                    var l = Model.LinkedEstablishments[i];
                                    <tr>
                                        <td>@Html.ActionLink(l.Urn.ToString(), "Details", new { id = l.Urn })</td>
                                        <td>@Html.ActionLink(l.Name, "Details", new { id = l.Urn })</td>
                                        <td>@l.Type</td>
                                        <td>@(l.LinkDate?.ToString("dd/MM/yyyy") ?? "None recorded")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    
                        <div class="mvo">
                            @for (int i = 0; i < Model.LinkedEstablishments.Length; i++)
                            {
                                var l = Model.LinkedEstablishments[i];
                                <table class="estab-links">
                                    <tbody>
                                        <tr>
                                            <th>URN</th>
                                            <td>@Html.ActionLink(l.Urn.ToString(), "Details", new { id = l.Urn })</td>
                                        </tr>
                                        <tr>
                                            <th>Establishment name</th>
                                            <td>@Html.ActionLink(l.Name, "Details", new { id = l.Urn })</td>
                                        </tr>
                                        <tr>
                                            <th>Type of link</th>
                                            <td>@l.Type</td>
                                        </tr>
                                        <tr>
                                            <th>Date linked</th>
                                            <td>@(l.LinkDate?.ToString("dd/MM/yyyy") ?? "None recorded")</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                            }
                        </div>
                    
                    }
                    else
                    {
                        <p>There are no linked establishments</p>
                    }
            </div>

            @if (Model.DisplayProfile.LocationDetails)
            {
                <div id="school-location" class="tab-content">
                    <table class="borderless">
                        <caption class="visually-hidden">Location information for @Model.Establishment.Name</caption>
                        <tr>
                            <th scope="row">RSC Region:</th>
                            <td>@Model.Establishment.RSCRegion</td>
                        </tr>
                        <tr>
                            <th scope="row">Government Office Region:</th>
                            <td>@Model.Establishment.GovernmentOfficeRegion</td>
                        </tr>
                        <tr>
                            <th scope="row">District:</th>
                            <td>@Model.Establishment.AdministrativeDistrict</td>
                        </tr>
                        <tr>
                            <th scope="row">Ward:</th>
                            <td>@Model.Establishment.AdministrativeWard</td>
                        </tr>
                        <tr>
                            <th scope="row">Parliamentary Constituency:</th>
                            <td>@Model.Establishment.ParliamentaryConstituency</td>
                        </tr>
                        <tr>
                            <th scope="row">Urban/Rural Description:</th>
                            <td>@Model.Establishment.UrbanRural</td>
                        </tr>
                        <tr>
                            <th scope="row">GSS LA Code:</th>
                            <td>@Model.Establishment.GSSLA</td>
                        </tr>
                        <tr>
                            <th scope="row">Easting:</th>
                            <td>@Model.Establishment.Easting</td>
                        </tr>
                        <tr>
                            <th scope="row">Northing:</th>
                            <td>@Model.Establishment.Northing</td>
                        </tr>
                        <tr>
                            <th scope="row">Census Ward: </th>
                            <td>@Model.Establishment.CASWard</td>
                        </tr>
                        <tr>
                            <th scope="row">Middle Super Output Area (MSOA): </th>
                            <td>@Model.Establishment.MSOA</td>
                        </tr>
                        <tr>
                            <th scope="row">Lower Super Output Area (LSOA):</th>
                            <td>@Model.Establishment.LSOA</td>
                        </tr>
                    </table>
                </div>
            }

            @if (Model.ChangeHistory != null)
            {
            <div id="school-change-history" class="tab-content approval-data">
                <h2 class="bold-small" style="margin-bottom:8px;">Change History</h2>
                @if (Model.ChangeHistory.Length == 0)
                {
                    <p>There are no change records available at the moment</p>
                }
                else
                {
                    <table class="approval-items">
                        <thead>
                            <tr>
                                <th>Updated field</th>
                                <th>Old value</th>
                                <th>New value</th>
                                <th>Date changed</th>
                                <th>Date requested</th>
                                <th>Suggested from</th>
                                <th>Approved by</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ChangeHistory)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.OldValue</td>
                                    <td>@item.NewValue</td>
                                    <td>@item.EffectiveDateUtc</td>
                                    <td>@item.RequestedDateUtc</td>
                                    <td>@item.OriginatorUserName</td>
                                    <td>@item.ApproverUserName</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <ul class="school-results-listing approval-items">
                        @foreach (var item in Model.ChangeHistory)
                        {
                            <li>
                                <dl>
                                    <dt>Updated field:</dt>
                                    <dd>@item.Name</dd>
                                    <dt>Old value:</dt>
                                    <dd>@item.OldValue</dd>
                                    <dt>New value:</dt>
                                    <dd>@item.NewValue</dd>
                                    <dt>Date changed:</dt>
                                    <dd>@item.EffectiveDateUtc</dd>
                                    <dt>Date requested:</dt>
                                    <dd>@item.RequestedDateUtc</dd>
                                    <dt>Suggested from:</dt>
                                    <dd>@item.OriginatorUserName</dd>
                                    <dt>Approved by:</dt>
                                    <dd>@item.ApproverUserName</dd>
                                </dl>
                            </li>
                        }
                    </ul>

                }

                

            </div>
            }
        </div>
    </div>

</div>
