@model Edubase.Web.UI.Models.MATSearchResultsViewModel
@{
    ViewBag.Title = string.Format("Search results for '{0}'", Model.SearchTerm);
    ViewBag.PageClass = "search-results";
    ViewBag.HideLogo = true;

    var resultCount = 0;

    if (Model.Results != null)
    {
        resultCount = Model.Results.Count;
    }
}


<div class="grid-row">
    <div class="column-two-thirds">
        @Html.ActionLink("Search for schools or colleges", "Index", null, new { @class = "home-link" })

        <h1 class="heading-xlarge">Search results</h1>
        <p>We found <span class="heading-xlarge">@resultCount</span> schools or colleges for the search term "@Model.SearchTerm"</p>
    </div>
</div>

<div class="grid-row">
    @if (Model.Error != null)
    {
        <h2 class="heading-medium">Error</h2>

        <p>@Model.Error</p>
    }
    else
    {
        <div class="column-two-thirds">
            <ul class="school-results-listing">
                @foreach (var result in Model.Results)
                {
                    <li>
                        <h2>@Html.ActionLink(result.GroupName, "Details", "MAT", new { id = result.GroupUID }, null)</h2>
                        <dl>
                            <dt>Type:</dt>
                            <dd>@result.GroupType</dd>
                            <dt>Companies House Number:</dt>
                            <dd>@result.CompaniesHouseNumber</dd>
                        </dl>
                    </li>
                }
            </ul>
        </div>
    }
</div>
