@using Edubase.Web.UI.Helpers

@model DownloadsViewModel
@{
    var downloadGroups = Model.GetFileDownloadGroups();
}
<span></span>
@if (Model.Downloads != null && Model.Downloads.Any())
{
    <p>Select the files you want to download then click 'Download selected files'.</p>
    <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Why can't I see the files I'm looking for?
            </span>
        </summary>
        <div class="govuk-details__text">
            <p>Some of the historical downloadable files may not be available for this date.</p>
            <p>This is normally for one of the following reasons:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>The files were not introduced until a later date</li>
                <li>A technical issue resulted in the files not being generated on this date</li>
                <li>The files were only available as public download and not specific scheduled extracts</li>
            </ul>
            <p>
                Please try again tomorrow or if the error continues, raise a
                <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-2b61dfcd-9296-4f6a-8a26-4671265cae67/AF-Stage-f3f5200e-e605-4a1b-ae6b-3536bc77305c/definition.json&redirectlink=/en&cancelRedirectLink=/en" target="_blank" rel="noreferrer noopener">
                    Service Request (opens in new tab)</a>.
            </p>
        </div>
    </details>

    <div class="govuk-details govuk-!-margin-bottom-4 js-show-block">
        <a href="#" class="govuk-!-margin-right-4" id="select-all" role="button">Select all</a>
        <a href="#" id="clear-all" role="button">Clear all</a>
    </div>

    using (Html.BeginRouteForm("CollateDownloads", FormMethod.Post))
    {
        var i = 0;
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Skip)
        @Html.HiddenFor(x => x.SearchType)
        @Html.Hidden($"{nameof(Model.FilterDate)}.Day", Model.FilterDate.Day)
        @Html.Hidden($"{nameof(Model.FilterDate)}.Month", Model.FilterDate.Month)
        @Html.Hidden($"{nameof(Model.FilterDate)}.Year", Model.FilterDate.Year)

        foreach (var group in downloadGroups)
        {
            <h2 id="@StringUtils.ElementIdFormat(group.Heading)-heading" class="govuk-heading-m">@group.Heading</h2>
            <p>@group.Paragraph</p>
            foreach (var item in group.SubSections)
            {
                <div class="govuk-form-group">
                    <h3 id="@StringUtils.ElementIdFormat(item.Heading)-heading" class="govuk-heading-s">@item.Heading</h3>
                    <div class="govuk-checkboxes">
                        @foreach (var file in item.Files)
                        {

                            var itemPrefix = $"{nameof(Model.Downloads)}[{i}].";
                            var checkboxName = $"{itemPrefix}{nameof(file.Item2.Selected)}";
                            var checkboxLabel = file.Item1 + @Html.Conditional(file.Item2.FileSizeInBytes > 0, ", " + Html.FileSizeInMegabytes(file.Item2.FileSizeInBytes));

                            <div class="govuk-checkboxes__item">
                                @Html.Hidden($"{itemPrefix}{nameof(file.Item2.Tag)}", file.Item2.Tag)
                                @Html.Hidden($"{itemPrefix}{nameof(file.Item2.FileGeneratedDate)}", file.Item2.FileGeneratedDate)
                                <input id="@StringUtils.ElementIdFormat(file.Item1.ToString())-checkbox" type="checkbox" name="@checkboxName" class="govuk-checkboxes__input" value="true"
                                       data-trackinglabel="@string.Concat(file.Item2.Tag,"|", file.Item2.FileGeneratedDate, "|", file.Item2.FileGeneratedDate < DateTime.Today)" />
                                <label id="@StringUtils.ElementIdFormat(file.Item1.ToString())-checkbox-label" for="@checkboxName" class="govuk-checkboxes__label govuk-body">@checkboxLabel</label>
                            </div>

                            i += 1;
                    }
                    </div>
                </div>
            }
        }
        <p>
            <input type="submit" id="download-selected-files-button" class="govuk-button" value="Download selected files" /><br />
        </p>
    }
}
else
{
    <h2 class="govuk-heading-m" id="no-downloads-available">No files available to download for @Model.FilterDate.ToString()</h2>
    <div>
        <p>There are no historical version for this date.</p>
        <p>This is normally for one of the following reasons:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>The service was not available due to maintenance</li>
            <li>A technical issue resulted in files not being generated on this date</li>
        </ul>
        <p>
            Please choose a different date to find the files you need.
        </p>
    </div>
}
