@using System.Web.UI.HtmlControls

@{
    ViewBag.bodyClasses = "create-edit-school school-details";
    ViewBag.hideLogo = true;
    ViewBag.Title = "4720 : create / edit School information";
}

@helper FormHint(
    String controlId,
    String hintText = "help with this field. <br>and more help - even more help could go here..."
    
    )
{
    <a class="help-icon" tab-index="0">?</a>
    <div class="help-text" id="help-@controlId">
        <p>Here is some thext that would assist a user with filling in the associated field:</p>
        <p>Lorem ipsum dolor sit amet, reque mollis ponderum vis et, no reprimique efficiantur accommodare 
        nec. Nec ad deleniti percipitur. Salutandi erroribus sea ex. At vidisse honestatis</p>
    </div>

}


<form action="#" method="post">

    <div class="column-full">
        <div class="grid-row">
            <button type="submit" class="button header-submit">Submit</button>
            <h1 class="heading-xlarge">Create a new school or college</h1>
            
            @Html.ValidationSummary()

            <table class="borderless">
                <colgroup>
                    <col style="width:40%"/>
                    <col style="width:60%"/>
                </colgroup>
                <caption class="visually-hidden">School information</caption>
                <tr>
                    <th scope="row">
                        <label for="school-name">School / College name</label>
                         @FormHint("school-name")
                    </th>
                    <td>
                        <div class="form-group">
                            <span class="error-message">An invalid school name was entered.</span>
                            <input type="text" id="school-name" class="form-control" aria-describedby="help-school-name">
                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="school-street">Street</label>
                        @FormHint("school-street")
                    </th>
                    <td>
                        <div class="form-group error">
                            <span class="error-message">An invalid street name was entered.</span>
                            <input type="text" id="school-street" class="form-control" aria-describedby="help-school-street" />
                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="school-locality">locality</label>
                        @FormHint("school-locality")
                    </th>
                    <td>
                        <div class="form-group error">
                            <span class="error-message">An invalid locality was entered. What kind of shenanigans is this?</span>
                            <input type="text" id="school-locality" class="form-control" aria-describedby="help-school-locality" />
                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="school-town">town</label>
                        @FormHint("school-town")
                    </th>
                    <td>
                        <div class="form-group">
                            <span class="error-message">An invalid town was entered.</span>
                            <input type="text" id="school-town" class="form-control" aria-describedby="help-school-town" />
                            
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                        <label for="school-type">School type</label>
                        @FormHint("school-type")
                    </th>
                    <td>
                        <div class="form-group">
                            <span class="error-message">Please select a valid option</span>
                            <select id="school-type" class="form-control">
                                <option>Academy converter</option>
                                <option>Academy </option>
                                <option>option 3 </option>
                                <option>option 4 </option>
                            </select>
                        </div>
                    </td>
                </tr>
                
            </table>
            <button type="submit" class="button mobile-full-width">Submit</button>
        </div>

        
    </div>
</form>