@{

    @helper DummyContent()
    {
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer velit purus, semper et placerat ut,
            bibendum id nulla. Fusce nec augue tristique metus volutpat mollis quis quis urna. Praesent elementum 
            dapibus ligula, at ultricies felis rutrum et. Sed suscipit est nec ligula pulvinar, vitae rutrum est vulputate.
            Curabitur pellentesque turpis porttitor laoreet sollicitudin. Aenean maximus rutrum nibh, eget gravida diam maximus at.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse metus mauris, 
            feugiat vel neque eu, faucibus ullamcorper massa. Morbi consequat, elit cursus malesuada consequat, odio turpis accumsan felis,
            eget hendrerit purus sem vitae nisi. Donec tellus lacus, tristique in urna non, molestie pretium purus. Donec varius, urna eget
            porta malesuada, diam quam dictum velit, et scelerisque risus libero id purus. In eget dignissim quam, eu molestie leo. 
            Sed in tellus ante. Duis suscipit felis id risus blandit blandit. In non sapien id turpis blandit vulputate vel a diam.
        </p>
        <p>
            Nunc consequat id purus quis imperdiet. Donec id convallis eros. Aenean quis orci ligula. Nunc ut magna bibendum est placerat
            dapibus et at leo. Ut eros justo, posuere eget metus non, mattis maximus risus. Nunc tempus posuere rutrum. Morbi quis magna quis
            eros cursus tincidunt a ut tortor. Phasellus pretium eu arcu a aliquam. Quisque lacus arcu, vestibulum sit amet turpis ut,
            vestibulum sollicitudin ligula.
        </p>
        <p>
            Donec eu est diam. Suspendisse ex nisi, malesuada eget erat sit amet, varius vulputate libero. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Sed fermentum non lorem a lacinia. Cras aliquam risus 
            non nisi tincidunt accumsan. Pellentesque ac lectus eget enim fermentum facilisis. Integer nec ullamcorper quam. Fusce non massa lacinia, 
            feugiat metus sit amet, egestas libero. Nullam ornare rutrum lorem, id mollis felis tempor eu. Fusce dapibus lobortis nisi.
        </p>
    }

    @helper TabBuilder (List<KeyValuePair<string, string>> tabs, string additionalClass= "", bool inPage = true)
    {
    <div class="horizontal-tabs-wrapper @additionalClass">
        <div class="tab-wrap">
            <ul class="horizontal-tabs">
                @foreach (var tab in tabs)
                {
                    <li>
                        <a class="horizontal-tab" href="@Html.Conditional(inPage, "#")@tab.Key">@tab.Value</a>
                    </li>
                }
            </ul>
        </div>
        <div class="tab-content-wrapper horizontal-tabs-content">
            @if (inPage)
            {
                foreach (var tab in tabs)
                {
                    <div id="@tab.Key" class="tab-content">
                        <h2 class="bold-medium">@tab.Value</h2>
                        @DummyContent()
                    </div>
                }
            }
            else
            {
                <div id="@tabs[0].Key" class="tab-content">
                    <h2 class="bold-medium">@tabs[0].Value</h2>
                    @DummyContent()
                </div>
            }
        </div>
    </div>

    }

    var inPageTabs3 = new List<KeyValuePair<string, string>>();

    inPageTabs3.Add(new KeyValuePair<string, string>("establishment", "Find an establishment"));
    inPageTabs3.Add(new KeyValuePair<string, string>("group", "Find an establishment group"));
    inPageTabs3.Add(new KeyValuePair<string, string>("governor", "Find an governor"));

    var inPageTabs6 = new List<KeyValuePair<string, string>>();

    inPageTabs6.Add(new KeyValuePair<string, string>("details", "Details"));
    inPageTabs6.Add(new KeyValuePair<string, string>("governance", "Governance"));
    inPageTabs6.Add(new KeyValuePair<string, string>("links", "Links"));
    inPageTabs6.Add(new KeyValuePair<string, string>("location", "Location"));
    inPageTabs6.Add(new KeyValuePair<string, string>("changes", "Changes"));
    //inPageTabs6.Add(new KeyValuePair<string, string>("helpdesk", "Helpdesk"));

    var inPageTabs4 = new List<KeyValuePair<string, string>>();

    inPageTabs4.Add(new KeyValuePair<string, string>("details0", "Details"));
    inPageTabs4.Add(new KeyValuePair<string, string>("governance0", "Governance"));
    inPageTabs4.Add(new KeyValuePair<string, string>("links0", "Links"));
    inPageTabs4.Add(new KeyValuePair<string, string>("location0", "Location"));


}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Tabs test page</h1>
    </div>
    <div class="column-full">
        <h2 class="heading-large">3 tab</h2>
        @TabBuilder(inPageTabs3, "search-tabs")
    </div>
    
    <div class="column-full">
        <h2 class="heading-large">4 tab</h2>
        @TabBuilder(inPageTabs4)
    </div>

    <div class="column-full">
        <h2 class="heading-large">6 tab</h2>
        @TabBuilder(inPageTabs6)
    </div>

   

</div>