@using Edubase.Web.UI.Models
@using Edubase.Common;
@using Edubase.Services.Enums
@model GroupSearchResultsModel
@{
    ViewBag.Title = string.Format("Search results for '{0}'", Model.SearchTerm);
    ViewBag.PageClass = "search-results";
    ViewBag.HideLogo = true;
}

<div class="grid-row">
    <div class="column-full">
        @Html.ActionLink("Back", "Index", null, new { @class = "home-link" })
        <h1 class="heading-xlarge">Search results</h1>
        <p>
            @if (Model.SearchTerm.IsInteger())
            {
                <text>We found <span class="heading-xlarge">@Model.Count</span> multi-academy trusts with Companies House Number '@Model.SearchTerm'.</text>
            }
            else
            {
                <text>
                    We found <span class="heading-xlarge">@Model.Count</span> multi-academy trusts
                    @if (!Model.SearchTerm.IsNullOrEmpty())
                    {
                        <text>matching "@Model.SearchTerm".</text>
                    }
               </text>
            }
            <a class="download-link" href="@Url.Action("PrepareDownload", "Search")?@Url.CurrentQueryString()">Download these search results</a>
        </p>
    </div>
</div>

<div class="grid-row">

    <div class="column-third">
        <div class="filter-form">

            <div id="EditSearchCollapsible"
                 class="button-as-link js-collapsible selected mbl js-track"
                 data-track="search-results||edit-search"
                 aria-controls="EditSearchCollapse"
                 role="button">
                <a class="help-toggle" href="/Search">Edit search</a>
            </div>

            <div id="EditSearchCollapse" aria-expanded="true">

                <div class="filter-divider"></div>
                <form method="get" action="@Url.Action("Results", "Search")">


                </form>
            </div>

        </div>
    </div>

    <div class="column-two-thirds" id="results-container">

        @{Html.RenderPartial("Partials/_GroupSearchResults");}

    </div>

</div>