
@{
    ViewBag.bodyClasses = "schools-search-page";
    ViewBag.hideLogo = true;
}

@helper SearchElement(
    string label,
    string hint,
    string componentId,
    string componentName,
    string placeholder = "")
{
    <li class="search-type-wrapper">
        <label>
            <input type="radio" id="@componentId" class="panel-toggle" />
            <span class="label-text">@label</span>
        </label>
        <div class="expanding-search-field">
            <span class="search-hint">@hint</span>
            <input type="text" class="form-control" placeholder="@placeholder" id="@componentId" name="@componentName" required>
            <button type="submit" class="button button-next">Search</button>
        </div>
    </li>
}


<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Search for schools and colleges</h1>
    </div>

    <div class="column-full">
        <fieldset class="search-types-accordion">
            <legend>Search by:</legend>
            @Html.ValidationSummary()

            <ul class="search-type-list">
                <li class="search-type-wrapper">
                    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
                    {
                        @SearchElement("School or college name",
                            "e.g. Aston Academy",
                            "searchTerm",
                            "searchTerm",
                            "Enter name")
                    }
                </li>
                <li class="search-type-wrapper">
                    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
                    {
                        @SearchElement("School or college URN",
                            "e.g. 100053",
                            "searchTerm",
                            "searchTerm",
                            "Enter URN")
                    }
                </li>
                <li class="search-type-wrapper">
                    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
                    {
                        @SearchElement("School or college LAESTAB",
                            "e.g. 8804116",
                            "searchTerm",
                            "searchTerm",
                            "Enter LAESTAB")
                    }
                </li>
                <li class="search-type-wrapper">
                    @using (Html.BeginForm("SearchByLaName", "Search", FormMethod.Get))
                    {
                        @SearchElement("Local Authority",
                            "e.g. Tameside or Gloucestershire",
                            "searchTermLaName",
                            "searchTerm",
                            "Enter a local authority name")
                    }
                </li>
                
                <li class="search-type-wrapper">
                    @using (Html.BeginForm("SearchByMATAS", "Search", FormMethod.Get))
                    {
                        @SearchElement("Search for a multi academy trust/single academy trust", 
                            "Enter name or companies house number",
                            "searchMAT",
                            "searchTerm",
                            "Enter name or companies house number")                      
                    }
                </li>
            </ul>
        </fieldset>
    </div>
</div>

