@using Edubase.Services.Domain;
@using Edubase.Services.Enums;
@using Edubase.Web.UI.Models.Search;
@using Edubase.Web.UI
@using Edubase.Web.UI.Areas.Establishments.Controllers
@using Edubase.Web.UI.Areas.Establishments.Models.Search
@using VM = Edubase.Web.UI.Models.Search.LocalAuthorityDisambiguationViewModel;
@model VM
@{
    ViewBag.bodyClasses = "schools-search-page search-page";
    ViewBag.hideLogo = true;
    ViewBag.siteSection = "search";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Search results for establishments</h1>

        <p><strong>@Model.MatchingLocalAuthorities.Count</strong> &nbsp;local authorit@(Model.MatchingLocalAuthorities.Count == 1 ? "y" : "ies") matching '<strong>@Model.SearchText</strong>'</p>

        @if (Model.MatchingLocalAuthorities.Count > 1)
        {
            <p><strong>Select the local authority you are interested in</strong></p>

            <ul id="search-localauthority-disambiguation-list" class="govuk-list">
                @foreach (var item in Model.MatchingLocalAuthorities)
                {
                    <li>@await Html.PartialAsync("_LocalAuthorityLink", (item, Model.OpenOnly, Model.SelectedLocalAuthorityIds))</li>

                }
            </ul>
            <a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = "Establishments", SearchType = eSearchType.ByLocalAuthority})" class="govuk-button govuk-button--secondary js-show-inline">Back to search</a>
            <a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = "Establishments"})" class="govuk-button govuk-button--secondary no-js-show-inline">Back to search</a>

        }
        else if (Model.MatchingLocalAuthorities.Count == 1)
        {
            <p>
                Did you mean
                @await Html.PartialAsync("_LocalAuthorityLink", (
                    Model.MatchingLocalAuthorities[0],
                    Model.OpenOnly,
                    Model.SelectedLocalAuthorityIds
                    )
                )?
            </p>

            <a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = "Establishments", SearchType = eSearchType.ByLocalAuthority})" class="govuk-button govuk-button--secondary js-show-inline">Back to search</a>
            <a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = "Establishments"})" class="govuk-button govuk-button--secondary no-js-show-inline">Back to search</a>
        }
        else
        {
            <p><strong>No results were found. Please refine your search criteria.</strong><br /></p>
            <a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = "Establishments", SearchType = eSearchType.ByLocalAuthority})" class="govuk-button govuk-button--secondary js-show-inline">Back to search</a>
            <a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = "Establishments"})" class="govuk-button govuk-button--secondary no-js-show-inline">Back to search</a>
        }
    </div>
</div>

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item"><a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = "Establishments", SearchType = eSearchType.ByLocalAuthority})" class="govuk-breadcrumbs__link">Search</a></li>
                </ol>
            </div>
        </div>
    </div>
}

