@using Edubase.Web.UI.Areas.Establishments.Models
@using Edubase.Web.UI.Helpers
@model BulkAssociateEstabs2GroupsViewModel

@{
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "Bulk upload academies to academy sponsors and/or academy trusts");
    ViewBag.SiteSection = "tools";
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}
@Html.Partial("_ValidationSummary", ViewData.ModelState)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Bulk upload academies to academy sponsors and<span class="govuk-visually-hidden">&nbsp;</span>/<span class="govuk-visually-hidden">&nbsp;</span>or academy trusts</h1>
        <p>Use this tool to upload new academies to the relevant trusts<span class="govuk-visually-hidden">&nbsp;</span>/<span class="govuk-visually-hidden">&nbsp;</span>sponsor.</p>
    </div>
    <div class="govuk-grid-column-full">
        @if (Model?.Result?.RowErrors > 0)
        {
            var uri = new Uri(Model.Result.ErrorLogFile.Url);
            var path = uri.GetLeftPart(UriPartial.Path);

            using (Html.BeginRouteForm("DownloadExtract", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("id", @Model.Result.Id)
                @Html.Hidden("path", path)

                <div class="govuk-form-group govuk-form-group--error" id="error-log">

                    @if (Model.Result.CompletedWithErrors())
                    {
                        <p class="govuk-error-message">@Model.Result.RowErrors rows encountered errors during import. Please download the error log to correct your data before resubmitting</p>
                    }
                    else
                    {
                        <p class="govuk-error-message">Please download the error log to correct your data before resubmitting</p>
                    }

                    <p>
                        <input type="submit" class="govuk-button" value="@Model.Result.ErrorLogFile.Name" /><br />
                    </p>
                </div>
            }
        }

    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Download template</h2>
        <p>
            Please use this template to list the academies.
        </p>
        <p>
            @Html.ActionLink("Academies_bulk_upload.xls, 25KB", "Container", "Home", new { area = "", file = "academies_bulk_upload.xls" }, new { @class = "download-list-item" })
        </p>

    </div>

    @using (Html.BeginRouteForm("BulkAssociateEstabs2GroupsPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m  govuk-!-padding-top-6">Submit completed template</h2>
            <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.BulkFile)">
                <label for="BulkFile" class="govuk-label">Upload a file</label>
                @Html.ValidationMessageFor(x => x.BulkFile, null, new { @class = "govuk-error-message" })
                @Html.TextBoxFor(x => x.BulkFile, new { type = "file", @class = "govuk-file-upload" })
            </div>
        </div>
        <div class="govuk-grid-column-full">
            <div class="button-row">
                <input type="submit" class="govuk-button" id="cancel-button" value="Submit" />
                @Html.ActionLink("Cancel", "Index", "Tools", new { area = "" }, new { @class = "govuk-button govuk-button--secondary cancel" })
            </div>
        </div>
    }
</div>
