@model EditAcademyOpeningViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @Html.Partial("_ValidationSummary", ViewData.ModelState)
        <h1 class="govuk-heading-xl">Manage academy openings</h1>
    </div>
    <div class="govuk-grid-column-full">
        <div class="tab-wrap" id="academy-opening-tab-wrap">
            <ul class="gias-tabs">
                <li class="gias-tabs__list-item">
                    @Html.ActionLink("Opening calendar",
                        "ManageAcademyOpenings",
                        "AcademyOpenings",
                        new {area = "Establishments"},
                        new {@class = "gias-tabs__tab"})
                </li>
                <li class="gias-tabs__list-item gias-tabs__list-item--selected">
                    <a href="#academy-search" class="gias-tabs__tab">Academy search</a>
                </li>
            </ul>
        </div>
    </div>
</div>
@using (Html.BeginForm("SearchAcademyOpenings", "AcademyOpenings", new {area = ""}, FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="govuk-grid-row" id="academy-search">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.Urn)">
                @Html.ValidationMessageFor(x => x.Urn, null, new {@class = "govuk-error-message"})
                @Html.LabelFor(x => x.Urn, "Unique Reference Number (URN)", new {@class = "govuk-label"})
                @Html.TextBoxFor(x => x.Urn, new {@class = "govuk-input govuk-input--width-20", Value = Model.Urn == 0 ? string.Empty : Model.Urn.ToString()})
                <input type="submit" value="Search URN" class="govuk-button inline-button">
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.IsSearching, new {Value = "true"})
}

@if (Model.EstablishmentName != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-s">Establishment found</h2>
            <div class="urn-result">
                <h3 class="govuk-heading-s">Opening date: @Model.OpenDate.ToString("d MMMM yyyy")</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <abbr title="Unique Reference Number">URN</abbr>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.ActionLink(Model.Urn.ToString(),
                                "Details",
                                "Establishment",
                                new {id = Model.Urn, area = "Establishments"},
                                new {@class = "govuk-link"})
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Establishment name</dt>
                        <dd class="govuk-summary-list__value">@Model.EstablishmentName</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Establishment type</dt>
                        <dd class="govuk-summary-list__value">@Model.EstablishmentType</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Predecessor <abbr title="Unique Reference Number">URN</abbr></dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.PredecessorUrn != null)
                            {
                                @Html.ActionLink(Model.PredecessorUrn.ToString(),
                                    "Details",
                                    "Establishment",
                                    new {id = Model.PredecessorUrn, area = "Establishments"},
                                    new {@class = "govuk-link"})
                            }
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Predecessor name</dt>
                        <dd class="govuk-summary-list__value">@Model.PredecessorName</dd>
                    </div>
                </dl>
                <div class="govuk-form-group">
                    @Html.ActionLink("Edit opening details",
                        "EditAcademyOpening",
                        "AcademyOpenings",
                        new {urn = Model.Urn, area = "Establishments"},
                        new {@class = "govuk-button"})
                </div>
            </div>
        </div>
    </div>
}
