@using Edubase.Web.UI.Models
@model DisplayGovernorsViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (Model.DomainModel.HasFullAccess || Model.GovernorPermissions.Update || Model.GovernorPermissions.Remove)
        {
            <!-- Current governors -->
            @foreach (var grid in Model.Grids)
            {
                if (grid.Rows.Any())
                {
                    @await Html.PartialAsync("_GovernorEditor", new GovernorEditorViewModel
                    {
                        Grid = grid,
                        Historic = false,
                        EditMode = Model.EditMode,
                        RemovalGid = Model.RemovalGid,
                        EstablishmentUrn = Model.EstablishmentUrn,
                        GroupUId = Model.GroupUId,
                        GovernorShared = Model.GovernorShared,
                        GovernorPermissions = Model.GovernorPermissions,
                        RemovalAppointmentEndDate = Model.RemovalAppointmentEndDate
                    })
                }
            }

            <!-- Historic governors (authenticated) -->
            @if (Model.HistoricGrids.Any(h => h.Rows.Any()))
            {
                <h2 class="govuk-heading-m" id="historic-governor-heading">Historic (left within last 12 months)</h2>
                <details class="govuk-details govuk-!-font-size-16 gias-details--noborder" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            <span class="gias-details-closed-text" id="historic-expand-details">More details</span>
                            <span class="gias-details-open-text" id="historic-collapse-details">Less details</span>
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        @foreach (var grid in Model.HistoricGrids)
                        {
                            if (grid.Rows.Any())
                            {
                                @await Html.PartialAsync("_GovernorEditor", new GovernorEditorViewModel
                                {
                                    Grid = grid,
                                    Historic = true,
                                    EditMode = Model.EditMode,
                                    RemovalGid = Model.RemovalGid,
                                    EstablishmentUrn = Model.EstablishmentUrn,
                                    GroupUId = Model.GroupUId,
                                    GovernorShared = Model.GovernorShared,
                                    GovernorPermissions = Model.GovernorPermissions,
                                    RemovalAppointmentEndDate = Model.RemovalAppointmentEndDate
                                })
                            }
                        }
                    </div>
                </details>
            }
        }
        else
        {
            <!-- Read-only mode -->
            @for (var index = 0; index < Model.Grids.Count; index++)
            {
                @Html.DisplayFor(m => m.Grids[index])
            }

            @if (User.Identity.IsAuthenticated)
            {
                if (Model.HistoricGrids.Any(h => h.Rows.Any()))
                {
                    <h2 class="govuk-heading-m">Historic (left within last 12 months)</h2>
                    <details class="govuk-details govuk-!-font-size-16 gias-details--noborder" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                <span class="gias-details-closed-text">More details</span>
                                <span class="gias-details-open-text">Less details</span>
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            @for (var index = 0; index < Model.HistoricGrids.Count; index++)
                            {
                                if (Model.HistoricGrids[index].Rows.Any())
                                {
                                    @Html.DisplayFor(m => m.HistoricGrids[index])
                                }
                            }
                        </div>
                    </details>
                }
            }
            else
            {
                if (Model.HistoricGovernors.Any())
                {
                    <h2 class="govuk-heading-m">Historic (left within last 12 months)</h2>
                    <details class="govuk-details govuk-!-font-size-16 gias-details--noborder" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                <span class="gias-details-closed-text">More details</span>
                                <span class="gias-details-open-text">Less details</span>
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <table class="govuk-table govuk-!-font-size-16 gias-table list-table sortable-table historical-governors">
                                <caption class="govuk-visually-hidden">Historical governance</caption>
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">
                                            <a href="#" class="js-sort-header" data-sort-key="name" data-sort-type="sortText">Name</a>
                                        </th>
                                        <th scope="col" class="govuk-table__header">
                                            <a href="#" class="js-sort-header" data-sort-key="gid" data-sort-type="sortText" id="gid-header">Governance role identifier (GID)</a>
                                        </th>
                                        <th scope="col" class="govuk-table__header">
                                            <a href="#" class="js-sort-header" data-sort-key="role" data-sort-type="sortText">Role</a>
                                        </th>
                                        <th scope="col" class="govuk-table__header">
                                            <a href="#" class="js-sort-header" data-sort-key="from" data-sort-type="sortDate">From</a>
                                        </th>
                                        <th scope="col" class="govuk-table__header">
                                            <a href="#" class="js-sort-header" data-sort-key="to" data-sort-type="sortDate">To</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var governor in Model.HistoricGovernors)
                                    {
                                        <tr class="govuk-table__row">
                                            <td data-label="Name" class="govuk-table__cell">@governor.FullName</td>
                                            <td data-label="GID" class="govuk-table__cell">@governor.GID</td>
                                            <td data-label="Role" class="govuk-table__cell">@governor.RoleName</td>
                                            <td data-label="From" class="govuk-table__cell">@(governor.AppointmentStartDate.ToDateTime()?.ToString("d MMMM yyyy"))</td>
                                            <td data-label="To" class="govuk-table__cell">@(governor.AppointmentEndDate.ToDateTime()?.ToString("d MMMM yyyy"))</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </details>
                }
            }
        }
    </div>
</div>
