@using Edubase.Services.Enums
@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Helpers.Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models
@model GovernorEditorViewModel

@functions {

    private static readonly string[] BannedTitles =
    {
        "Not applicable", "Not-applicable", "Not recorded"
    };

    private string CleanName(string fullName)
    {
        if (string.IsNullOrWhiteSpace(fullName)) return fullName;

        var match = BannedTitles.FirstOrDefault(x =>
            fullName.StartsWith(x, StringComparison.OrdinalIgnoreCase));

        return match == null
            ? fullName
            : fullName.Substring(match.Length).TrimStart();
    }
}

<div class="governor-list">
    @if (!Model.Historic)
    {
        <h2 class="govuk-heading-m" id="@StringUtils.ElementIdFormat(Model.Grid.Title + "-heading")">
            @Model.Grid.Title
        </h2>
    }

    @if (Model.Grid.Rows.Any())
    {
        foreach (var row in Model.Grid.Rows)
        {
            <div id="gov-id-@row.Model.Id"
                 class="governor-edit-panel govuk-!-margin-bottom-9 @Html.DuplicateCssClassFor(row.Model.Id)">

                <h3 class="govuk-heading-s govuk-!-margin-bottom-1"
                    id="@StringUtils.ElementIdFormat(Model.Grid.Title + "-name")">
                    @CleanName(row.Cells[0].Text)
                </h3>

                <dl class="govuk-summary-list govuk-!-margin-bottom-1">
                    @if (Model.Historic)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key"
                                id="@StringUtils.ElementIdFormat(Model.Grid.Title + "-key")">Role</dt>
                            <dd class="govuk-summary-list__value"
                                id="@StringUtils.ElementIdFormat(Model.Grid.Title + "-value")">@Model.Grid.RoleName</dd>
                        </div>
                    }

                    @foreach (var cell in row.Cells.Skip(1))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key"
                                id="@StringUtils.ElementIdFormat(Model.Grid.Title + "-" + cell.Parent.Text + "-key")">
                                @cell.Parent.Text
                            </dt>
                            <dd class="govuk-summary-list__value"
                                id="@StringUtils.ElementIdFormat(Model.Grid.Title + "-" + cell.Parent.Text + "-value")">
                                @(cell.Text ?? "Not recorded")
                            </dd>
                        </div>
                    }
                </dl>

                @if (Model.EditMode)
                {
                    if (Model.Grid.Tag == "current")
                    {
                        if (Model.RemovalGid != row.Model.Id)
                        {
                            <!-- Normal edit/replace/remove buttons. -->
                            <div class="button-row govuk-!-margin-bottom-9">
                                @* Edit person *@
                                @if (Model.GovernorPermissions.Update)
                                {
                                    if (Model.EstablishmentUrn.HasValue && row.Model.RoleId.HasValue && EnumSets.SharedGovernorRoles.Contains(row.Model.RoleId.Value))
                                    {
                                        @Html.RouteLink("Edit person", "EditSharedGovernor",
                                        new { establishmentUrn = Model.EstablishmentUrn, governorId = row.Model.Id },
                                        new { @class = "govuk-button govuk-button--secondary", @id = StringUtils.ElementIdFormat(Model.Grid.Title) + "-edit-person" })
                                        }
                                    else
                                    {
                                        @Html.RouteLink("Edit person",
                                        Model.EstablishmentUrn.HasValue ? "EstabEditGovernor" : "GroupEditGovernor",
                                        new { establishmentUrn = Model.EstablishmentUrn, groupUId = Model.GroupUId, gid = row.Model.Id },
                                        new { @class = "govuk-button govuk-button--secondary", @id = StringUtils.ElementIdFormat(Model.Grid.Title) + "-edit-person" })
                                        }
                                }

                                @* Replace/remove *@
                                @if (Model.GovernorPermissions.Remove)
                                {
                                    if (row.Model.RoleId != null
                                    && EnumSets.SingularGovernorRoles.Contains(row.Model.RoleId.Value)
                                    && !EnumSets.GovernanceProfessionalRoles.Contains(row.Model.RoleId.Value))
                                    {
                                        if (Model.EstablishmentUrn.HasValue &&
                                        (row.Model.RoleId.Value == (int)eLookupGovernorRole.Establishment_SharedChairOfLocalGoverningBody ||
                                        row.Model.RoleId.Value == (int)eLookupGovernorRole.ChairOfLocalGoverningBody))
                                        {
                                            @Html.RouteLink("Replace person", "EstabReplaceChair",
                                            new { establishmentUrn = Model.EstablishmentUrn, groupUId = Model.GroupUId, gid = row.Model.Id },
                                            new { @class = "govuk-button govuk-button--secondary", @id = "replace-person" })
                                            }
                                        else
                                        {
                                            @Html.RouteLink("Replace person",
                                            Model.EstablishmentUrn.HasValue ? "EstabReplaceGovernor" : "GroupReplaceGovernor",
                                            new { establishmentUrn = Model.EstablishmentUrn, groupUId = Model.GroupUId, gid = row.Model.Id },
                                            new { @class = "govuk-button govuk-button--secondary", @id = StringUtils.ElementIdFormat(Model.Grid.Title) + "-replace-person" })
                                            }
                                    }
                                    else
                                    {
                                        @Html.RouteLink("Remove person",
                                        Model.EstablishmentUrn.HasValue ? "EstabEditGovernance" : "GroupEditGovernance",
                                        null, null, "gid-" + row.Model.Id,
                                        new { establishmentUrn = Model.EstablishmentUrn, groupUId = Model.GroupUId, removalGid = row.Model.Id },
                                        new { @class = "govuk-button govuk-button--secondary", @id = StringUtils.ElementIdFormat(Model.Grid.Title) + "-remove-person" })
                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <!-- Removal mode form. -->
                            <div class="governor-edit-panel">
                                @using (Html.BeginRouteForm(Model.EstablishmentUrn.HasValue ? "EstabDeleteOrRetireGovernor" : "GroupDeleteOrRetireGovernor", FormMethod.Post, new { id = "removal-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(x => x.RemovalGid)
                                    @Html.HiddenFor(x => x.EstablishmentUrn)
                                    @Html.HiddenFor(x => x.GroupUId)
                                    @Html.HiddenFor(x => x.GovernorShared)

                                    if (!EnumSets.SharedGovernorRoles.Contains(row.Model.RoleId.Value) || Model.EstablishmentUrn.HasValue)
                                    {
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-visually-hidden">Do you wish to retire or remove this person?</legend>
                                            <div class="govuk-radios--conditional" data-module="govuk-radios">
                                                @FormHelpers.GiasRadio("1", "removal-mode", "This person has completed their term", null, new { data_aria_controls = "retire-governor-content", @checked = "checked", id = "retire-governor-radio" })
                                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="retire-governor-content">
                                                    <div class="govuk-form-group">
                                                        <p>Provide a date term ends to retire this person</p>
                                                        @Html.EditorFor(x => x.RemovalAppointmentEndDate, new { title = "Date term ends", fieldsetClassName = "edit-date-fieldset" })
                                                        <div class="button-row">
                                                            <button id="confirm-retire-governor-button" type="submit" name="action" value="Save" class="govuk-button">Save date and retire person</button>
                                                            @Html.RouteLink("Cancel", Model.EstablishmentUrn.HasValue ? "EstabEditGovernance" : "GroupEditGovernance",
                                                            new { establishmentUrn = Model.EstablishmentUrn, groupUId = Model.GroupUId },
                                                                new { @class = "govuk-button govuk-button--secondary" })
                                                        </div>
                                                    </div>
                                                </div>

                                                @FormHelpers.GiasRadio("2", "removal-mode", "Remove person", null, new { data_aria_controls = "remove-governor-content", id = "remove-governor-radio" })
                                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="remove-governor-content">
                                                    <div class="govuk-form-group">
                                                        <p>Confirm you wish to remove this person</p>
                                                        <div class="button-row">
                                                            <input type="submit" name="action" value="Remove" class="govuk-button" id="remove-button" />
                                                            @Html.RouteLink("Cancel", Model.EstablishmentUrn.HasValue ? "EstabEditGovernance" : "GroupEditGovernance",
                                                                                            new { establishmentUrn = Model.EstablishmentUrn, groupUId = Model.GroupUId },
                                                                                            new { @class = "govuk-button govuk-button--secondary", @id = "cancel-button" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    }
                                    else
                                    {
                                        <div class="remove-governor gias-panel-indent">
                                            <p>Confirm you wish to remove this person</p>
                                            <div class="button-row">
                                                <input id="remove-shared-governor" type="submit" name="action" value="Remove" class="govuk-button" />
                                                @Html.RouteLink("Cancel", Model.EstablishmentUrn.HasValue ? "EstabEditGovernance" : "GroupEditGovernance",
                                                new { establishmentUrn = Model.EstablishmentUrn, groupUId = Model.GroupUId },
                                                new { @class = "govuk-button govuk-button--secondary" })
                                            </div>
                                        </div>
                                    }           
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <!-- Historic governor branch. -->
                        @if (Model.GovernorPermissions.Update)
                        {
                            <div class="button-wrapper">
                                @if (Model.EstablishmentUrn.HasValue
                                            && ((eLookupGovernorRole)row.Model.RoleId == eLookupGovernorRole.Group_SharedLocalGovernor
                                            || (eLookupGovernorRole)row.Model.RoleId == eLookupGovernorRole.Group_SharedChairOfLocalGoverningBody))
                                {
                                    @Html.RouteLink("Edit person", "EditSharedGovernor",
                                    new { establishmentUrn = Model.EstablishmentUrn, governorId = row.Model.Id },
                                    new { @class = "govuk-button govuk-button--secondary" })
                                    }
                                else
                                {
                                    @Html.RouteLink("Edit person",
                                    Model.EstablishmentUrn.HasValue ? "EstabEditGovernor" : "GroupEditGovernor",
                                    new { establishmentUrn = Model.EstablishmentUrn, groupUId = Model.GroupUId, gid = row.Model.Id },
                                    new { @class = "govuk-button govuk-button--secondary" })
                                    }
                            </div>
                        }
                    }
                }
            </div>
        }
    }
    else
    {
        <p class="govuk-body-s">Not recorded</p>
    }
</div>
