@using Edubase.Services.Enums;
@using Edubase.Data.Entity;
@using Edubase.Web.UI.ValueConverters;
@model IEnumerable<Governor>
@{ 
    var conv = new Governor2StringValueConverter();
}

@RenderGovernors("Chair of Trustees", "Chairs of Trustees", eLookupGovernorRole.ChairOfTrustees, conv)
@RenderGovernors("Trustee", "Trustees", eLookupGovernorRole.Trustee, conv)
@RenderGovernors("Member", "Members", eLookupGovernorRole.Member, conv)
@RenderGovernors("Accounting Officer", "Accounting Officers", eLookupGovernorRole.AccountingOfficer, conv)
@RenderGovernors("Chief Financial Officer", "Chief Financial Officers", eLookupGovernorRole.ChiefFinancialOfficer, conv)
@RenderGovernors("Chair of Governors", "Chairs of Governors", eLookupGovernorRole.ChairOfGovernors, conv)
@RenderGovernors("Chair of Local Governing Body", "Chairs of Local Governing Body", eLookupGovernorRole.ChairOfLocalGoverningBody, conv)
@RenderGovernors("Governor", "Governors", eLookupGovernorRole.Governor, conv)
@RenderGovernors("Local Governor", "Local Governors", eLookupGovernorRole.LocalGovernor, conv)

@helper RenderGovernors(string labelSingular, string labelPlural, eLookupGovernorRole role, Governor2StringValueConverter conv)
{ 
    var items = Model.Where(x => x.RoleId == (int)role);
    if (items.Any())
    {
        <p class="bold-xsmall" style="margin-bottom:6px; margin-top:6px;">@(items.Count() == 1 ? labelSingular : labelPlural)</p>
        foreach (var item in items)
        {
            <p class="font-xsmall" style="margin-bottom:@(item==items.Last()?"15":"10")px;">
                @conv.Convert(item, User.Identity.IsAuthenticated)
            </p>
        }
    }
}


