@using Edubase.Services.Governors.Models;
@using Edubase.Services.Governors.DisplayPolicies;
@using Edubase.Services.Enums;
@model GovernorsGridViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.DomainModel.HasFullAccess)
        {
            // Render lists
            foreach (var grid in Model.Grids)
            {
                <div class="governor-list">
                    <h2 class="bold-xsmall">@grid.Title</h2>
                    @if (grid.Rows.Any())
                    {
                        foreach (var row in grid.Rows)
                        {
                            <h2 class="bold-xsmall">@row.Cells[0].Text</h2>
                            <dl>
                                @foreach (var cell in row.Cells.Skip(1))
                                {
                                    <dt>@cell.Parent.Text:</dt>
                                    <dd>@(cell.Text ?? "Not recorded")</dd>
                                }
                            </dl>
                        }
                    }
                    else
                    {
                        <p class="none">Not recorded</p>
                    }
                    <hr />
                </div>
            }
        }
        else
        {
            // Render tables
            foreach (var grid in Model.Grids)
            {
                <div class="governor-grid">
                    <h2 class="bold-small">@grid.Title</h2>
                    @if (grid.Rows.Any())
                    {
                        <table>
                            <thead>
                                <tr>
                                    @foreach (var column in grid.HeaderCells)
                                    {
                                        <th>@(column.Text ?? "Not recorded")</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in grid.Rows)
                        {
                                    <tr>
                                        @foreach (var cell in row.Cells)
                                        {
                                            <td>@(cell.Text ?? "Not recorded")</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="none">Not recorded</p>
                    }
                </div>
                <br />
            }
        }

    </div>
</div>

