@using Edubase.Services.Governors.Models;
@using Edubase.Services.Governors.DisplayPolicies;
@using Edubase.Services.Enums;
@model GovernorsGridViewModel

<div class="column-two-thirds">
    @if (Model.DomainModel.HasFullAccess)
    {
        // Render lists
        foreach (var grid in Model.Grids)
        {
            <div class="governor-list">
                <h2 class="bold-xsmall">@grid.Title</h2>
                @if (grid.Rows.Any())
                {
                    foreach (var row in grid.Rows)
                    {
                        <div style="float:none; clear:both; margin-top:10px;">&nbsp;</div>
                        <h2 class="bold-xsmall">@row.Cells[0].Text</h2>
                        <dl>
                            @foreach (var cell in row.Cells.Skip(1))
                            {
                                <dt>@cell.Parent.Text:</dt>
                                <dd>@(cell.Text ?? "Not recorded")</dd>
                            }
                        </dl>

                        if (Model.EditMode && grid.Tag == "historic")
                        {
                            <div style="float:none; clear:both;">
                                @Html.ActionLink("Edit", "AddEditGovernor",  new { id = Model.Id, gid = row.KeyOrId }, new { @class = "button button-grey cancel mobile-full-width" })
                                @Html.ActionLink("Remove", "RemoveGovernor", new { id = Model.Id, gid = row.KeyOrId }, new { @class = "button button-grey cancel mobile-full-width" })
                            </div>
                        }
                    }
                }
                else
                {
                    <p class="none">Not recorded</p>
                }
                <hr />
            </div>
        }
    }
    else
    {
        // Render tables
        foreach (var grid in Model.Grids)
        {
            <div class="governor-grid">
                <h2 class="bold-small">@grid.Title</h2>
                @if (grid.Rows.Any())
                {
                    <table>
                        <thead>
                            <tr>
                                @foreach (var column in grid.HeaderCells)
                                {
                                    <th>@(column.Text ?? "Not recorded")</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in grid.Rows)
                    {
                                <tr>
                                    @foreach (var cell in row.Cells)
                                    {
                                        <td>@(cell.Text ?? "Not recorded")</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="none">Not recorded</p>
                }
                <br />
            </div>
                
        }

            
        // Render mobile table/list combo
        foreach (var grid in Model.Grids)
        {
            <div class="governor-list mobile-view">
                <h2 class="bold-xsmall">@grid.Title</h2>
                @if (grid.Rows.Any())
                {
                    <table>
                        <tbody>
                            @foreach (var row in grid.Rows)
                            {
                                foreach (var cell in row.Cells)
                                {
                                    <tr>
                                        <td class="label">@cell.Parent.Text</td>
                                        <td class="@Html.Conditional(cell == row.Cells.First(), "name")">@(cell.Text ?? "Not recorded")</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="none">Not recorded</p>
                }
            </div>
        }

            
    }

</div>

