@using Edubase.Services.Domain;
@model ApprovalDto
@{
    ViewBag.Title = "Approve changes";
    ViewBag.PageClass = "search-results";
    ViewBag.HideLogo = true;
}

@if (ViewBag.UpdatedName != null)
{
    <div class="pending-updates-message">
        <div class="tick"></div>
        The update to @ViewBag.UpdatedName has been @(ViewBag.ActionName == "a" ? "accepted" : "rejected"). The editor has been notified via email.
        <div class="cross" onclick="$(this).parent().hide();"></div>
    </div>
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Items for approval</h1>
        <p>You have <span class="bold-large">@Model.Count</span> item@(Model.Count == 1 ? "":"s") that require@(Model.Count == 1 ? "s" : "") your approval
            @if(Model.EstablishmentName!= null)
            {
                <text>for the Establishment '<span class="bold-small">@Model.EstablishmentName</span>'</text>
            }
        </p>
    </div>

    <div class="column-full top-pagination">
        @Html.Partial("_ResultsPagination2", Model)
        <br />
    </div>

    <div class="column-full approval-data">

        <table class="approval-items">
            <thead>
                <tr>
                    <th><abbr title="Unique Reference Number">URN</abbr></th>
                    <th>Establishment name</th>
                    <th>Updated field</th>
                    <th>Old value</th>
                    <th>New value</th>
                    <th>Date changed</th>
                    <th>Suggested from</th>
                    <th colspan="2">Approve or Reject?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@Html.ActionLink(item.EstablishmentUrn.ToString(), "Details", "Establishment", new { id = item.EstablishmentUrn }, null)</td>
                        <td>@Html.ActionLink(item.EstablishmentName, "Details", "Establishment", new { id = item.EstablishmentUrn }, null)</td>
                        <td class="bb">@item.UpdatedFieldName</td>
                        <td>@item.OldValue</td>
                        <td>@item.NewValue</td>
                        <td>@item.DateOfChange</td>
                        <td class="bb">@item.OriginatorName</td>
                        <td>
                            @using (Html.BeginForm("Accept", "Approval", FormMethod.Post))
                            {
                                @Html.Hidden("skip", Model.Skip)
                                @Html.Hidden("take", Model.Take)
                                @Html.Hidden("id", item.Id)
                                @Html.Hidden("urn", Model.EstablishmentUrn)
                                <input type="submit" value="Approve" class="link-button" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Reject", "Approval", FormMethod.Post))
                            {
                                @Html.Hidden("skip", Model.Skip)
                                @Html.Hidden("take", Model.Take)
                                @Html.Hidden("id", item.Id)
                                @Html.Hidden("urn", Model.EstablishmentUrn)
                                <input type="button" value="Reject" class="link-button" onclick="$(this).next().show(); $(this).next().children(':first').focus(); $(this).hide()" />
                                <div style="display:none;">
                                    <input type="text" name="reason" placeholder="Reason" autocomplete="off" class="form-control" /><br />
                                    <input type="submit" value="Save" class="button" style="font-size:16px; margin-top:10px; " />
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        <ul class="school-results-listing approval-items">
            @foreach (var item in Model.Items)
            {
                <li>
                    <dl>
                        <dt><abbr title="Unique Reference Number">URN</abbr>:</dt>
                        <dd>@Html.ActionLink(item.EstablishmentUrn.ToString(), "Details", "Establishment", new { id = item.EstablishmentUrn }, null)</dd>
                        <dt>Establishment name:</dt>
                        <dd>@item.EstablishmentName</dd>
                        <dt>Updated field:</dt>
                        <dd>@item.UpdatedFieldName</dd>
                        <dt>Old value:</dt>
                        <dd>@item.OldValue</dd>
                        <dt>New value:</dt>
                        <dd>@item.NewValue</dd>
                        <dt>Date changed:</dt>
                        <dd>@item.DateOfChange</dd>
                        <dt>Suggested from:</dt>
                        <dd>@item.OriginatorName</dd>
                        <dt></dt>
                        <dd>
                            @using (Html.BeginForm("Accept", "Approval", FormMethod.Post))
                            {
                                @Html.Hidden("skip", Model.Skip)
                                @Html.Hidden("take", Model.Take)
                                @Html.Hidden("id", item.Id)
                                @Html.Hidden("urn", Model.EstablishmentUrn)
                                <input type="submit" value="Approve" class="link-button" />
                            }
                        </dd>
                    </dl>
                    <div>
                        @using (Html.BeginForm("Reject", "Approval", FormMethod.Post))
                        {
                            @Html.Hidden("skip", Model.Skip)
                            @Html.Hidden("take", Model.Take)
                            @Html.Hidden("id", item.Id)
                            @Html.Hidden("urn", Model.EstablishmentUrn)
                            <input type="button" value="Reject" class="link-button" onclick="$(this).next().show(); $(this).next().children(':first').focus(); $(this).hide()" />
                            <div class="form-group hidden">
                                <input type="text" name="reason" placeholder="Reason" autocomplete="off" class="form-control" style="margin:4px; width:90%" /><br />
                                <input type="submit" value="Save" class="button"  />
                            </div>
                        }
                    </div>

                    
                </li>
            }
        </ul>
        
    </div>

    <div class="column-full lower-pagination">
        <br />
        @Html.Partial("_ResultsPagination2", Model)
    </div>
</div>
