
@{
    ViewBag.Title = "Dashboard";
}
<br />
<h1 class="bold-large">Dashboard</h1>
@if(ViewBag.Message != null)
{
    <p style="color:red;">@ViewBag.Message</p>
}
<br />
<ul class="font-xsmall">
    <li>DB name: @ViewBag.DbName</li>
    <li>Smtp EndPoint Name: @ViewBag.SmtpEndPointName</li>
    <li>Redis Status: @ViewBag.RedisStatus</li>
    <li>Memory Cache Size: @ViewBag.MemoryCacheSize</li>
</ul>
<br />
<h2 class="bold-small">Redis Cache Report</h2>
<pre style="font-family:'Courier New'; font-size:16px;">
@Html.Raw(ViewBag.RedisReport)
</pre>
<br />
@using (Html.BeginForm("ClearCache", "Admin"))
{
    <input type="submit" value="Clear Redis Cache" onclick="return confirm('Are you sure you want to clear Redis cache?');" />
}
<br />
<h2 class="bold-xsmall">Cache warming status:</h2>
<ul>
    <li>Establishments warm up status: @ViewBag.EstabWarmUpStatus</li>
</ul>
@using (Html.BeginForm("WarmEstabRepo", "Admin"))
{
    <input type="submit" value="Warm Establishments cache" 
           onclick="return confirm('Are you sure you wish to warm up the Estab. cache? This will cause a high load within Redis reducing overall performance. Plus it takes several minutes.');" />
}




<br />
<hr />
<br />

<h2 class="font-medium">Azure Search</h2>
<br />
Index statuses / document counts:<br />
<ul class="font-xsmall">
    <li>Establishments: @ViewBag.AZSEstablishmentsStatus.Item1 / @ViewBag.AZSEstablishmentsStatus.Item2</li>
    <li>Groups: @ViewBag.AZSGroupsStatus.Item1 / @ViewBag.AZSGroupsStatus.Item2</li>
    <li>Governors: @ViewBag.AZSGovernorsStatus.Item1 / @ViewBag.AZSGovernorsStatus.Item2</li>
</ul>
<br />
@using (Html.BeginForm("ResetAzureSearch", "Admin"))
{
    <input type="submit" value="Reset Azure Search" onclick="return confirm('Are you sure? Depending on the size of the database, it may take several minutes before search functionality comes back online.');" />
}
