@using Edubase.Web.UI.Areas.Groups.Models
@using Edubase.Common;
@using Edubase.Services.Enums;
@using Edubase.Web.UI.Models.Search
@model GroupSearchViewModel
@{
    var startResult = @Model.StartIndex + 1;
    var endResult = (@Model.StartIndex + @Model.PageSize > @Model.Count) ? @Model.Count : @Model.StartIndex + @Model.PageSize;
}
@if (Model.Error != null)
{
    <p>There are no results for your search. Please change the filters to adjust your search, or go @Html.ActionLink("back to the search page", "Index", "Search", new { area = "", SelectedTab = SearchViewModel.Tab.Groups }, null) to start again.</p>
}
else if (Model.Results.Count > 0)
{

        <div class="top-pagination">
            @Html.Partial("_GenericPagination", Model, new ViewDataDictionary
            {
                {"resultsDescription", String.Concat("Showing ", @startResult, "-", @endResult, " of ", @Model.Count, " groups")},
                {"maxPages", 5 }
            })
        </div>

    <ul class="school-results-listing">
        @foreach (var result in Model.Results)
        {
        <li class="gias-result-tile">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">@Html.ActionLink(result.Name, "Details", "Group", new {id = result.GroupUId, area = "groups", searchQueryString = Model.SearchQueryString}, new {@class = "bold-small"})</h3>
            <dl>
                <dt>Type:</dt>
                <dd>@(Model.GroupTypes.FirstOrDefault(x => x.Id == result.GroupTypeId)?.Name)</dd>
                @if (result.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust))
                {
                    <dt>Companies House number:</dt>
                    <dd>
                        @if (result.CompaniesHouseNumber != null)
                        {
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["CompaniesHouseBaseUrl"]@result.CompaniesHouseNumber" target="_blank" rel="noopener noreferrer">
                                @result.CompaniesHouseNumber
                                <text>(opens in new tab)</text>
                            </a>
                        }
                    </dd>
                }
                <dt>Group <abbr title="Unique Identifier">UID</abbr>:</dt>
                <dd>@result.GroupUId</dd>
                <dt>Group ID:</dt>
                <dd>@(result.GroupId ?? "Not recorded")</dd>
            </dl>
        </li>
        }
    </ul>

    <div class="lower-pagination push--bottom">
        @Html.Partial("_GenericPagination", Model, new ViewDataDictionary
        {
            {"resultsDescription", String.Concat("Showing ", @startResult, "-", @endResult, " of ", @Model.Count, " groups")},
            {"maxPages", 5 }
        })
    </div>
    @helpers.BackToTopLink()
}
else
{
    <p>There are no results for your search. Please change the filters to adjust your search, or go @Html.ActionLink("back to the search page", "Index", "Search", new { area = "", SelectedTab = SearchViewModel.Tab.Groups }, null) to start again.</p>
}
