@using Edubase.Common
@using Edubase.Services.Enums
@using Microsoft.Ajax.Utilities
@model DownloadErrorViewModel
@{ ViewBag.bodyClasses = "schools-search-page search-page";
    ViewBag.hideLogo = true;

    var backLink = $"{Url.Action("Index", "Search", new { area = "" })}";
    var backAnchor = "";
    var backText = "search results";

    switch (Model.ReturnSource)
    {
        case eDownloadReturnSource.Downloads:
            backLink = $"{Url.Action("Index", "Downloads", new { area = "" })}";
            backText = "downloads page";
            break;

        case eDownloadReturnSource.Extracts:
            backLink = $"{Url.Action("Index", "Downloads", new { area = "" })}";
            backAnchor = "#scheduled-extracts";
            backText = "scheduled extract page";
            break;

        case eDownloadReturnSource.ChangeHistory:
            backLink = $"{Url.Action("Index", "ChangeHistory", new { area = "" })}";
            backText = "establishment and group change history";
            break;

        case eDownloadReturnSource.IndependentSchoolDates:
            backLink = $"{Url.Action("IndependentSchoolsSearch", "Tools", new { area = "" })}";
            backText = "independent schools' next significant action dates";
            break;
    }


    switch (Model.SearchSource)
    {
        case eLookupSearchSource.Governors:
            backLink = $"{Url.Action("Index", "GovernorSearch", new { area = "Governors" })}?{Model.SearchQueryString}";
            break;
        case eLookupSearchSource.Establishments:
            backLink = $"{Url.Action("Index", "EstablishmentsSearch", new { area = "Establishments" })}?{Model.SearchQueryString}";
            break;
        case eLookupSearchSource.Groups:
            backLink = $"{Url.Action("Index", "GroupSearch", new { area = "Groups" })}?{Model.SearchQueryString}";
            break;
        default:
            break;
    }
}

@section BreadCrumbs
{
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    </ol>
                </div>
            </div>
        </div>
    }
    else
    {
        if (Model.SearchSource == eLookupSearchSource.Governors)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new {area = "", SelectedTab = SearchViewModel.Tab.Governors}, new {@class = "govuk-breadcrumbs__link"})</li>
                            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "GovernorSearch", new {area = "Governors"})}?{Model.SearchQueryString}")>Search results</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
        else if (Model.SearchSource == eLookupSearchSource.Establishments)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new {area = "", SelectedTab = SearchViewModel.Tab.Establishments}, new {@class = "govuk-breadcrumbs__link"})</li>
                            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "EstablishmentsSearch", new {area = "Establishments"})}?{Model.SearchQueryString}")>Search results</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
        else if (Model.SearchSource == eLookupSearchSource.Groups)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new {area = "", SelectedTab = SearchViewModel.Tab.Groups}, new {@class = "govuk-breadcrumbs__link"})</li>
                            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "GroupSearch", new {area = "Groups"})}?{Model.SearchQueryString}")>Search results</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
    }
}

@if (Model.FriendlyMessage)
{
    <h1 class="govuk-heading-xl">Download Error</h1>
    <div class="govuk-body">
        <h3>@Model.ErrorType</h3>
        <p>@Model.ErrorMessage</p>
        <p>@Model.NextSteps</p>

        <details class="error-details">
            <summary>
                Technical details
            </summary>
            <textarea readonly rows="8" cols="88" style="width: 100%; height: 200px; white-space: pre-wrap;">
                @Model.ApiDetails
            </textarea>
        </details>
    </div>
}
else if (Model.NeedsRegenerating)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Something went wrong</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">The requested file is no longer available for download.</h2>
            <p class="govuk-body-s">Please <a href="@backLink@backAnchor">return to the @backText</a> and repeat your request.</p>
        </div>
    </div>
}
else
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Download error</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">The file you have requested no longer exists.</h2>
            <p>This may be due to the following factors:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Your file successfully downloaded, but the request was repeated. Please check your browser window.</li>
                <li>Your original download request was cancelled. If so, please <a href="@backLink@backAnchor">return to the @backText</a> and repeat your request.</li>
            </ul>
        </div>
    </div>
}

