@using Edubase.Services.Enums
@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models.Search
@using Microsoft.Ajax.Utilities
@model IDownloadGenerationProgressModel
@{ ViewBag.bodyClasses = "schools-search-page search-page";
    ViewBag.hideLogo = true; }

@section Head {
    <noscript>
        <meta http-equiv="refresh" content="2">
    </noscript>

    <meta name="robots" content="noindex,nofollow" />
}

@section BreadCrumbs
{
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-back-link" })
    }
    else
    {
        if (Model.SearchSource == eLookupSearchSource.Governors)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new { area = "", SelectedTab = SearchViewModel.Tab.Governors }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "GovernorSearch", new {area = "Governors"})}?{Model.SearchQueryString}")>Search results</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
        else if (Model.SearchSource == eLookupSearchSource.Establishments)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new {area = "", SelectedTab = SearchViewModel.Tab.Establishments}, new {@class = "govuk-breadcrumbs__link"})</li>
                            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "EstablishmentsSearch", new {area = "Establishments"})}?{Model.SearchQueryString}")>Search results</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
        else if (Model.SearchSource == eLookupSearchSource.Groups)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new {area = "", SelectedTab = SearchViewModel.Tab.Groups}, new {@class = "govuk-breadcrumbs__link"})</li>
                            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "GroupSearch", new {area = "Groups"})}?{Model.SearchQueryString}")>Search results</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Download data</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Download @Model.DownloadName search results</h2>


        @if (Model.TotalSteps.HasValue)
        {
            <p>@Model.Step of @Model.TotalSteps</p>
        }

        <p class="govuk-body">Preparing your requested data. Large files may take some time to download.</p>

    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div aria-live="polite" class="gias-wait-mask gias-wait-mask--inline">
            <p class="govuk-visually-hidden">Please wait</p>
            <css-spinner />
        </div>
    </div>
</div>


@section ViewScripts
{
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("polling.*.js"))"></script>
}
