@using Microsoft.AspNet.Identity
@{
    ViewBag.assetsPath = "/public/govuk_template/assets";

    var title = !string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Edubase";
    var documentTitle = string.Format("{0} - {1}", title, "GOV.UK");
}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@documentTitle</title>
    <meta name="google-site-verification" content="uRt7CAkfClOB8Jig6Pw2-DELUWuuyG2kYKip0UThxhg" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="@(ViewBag.assetsPath)/images/opengraph-image.png?0.12.0">
    <meta name="description" content="@(ViewBag.pageDescription)">

    <script type="text/javascript">
        (function () {
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var d = document, c = "appendChild", a = d.createElement("style");
                a[c](d.createTextNode("@@-ms-viewport{width:auto!important}"));
                d.getElementsByTagName("head")[0][c](a);
            }
        })();
    </script>

    <!--[if gt IE 8]><!-->
    <link href="@(ViewBag.assetsPath)/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="@(ViewBag.assetsPath)/stylesheets/govuk-template-ie6.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if IE 7]<link href="@(ViewBag.assetsPath)/stylesheets/govuk-template-ie7.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if IE 8]><link href="@(ViewBag.assetsPath)/stylesheets/govuk-template-ie8.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><![endif]-->

    <link href="@(ViewBag.assetsPath)/stylesheets/govuk-template-print.css?0.12.0" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
        (function () {
            if (window.opera) {
                return;
            }
            setTimeout(function() {
                var a = document,
                    g,
                    b = {
                        families: (g =["nta"]),urls: ["@(ViewBag.assetsPath)/stylesheets/fonts-ie8.css?0.12.0"]
                    },
                    c = "@(ViewBag.assetsPath)/javascripts/vendor/goog/webfont-debug.js?0.12.0",
                    d = "script",
                    e = a.createElement(d),
                    f = a.getElementsByTagName(d)[0],
                    h = g.length;
                WebFontConfig = { custom: b }, e.src = c, f.parentNode.insertBefore(e, f);
                for (; h = h - 1; a.documentElement.className += ' wf-' + g[h].replace(/\s/g, '').toLowerCase() + '-n4-loading');
            }, 0);
        })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="@(ViewBag.assetsPath)/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="@(ViewBag.assetsPath)/javascripts/ie.js?0.12.0" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="@(ViewBag.assetsPath)/images/favicon.ico?0.12.0" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@(ViewBag.assetsPath)/images/apple-touch-icon-152x152.png?0.12.0">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@(ViewBag.assetsPath)/images/apple-touch-icon-120x120.png?0.12.0">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@(ViewBag.assetsPath)/images/apple-touch-icon-76x76.png?0.12.0">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="@(ViewBag.assetsPath)/images/apple-touch-icon-60x60.png?0.12.0">

    @RenderSection("Head", required: false)
</head>
<body class="@(ViewBag.bodyClasses)">
    <div id="full-content">
        @if (!Request.Browser.Browser.Contains("MSIE 8"))
        {
            <script type="text/javascript">
                document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
                if (!('ontouchstart' in document.documentElement)) { document.body.className += ' no-touch'; }
            </script>
        }

        @RenderSection("bodyStart", required: false)

        <div id="skiplink-container">
            <div>
                <a href="#content" class="skiplink">Skip to main content</a>
            </div>
        </div>

        <div id="global-cookie-message">
            <div class="outer-block">
                <div class="inner-block">
                    @if (string.IsNullOrEmpty(ViewBag.cookieMessage) == false)
                    {
                        @(ViewBag.cookieMessage)
                    }
                    else
                    {
                        <p>
                            GOV.UK uses cookies to make the site simpler. <a href="/cookies">Find out more about cookies</a>
                        </p>
                    }
                </div>
            </div>
        </div>
        <!--end global-cookie-message-->

        <header role="banner" id="global-header" class="with-proposition">
            <div class="header-wrapper">
                <div class="header-global">
                    <div class="header-logo">
                        <a href="http://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                            <img src="/public/govuk_template/assets/images/gov.uk_logotype_crown.png?0.13.0" width="35" height="31" alt="" style="visibility:visible">
                            GOV.UK
                        </a>
                    </div>
                    @RenderSection("InsideHeader", required: false)
                </div>
                <div class="header-proposition">
                    <div class="content">
                        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
                        <nav id="proposition-menu">
                            <a href="/Home" id="proposition-name">Edubase</a>

                            <ul id="proposition-links">
                                <li><a href="/">Search</a></li>
                                <li><a href="/Downloads">Downloads</a></li>
                                @if (Request.IsAuthenticated)
                                {
                                    <li><a href="/Tools">Tools</a></li>
                                    <li>
                                        @Html.ActionLink("Log off", "LogOff", "Account", new { area = "", returnUrl = Request.Url.PathAndQuery }, null)
                                    </li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Log in", "LogIn", "Account", new { area = "", returnUrl = Request.Url.PathAndQuery }, null)</li>
                                }
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--end header-->

        @RenderSection("AfterHeader", required: false)

        <div id="global-header-bar">
            <div class="inner-block">
                <div class="header-bar"></div>
            </div>
        </div>
        <!--end global-header-bar-->

        <div class="side-width-wrapper">
            <div class="grid-row">
                <div class="column-full sign-out-container">
                    <div class="phase-banner">
                        @(Html.Partial("../govuk/partials/phase/beta"))
                    </div>
                    @*@if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Sign out", "LogOff", "Account", null, new { @class = "sign-out-link" })
                        }*@
                </div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="side-width-wrapper">
                <div class="grid-row">
                    <div class="column-full">

                    </div>
                </div>
            </div>
        }

        @RenderBody()

        <footer class="group js-footer" id="footer" role="contentinfo">
            <div class="footer-wrapper">
                <div class="footer-meta">
                    <div class="footer-meta-inner">
                        <h2 class="visuallyhidden">Support links</h2>
                        <ul>
                            <li><a href="https://form.education.gov.uk/fillform.php?self=1&form_id=cCCNJ1xSfBE&noLoginPrompt=1">Contact</a></li>
                            <li><a href="https://www.gov.uk/government/collections/school-performance-tables-about-the-data">Guidance</a></li>
                        </ul>

                        <div class="open-government-licence">
                            <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                            <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                        </div>
                    </div>
                    <div class="copyright">
                        <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
                    </div>
                </div>
            </div>
        </footer>
        <!--end footer-->

        <div id="global-app-error" class="app-error hidden"></div>
        <script src="@(ViewBag.assetsPath)/javascripts/govuk-template.js?0.13.0" type="text/javascript"></script>

        @RenderSection("BodyEnd", required: false)
    </div>
</body>

</html>