@model SearchForEstablishmentViewModel
@{
    Layout = "_EditLayoutPage.cshtml";
}

@using (Html.BeginRouteForm("EditEstabLinks_SearchForEstablishment", FormMethod.Get))
{
    <div class="tab-content">
        <div class="links-search">
            <div>
                <a class="button button-grey" href="@Url.RouteUrl("EditEstabLinks", new { id = Model.Urn })">Cancel</a>
            </div>

            <h2 class="bold-medium">Link to other establishment</h2>
            <br />
            <div class="column-half">
                <div class="form-group @Html.ValidationCssClassFor(x => x.SearchUrn)">
                    <label class="form-label">
                        Other establishments URN
                    </label>
                    @Html.ValidationMessageFor(x => x.SearchUrn)
                    @Html.TextBoxFor(x => x.SearchUrn, new { @class = "form-control urn-search" })
                    <button class="button inline-button" name="@SearchForEstablishmentViewModel.BIND_ALIAS_DOSEARCH" value="true">Find URN</button>
                </div>
            </div>
    
            <div class="button-row">
                <a class="button button-grey" href="@Url.RouteUrl("EditEstabLinks", new { id = Model.Urn })">Cancel</a>
            </div>
        </div>
    </div>
}