@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models
@using Edubase.Common
@using Edubase.Services.Enums
@using Edubase.Web.Resources
@using Microsoft.Ajax.Utilities
@model EstablishmentDetailViewModel
@{
    ViewBag.Title = Model.Establishment.Name;
    ViewBag.PageClass = "school-details";
    ViewBag.HideLogo = true;
}

<div class="breadcrumbs">
    @if (Model.SearchQueryString.IsNullOrWhiteSpace())
    {
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Search")</li>
            @if (Model.LegalParentGroup != null)
            {
                <li>@Html.ActionLink(Model.LegalParentGroup.Name, "Details", "Group", new { id = Model.LegalParentGroup.GroupUId, area = "Groups" }, null)</li>
            }
        </ul>
    }
    else
    {
        if (Model.SearchSource == eLookupSearchSource.Governors)
        {
            <a href=@($"{Url.Action("Index", "GovernorSearch", new {area = "Governors"})}?{Model.SearchQueryString}")>Back to search results</a>
        }
        else
        {
            <a href=@($"{Url.Action("Index", "EstablishmentsSearch", new {area = "Establishments"})}?{Model.SearchQueryString}")> Back to search results</a>
        }
    }
</div>

@if (Model.IsClosed)
{
    if (Model.Establishment.CloseDate != null)
    {
        <div class="grey-warning dismissable-message">
            <p>
                This establishment closed on @(Model.Establishment.CloseDate?.ToString("dd/MM/yyyy")).
                View details of <a href="#school-links" class="tab-manipulator">linked establishments</a>
            </p>
            <a class="cross" href="#"><span class="visuallyhidden">Dismiss this message</span></a>
        </div>
    }
    else
    {
        <div class="grey-warning dismissable-message">
            <p>
                This establishment is closed.
                View details of <a href="#school-links" class="tab-manipulator">linked establishments</a>
            </p>
            <a class="cross" href="#"><span class="visuallyhidden">Dismiss this message</span></a>
        </div>
    }
}

@if (ViewBag.ShowApproved)
{
    <div class="pending-updates-message dismissable-message ">
        <div class="tick"></div>
        Your changes have been approved
        <a class="cross" href="#"><span class="visually-hidden">Dismiss notification</span></a>
    </div>
}
<h1 class="heading-large">@(Model.Establishment.Name.Clean() ?? "(name not recorded)")</h1>
<p class="urn">URN: @Model.Establishment.Urn</p>
<p class="establishment-data-download">
    @Html.ActionLink("Download establishment data", "DownloadCsv", new { id = Model.Establishment.Urn, area = "" }, new {  })

</p>
<div class="column-full">
    <div class="grid-row horizontal-tabs-wrapper">
        <div class="tab-wrap">
            <ul class="horizontal-tabs">
                @if (Model.TabDisplayPolicy.Details)
                {
                    <li><a href="#school-dashboard" class="horizontal-tab">Details</a></li>
                }

                @if (Model.TabDisplayPolicy.IEBT)
                {
                    <li><a href="#school-iebt" class="horizontal-tab">IEBT</a></li>
                }

                @if (Model.TabDisplayPolicy.Governance)
                {
                    <li><a href="#school-governance" class="horizontal-tab">Governance</a></li>
                }

                @if (Model.TabDisplayPolicy.Links)
                {
                    <li><a href="#school-links" class="horizontal-tab">Links</a></li>
                }

                @if (Model.TabDisplayPolicy.Location)
                {
                    <li><a href="#school-location" class="horizontal-tab">Location</a></li>
                }

                @if (Model.ChangeHistory != null && Model.TabDisplayPolicy.ChangeHistory)
                {
                    <li><a href="#school-change-history" class="horizontal-tab">Changes</a></li>
                }

                @if (Model.TabDisplayPolicy.Helpdesk)
                {
                    <li><a href="#helpdesk" class="horizontal-tab">Helpdesk</a></li>
                }
            </ul>
        </div>
        <div class="tab-content-wrapper horizontal-tabs-content">
            @{
                if (Model.TabDisplayPolicy.Details)
                {
                    Html.RenderPartial(@"Partials\TabDetails");
                }

                if (Model.TabDisplayPolicy.IEBT)
                {
                    Html.RenderPartial(@"Partials\TabIEBT");
                }

                if (Model.TabDisplayPolicy.Governance)
                {
                    Html.RenderPartial(@"Partials\TabGovernance");
                }

                if (Model.TabDisplayPolicy.Links)
                {
                    Html.RenderPartial(@"Partials\TabLinks");
                }

                if (Model.TabDisplayPolicy.Location)
                {
                    Html.RenderPartial(@"Partials\TabLocation");
                }

                if (Model.ChangeHistory != null && Model.TabDisplayPolicy.ChangeHistory)
                {
                    Html.RenderPartial(@"Partials\TabChangeHistory");
                }

                if (Model.TabDisplayPolicy.Helpdesk)
                {
                    Html.RenderPartial(@"Partials\TabHelpdesk");
                }
            }
        </div>
    </div>
</div>

<div class="column-full helptext-container">
@*
    TODO update content for different user states - this is the text for public users
    https://docs.google.com/spreadsheets/d/1fGTT6u3F-CojGt6VqqGpQACju2zATgrCea_ycOzZLYc/edit#gid=1484693369
*@
    <div id="help-text-age-range">
        <h3 class="heading-small">Age range</h3>
        <p>@Model.AgeRangeToolTip</p>
        @if (!Model.AgeRangeToolTipLink.IsNullOrEmpty())
        {
            <p>Link: <a href="@Model.AgeRangeToolTipLink">@Model.AgeRangeToolTipLink</a></p>
        }
    </div>
    
    <div id="help-text-school-capacity">
        <h3 class="heading-small">School capacity</h3>
        <p>@Model.SchoolCapacityToolTip</p>
        @if (!Model.SchoolCapacityToolTipLink.IsNullOrEmpty())
        {
            <p>Link: <a href="@Model.SchoolCapacityToolTipLink">@Model.SchoolCapacityToolTipLink</a></p>
        }
    </div>

</div>
