@using Edubase.Services.Domain
@model IndSchoolsSearchViewModel


        @if (Model.HasResults)
            {


            <div class="top-pagination">
                @Html.Partial("_GenericPaginationV2", Model.Results)
            </div>


            <table class="edubase-table">
                <caption class="visuallyhidden">Independent schools search results</caption>
                <thead>
                    <tr>
                        <th scope="col">Establishment name</th>
                        <th scope="col">Local authority</th>
                        <th scope="col">Town</th>
                        <th scope="col">Establishment status</th>
                        <th scope="col">Establishment type</th>
                        <th scope="col">Date of action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Results.Items)
                    {
                        <tr>
                            <td data-label="Establishment name">@(Html.Field(item.Name))</td>
                            <td data-label="Local authority">@(Html.Field(Model.LocalAuthorities.FirstOrDefault(x => x.Id == item.LocalAuthorityId)))</td>
                            <td data-label="Town">@(Html.Field(item.Address_CityOrTown))</td>
                            <td data-label="Establishment status">@(Html.Field(Model.EstablishmentStatuses.FirstOrDefault(x => x.Id == item.StatusId)))</td>
                            <td data-label="Establishment type">@(Html.Field(Model.EstablishmentTypes.FirstOrDefault(x => x.Id == item.TypeId)))</td>
                            <td data-label="Date of action">
                                @Html.Conditional(Model.IsGeneralMode, Html.Field(item.NextGeneralActionRequired))
                                @Html.Conditional(Model.IsWelfareMode, Html.Field(item.NextActionRequiredByWEL))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="lower-pagination push--bottom">
                @Html.Partial("_GenericPaginationV2", Model.Results)
            </div>
            <a class="back-to-top-link" href="#full-content">
                <svg role="presentation" focusable="false" class="back-to-top-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                </svg>
                Back to top
            </a>

        }
        else
        {
            <p>Sorry, no results were found. Please expand your search criteria and search again.</p>
        }
