@using Edubase.Services.Domain
@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models.Tools
@model IndSchoolsSearchViewModel


        @if (Model.HasResults)
            {


            <div class="top-pagination">
                @Html.Partial("_GenericPaginationV2", Model.Results)
            </div>

            <span id='list-count' class="hidden">@Model.Results.Count</span>
            <table class="govuk-table gias-table independent-search-results">
                <caption class="govuk-visually-hidden">Independent schools search results</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Establishment name</th>
                        <th scope="col" class="govuk-table__header">Local authority</th>
                        <th scope="col" class="govuk-table__header">Town</th>
                        <th scope="col" class="govuk-table__header">Establishment status</th>
                        <th scope="col" class="govuk-table__header">Establishment type</th>
                        <th scope="col" class="govuk-table__header">Date of action</th>
                    </tr>
                </thead>
                <tbody  class="govuk-table__body">
                    @foreach (var item in Model.Results.Items)
                    {
                        <tr class="govuk-table__row">
                            <td data-label="Establishment name" class="govuk-table__cell">@(Html.Field(item.Name))</td>
                            <td data-label="Local authority" class="govuk-table__cell">@(Html.Field(Model.LocalAuthorities.FirstOrDefault(x => x.Id == item.LocalAuthorityId)))</td>
                            <td data-label="Town" class="govuk-table__cell">@(Html.Field(item.Address_CityOrTown))</td>
                            <td data-label="Establishment status" class="govuk-table__cell">@(Html.Field(Model.EstablishmentStatuses.FirstOrDefault(x => x.Id == item.StatusId)))</td>
                            <td data-label="Establishment type" class="govuk-table__cell">@(Html.Field(Model.EstablishmentTypes.FirstOrDefault(x => x.Id == item.TypeId)))</td>
                            <td data-label="Date of action" class="govuk-table__cell">
                                @Html.Conditional(Model.IsGeneralMode, Html.Field(item.NextGeneralActionRequired))
                                @Html.Conditional(Model.IsWelfareMode, Html.Field(item.NextActionRequiredByWEL))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="lower-pagination push--bottom">
                @Html.Partial("_GenericPaginationV2", Model.Results)
            </div>
            <back-to-top-link />
        }
        else
        {
            <p>There are no results for your search. Please change the filters to adjust your search, or go @Html.ActionLink("back to the search page", "IndependentSchoolsSearch", "Tools") to start again.</p>

        }
