@model dynamic
@{
    ViewBag.Title = "Get information about schools";
    ViewBag.bodyClasses = "tools-landing";
}

<div class="breadcrumbs">
    <ol>
        <li>@Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)</li>
        <li>API Session Recorder</li>
    </ol>
</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-intro">API Session Recorder</h1>
        <br />
    </div>
</div>

@using (Html.BeginRouteForm("PostApiSessionRecorder", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="grid-row">
        <div class="column-full">
            @if (ViewBag.SessionId != null)
            {
                <h1 class="bold-medium">You are currently recording API interactions</h1>
            }
            else
            {
                 <h1 class="bold-medium">You are not recording API interactions at the moment</h1>
            }
        </div>
    </div>

    <div class="grid-row">

        @if (ViewBag.SessionId != null)
        {
            <div class="column-full">
                <br />
                <p class="font-xsmall">Your current API Session ID is: <span style="display:inline-block; background-color:#f5f5f5; font-family:'Courier New'" class="">@ViewBag.SessionId</span> (please supply this with any bug report).</p>
                <p class="bold-xsmall">Stop recording?</p>
                <button type="submit" name="actionname" class="button" value="ok">Stop</button>
            </div>
        }
        else
        {
            <div class="column-full">
                <br />
                <p class="bold-xsmall">Start recording?</p>
                <button type="submit" name="actionname" class="button" value="ok">Start</button>
                <br />
                <br />
                <br />
                @if(ViewBag.LastSessionId != null)
                {
                    <p class="font-xsmall">Your last API Session ID was: <span style="display:inline-block; background-color:#f5f5f5; font-family:'Courier New'">@ViewBag.LastSessionId</span> (please supply this with any bug report).</p>
                }
            </div>
        }
    </div>

    <div class="grid-row">
        <div class="column-full font-xsmall" style="margin-top:20px;color:#aaa;">
            API Session Recording will stop automatically when you close the browser.  Please use a separate tab within the same browser to reproduce any bug, then file the report and attach the API Session ID.
        </div>
    </div>
}
