@{
    ViewBag.Title = "Bulk create new academies";
    ViewBag.bodyClasses = "bulk-academy-create";
}

<div class="breadcrumbs">
    <ul>
        <li>
            @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
        </li>
    </ul>
</div>


<div class="grid-row">
    <div class="column-full">
        @Html.Partial("_ValidationSummary", ViewData.ModelState)
    </div>
    <div class="column-full">
        <div class="grid-row">
            <div class="column-full">
                <h1 class="heading-xlarge">@ViewBag.Title</h1>
                <p>Create new academies from the predecessor school record</p>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-two-thirds">
                <h2 class="heading-small">Predecessor school:</h2>

                @using (Html.BeginForm("BulkAcademiesSearch", "Tools", FormMethod.Post))
                {
                <div class="form-group inline-with-button">
                    <label class="form-label" for="Urn">
                        Establishment <abbr title="Unique Reference Number">URN</abbr>
                    </label>
                    @Html.TextBox("Urn", null, new { @class = "form-control" })
                    <button type="submit" class="button inline-submit" id="find-urn">Search</button>
                </div>
                }

            </div>
        </div>
    </div>
</div>
