@using Edubase.Common;
@using Edubase.Web.UI.Controllers
@model BulkAcademiesViewModel

@{
    ViewBag.Title = "Bulk create new academies";
    ViewBag.Subtitle = "Set up a new academy from the predecessor establishment record by adding the predecessor URN into the field below and selecting search URN.";
    ViewBag.Subsection = "This process automatically closes records where applicable and creates predecessor and successor links between relevant establishments.";

    ViewBag.bodyClasses = "bulk-academy-create";
    ViewBag.SiteSection = "tools";

    if (Model?.FoundItem != null)
    {
        ViewBag.Title = "Enter new academy details";
        ViewBag.Subtitle = "Verify this is the correct establishment and enter the type and opening date.";
        ViewBag.Subsection = "";
    }

    if (Model?.FoundItem != null && Model?.ItemsToAdd?.Count(x => x.Urn == Model?.FoundItem?.Urn) > 0)
    {
        ViewBag.Title = "Edit details";
        ViewBag.Subtitle = "Verify this is the correct establishment and enter the type and opening date.";
        ViewBag.Subsection = "";
    }

    if (Model?.IsComplete == true)
    {
        ViewBag.Title = "Academies created";
        ViewBag.Subtitle = "The following new academies have been created. All predecessor record and links have been updated automatically";
        ViewBag.Subsection = "";
    }
    }

    @section BreadCrumbs
    {
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new { @class = "govuk-breadcrumbs__link" })</li>
            </ol>
        </div>
    </div>
</div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @Html.Partial("_ValidationSummary", ViewData.ModelState)
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <p>@ViewBag.Subtitle</p>
        @if (ViewBag.Subsection != "")
        {
            <p>@ViewBag.Subsection</p>
        }
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (Model?.ItemsToAdd?.Count() > 0)
    {
        for (int i = 0; i < Model.ItemsToAdd?.Count; i++)
        {
            @Html.HiddenFor(model => Model.ItemsToAdd[i].Urn)
            @Html.HiddenFor(model => Model.ItemsToAdd[i].Name)
            @Html.HiddenFor(model => Model.ItemsToAdd[i].Address)
            @Html.HiddenFor(model => Model.ItemsToAdd[i].OpeningDate)
            @Html.HiddenFor(model => Model.ItemsToAdd[i].EstablishmentTypeId)
        }
    }

    <!-- EDIT -->
    if (Model?.FoundItem != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-s">Predecessor establishment</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">School name</dt>
                        <dd class="govuk-summary-list__value">@Model.FoundItem.Name</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">@Model.FoundItem.Address</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><abbr title="Unique Reference Number">URN</abbr></dt>
                        <dd class="govuk-summary-list__value">@Model.FoundItem.Urn</dd>
                    </div>
                </dl>
                <div class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                    <button name="action" value="cancel" class="gias-link-button">Wrong establishment?</button>
                </div>

                @Html.HiddenFor(x => x.FoundItem.Urn)
                @Html.HiddenFor(x => x.FoundItem.Name)
                @Html.HiddenFor(x => x.FoundItem.Address)
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s govuk-!-padding-top-2 govuk-!-margin-bottom-1">Establishment details</h2>
                <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.FilteredItemTypes)">
                    <label class="govuk-label" for="FilteredItemTypes">Establishment type</label>
                    @Html.ValidationMessageFor(x => x.FilteredItemTypes, null, new { @class = "govuk-error-message"})
                    @Html.DropDownListFor(x => x.FoundItem.EstablishmentTypeId, Model.FilteredItemTypes, "Please select", new { @class = "govuk-select", @id = nameof(Model.FilteredItemTypes) })
                </div>

                @Html.EditorFor(x => x.FoundItem.OpeningDateView, new { title = "Opening date", fieldsetClassName = "edit-date-fieldset" })

                <div class="button-row">
                    <button type="submit" name="action" value="add" class="govuk-button gias-wait-mask-trigger" id="find-urn">@(ViewBag.ButtonText ?? "Add establishment")</button>
                    <button name="action" value="cancel" class="govuk-button govuk-button--secondary">Cancel</button>
                </div>
            </div>
        </div>
    }


    <!-- SEARCH -->
    if (Model?.FoundItem == null && Model?.IsComplete != true)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">Predecessor establishment</h2>
                <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.SearchUrn)">
                    <label class="govuk-label" for="SearchUrn">
                        Establishment <abbr title="Unique Reference Number">URN</abbr>
                    </label>
                    @Html.ValidationMessageFor(x => x.SearchUrn, null, new { @class = "govuk-error-message"})
                    @Html.TextBoxFor(x => x.SearchUrn, null, new { @class = "govuk-input govuk-!-width-one-half" })
                    <button type="submit" name="action" value="search" class="govuk-button links-estab-search-button gias-wait-mask-trigger" id="find-urn">Search URN</button>
                </div>
            </div>
        </div>
    }


    <!-- LIST -->
    if (Model?.ItemsToAdd?.Count() > 0 && Model?.FoundItem == null && Model?.IsComplete != true)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Academies to create</h2>

                @{
                    if (Model.ItemsToAdd.Count > 1)
                    {
                        <p class="table-caption">Showing 1 - @Model.ItemsToAdd.Count of @Model.ItemsToAdd.Count</p>
                    }
                }

                <table class="govuk-table gias-table">
                    <caption class="govuk-visually-hidden">Academies to create</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"><abbr title="Unique Reference Number">URN</abbr></th>
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Establishment type</th>
                            <th scope="col" class="govuk-table__header">Opening date</th>
                            <th scope="col" colspan="2" class="govuk-table__header"><span class="govuk-visually-hidden">Action links</span></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        @foreach (var est in Model.ItemsToAdd)
                        {
                            <tr class="govuk-table__row">
                                <td data-label="URN" class="govuk-table__cell">@est.Urn</td>
                                <td data-label="Name" class="govuk-table__cell">@est.Name</td>
                                <td data-label="Establishment type" class="govuk-table__cell">@Model.ItemTypes.FirstOrDefault(x => x.Value.Equals(est.EstablishmentTypeId.ToString(), StringComparison.InvariantCultureIgnoreCase)).Text</td>
                                <td data-label="Opening date" class="govuk-table__cell">@est.OpeningDateView.ToString()</td>
                                <td class="govuk-table__cell">
                                    <button name="editUrn" value="@est.Urn" class="gias-link-button gias-link-button-s gias-wait-mask-trigger" aria-label="Edit establishment">Edit</button>
                                </td>
                                <td class="govuk-table__cell">
                                    <button id="removeUrn" name="removeUrn" value="@est.Urn" class="remove-urn gias-link-button gias-link-button-s" aria-label="Remove establishment">Remove</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

                @{
                    if (Model.ItemsToAdd.Count > 1)
                    {
                        <p class="table-caption">Showing 1 - @Model.ItemsToAdd.Count of @Model.ItemsToAdd.Count</p>
                    }
                }

                <div class="button-row">
                    <button type="submit" name="action" value="create" id="go-create" class="govuk-button gias-wait-mask-trigger">Create academies</button>
                    @Html.ActionLink("Cancel", "Index", "Tools", null, new { @class = "govuk-button govuk-button--secondary cancel", data_module="govuk-button" })
                </div>
            </div>
        </div>
    }


    <!-- COMPLETE -->
    if (Model?.IsComplete == true)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table gias-table">
                    <caption class="govuk-visually-hidden">Academies created</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"><abbr title="Unique Reference Number">URN</abbr></th>
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Establishment type</th>
                            <th scope="col" class="govuk-table__header">Opening date</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        @foreach (var est in Model.ItemsToAdd)
                        {
                            <tr class="govuk-table__row">
                                <td data-label="URN" class="govuk-table__cell">
                                    @Html.ActionLink(est.ReplacedUrn.ToString(), "Details", "Establishment", new { id = est.ReplacedUrn, area = "Establishments" }, null)
                                </td>
                                <td data-label="Name" class="govuk-table__cell">
                                    @Html.ActionLink(est.Name, "Details", "Establishment", new { id = est.ReplacedUrn, area = "Establishments" }, null)
                                </td>
                                <td data-label="Establishment type" class="govuk-table__cell">@Model.ItemTypes.FirstOrDefault(x => x.Value.Equals(est.EstablishmentTypeId.ToString(), StringComparison.InvariantCultureIgnoreCase)).Text</td>
                                <td data-label="Opening date" class="govuk-table__cell">@est.OpeningDateView.ToString()</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    }
}

<div class="gias-wait-mask hidden" id="gias-content-mask">
    @helpers.CssSpinner()
    <span class="govuk-visually-hidden">Please wait.</span>
</div>
@section ViewScripts
{
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("bulk-academies.*.js"))"></script>

}
