@using Edubase.Services.Domain
@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models.Tools
@using Microsoft.AspNetCore.WebUtilities
@model IndSchoolsSearchViewModel
@{
    ViewBag.Title = "View independent schools' significant dates";
    ViewBag.bodyClasses = "search-results";
    ViewBag.SiteSection = "tools";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("View independent schools' significant dates","IndependentSchoolsSearch","Tools", new {area = ""},new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}


<div class="govuk-error-summary hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1" id="js-filter-error-summary">
    <h2 id="error-summary-title" class="govuk-error-summary__title">Incorrect or missing details</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li class="date-filter-error hidden">
                <a href="#date-filter">Please enter the date in the format DD/MM/YYYY</a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl gias-search-results--heading">
            @Html.Conditional(Model.IsGeneralMode, "Next general action required")
            @Html.Conditional(Model.IsWelfareMode, "Next action required by welfare")
        </h1>
        <div class="search-results-download-link-container @Html.Conditional(Model.Results.Count < 1, "hidden")">

            @{
                var queryParams = ViewContext.HttpContext.Request.Query;
                var queryString = QueryHelpers.AddQueryString("", queryParams.ToDictionary(kvp => kvp.Key, kvp => kvp.Value.ToString()));
                var downloadUrl = Url.RouteUrl("IndSchSearchResultsRequestDownload") + queryString;
            }

            <a class="search-results-download-link" id="search-results-download-link" href="@downloadUrl">
                Download these results
            </a>

        </div>
        <div class="gias-filter-toggle--container">
            <span class="gias-filter-toggle--icon">
                <filter-icon />
            </span>
            <a href="#gias-filter-container" role="button" id="gias-filter-toggle">Filters</a>
        </div>
    </div>
</div>


<div class="govuk-grid-row">
    @using (Html.BeginRouteForm("IndSchSearch", FormMethod.Get, new {id = "filter-form-ind"}))
    {
        <div id="gias-filter-container">
            <div class="filter-form" id="filter-form">
                <div class="govuk-grid-column-one-third govuk-!-padding-bottom-4" id="indi-filter-form">
                    <h2 class="govuk-visually-hidden">Search results filters</h2>
                    <a href="#results-container" class="govuk-visually-hidden-focusable">Skip filters</a>
                    <div class="change-history-filter-controls">
                        <a href="#" class="add-clear-filters" id="clear-filters" role="button">Clear all filters</a>
                    </div>
                    @Html.HiddenFor(m => m.Mode)

                    @Html.HiddenFor(m => Model.ActionName)

                    @await Html.PartialAsync(
                        "_Selector", (
                            "Local authority",
                            "d",
                            Model.LocalAuthorities.OrderBy(x => x.Name).ToList(),
                            Model.SelectedLocalAuthorityIds,
                            "has-save-set",
                            false
                         )
                    )

                    <p class="govuk-!-padding-top-4">
                        <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" href="#" id="set-saver">Save as set</a>
                    </p>
                    <div class="govuk-option-select js-collapsible date-filters no-scroll" data-closed-on-load="false" id="date-filter">
                        <div class="container-head js-container-head">
                            <div class="option-select-label">Date range</div>
                            <div class="js-selected-counter">
                                <span class="js-selected-counter-text">Date applied</span>
                            </div>
                        </div>

                        <a href="#" class="clear-selections filter-clear">Clear</a>
                        <div class="options-container" id="">
                            <div class="js-auto-height-inner">
                                @Html.EditorFor(x => x.MinDate, new {title = "From", inFilters = true, disableHint = true, fieldsetClassName = "search-from-date"})
                                @Html.EditorFor(x => x.MaxDate, new {title = "To", inFilters = true, disableHint = true, fieldsetClassName = "search-to-date"})

                                <div class="govuk-form-group">
                                    <a href="#" class="govuk-button govuk-button--secondary filter-button" data-module="govuk-button">Apply</a>
                                </div>
                            </div>
                            <filter-skip-link />
                        </div>
                    </div>
                    <div id="filter-additional-controls" class="filter-additional-controls">
                        <a href="#" class="add-clear-filters" id="clear-filters-additional" role="button">Clear all filters</a>
                    </div>

                    <div class="govuk-!-padding-top-4 no-js-show-block">
                        <input type="submit" value="Update" class="govuk-button edubase-filter-submit" id="filter-submit"/>
                    </div>

                </div>
            </div>
        </div>
    }

    <div class="govuk-grid-column-two-thirds" id="results-container">
        <div role="alert" aria-live="assertive" id="results-notification" class="govuk-visually-hidden"></div>
        <h2 class="govuk-visually-hidden">Search results listing</h2>
        @{Html.RenderPartial("_IndSchSearchResults");}
    </div>
</div>

@section ViewScripts
{
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("independent-schools-sig-search-results.*.js"))"></script>
}
