@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Helpers.Edubase.Web.UI.Helpers
@using VM = Edubase.Web.UI.Models.Tools.IndSchoolsSearchViewModel;
@model VM
@{
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "View independent schools' significant dates");
    ViewBag.bodyClasses = "create-edit";
    ViewBag.SiteSection = "tools";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}


@Html.Partial("_ValidationSummary", ViewData.ModelState)

<div class="independent-sigdates-search">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">View independent schools' next significant action dates</h1>
            <p>
                View independent schools' next general action required dates and next action required by welfare dates.
            </p>
            <p>
                Custom filters can be created and added (pre-defined sets) under the local authorities section, or a local authority can be manually added and searched for.
            </p>
        </div>
    </div>

    @using (Html.BeginRouteForm("IndSchSearch", FormMethod.Get, new { @class = "has-typeahead" }))
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m">Select the next option action you need to review, complete the remaining fields as required and select continue.</h3>
                <div class="govuk-form-group inline @Html.ValidationCssClassFor(x => x.Mode)">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-visually-hidden">Select the next option action you need to review, complete the remaining fields as required and select continue.</legend>
                        @Html.ValidationMessageFor(x => x.Mode, null, new { @class = "govuk-error-message" })
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                @Html.GiasRadioFor(x => x.Mode, VM.SpecifierDateOfActionGeneral, "Next general action required", null, new { @class = "govuk-radios__input"})
                            </div>
                            <div class="govuk-radios__item">
                                @Html.GiasRadioFor(x => x.Mode, VM.SpecifierDateOfActionWelfare, "Next action required by welfare", null, new { @class = "govuk-radios__input"})
                            </div>
                        </div>


                </fieldset>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4">
            <h2 class="govuk-heading-m">Local authorities</h2>
            <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.SelectedLocalAuthorityIds)">
                @Html.LabelFor(x => x.SelectedLocalAuthorityIds, "Select a predefined set or individually add local authorities", new { @class = "govuk-label", @for = "SelectedLocalAuthoritySetId" })
                @Html.DropDownListFor(x => x.SelectedLocalAuthoritySetId, Model.LocalAuthoritySetSelectList, "Custom", new { @class = "govuk-select govuk-input--width-20" })
                @Html.RouteLink("View predefined sets", "PredefinedLASets", null, new { @class = "inline-button predefined-sets" })
            </div>

            <div class="govuk-form-group">
                @Html.LabelFor(x => x.SelectedLocalAuthorityIds, "Add local authorities", new { @class = "govuk-visually-hidden", @for = "LocalAuthorityToAdd" })
                <div id="la-id-target" class="la-id-target independent-search-field-wrap">
                    @foreach (var id in Model.SelectedLocalAuthorityIds)
                    {
                        var la = Model.LocalAuthorities.SingleOrDefault(x => x.Id == id);
                        if(la != null)
                        {
                            <input value="@la.Name" type="hidden" class="user-selected-la" />
                            <button type="submit" class="link-button font-small remove-suggest-la" name="LocalAuthorityToRemove" data-remove="la-@id" value="@id">@la.Name</button>
                            <input type="hidden" name="@VM.BindAliasForSelectedLocalAuthorityIds" value="@id" id="la-@id">
                        }
                    }
                    <div class="floating-text-field-wrap ">
                        <input class="govuk-input govuk-input--width-20 floating-text-field" id="LocalAuthorityToAdd" autocomplete="off" />
                    </div>
                </div>
                <button class="gias-link-button gias-link-button-s hidden" name="@VM.BindAliasForActionName" value="@VM.ActionSaveSet" id="set-saver">Save as set</button>
            </div>
        </div>
            <div class="govuk-grid-column-three-quarters gias-padding-top-2-at-mobile">
                <h2 class="govuk-heading-m">Date range</h2>
            </div>
            <div class="govuk-form-group @Html.ValidationCssClass("date-range")">
                <div class="govuk-grid-column-full">
                    @Html.ValidationMessage("date-range")
                </div>
                <div class="govuk-grid-column-one-third">
                    @Html.EditorFor(x => x.MinDate, new {title = "From (optional)", fieldsetClassName = "edit-date-fieldset"})
                </div>

                <div class="govuk-grid-column-one-third gias-padding-top-4-at-mobile">
                    @Html.EditorFor(x => x.MaxDate, new {title = "To (optional)", fieldsetClassName = "edit-date-fieldset"})
                </div>

                <div class="govuk-grid-column-full">
                    <div class="button-row govuk-!-padding-top-8">
                        <button type="submit" id="continue-button" name="@VM.BindAliasForActionName" class="govuk-button" value="@VM.ActionSearch">Continue</button>
                        @Html.ActionLink("Cancel", "Index", "Tools", null, new {@class = "govuk-button govuk-button--secondary", data_module = "govuk-button"})
                    </div>
                </div>
            </div>
    </div>
    }

</div>

@section ViewScripts{
    <script nonce="@Html.ScriptNonce()">
        window.localAuthorities = @Html.Json(Model.LocalAuthorities);
        window.sets = @Html.Json(Model.LocalAuthoritySets);

    </script>
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("independent-schools-sig-search.*.js"))"></script>
}
