@model ToolsViewModel
@{
    ViewBag.Title = "Edubase";
    ViewBag.bodyClasses = "tools-landing";
}

<div class="breadcrumbs">
    <ul>
        <li>
            @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
        </li>
    </ul>

</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-intro">Tools</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">Create</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-half">
        <h3>
            @Html.ActionLink("Bulk create new academies", "BulkAcademies", "Tools")
        </h3>
        <p>
            Create records for multi-academy and single-academy
            trusts using information from
            companies house.
        </p>
    </div>

    <div class="column-half">
        <h3>
            @Html.ActionLink("Create new academy trust", "SearchCompaniesHouse", "Group", new { area = "Groups" }, null)
        </h3>
        <p>
            Set up a new record for your school trust.
        </p>
    </div>
    
    <div class="column-half">
        <h3>
            @Html.ActionLink("Create new children's centre group or collaboration", "CreateNewGroup", "Group", new { area = "Groups", type = "ChildrensCentre" }, null)
        </h3>
        <p>
            Create records for children's centre groups
            and children's centre collaborations for your
            local authority.
        </p>
    </div>
    
    <div class="column-half">
        <h3>
            @Html.RouteLink("Create a new establishment", "CreateEstablishment")
        </h3>
        <p>
            Set up a new establishment record.
        </p>
    </div>

    <div class="column-half">
        <h3>
            @Html.ActionLink("Create new federation", "CreateNewGroup", "Group", new { area = "Groups", type = "Federation" }, null)
        </h3>
        <p>
            Enter the federation's name and select its
            status and opening date.
        </p>
    </div>

    <div class="column-half">
        <h3>
            @Html.ActionLink("Create new school trust", "CreateNewGroup", "Group", new { area = "Groups", type = "Trust" }, null)
        </h3>
        <p>
            Enter the trust's name and select the opening
            date and status.
        </p>
    </div>
    
   

    <div class="column-half">
        <h3>
            @Html.ActionLink("Create new sponsor", "CreateNewGroup", "Group", new { area = "Groups", type = "Sponsor" }, null)
        </h3>
        <p>
            Enter the sponsor's name and select the open
            date and status.
        </p>
    </div>
    

    <div class="column-half">
        <h3>
            @Html.ActionLink(HttpUtility.HtmlDecode("Merge &amp; amalgamate establishments"), "MergersTool", "Tools")
        </h3>
        <p>
            Carry out mergers and amalgamations using
            this wizard.
        </p>
    </div>
</div>

<div class="grid-row">
    <div class="column-full section-break">
        <h2 class="heading-medium">Update</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-half">
        <h3>
            @Html.RouteLink("Bulk update establishments", "EstabBulkUpdate")
        </h3>
        <p>
            Update establishment data as a collection,
            rather than by individual entries.
        </p>
    </div>


    <div class="column-half">
        <h3>
            <a href="#">Bulk update governance</a>
        </h3>
        <p>
            Update your governance data as a collection,
            rather than by individual entries.
        </p>
    </div>
    
    <div class="column-half">
        <h3>
            <a href="#">Bulk update groups</a>
        </h3>
        <p>
            Update group data as a collection, rather than
            by individual entries.
        </p>
    </div>
</div>

<div class="grid-row">
    <div class="column-full section-break">
        <h2 class="heading-medium">Administration tools</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-half">
        <h3>
            @Html.ActionLink("Approvals", "ChangeApprovals", "Tools")
        </h3>
        <p>
            View your pending changes and approve or reject.
        </p>
    </div>
    
    <div class="column-half">
        <h3>
            @Html.ActionLink("Change history", "SearchChangeHistory", "Tools")
        </h3>
        <p>
            View changes in the data relating to
            establishments and groups.
        </p>
    </div>

    <div class="column-half">
        <h3>
            @Html.ActionLink("Manage academy openings", "ManageAcademyOpenings", "Tools")
        </h3>
        <p>
            View details of proposed-to-open academies.
            Edit academy names and opening dates.
        </p>
    </div>

</div>

