@{
    ViewBag.Title = "Edubase";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-intro">Tools</h1>
    </div>
</div>

<div class="grid-row">
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="column-half">

            @if (User.Identity.IsAuthenticated)
            {
                <h2 class="heading-medium">Create</h2>
                <ul>
                    <li>@Html.ActionLink("Create new school", "Create", "Establishment")</li>
                    <li>@Html.ActionLink("Create new Academy Trust", "SearchCompaniesHouse", "Group")</li><!-- TODO: UPDATE!! -->

                    <li>@Html.ActionLink("Create new children's centre group or collaboration", "CreateNewGroup", "Group", new { area = "Groups", type = "ChildrensCentre" }, null)</li>
                    <li>@Html.ActionLink("Create new federation", "CreateNewGroup", "Group", new { area = "Groups", type = "Federation" }, null)</li>
                    <li>@Html.ActionLink("Create new school trust", "CreateNewGroup", "Group", new { area = "Groups", type = "Trust" }, null)</li>
                </ul>
            }

        </div>
    }
</div>
