@{
    ViewBag.Title = "Edubase";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-intro">Tools</h1>
    </div>
</div>

<div class="grid-row">
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="column-half">

            <h2 class="heading-medium">Create</h2>
            <ul>
                <li>@Html.ActionLink("Create new School", "Create", "Establishment")</li>
                <li>@Html.ActionLink("Create new Academy Trust", "SearchCompaniesHouse", "Group", new { area = "Groups" }, null)</li>
                <li>@Html.ActionLink("Create new Children's Centre Group or Collaboration", "CreateNewGroup", "Group", new { area = "Groups", type = "ChildrensCentre" }, null)</li>
                <li>@Html.ActionLink("Create new Federation", "CreateNewGroup", "Group", new { area = "Groups", type = "Federation" }, null)</li>
                <li>@Html.ActionLink("Create new School Trust", "CreateNewGroup", "Group", new { area = "Groups", type = "Trust" }, null)</li>
            </ul>
            
        </div>
    }
</div>
