@using Edubase.Services.Domain
@model IndSchoolsSearchViewModel
@{
    ViewBag.Title = "View independent schools' significant dates";
    ViewBag.bodyClasses = "search-results";
}

<div class="grid-row">
    <div class="column-full results-heading">
        <div class="breadcrumbs">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
                </li>
                <li>@Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)</li>
                <li>
                    @Html.ActionLink("View independent schools' significant dates","IndependentSchoolsSearch","Tools")
                </li>
            </ul>
        </div>
        <h1 class="heading-xlarge">
            @Html.Conditional(Model.IsGeneralMode, "Next general action required")
            @Html.Conditional(Model.IsWelfareMode, "Next action required by welfare")
        </h1>
        @if (Model.Results.Count > 0)
        {
            <a class="download-link" href="@Url.RouteUrl("IndSchSearchResultsRequestDownload")?@Request.QueryString">Download these results</a>
        }
        
    </div>
</div>

<div class="grid-row">
<div class="column-third" id="indi-filter-form">
    @using (Html.BeginRouteForm("IndSchSearch", FormMethod.Get, new {id="filter-form-ind"}))
    {
        
        @*@Html.HiddenFor(m=>m.SelectedLocalAuthoritySetId)*@

        @Html.HiddenFor(m=>m.Mode)

        @Html.HiddenFor(m=>Model.ActionName)
        
        @Selector("Local authority", "d", Model.LocalAuthorities.OrderBy(x => x.Name).ToList(), Model.SelectedLocalAuthorityIds)


        <div class="govuk-option-select js-collapsible date-filters no-scroll" data-closed-on-load="false" id="date-filter">
            <div class="container-head js-container-head">
                <div class="option-select-label">Date range</div>
                <div class="js-selected-counter">
                    <span class="js-selected-counter-text">Date applied</span>
                </div>
            </div>
            <a href="#" class="clear-selections filter-clear">Clear</a>
            <div class="options-container" id="">
                <div class="js-auto-height-inner">
                    @Html.EditorFor(x => x.MinDate, new {title = "From", inFilters = true, disableHint = true })
                    @Html.EditorFor(x => x.MaxDate, new {title = "To", inFilters = true, disableHint = true })

                    <div class="form-group">
                        <a href="#" class="button button-grey filter-button">Apply</a>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Update" class="button edubase-filter-submit" id="filter-submit" />
    }
</div>

<div class="column-two-thirds" id="results-container">
@{Html.RenderPartial("_IndSchSearchResults");}

</div>
    
    
</div>



@helper Selector(string label, string name, IEnumerable<LookupDto> items, List<int> selectedItems, string additionalClassName = "", bool isExtraFilter = false)
{

    <div class="govuk-option-select js-collapsible @additionalClassName" data-closed-on-load="false"
         id="option-select-@label.ToLower().Replace(" ", "-").Replace("/","-")" data-bind-alias="@name">
        <div class="container-head js-container-head">
            <div class="option-select-label">@label</div>
            <div class="js-selected-counter">
                <span class="js-selected-counter-text"></span>

            </div>
        </div>
        <a href="#" class="clear-selections filter-clear">Clear</a>
        <div class="options-container" id="">
            <div class="js-auto-height-inner">
                <fieldset>
                    <legend class="visuallyhidden">Select an option below to filter the results- changing the selection will refresh the results</legend>
                    @foreach (var item in items)
                    {
                        <div class="filter-wrapper">
                            <input name="@name" value="@item.Id" id="@(name)_@item.Id" class="trigger-result-update filter-input" type="checkbox" @Html.Conditional(selectedItems.Contains(item.Id), "checked") />
                            <label for="@(name)_@item.Id" class="filter-radio">
                                @item
                            </label>
                        </div>
                    }
                </fieldset>
            </div>
        </div>
    </div>
}
    

@section ViewScripts
{
    <script src="/public/assets/scripts/standalone/indi-search.js"></script>
}
