@model ToolsViewModel
@{
    ViewBag.Title = "Edubase";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-intro">Tools</h1>
    </div>
</div>

<div class="grid-row">
    
        <div class="column-half">

            <h2 class="heading-medium">Create</h2>
            <ul>
                <li>@Html.ActionLink("Create new School", "Create", "Establishment")</li>
                
                @if (Model.UserCanCreateAcademyTrustGroup)
                {
                    <li>@Html.ActionLink("Create new Academy Trust", "SearchCompaniesHouse", "Group", new { area = "Groups" }, null)</li>
                }

                @if (Model.UserCanCreateChildrensCentreGroup)
                {
                    <li>@Html.ActionLink("Create new Children's Centre Group or Collaboration", "CreateNewGroup", "Group", new { area = "Groups", type = "ChildrensCentre" }, null)</li>
                }

                @if (Model.UserCanCreateFederationGroup)
                {
                    <li>@Html.ActionLink("Create new Federation", "CreateNewGroup", "Group", new { area = "Groups", type = "Federation" }, null)</li>
                }

                @if (Model.UserCanCreateSchoolTrustGroup)
                {
                    <li>@Html.ActionLink("Create new School Trust", "CreateNewGroup", "Group", new { area = "Groups", type = "Trust" }, null)</li>
                }

                <li><a href="Tools/BulkAcademies">Bulk create new academies</a></li>
            </ul>
            
        </div>
    
</div>
