@model ToolsViewModel
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.bodyClasses = "tools-landing";
    ViewBag.SiteSection = "tools";
    var creationActions = Model.GetCreateActions(Html);
    var updateActions = Model.GetUpdateActions(Html);
}

@section BreadCrumbs {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="tools-heading" class="govuk-heading-xl">Tools</h1>
    </div>
</div>

@RenderLinks("Create", creationActions)
@RenderLinks("Update", updateActions, creationActions.Any())
@RenderLinks("Administration", Model.GetAdminActions(Html), creationActions.Any() || updateActions.Any())

@helper RenderLinks(string label, List<ToolsViewModel.LinkAction> list, bool sectionBreak = false)
{
    if (list.Any())
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @if (sectionBreak)
                {
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0">
                }
                <h2 class="govuk-heading-m">@label</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            @{
                var gridClass = list.Count == 1 ? "govuk-grid-column-one-half" : "govuk-grid-column-full";

            }
            <div class="@gridClass">
                <ul class="govuk-list @Html.Conditional(list.Count > 1, "gias-columns-2")">
                    @for (int itemCounter = 0; itemCounter < list.Count; itemCounter++)
                    { 
                        <li>
                            <h3 class="govuk-heading-s">
                                <span id="tool-link-@label.ToLower()-@itemCounter">
                                    @Html.Raw(HttpUtility.HtmlDecode(list[itemCounter].Link.ToHtmlString()))
                                </span>
                            </h3>
                            <p class="@Html.Conditional(list.Count == 1, "govuk-!-padding-right-6")">
                                @Html.Raw(list[itemCounter].Description)
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </div>

    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @helpers.BackToTopLink()
    </div>
</div>
