@{
    ViewBag.Title = "Amalgamate or merge establishments";
    ViewBag.bodyClasses = "create-edit mergers";
    ViewBag.SiteSection = "tools";
    ViewBag.AdditionalDevWarning = "THIS PAGE HAS DIFFERENT BEHAVIOUR WITH JS DISABLED";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li id="tertiary-breadcrumb" class="govuk-breadcrumbs__list-item hidden">
                        @Html.ActionLink("Amalgamate or merge establishments", "MergersTool", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="no-js-show-block">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @Html.Partial("_ValidationSummary", ViewData.ModelState)
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Amalgamate or merge establishments</h1>
    </div>
</div>
@using (Html.BeginForm("SelectMergerType", "AmalgamateMerge", new {area = ""}, FormMethod.Post))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p>
                Carry out an amalgamation or a merger for required establishments.
            </p>
            <p>
                This process automatically closes records where applicable and creates predecessor and successor links between relevant establishments.
            </p>

            <fieldset class="merger-amalgamation govuk-fieldset govuk-!-margin-bottom-8">
                <legend class="govuk-body">Select the option below you wish to undertake and select continue</legend>
                <p>For information:</p>

                <p id="amalgamation-desc">
                    An amalgamation is when two or more establishments close and a new establishment is created and opened as a new legal entity.
                </p>
                <p id="merger-desc">
                    A merger is when two or more establishments merge and only one establishment remains open but is altered, for example enlarging
                    and<span class="govuk-visually-hidden">&nbsp;</span>/<span class="govuk-visually-hidden">&nbsp;</span>or extending the age range.
                    It retains its legal entity status.
                </p>


                <div class="govuk-form-group @Html.ValidationGroupCssClass("MergerType")">
                    @Html.ValidationMessage("MergerType", "Please select amalgamation or merger.", new { @class="govuk-error-message"})
                    @* <span v-show="mergerTypeError" class="govuk-error-message">Please select amalgamation or merger.</span> *@
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="radio-amalgamation-nojs" class="govuk-radios__input" type="radio" name="MergerType" value="Amalgamation" aria-describedby="amalgamation-desc">
                            <label for="radio-amalgamation-nojs" class="govuk-radios__label">
                                Amalgamation
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input id="radio-merger-nojs" class="govuk-radios__input" type="radio" name="MergerType" value="Merger" aria-describedby="merger-desc">
                            <label for="radio-merger-nojs" class="govuk-radios__label">
                                Merger
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-grid-column-full">
            <div class="button-row">
                <button type="submit" id="merger-amalgamation-continue-button" name="action" value="" class="govuk-button" v-on:click.prevent="checkMergeType">Continue</button>
                <button type="submit" id="cancel-button" name="action" value="" class="govuk-button govuk-button--secondary cancel" v-on:click.prevent="restart">Cancel</button>
            </div>
        </div>

    </div>
}
</div>
<div id="mergers-app" v-cloak>
<div v-show="!commitErrors && Object.keys(apiError).length> 0" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p>Please try again later.</p>

        <p class="api-error-code" v-show="apiError.hasOwnProperty('errorCode')">Error code: {{apiError.errorCode}}</p>
        <div v-show="apiError.hasOwnProperty('technicalDetails')">
            <code>
                {{apiError.technicalDetails}}
            </code>
        </div>
    </div>
</div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
    <div>
        <error-summary :error-title="errorTitle" :errors="errors"/>
    </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" id="page-heading" v-html="pageTitle"></h1>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <gias-wait-spinner v-bind:is-processing="isProcessing"/>
    </div>
</div>
<form>

@* Step 1 - Choosing Amalgamation or Merger *@
<div v-show="!mergerTypeConfirmed && !validMergeUrns">
    <div class="govuk-grid-column-two-thirds">
        <p>
            Carry out an amalgamation or a merger for required establishments.
        </p>
        <p>
            This process automatically closes records where applicable and creates predecessor and successor links between relevant establishments.
        </p>
            <fieldset class="merger-amalgamation govuk-fieldset govuk-!-margin-bottom-8">
                <legend class="govuk-body">Select the option below you wish to undertake and select continue.</legend>
                <p>For information:</p>

                <p id="amagamation-desc">
                    An amalgamation is when two or more establishments close and a new establishment is created and opened as a new legal entity.
                </p>
                <p id="merger-desc">
                    A merger is when two or more establishments merge and only one establishment remains open but is altered,
                    for example enlarging and<span class="govuk-visually-hidden"> </span>/<span class="govuk-visually-hidden"> </span>or extending the age range.  It retains its legal entity status.
                </p>
                <div v-bind:class="['govuk-form-group ', mergerTypeError ? 'govuk-form-group--error' : '']">
                    <span v-show="mergerTypeError" class="govuk-error-message">Please select amalgamation or merger.</span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="radio-amalgamation" class="govuk-radios__input" type="radio" name="radio-group" value="amalgamation" aria-describedby="amalgamation-desc" v-model="mergerType">
                            <label for="radio-amalgamation" class="govuk-radios__label">
                                Amalgamation
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input id="radio-merger" class="govuk-radios__input" type="radio" name="radio-group" value="merger" aria-describedby="merger-desc" v-model="mergerType">
                            <label for="radio-merger" class="govuk-radios__label">
                                Merger
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
    </div>
    <div class="govuk-grid-column-full">
        <div class="button-row">
            <button type="submit" id="amalgamtion-merger-continue-button" name="action" value="" class="govuk-button" v-on:click.prevent="checkMergeType">Continue</button>
            <button type="submit" id="cancel-button" name="action" value="" class="govuk-button govuk-button--secondary cancel" v-on:click.prevent="restart">Cancel</button>
        </div>
    </div>
</div>

@* Step 2a - Amalgamation *@
<div v-show="mergerType ==='amalgamation' && mergerTypeConfirmed && !isProcessing">
    <div v-show="!validMergeUrns">
        <div class="govuk-grid-column-full gias-hidden__from-tablet govuk-!-padding-bottom-6">
            <div class="button-row">
                <a href="#" class="govuk-button govuk-button--secondary" v-on:click.prevent="mergerType='', mergerTypeConfirmed=false; clearErrors();"> &laquo; Go back</a>
                <button type="submit" name="action" value="" class="govuk-button" v-on:click.prevent="validateAmalgamationFields">Continue</button>
                <button type="submit" id="cancel-button" name="action" value="" class="govuk-button govuk-button--secondary cancel" v-on:click.prevent="restart">Cancel</button>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p>You can propose closing two or more establishments and establishing a new establishment</p>
            <h2 class="govuk-heading-s">Select establishments to be amalgamated</h2>
            <p>Enter a minimum of 2 establishments and a maximum of 4 establishments</p>
        </div>
        <div class="govuk-grid-column-one-half">
            <div v-bind:class="['field-group govuk-form-group', amalgamatedUrn1Error.length > 0 ? 'govuk-form-group--error' : '' ]">
                <label for="amalgamation-estab1" class="govuk-label">Establishment 1 URN</label>
                <span v-if="amalgamatedUrn1Error.length > 0" class="govuk-error-message" v-html="amalgamatedUrn1Error"></span>
                <input class="govuk-input govuk-!-width-three-quarters" type="text" v-model="amalgamatedEstab1" id="amalgamation-estab1" />
            </div>


            <div v-bind:class="['field-group govuk-form-group', amalgamatedUrn2Error.length > 0 ? 'govuk-form-group--error' : '' ]">
                <label for="amalgamation-estab2" class="govuk-label">Establishment 2 URN</label>
                <span v-if="amalgamatedUrn2Error.length > 0" class="govuk-error-message" v-html="amalgamatedUrn2Error"></span>
                <input class="govuk-input govuk-!-width-three-quarters" type="text" v-model="amalgamatedEstab2" id="amalgamation-estab2" />
            </div>
            <div v-bind:class="['field-group govuk-form-group', amalgamatedUrn3Error.length > 0  ? 'govuk-form-group--error' : '' ]">
                <label for="amalgamation-estab3" class="govuk-label">Establishment 3 URN</label>
                <span v-if="amalgamatedUrn3Error.length > 0" class="govuk-error-message" v-html="amalgamatedUrn3Error"></span>
                <input class="govuk-input govuk-!-width-three-quarters" type="text" v-model="amalgamatedEstab3" id="amalgamation-estab3" />
            </div>

            <div v-bind:class="['field-group govuk-form-group', amalgamatedUrn4Error.length > 0  ? 'govuk-form-group--error' : '' ]">
                <label for="amalgamation-estab4" class="govuk-label">Establishment 4 URN</label>
                <span v-if="amalgamatedUrn4Error.length > 0" class="govuk-error-message" v-html="amalgamatedUrn4Error"></span>
                <input class="govuk-input govuk-!-width-three-quarters" type="text" v-model="amalgamatedEstab4" id="amalgamation-estab4" />
            </div>
        </div>

        <div class="govuk-grid-column-full">
            <div class="button-row govuk-!-padding-top-8">
                <a href="#" class="govuk-button govuk-button--secondary" v-on:click.prevent="mergerType='', mergerTypeConfirmed=false; clearErrors();"> &laquo; Go back</a>
                <button type="submit" id="amalgamation-establishment-continue-button" name="action" value="" class="govuk-button" v-on:click.prevent="validateAmalgamationFields">Continue</button>
                <button type="submit" id="cancel-button" name="action" value="" class="govuk-button govuk-button--secondary cancel" v-on:click.prevent="restart">Cancel</button>
            </div>
        </div>
    </div>
    <div v-show="mergerType==='amalgamation' && validMergeUrns && !completeAmalgamation">
        <div class="govuk-grid-column-full gias-hidden__from-tablet govuk-!-padding-bottom-6">
            <div class="button-row">
                <a href="#" class="govuk-button govuk-button--secondary" v-on:click.prevent="validMergeUrns=false; clearErrors();">&laquo; Go back</a>
                <button type="submit" name="action" value="" class="govuk-button" v-on:click.prevent="processAmalgamation">Process</button>
                <button type="submit" name="action" id="cancel-button" value="" class="govuk-button govuk-button--secondary cancel" v-on:click.prevent="restart">Cancel</button>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-s">Closing establishment details</h3>
            <ol class="govuk-list govuk-list--number linked-establishments">
                <li v-for="school in amalgamationEstabs">
                    <span>{{school.urn}} - {{school.name}}</span>
                </li>
            </ol>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend--s">New establishment details</legend>
                <div v-bind:class="['govuk-form-group', nameError ? 'govuk-form-group--error' : '' ]">
                    <label class="govuk-label" for="new-establishment-name">Establishment name</label>
                    <span v-show="nameError" class="govuk-error-message">Please enter the establishment name</span>
                    <input type="text" id="new-establishment-name" class="govuk-input govuk-input--width-20" v-model="newName" />
                </div>
                <div v-bind:class="['govuk-form-group', typeError ? 'govuk-form-group--error' : '' ]">
                    <label class="govuk-label" for="new-establishment-type">Establishment type</label>
                    <span v-show="typeError" class="govuk-error-message">Please select the establishment type</span>
                    <select id="new-establishment-type" class="govuk-select govuk-input--width-20" v-model="typeId" v-on:change="updatePhases"></select>
                </div>
                <div v-bind:class="['govuk-form-group', phaseError ? 'govuk-form-group--error' : '' ]">
                    <label class="govuk-label" for="new-establishment-phase">Establishment phase</label>
                    <span v-show="phaseError" class="govuk-error-message">Please select an establishment phase</span>
                    <select id="new-establishment-phase" class="govuk-select govuk-input--width-20" v-model="phaseId"></select>
                </div>
                <div v-bind:class="['govuk-form-group', laError ? 'govuk-form-group--error' : '' ]">
                    <label for="LocalAuthorityId" class="govuk-label">Local authority</label>
                    <span v-show="laError" class="govuk-error-message">Please select a local authority</span>
                    <select class="govuk-select govuk-input--width-20" id="LocalAuthorityId" name="LocalAuthorityId" v-model="laId"></select>
                </div>
                </fieldset>
                <div v-bind:class="['govuk-form-group range-group date-group create-edit-form-group', mergeDateError ? 'govuk-form-group--error' : '' ]">
                    <fieldset class="govuk-fieldset edit-date-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Amalgamation date</legend>
                        <div class="govuk-hint">For example, 20 03 2003</div>
                        <span v-show="mergeDateError" class="govuk-error-message">Please enter the date of the amalgamation</span>
                        <div class="govuk-date-input">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label for="amalgamation-date-day" class="govuk-label govuk-date-input__label">Day</label>
                                    <input class="govuk-input date-text-day" type="text" v-model="mergeDateDay" id="amalgamation-date-day">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label for="amalgamationdate-month" class="govuk-label govuk-date-input__label">Month</label>
                                    <input class="govuk-input date-text-month" type="text" v-model="mergeDateMonth" id="amalgamationdate-month">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label for="amalgamationdate-year" class="govuk-label govuk-date-input__label">Year</label>
                                    <input class="govuk-input gias-year-input__item date-text-year" type="text" v-model="mergeDateYear" id="amalgamationdate-year">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

        </div>
        <div class="govuk-grid-column-full">
            <div class="button-row govuk-!-padding-top-6">
                <a href="#" id="go-back-button" class="govuk-button govuk-button--secondary" v-on:click.prevent="validMergeUrns=false; clearErrors();">&laquo; Go back</a>
                <button type="submit" id="amalgamation-process-button" name="action" value="" class="govuk-button" v-on:click.prevent="processAmalgamation">Process</button>
                <button type="submit" id="cancel-button" name="action" value="" class="govuk-button govuk-button--secondary cancel" v-on:click.prevent="restart">Cancel</button>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds amalgamation-summary" v-show="completeAmalgamation">
        <div class="summary-panel">
           <h3 class="govuk-heading-s">Closing establishment details</h3>

            <ol class="govuk-list govuk-list--number linked-establishments">
                <li v-for="school in amalgamationEstabs"><span>{{school.urn}} - {{school.name}}</span></li>
            </ol>

        </div>

        <div class="summary-panel">
            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m"/>
            <h3 class="govuk-heading-s">New establishment details</h3>
            <ul class="govuk-list govuk-list--spaced amalg-summary">
                <li><a id="amalgamation-url-link" v-bind:href="amalgUrl">{{amalgUrn}} - {{ newName }}</a></li>
                <li>Establishment type: {{ selectedEstablishmentType() }}</li>
                <li>Amalgamation date: {{ displayDate }}</li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m"/>
        </div>
        <p>
            Please complete the new <a v-bind:href="amalgUrl">establishment record</a>.
        </p>
    </div>

</div>


@*Step 2b - Merger *@
<div v-show="(mergerType ==='merger' && mergerTypeConfirmed) && !isProcessing">
    <div v-show="!validMergeUrns">
        <div class="govuk-grid-column-two-thirds" id="merger-details">
            <p>You can propose closing one or more establishments and altering the remaining establishment.</p>

            <h2 class="govuk-heading-s">Select the lead establishment</h2>
            <p>The lead establishment will remain open</p>

            <div v-bind:class="['govuk-form-group', mergerUrn0Error.length > 0 ? 'govuk-form-group--error' : '' ]">
                <label class="govuk-label" for="merger-estab0">
                    Lead establishment <abbr title="Unique Reference Number">URN</abbr>
                </label>

                @* FORM ERROR MESSAGES - LEAD ESTABLISHMENT *@
                <span v-if="mergerUrn0Error.length > 0" class="govuk-error-message" v-html="mergerUrn0Error"></span>
                <input class="govuk-input govuk-input--width-20" id="merger-estab0" type="text" v-model="mergerEstab0" />
            </div>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Select establishments to be merged with the lead establishment
                </legend>
                <p>Enter a minimum of 1 establishment and a maximum of 3 establishments</p>

                <div v-bind:class="['govuk-form-group', mergerUrn1Error.length > 0 ? 'govuk-form-group--error' : '' ]">
                    <label for="merger-estab1" class="govuk-label">Establishment 1 URN</label>
                    <span v-if="mergerUrn1Error.length > 0" class="govuk-error-message" v-html="mergerUrn1Error"></span>
                   <input class="govuk-input govuk-input--width-20" id="merger-estab1" type="text" v-model="mergerEstab1" />
                </div>

                <div v-bind:class="['govuk-form-group', mergerUrn2Error.length > 0 ? 'govuk-form-group--error' : '' ]">
                    <label for="merger-estab2" class="govuk-label">Establishment 2 URN</label>
                    <span v-if="mergerUrn2Error.length > 0" class="govuk-error-message" v-html="mergerUrn2Error"></span>
                   <input class="govuk-input govuk-input--width-20" id="merger-estab2" type="text" v-model="mergerEstab2" />
                </div>

                <div v-bind:class="['govuk-form-group', mergerUrn3Error.length > 0 ? 'govuk-form-group--error' : '' ]">
                    <label for="merger-estab3" class="govuk-label">Establishment 3 URN</label>
                    <span v-if="mergerUrn3Error.length > 0" class="govuk-error-message" v-html="mergerUrn3Error"></span>
                   <input class="govuk-input govuk-input--width-20" id="merger-estab3" type="text" v-model="mergerEstab3" />
                </div>
            </fieldset>
        </div>
        <div class="govuk-grid-column-full">
            <div class="button-row govuk-!-padding-top-8">
                <a href="#" class="govuk-button govuk-button--secondary" id="go-back-button" v-on:click.prevent="mergerType='', mergerTypeConfirmed=false; clearErrors();"> &laquo; Go back</a>
                <button type="submit" name="action" value="" id="estab-continue-button" class="govuk-button" v-on:click.prevent="validateMergeFields">Continue</button>
                <button type="submit" name="action" id="cancel-button" value="" class="govuk-button govuk-button--secondary cancel" v-on:click.prevent="restart">Cancel</button>
            </div>
        </div>
    </div>
    <div v-show="validMergeUrns && !mergerComplete">
        <div class="govuk-grid-column-two-thirds" id="merger-summary">
            <p>You can propose closing one or more schools and altering the remaining school.</p>
            <h2 class="govuk-heading-s">Establishments to be merged</h2>
            <p>
                Lead establishment (remains open)
                <br />
                <span>{{ mergerEstab0 }}</span> {{ leadEstablishmentName }}
            </p>

            <p>Establishments to be merged</p>
            <ol class="govuk-list govuk-list--number linked-establishments" id="linked-establishments">
                <li v-for="(school, index) in mergerEstabs" v-if="school.urn !== Number(mergerEstab0)"><span>{{school.urn}} - {{school.name}}</span></li>
            </ol>


            <div v-bind:class="['govuk-form-group range-group date-group create-edit-form-group', mergeDateError ? 'govuk-form-group--error' : '' ]">
                <fieldset id="merger-date" class="govuk-fieldset edit-date-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Merge date</legend>
                    <div class="govuk-hint">For example, 20 03 2003</div>
                    <span v-show="mergeDateError" class="govuk-error-message">Please enter a valid establishment open date</span>
                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label for="mergedate-day" class="govuk-label">Day</label>
                                <input class="govuk-input date-text-day" id="mergedate-day" name="OpenDate.Day" type="text" v-model="mergeDateDay">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label for="mergedate-month" class="govuk-label">Month</label>
                                <input class="govuk-input date-text-month" id="mergedate-month" name="OpenDate.Month" type="text" v-model="mergeDateMonth">
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label for="mergedate-year" class="govuk-label">Year</label>
                                <input class="govuk-input date-text-year" id="mergedate-year" name="OpenDate.Year" type="text" v-model="mergeDateYear">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="govuk-grid-column-full">
            <div class="button-row">
                <a href="#" class="govuk-button govuk-button--secondary" id="go-back-button" v-on:click.prevent="validMergeUrns=false; clearErrors();">&laquo; Go back</a>
                <button type="submit" name="action" id="merger-process-button" value="" class="govuk-button" v-on:click.prevent="processMerger">Process</button>
                <button type="submit" name="action" id="cancel-button" value="" class="govuk-button govuk-button--secondary cancel" v-on:click.prevent="restart">Cancel</button>
            </div>
        </div>

    </div>
    <div v-show="mergerComplete">
        <div class="govuk-grid-column-two-thirds">
            <div class="summary-panel">
                <h3 class="govuk-heading-s">Closing establishment details</h3>
                <ol class="govuk-list govuk-list--number linked-establishments">
                    <li v-for="school in mergerEstabs"><span>{{school.urn}} - {{school.name}}</span></li>
                </ol>
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m"/>
            </div>
            <div class="summary-panel">
                <h3 class="govuk-heading-s">Merged establishment details</h3>
                <p><a v-bind:href="schoolDetailUrl">{{mergerEstab0}} - {{leadEstablishmentName}}</a></p>
                <ul class="govuk-list amalg-summary">
                    <li>Establishment type: {{leadEstablishmentType}}</li>
                    <li>Merger date: {{displayDate}}</li>
                </ul>
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m"/>
            </div>


            <p>
                Please update the
                <a v-bind:href="schoolDetailUrl">merged record</a>
                to reflect any changes (for
                example, establishment name or age range).
            </p>
        </div>
    </div>
</div>
</form>
</div>

<div id="modal-overlay" class="modal-overlay" v-show="presentExitWarning"></div>
<div id="modal-content" class="modal-content" role="dialog" aria-labelledby="modal-label" aria-describedby="modal-desc" v-show="presentExitWarning">
    <a href="#" id="exit-overlay" class="modal-exit" v-on:click.prevent="presentExitWarning = false">Close</a>
    <div id="modal-inner">
        <h3 class="govuk-heading-l" id="modal-label" tabindex="0">Are you sure you want to leave this page?</h3>
        <p id="modal-desc" tabindex="0">Any unsaved changes will be lost.</p>
    </div>
    <div class="button-row">
        <a href="#" class="govuk-button" id="button-ok" v-on:click.prevent="exitConfirmed">OK</a>
        <a href="#" class="govuk-button govuk-button--secondary" id="button-cancel" v-on:click.prevent="presentExitWarning = false" data-module="govuk-button">Cancel</a>
    </div>
</div>
</div>
@section ViewScripts{
    <script nonce="@Html.ScriptNonce()">
        // Jon: you want all this stuff 'ere
        var type2PhaseMap = @Html.Raw(ViewBag.Type2PhaseMapJson);
        var localAuthorities = @Html.Raw(ViewBag.LocalAuthoritiesJson);
        var types = @Html.Raw(ViewBag.TypesJson);
        var phases = @Html.Raw(ViewBag.PhasesJson);
    </script>
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("merge-amalgamate.*.js"))"></script>
}
