@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models.Tools
@model PredefinedLASetsViewModel
@{
    ViewBag.Title = "Predefined local authority sets";
    ViewBag.bodyClasses = "search-results";
}


@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("View independent schools' significant dates","IndependentSchoolsSearch","Tools", new {area = ""},new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Predefined local authority sets
        </h1>
        <p class="establishment-data-download">
            <a class="download-link"  href="@Url.RouteUrl("CreatePredefinedLASet")">Create new set</a>
        </p>
    </div>
</div>



@if (Model.HasResults)
{
    if (Model.Results.PageCount > 1)
    {
        <div class="top-pagination">
            @Html.Partial("_GenericPaginationV2", Model.Results)
        </div>
    }
    <table class="govuk-table gias-table ">
        <caption class="govuk-visually-hidden">Predefined local authority sets</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Set name</th>
                <th scope="col" class="govuk-table__header">Local authorities</th>
                <th scope="col" class="govuk-table__header"><span class="visuallyhidden">Action links</span></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var item in Model.Results.Items)
            {
                <tr class="govuk-table__row">
                    <td data-label="Set name" class="govuk-table__cell">@Html.Field(item.Title)</td>
                    <td data-label="Local authorities" class="govuk-table__cell">@Html.Field(Model.GetLANames(item.Ids))</td>
                    <td nowrap="" class="govuk-table__cell">
                        @using (Html.BeginRouteForm("DeletePredefinedLASet", new {id = item.RowKey}, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <a
                                href="@Url.RouteUrl("IndSchSearch")?@QueryStringHelper.ToQueryString("d", item.Ids)&SelectedLocalAuthoritySetId=@item.RowKey"
                                id="@StringUtils.ElementIdFormat(@Html.Field(item.Title))-select-link"
                                class="action-link"
                                aria-label="Select set">
                                Select
                            </a>
                            @Html.RouteLink("Edit",
                                "EditPredefinedLASet",
                                new {id = item.RowKey},
                                new
                                {
                                    @id = @StringUtils.ElementIdFormat(@Html.Field(item.Title)) + "-edit-link",
                                    @class = "action-link",
                                    @aria_link = "Edit set"
                                })
                            <button
                                class="gias-link-button gias-link-button-s action-link"
                                type="submit" id="@StringUtils.ElementIdFormat(@Html.Field(item.Title))-remove-link"
                                aria-label="Remove set">
                                Remove
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    if (Model.Results.PageCount > 1)
    {
        <div class="lower-pagination push--bottom">
            @Html.Partial("_GenericPaginationV2", Model.Results)
        </div>
        <back-to-top-link />
    }
}
else
{
    <p>Sorry, no results were found.</p>
}


@section ViewScripts{
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("independent-schools-predefinedsets.*.js"))"></script>
}
