@model PredefinedLASetsViewModel
@{
    ViewBag.Title = "Predefined local authority sets";
    ViewBag.bodyClasses = "search-results";
}



<div class="grid-row">
    <div class="column-full results-heading">
        <div class="breadcrumbs">
            <ul>
                <li>@Html.RouteLink("Home", "Homepage")</li>
                <li>@Html.RouteLink("Tools", "Tools")</li>
                <li>@Html.RouteLink("View independent schools' significant dates", "IndSchSearch")</li>
            </ul>
        </div>
        <h1 class="heading-xlarge">
            Predefined local authority sets
        </h1>
        <a class="download-link" @*style="margin-right: 0;position: absolute;right: 15px;top: 14px;"*@ href="@Url.RouteUrl("CreatePredefinedLASet")">Create new set</a>
    </div>
</div>



@if (Model.HasResults)
{
    if (Model.Results.PageCount > 1)
    {
        <div class="top-pagination">
            @Html.Partial("_GenericPaginationV2", Model.Results)
        </div>
    }
    <table class="edubase-table">
        <caption class="visuallyhidden">Predefined local authority sets</caption>
        <thead>
            <tr>
                <th scope="col">Set name</th>
                <th scope="col">Local authorities</th>
                <th scope="col"><span class="visuallyhidden">Action links</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results.Items)
            {
                <tr>
                    <td data-label="Set name">@Html.Field(item.Title)</td>
                    <td data-label="Local authorities">@Html.Field(Model.GetLANames(item.Ids))</td>
                    <td nowrap="">
                        @using (Html.BeginRouteForm("DeletePredefinedLASet", new { id = item.RowKey }, FormMethod.Post))
                        {
                            <a href="@Url.RouteUrl("IndSchSearch")?@QueryStringHelper.ToQueryString("d", item.Ids)&SelectedLocalAuthoritySetId=@item.RowKey" class="action-link">Select</a>
                            @Html.RouteLink("Edit", "EditPredefinedLASet", new { id = item.RowKey }, new { @class = "action-link" })
                            <button class="button-as-link action-link" style="font-size:14px;" type="submit" id="delete">Remove</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    if (Model.Results.PageCount > 1)
    {
        <div class="lower-pagination">
            @Html.Partial("_GenericPaginationV2", Model.Results)
        </div>
    }
}
else
{
    <p>Sorry, no results were found.</p>
}


@section ViewScripts{

    <script>
        (function () {
            var dismissed = false;
            var form = $('form');
            form.on('submit', function (e) {
                if (!dismissed) {
                    e.preventDefault();
                    $(this).okCancel({
                        ok: function () {
                            dismissed = true;
                            $(e.target).find("#delete").click();
                        },
                        immediate: true,
                        idPrefix: 'close-continue',
                        title: 'Are you sure you want to remove this set?',
                        content: 'You will no longer be able to filter by this set.'
                    });
                    $(this).removeData('okCancel');
                }
            });
        }());
    </script>

}
