@model GovernorsBulkUpdateViewModel

@{
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "Governance bulk update");
}

<div class="breadcrumbs">
    <ul>
        <li>
            @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
        </li>
    </ul>
</div>

@Html.Partial("_ValidationSummary", ViewData.ModelState)

@using (Html.BeginRouteForm("GovernorsProcessBulkUpdate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.TemplateUri)
    <div class="grid-row">
        <div class="column-full">
            @if (Model.WasSuccessful)
            {
                <div class="pending-updates-message js-dismiss-message js-trigger-aria-live" role="alert">
                    <div class="tick"></div>
                    <p class="message-text" aria-live="polite">Your bulk update was successful.</p>
                    <a class="cross" href="#"><span class="visually-hidden">Dismiss notification</span></a>
                </div>
            }
            <h1 class="heading-xlarge">Governance bulk update</h1>

            <p>Follow these steps to bulk update governance data.</p>
        </div>
        <div class="column-full">
            <div class="expanding-content-wrapper flush--bottom" data-update-text="false">
                <a href="#" class="expanding-content-trigger">
                    Help with preparing files
                </a>
                <div class="expanding-content panel-indent">
                    <p>For a step by step guide to prepare documents for bulk update please download this file.</p>
                    <p class="download-list-item">
                        <a href="https://edubasepr.blob.core.windows.net/guidance/Governance%20User%20Guide.pdf" target="_blank" rel="nofollow" class="js-track" data-track="bulkUpdate|governance|download">Governance guidance PDF, 118KB</a>
                    </p>
                </div>
            </div>

            @if (Model.ErrorLogDownload != null)
            {
                <div class="form-group error push--top" id="error-log">
                    <p class="error-message">Please download the error log to correct your data before resubmitting</p>
                    <p class="download-list-item">
                        <a href="@Model.ErrorLogDownload.Url">@Model.ErrorLogDownload.Name</a>
                    </p>
                </div>
            }
        </div>

        <div class="column-full">
            <h2 class="heading-medium">Download template</h2>
            <p>Please download the template using the link below. Then, provide or update your governance information in the template.
             Finally, upload the completed template using the 'Choose file' button below.</p>
            <a href="@Model.TemplateUri" class="download-list-item">GovernanceTemplate.xlsx, 18KB</a>
        </div>

        <div class="column-full">
            <h2 class="heading-medium">Submit completed template</h2>
            <div class="form-group push--bottom @Html.ValidationCssClassFor(x => x.BulkFile)">
                <label for="BulkFile" class="form-label">Upload a file</label>
                @Html.ValidationMessageFor(x => x.BulkFile)
                @Html.TextBoxFor(x => x.BulkFile, new { type = "file" })
            </div>
            <div class="form-group">
                <input type="submit" class="button mobile-full-width" value="Submit"/>
                <a href="/Tools" class="button button-secondary cancel mobile-full-width">Cancel</a>
            </div>
        </div>
    </div>
}

@section ViewScripts {
    <script src="/public/assets/scripts/standalone/accessibility.js"></script>
}
