@model GovernorsBulkUpdateViewModel

@{
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "Bulk update governance information");
    ViewBag.SiteSection = "tools";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}
@Html.Partial("_ValidationSummary", ViewData.ModelState)


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (Model.WasSuccessful)
        {
            <div class="pending-updates-message js-dismiss-message js-trigger-aria-live" role="alert">
                <div class="tick"></div>
                <p class="message-text" aria-live="polite">Your bulk update was successful.</p>
                <a class="cross" href="#"><span class="govuk-visually-hidden">Dismiss notification</span></a>
            </div>
        }
    <h1 class="govuk-heading-xl">Bulk update governance information</h1>

        <p>Follow these steps to bulk update governance data.</p>
    </div>

    <div class="govuk-grid-column-full">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with preparing files
                </span>
            </summary>
            <div class="govuk-details__text">
            <p>
                For a step by step guide to prepare documents for bulk update please reference the
                @Html.ActionLink("Governance guidance", "Governance", "Guidance", new {area = ""}, null).
            </p>
        </div>
        </details>

        @if (Model.ErrorLogDownload != null)
        {
            var uri = new Uri(Model.ErrorLogDownload.Url);
            var path = uri.GetLeftPart(UriPartial.Path);
            var id = HttpUtility.ParseQueryString(uri.Query)["id"];

            using (Html.BeginRouteForm("DownloadExtract", FormMethod.Post))
            {
                @Html.Hidden("id", id)
                @Html.Hidden("path", path)

                <div class="govuk-form-group govuk-form-group--error" id="error-log">
                    <p class="govuk-error-message">Please download the error log to correct your data before resubmitting</p>
                    <p>
                        <input type="submit" class="govuk-button"  value="@Model.ErrorLogDownload.Name" />
                    </p>
                </div>
            }
        }

    </div>

    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Download template</h2>
        <p>
            Please download the template using the link below. Then, provide or update your governance information in the template.
            Finally, upload the completed template using the 'Choose file' button below.
        </p>
        <p>
            @Html.ActionLink("Download GovernanceTemplate.xlsx", "DownloadTemplate", null, new { @class = "download-list-item" })
        </p>

    </div>


    @using (Html.BeginRouteForm("GovernorsProcessBulkUpdate", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m govuk-!-padding-top-6">Submit completed template</h2>
            <div class="govuk-form-group   @Html.ValidationCssClassFor(x => x.BulkFile)">
                <label for="BulkFile" class="govuk-label">Upload a file</label>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Max file size and other limits
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p>
                            Max file size is 1MB. There are also limits of:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                5,000 rows per file for back office users
                            </li>
                            <li>
                                1,000 rows per file for EFADO, SFC and DDCE users
                            </li>
                            <li>
                                200 rows per file for establishment and multi-academy trust users
                            </li>
                        </ul>
                    </div>
                </details>

                @Html.ValidationMessageFor(x => x.BulkFile, null , new { @class = "govuk-error-message"})
                @Html.TextBoxFor(x => x.BulkFile, new {type = "file" , @class = "govuk-file-upload"})
            </div>
        </div>
        <div class="govuk-grid-column-full">
            <div class="button-row govuk-!-padding-top-6">
                <input type="submit" class="govuk-button" value="Submit" />
                @Html.ActionLink("Cancel", "Index", "Tools", new {area = ""}, new { @class = "govuk-button govuk-button--secondary cancel", data_module="govuk-button" })
            </div>
        </div>
    }
</div>
