@using Edubase.Common
@using Edubase.Services.Enums

@model GroupDetailViewModel

@if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.ChildrensCentresGroup, eLookupGroupType.SingleacademyTrust, eLookupGroupType.MultiacademyTrust, eLookupGroupType.SecureSingleAcademyTrust))
{
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address</dt>
        <dd class="govuk-summary-list__value">@(Model.Address ?? "Not recorded")</dd>
    </div>
}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"><abbr title="Unique Identifier">Unique group identifier (UID)</abbr></dt>
    <dd class="govuk-summary-list__value">@Model.Group.GroupUId</dd>
</div>

@if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.ChildrensCentresGroup, eLookupGroupType.ChildrensCentresCollaboration))
{
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Local authority (LA)</dt>
        <dd class="govuk-summary-list__value">@(Model.LocalAuthorityName ?? "Not recorded")</dd>
    </div>
}

@if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust, eLookupGroupType.SchoolSponsor))
{
    <div class="govuk-summary-list__row">
        <dt id="group-identifier-key" class="govuk-summary-list__key">Group identifier (ID)</dt>
        <dd id="group-identifier-value" class="govuk-summary-list__value">@(Model.Group.GroupId.Clean() ?? "Not recorded")</dd>
    </div>
}
@if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust, eLookupGroupType.SecureSingleAcademyTrust))
{
    <div class="govuk-summary-list__row">
        <dt id="company-number-key" class="govuk-summary-list__key">
            Company number<br />
            (also known as Companies House (CH) number)
        </dt>
        <dd id="company-number-value" class="govuk-summary-list__value">
            @if (Model.Group.CompaniesHouseNumber.IsNullOrEmpty())
            {
                <text>Not recorded</text>
            }
            else
            {
                <a href="@Model.CompaniesHouseUrl" target="_blank" rel="noopener noreferrer">
                    @Model.Group.CompaniesHouseNumber
                    <text>(opens in new tab)</text>
                </a>
            }
        </dd>
    </div>
}
@if (Model.UKPRN.HasValue)
{
    <div class="govuk-summary-list__row">
        <dt id="ukprn-key" class="govuk-summary-list__key"><abbr title="UK provider reference number (UKPRN)">UK provider reference number (UKPRN)</abbr></dt>
        <dd id="ukprn-value" class="govuk-summary-list__value">@Model.UKPRN</dd>
    </div>
}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Group type</dt>
    <dd class="govuk-summary-list__value" id="group-type-value">@Model.GroupTypeName</dd>
</div>
@if (Model.IsUserLoggedOn)
{
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value" id="status-value">@(Model.GroupStatusName ?? "Not recorded")</dd>
    </div>
}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">@Model.OpenDateLabel</dt>
    <dd class="govuk-summary-list__value" id="group-open-date-value">@(Model.Group.OpenDate?.ToString("d MMMM yyyy") ?? "Not recorded")</dd>
</div>
@if (Model.IsUserLoggedOn)
{
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Close date</dt>
        <dd class="govuk-summary-list__value" id="group-close-date-value">@(Model.Group.ClosedDate?.ToString("d MMMM yyyy") ?? "Not recorded")</dd>
    </div>
}
