@model BulkAssociateEstabs2GroupsViewModel

@{
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "Bulk upload academies to trust/sponsor");
}
<div class="breadcrumbs">
    <ol>
        <li>@Html.RouteLink("Home", "Homepage")</li>
        <li>@Html.RouteLink("Tools", "Tools")</li>
    </ol>
</div>

@Html.Partial("_ValidationSummary", ViewData.ModelState)

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Bulk upload academies to trust<span style="visibility:hidden"> </span>"/<span style="visibility:hidden"> </span>sponsor</h1>
        <p>Use this tool to upload new academies to the relevant trusts<span style="visibility:hidden"> </span>/<span style="visibility:hidden"> </span>sponsor.</p>
    </div>
    <div class="column-full">
        @if (Model?.Result?.RowErrors > 0)
        {
            var uri = new Uri(Model.Result.ErrorLogFile.Url);
            var path = uri.GetLeftPart(UriPartial.Path);

            using (Html.BeginRouteForm("DownloadExtract", FormMethod.Post))
            {
                @Html.Hidden("id", @Model.Result.Id)
                @Html.Hidden("path", path)

                <div class="form-group error" id="error-log">

                    @if (Model.Result.CompletedWithErrors())
                    {
                        <p class="error-message">@Model.Result.RowErrors rows encountered errors during import. Please download the error log to correct your data before resubmitting</p>
                    }
                    else
                    {
                        <p class="error-message">Please download the error log to correct your data before resubmitting</p>
                    }

                    <p class="download-list-item">
                        <input type="submit" class="button inline-button" value="@Model.Result.ErrorLogFile.Name" /><br />
                    </p>
                </div>
            }
        }

    </div>

    <div class="column-full">
        <h2 class="heading-medium">Download template</h2>
        <p>
            Please use this template to list the academies.
        </p>
        <a href="https://edubasepr.blob.core.windows.net/content/academies_bulk_upload.xls" class="download-list-item">Academies_bulk_upload.xls, 25KB</a>
    </div>

    @using (Html.BeginRouteForm("BulkAssociateEstabs2GroupsPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="column-full">
            <h2 class="heading-medium">Upload completed template</h2>
            <div class="form-group push--bottom @Html.ValidationCssClassFor(x => x.BulkFile)">
                <label for="BulkFile" class="form-label">Upload a file</label>
                @Html.ValidationMessageFor(x => x.BulkFile)
                @Html.TextBoxFor(x => x.BulkFile, new { type = "file" })
            </div>
            <div class="form-group">
                <input type="submit" class="button" value="Submit" />
                @Html.ActionLink("Cancel", "Index", "Tools", new {area = ""}, new {@class="button button-secondary cancel"})
            </div>
        </div>
    }
</div>
