@using Edubase.Common
@using Edubase.Services.Domain
@using Edubase.Services.Enums
@model GroupEditorViewModel

@if (Model.BreakersToProcess.Any(x => x.Code == ApiBreakerCodes.ERROR_GROUP_MAT_WITH_LINKS))
{
    <div class="govuk-form-group">
        <h3 class="govuk-heading-m">You can not close this @Model.GroupTypeName.ToLower() (MAT)</h3>
        <p>There are currently one of more academies and/or free schools attached to this @Model.GroupTypeName.ToLower() (MAT). You can only close @Model.GroupTypeName.ToLower()s that have no attached establishments or open and present governance records.</p>
        <p>
            To close this @Model.GroupTypeName.ToLower():
        </p>
        <ul class="govuk-list govuk-list--number">
            <li>Remove the listed attached establishment(s) from this @Model.GroupTypeName.ToLower().</li>
            <li>Close down any multi academy trust governance records.</li>
            <li>Return to the details tab and start the procedure for closing the @Model.GroupTypeName.ToLower() again.</li>
            <li>Make sure the establishment record(s) removed from the @Model.GroupTypeName.ToLower() is/are updated to reflect any changes.</li>
        </ul>

        @if (Model.LinkedEstablishments.Establishments.Any())
        {
            <h4 class="govuk-heading-s">Attached establishment(s)</h4>
            <p>
                @foreach (var est in Model.LinkedEstablishments.Establishments.OrderBy(x => x.Name))
                {
                    @Html.ActionLink(est.Name, "Details", "Establishment", new { id = est.Urn, area = "Establishments" }, null)<br />
                }
            </p>
        }
    </div>
}

@if (Model.BreakersToProcess.Any(x => x.Code == ApiBreakerCodes.ERROR_GROUP_SAT_WITH_LINKS))
{
    <div class="govuk-form-group">
        <h3 class="govuk-heading-m">You can not close this @Model.GroupTypeName.ToLower() (SAT)</h3>
        <p>There is currently an academy or free school attached to this @Model.GroupTypeName.ToLower() (SAT). You can only close @Model.GroupTypeName.ToLower()s that have no establishment's attached.</p>
        <p>
            To close this @Model.GroupTypeName.ToLower()
        </p>
        <ul class="govuk-list govuk-list--number">
            <li>Remove the listed attached establishment from this @Model.GroupTypeName.ToLower().</li>
            <li>Return to the details tab and start the procedure for closing the @Model.GroupTypeName.ToLower() again.</li>
            <li>Make sure the establishment record removed from the @Model.GroupTypeName.ToLower() is updated to reflect any changes.</li>
        </ul>

        @if (Model.LinkedEstablishments.Establishments.Any())
        {
            <h4 class="govuk-heading-s">Attached establishment</h4>
            <p>
                @foreach (var est in Model.LinkedEstablishments.Establishments.OrderBy(x => x.Name))
                {
                    @Html.ActionLink(est.Name, "Details", "Establishment", new {id = est.Urn, area = "Establishments"}, null)<br />
                }
            </p>
        }
    </div>
}

