@using Edubase.Services.Enums;
@model CreateAcademyTrustViewModel
@{
    ViewBag.bodyClasses = "create-edit-school create-academy-trust";
    ViewBag.hideLogo = true;
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "Create an academy trust");
}

<div class="breadcrumbs">
    <ol>
        <li>
            @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Create an academy trust", "SearchCompaniesHouse", "Group", new { area = "Groups" }, null)
        </li>
    </ol>
</div>

@Html.Partial("_ValidationSummary", ViewData.ModelState)

<h1 class="heading-xlarge">Enter academy trust details</h1>

@using (Html.BeginForm("SaveNewAcademyTrust", "Group", new { area = "Groups" }, FormMethod.Post))
{
    <div class="grid-row">
        <div class="column-full">

            @if (Model.TrustExists == true)
            {
                <div role="alert" class="warning-message js-trigger-aria-live">
                    <p class="message-text" aria-live="polite">Company is already a @(Model.TypeId == (int)eLookupGroupType.MultiacademyTrust? "multi-academy" : "single-academy") trust</p>
                </div>
            }
            else
            {
                <p>Add the details of the new academy trust.</p>
            }
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div id="company">
                <h2 class="bold-small">Selected company</h2>

                <table class="borderless company-result">
                    <caption class="visuallyhidden">Academy trust details</caption>
                    <tr>
                        <th scope="row" class="new-trust-details">Company name:</th>
                        <td class="new-trust-details">@Model.Name</td>
                    </tr>
                    <tr>
                        <th scope="row" class="new-trust-details">Companies House Number:</th>
                        <td class="new-trust-details"><a href="@System.Configuration.ConfigurationManager.AppSettings["CompaniesHouseBaseUrl"]@Model.CompaniesHouseNumber" target="_blank">@Model.CompaniesHouseNumber</a></td>
                    </tr>
                    <tr>
                        <th scope="row" class="new-trust-details">Incorporated:</th>
                        <td class="new-trust-details">@(Model.OpenDate?.ToString("dd/MM/yyyy"))</td>
                    </tr>
                    <tr>
                        <th scope="row" class="new-trust-details">Address:</th>
                        <td class="new-trust-details">@Model.Address</td>
                    </tr>
                </table>

                @Html.ActionLink("Wrong company?", "SearchCompaniesHouse", "Group", new {area = "Groups"}, new { @class = "change-link" })
            </div>

            @Html.HiddenFor(x => x.CompaniesHouseAddressToken)
            @Html.HiddenFor(x => x.Address)
            @Html.HiddenFor(x => x.Name)
            @Html.HiddenFor(x => x.OpenDate)
            @Html.HiddenFor(x => x.CompaniesHouseNumber)
        </div>



        @if (Model.TrustExists == true)
        {
            <div class="column-two-thirds">
                <div class="single-group">
                    <h2 class="bold-small trust-details-header">Trust details</h2>
                    <table class="borderless company-result">
                        <caption class="visuallyhidden">Trust details</caption>
                        <tr>
                            <th scope="row" class="new-trust-details">Trust name:</th>
                            <td class="new-trust-details">
                                @Html.ActionLink(Model.TrustName, "Details", "Group", new {id = Model.GroupUid, area = "groups" }, new {@class = "bold-small"})
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="new-trust-details">Trust type:</th>
                            <td class="new-trust-details">@Model.GroupTypes.First(x => x.Value.Equals(Model.TypeId?.ToString(), StringComparison.InvariantCultureIgnoreCase)).Text</td>
                        </tr>
                        <tr>
                            <th scope="row" class="new-trust-details">Group ID:</th>
                            <td class="new-trust-details">@Model.GroupId</td>
                        </tr>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="column-half">
                <div class="single-group">
                    <h2 class="bold-small trust-details-header">Trust details</h2>
                    <div class="form-group @Html.ValidationCssClassFor(x => x.TypeId)">
                        <label for="TypeId" class="form-label bold-small">Trust type</label>
                        @Html.ValidationMessageFor(x => x.TypeId)
                        @Html.DropDownListFor(x => x.TypeId, Model.GroupTypes, "", GetAttributes("form-control", Model.TrustExists))
                    </div>
                    <div class="form-group @Html.ValidationCssClassFor(x => x.GroupId)">
                        @Html.LabelFor(x => x.GroupId)
                        @Html.ValidationMessageFor(x => x.GroupId)
                        @Html.TextBoxFor(x => x.GroupId, GetAttributes("form-control", Model.TrustExists, 120))
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="grid-row">
        <div class="column-full">
            @if (Model.TrustExists == true)
            {
                @Html.ActionLink("Back to company search", "SearchCompaniesHouse", "Group", new {area = "Groups"}, new {@class = "button cancel"})
            }
            else
            {
                @Html.ActionLink("« Go back", "SearchCompaniesHouse", "Group", new {area = "Groups"}, new {@class = "button button-secondary cancel"})
                if (Model.AllowSave)
                {
                    <button type="submit" class="button submit">Create academy trust</button>
                }
                @Html.ActionLink("Cancel", "Index", "Tools", new {area = ""}, new {@class = "button button-secondary cancel"})
            }
        </div>
    </div>
}

@section ViewScripts
{
    <script nonce="4CC30YJLSMKGDS6G">
        var $fields = $('#content').find('.form-control');
        var exitAttached = false;

        $fields.on('change', function () {
            if (!exitAttached) {
                DfE.Util.showUnload('Are you sure you want to leave this page? Any unsaved changes will be lost');
                exitAttached = true;
            }
        });
    </script>
}

@functions
{
    object GetAttributes(string cssClasses, bool? readOnly = null, int? maxlength = null)
    {
        if (maxlength.HasValue)
        {
            if (readOnly.HasValue && readOnly.Value)
                return new { @class = cssClasses, @disabled = "disabled", maxlength = maxlength };

            return new { @class = cssClasses, maxlength = maxlength };
        }
        else
        {
            if (readOnly.HasValue && readOnly.Value)
                return new { @class = cssClasses, @disabled = "disabled"};

            return new { @class = cssClasses};
        }
    }
}
