@using Edubase.Common
@using Edubase.Services.Domain
@using Edubase.Services.Enums
@using Microsoft.Ajax.Utilities
@model GroupDetailViewModel
@{
    ViewBag.Title = Model.Group.Name;
    ViewBag.PageClass = "mat-details";
    
    var request = HttpContext.Current.Request;
    var sortDir = "desc";
    var sortField = "requestedDateUtc";
    if (request.QueryString["sortby"] != null)
    {
        sortField = request.QueryString["sortby"].Substring(0, request.QueryString["sortby"].IndexOf("-"));
        sortDir = (request.QueryString["sortby"] ?? "").Contains("asc") ? "asc" : "desc";
    }

}
<div class="breadcrumbs">
    @if (Model.SearchQueryString.IsNullOrWhiteSpace())
    {
        <ul>
            <li>
                @Html.ActionLink("Home", "Index", "Search", new {area = "", selectedTab = "Groups"}, null)
            </li>
        </ul>
        
    }
    else
    {
        if (Model.SearchSource == eLookupSearchSource.Governors)
        {
            <a href=@($"{Url.Action("Index", "GovernorSearch", new {area = "Governors"})}?{Model.SearchQueryString}")>Back to search results</a>
        }
        else
        {
            <a href=@($"{Url.Action("Index", "GroupSearch", new {area = "Groups"})}?{Model.SearchQueryString}")>Back to search results</a>
        }
    }
    
    @if (Model.IsClosed && Model.GroupTypeId == (int)eLookupGroupType.MultiacademyTrust)
    {
        if (Model.IsClosedInError)
        {
            <div class="grey-warning dismissable-message">
                <p>
                    This multi-academy trust was created in error and subsequently closed on @(Model.CloseDate?.ToString("dd/MM/yyyy")).
                </p>
                <a class="cross" href="#"><span class="visuallyhidden">Dismiss this message</span></a>
            </div>
        }
        else
        {
            <div class="grey-warning dismissable-message">
                <p>
                    This multi-academy trust closed on @(Model.CloseDate?.ToString("dd/MM/yyyy")).
                </p>
                <a class="cross" href="#"><span class="visuallyhidden">Dismiss this message</span></a>
            </div>
        }
    }

</div>

@if (ViewBag.ShowSaved)
{
    <div class="pending-updates-message dismissable-message">
        <div class="tick"></div>
        Your changes have been saved
        <a class="cross" href="#"><span class="visually-hidden">Dismiss notification</span></a>
    </div>
}

<h1 class="heading-large">@Model.Group.Name</h1>

    <p class="uid">UID: @Model.Group.GroupUId</p>
    <p class="group-type">@Model.GroupTypeName</p>

    <p class="group-data-download">
        @Html.RouteLink("Download group data", "GroupDataDownload", new { uid = Model.Group.GroupUId, state = UriHelper.SerializeToUrlToken(new[] { new RouteDto("GroupDetails", new RouteValueDictionary(new { id = Model.Group.GroupUId }), Model.Group.Name) }) }, new { })
    </p>

    @if(Model.Group.ConfirmationUpToDateGovernanceRequired)
    {
        <div class="up-to-date-confirmations expanding-content-wrapper" data-update-text="false">
            <a class="expanding-content-trigger" href="#">Confirm records</a>
            <div class="expanding-content panel-indent">
                <div class="data-confirmation-panel">
                    <p class="confirmation-statement">
                        Governance record last confirmed:
                        <span class="confirmation-date">
                            @(Model.Group.ConfirmationUpToDateGovernance_LastConfirmationDate?.ToString("dd/MM/yyyy") ?? "Not recorded")
                        </span>
                    </p>

                    @using (Html.BeginRouteForm("GroupGovernanceConfirmUpToDate", new { uid = Model.Group.GroupUId.Value }, FormMethod.Post))
                    {
                        <label class="confirmation-label" for="governance-data-confirm">
                            Confirm governance record is up to date:
                        </label>
                        <button class="button button-grey confirmation-button" id="governance-data-confirm">Confirm</button>
                    }
                </div>
            </div>
            
        </div>
    }

    <div class="grid-row horizontal-tabs-wrapper">
        <div class="column-full">

            <div class="tab-wrap">
                <ul class="horizontal-tabs">
                    <li><a href="#details" class="horizontal-tab">Details</a></li>
                    
                    @if (Model.Group.GroupTypeId == (int)eLookupGroupType.MultiacademyTrust)
                    {
                        <li><a href="#governance" class="horizontal-tab">Governance</a></li>
                    }

                    <li><a href="#list" class="horizontal-tab">@Model.EstablishmentsPluralName (@Model.Establishments.Count)</a></li>

                    @if (Model.IsUserLoggedOn)
                    {
                        <li><a href="#change-history" class="horizontal-tab">Changes</a></li>
                    }

                </ul>
            </div>

            <div class="tab-content-wrapper horizontal-tabs-content">
                <div id="details" class="tab-content">

                    @if (Model.CanUserEdit)
                    {
                        @Html.ActionLink("Edit", "EditDetails", "Group", new { id = Model.Group.GroupUId, area = "Groups" }, new { @class = "button button-grey mobile-full-width" })
                    }

                    <table class="borderless no-padding">
                        @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust))
                        {
                            <tr>
                                <th scope="row">Companies House Number</th>
                                <td>
                                    @if (Model.Group.CompaniesHouseNumber.IsNullOrEmpty())
                                    {
                                        <text>Not recorded</text>
                                    }
                                    else
                                    {
                                        <a href="@Model.CompaniesHouseUrl">@Model.Group.CompaniesHouseNumber</a>
                                    }
                                </td>
                            </tr>
                        }

                        <tr>
                            <th scope="row">Type</th>
                            <td>@Model.GroupTypeName</td>
                        </tr>

                        <tr>
                            <th scope="col">@Model.OpenDateLabel</th>
                            <td>@(Model.Group.OpenDate?.ToString("dd/MM/yyyy") ?? "Not recorded")</td>
                        </tr>

                        @if (Model.IsUserLoggedOn)
                        {
                            <tr>
                                <th scope="col">Closed date</th>
                                <td>@(Model.Group.ClosedDate?.ToString("dd/MM/yyyy") ?? "Not recorded")</td>
                            </tr>

                            <tr>
                                <th scope="col">Status</th>
                                <td>@(Model.GroupStatusName ?? "Not recorded")</td>
                            </tr>
                        }

                        @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.ChildrensCentresGroup, eLookupGroupType.SingleacademyTrust, eLookupGroupType.MultiacademyTrust))
                        {
                            <tr>
                                <th scope="col">Address</th>
                                <td>@(Model.Address ?? "Not recorded")</td>
                            </tr>
                        }

                        @if (Model.Group.GroupTypeId == (int)eLookupGroupType.ChildrensCentresGroup)
                        {
                            <tr>
                                <th scope="col">Group manager email</th>
                                <td>@(Model.Group.ManagerEmailAddress ?? "Not recorded")</td>
                            </tr>
                        }

                        @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.ChildrensCentresGroup, eLookupGroupType.ChildrensCentresCollaboration))
                        {
                            <tr>
                                <th scope="col">Local authority</th>
                                <td>@(Model.LocalAuthorityName ?? "Not recorded")</td>
                            </tr>
                        }

                        @if (Model.Group.GroupTypeId.OneOfThese(eLookupGroupType.MultiacademyTrust, eLookupGroupType.SingleacademyTrust, eLookupGroupType.SchoolSponsor))
                        {
                            <tr>
                                <th scope="col">Group ID</th>
                                <td>@(Model.Group.GroupId.Clean() ?? "Not recorded")</td>
                            </tr>
                        }

                        <tr>
                            <th scope="col">UID</th>
                            <td>@Model.Group.GroupUId</td>
                        </tr>


                    </table>


                    @if (Model.CanUserEdit)
                    {
                        @Html.ActionLink("Edit", "EditDetails", "Group", new { id = Model.Group.GroupUId, area = "Groups" }, new { @class = "button button-grey mobile-full-width" })
                    }

                </div>

                <div id="list" class="tab-content">

                    @if (Model.CanUserEdit)
                    {
                        @Html.ActionLink("Edit", "EditLinks", "Group", new { id = Model.Group.GroupUId, area = "Groups" }, new { @class = "button button-grey mobile-full-width" })
                    }

                    <div style="float:none; clear:both;"></div>

                    <div class="column-full2">
                        <ul class="school-results-listing">
                            @foreach (var result in Model.Establishments)
                            {
                                <li>
                                    <h2>
                                        @Html.ActionLink(result.Name, "Details", "Establishment", new { id = result.Urn, area = "Establishments" }, new { @class = "bold-small" })
                                        @if (result.CCIsLeadCentre)
                                        {
                                            <text>(Lead centre)</text>
                                        }
                                    </h2>

                                    <dl>
                                        <dt>Address:</dt>
                                        <dd>@result.Address</dd>

                                        <dt>Phase / type:</dt>
                                        <dd>
                                            @(result.PhaseName ?? "Not recorded"),
                                            @(result.TypeName ?? "Not recorded")
                                        </dd>

                                        <dt><abbr title="Unique Reference Number">URN</abbr>:</dt>
                                        <dd>@result.Urn</dd>
                                        
                                        <dt class="inline-details">
                                            <abbr title="Local authority - Establishment number">LAESTAB</abbr>:
                                        </dt>
                                        <dd>@(result.LAESTAB ?? "Not recorded")</dd>
                                        
                                        <dt>Status:</dt>
                                        <dd>@(result.StatusName ?? "Not recorded")</dd>
                                        
                                        <dt>Local authority name:</dt>
                                        <dd>@(result.LocalAuthorityName ?? "Not recorded")</dd>

                                        <dt>Joined date:</dt>
                                        <dd>@(result.JoinedDate?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
                                    </dl>

                                </li>
                            }
                        </ul>
                    </div>

                    @if (Model.CanUserEdit && Model.Establishments.Count > 0)
                    {
                        @Html.ActionLink("Edit", "EditLinks", "Group", new { id = Model.Group.GroupUId, area = "Groups" }, new { @class = "button button-grey mobile-full-width" })
                    }


                </div>
                
                @if (Model.Group.GroupTypeId == (int)eLookupGroupType.MultiacademyTrust)
                {
                    <div id="governance" class="tab-content">

                        @if (Model.CanUserEditGovernance)
                        {
                            <div class="button-wrap">
                                @Html.ActionLink("Edit", "Edit", "Governor", new { groupUId = Model.Group.GroupUId, area = "Governors" }, new { @class = "button button-grey mobile-full-width" })
                            </div>

                        }

                        @{Html.RenderAction("View", "Governor", new { groupUId = Model.Group.GroupUId, viewModel = null as Edubase.Web.UI.Areas.Governors.Models.GovernorsGridViewModel, area = "Governors" });}
                        
                        @if (Model.CanUserEditGovernance)
                        {
                            <div class="button-wrap">
                                @Html.ActionLink("Edit", "Edit", "Governor", new { groupUId = Model.Group.GroupUId, area = "Governors" }, new { @class = "button button-grey mobile-full-width" })
                            </div>

                        }
                    </div>
                }
                
                @if (Model.IsUserLoggedOn)
                {
                    <div id="change-history" class="tab-content">
                        <h2 class="bold-small">Change History</h2>
                        @if (!Model.ChangeHistory.Items.Any())
                        {
                            <p>There are no change records available at the moment</p>
                        }
                        else
                        {
                            <p>
                                @Html.ActionLink("Download data in CSV format", "DownloadChangeHistory", "Downloads", new { groupId = Model.Group.GroupUId, area = "", downloadType = DownloadType.csv }, new { style = "margin-bottom:10px; display:block;" })
                                @Html.ActionLink("Download data in XLSX format", "DownloadChangeHistory", "Downloads", new { groupId = Model.Group.GroupUId, area = "", downloadType = DownloadType.xlsx }, null)
                                <br />
                            </p>

                            if (Model.ChangeHistory.PageCount > 1)
                            {
                                <div class="top-pagination">
                                    @Html.Partial("_GenericPaginationV2", Model.ChangeHistory)
                                </div>
                            }

                            <table class="edubase-table approval-changes sortable-table">
                                <thead>
                                <tr>
                                    <th>
                                        <a href="@Url.SortUrl("requestedDateUtc", "#change-history")"
                                           class="@Html.Conditional(sortField == "requestedDateUtc", "selected-sort") @(sortDir == "asc"? "sorted-asc": "sorted-desc")">
                                            Date changed
                                        </a>
                                    </th>
                                    <th>
                                        <a href="@Url.SortUrl("requestType", "#change-history")"
                                           class="@Html.Conditional(sortField == "requestType", "selected-sort") @(sortDir == "asc"? "sorted-asc": "sorted-desc")">
                                            Request type    
                                        </a>
                                    </th>
                                    <th>Change</th>
                                    <th>
                                        <a href="@Url.SortUrl("originatorUserName", "#change-history")"
                                           class="@Html.Conditional(sortField == "originatorUserName", "selected-sort") @(sortDir == "asc"? "sorted-asc": "sorted-desc")">
                                            Suggested by
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ChangeHistory.Items)
                                    {
                                        <tr>
                                            <td aria-label="Date changed">
                                                @(item.RequestedDateUtc?.ToString("dd/MM/yyyy"))
                                            </td>
                                            <td aria-label="Request type">
                                                @item.RequestType.GetEnumMember()
                                            </td>
                                            <td aria-label="Change">
                                                <dl>
                                                    @if (item.RequestType == GroupChangeRequestType.GroupChange)
                                                    {
                                                        <dt>Field</dt><dd>@item.Name</dd>
                                                        <dt>Old value</dt><dd>@item.OldValue</dd>
                                                        <dt>New value</dt><dd>@item.NewValue</dd>
                                                    }
                                                    else if (item.RequestType != GroupChangeRequestType.NewGroup)
                                                    {
                                                        <dt>Establishment</dt><dd>@item.LinkUrn @item.LinkEstablishmentName</dd>
                                                        <dt>Link date</dt><dd>@(item.LinkDateUtc?.ToString("dd/MM/yyyy"))</dd>
                                                        <dt>Type</dt><dd>@(item.LinkType?.ToString() ?? "Not recorded")</dd>
                                                    }
                                                </dl>
                                            </td>
                                            <td aria-label="Suggested by">
                                                @item.OriginatorUserName
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            if (Model.ChangeHistory.PageCount > 1)
                            {
                                <div class="lower-pagination">
                                    @Html.Partial("_GenericPaginationV2", Model.ChangeHistory)
                                </div>
                            }

                        }
                    </div>
                }
            </div>
        </div>
    </div>
@section ViewScripts
{
    <script>
        $('#governance').find('.sortable-table').clientSort();
    </script>
}
