@using Edubase.Services.Enums
@using Edubase.Common;
@using VM = Edubase.Web.UI.Areas.Groups.Models.CreateEdit.GroupEditorViewModel;
@using L = Edubase.Services.Enums.eLookupGroupType;
@model VM
@{
    ViewBag.bodyClasses = "create-edit-school school-details";
    ViewBag.hideLogo = true;
    ViewBag.Title = Model.PageTitle;
    Layout = "_EditLayoutPage.cshtml";
}
<div class="tab-content">

@using (Html.BeginForm("EditLinks", "Group", new { area = "Groups" }, FormMethod.Post))
{
    @Html.HiddenFor(x => x.GroupUId)
    @Html.HiddenFor(x => x.SaveMode)
    @Html.HiddenFor(x => x.GroupTypeId)
    @Html.HiddenFor(x => x.GroupName)
    @Html.HiddenFor(x => x.GroupTypeName)
    @Html.HiddenFor(x => x.SelectedTabName)
    @Html.HiddenFor(x => x.ListOfEstablishmentsPluralName)

    <div>
        @if (!Model.LinkedEstablishments.Establishments.Any(x => x.EditMode))
        {
            <button type="submit" name="action" class="button" value="@VM.ActionSave">Save @Model.ListOfEstablishmentsPluralName.ToLower()</button>
        }
        @Html.ActionLink("Cancel", "Details", "Group", new { area = "Groups", id = Model.GroupUId }, new { @class = "button button-secondary cancel" })
    </div>

    <div class="column-two-thirds">
        <h2 class="bold-large">List of @Model.ListOfEstablishmentsPluralName (@Model.LinkedEstablishments.Establishments.Count)</h2>
    </div>

    <div class="column-two-thirds">
        <h3 class="heading-small">Add establishment</h3>
        <div class="form-group @Html.ValidationCssClassFor(x => x.LinkedEstablishments.LinkedEstablishmentSearch.Urn)">
            <label class="form-label" for="LinkedEstablishments_LinkedEstablishmentSearch_Urn">Enter the establishment's Unique Reference Number (URN)</label>
            @Html.ValidationMessageFor(x => x.LinkedEstablishments.LinkedEstablishmentSearch.Urn)
            @Html.TextBoxFor(x => x.LinkedEstablishments.LinkedEstablishmentSearch.Urn, new { @class = "form-control form-control-1-2 push-half--bottom" })
            <button type="submit" name="action" value="@VM.ActionLinkedEstablishmentSearch" class="button inline-button">Search URN</button>
        </div>
        @if (Model.LinkedEstablishments.LinkedEstablishmentSearch.HasResult)
        {
            var prefix = string.Concat(nameof(Model.LinkedEstablishments), "_", nameof(Model.LinkedEstablishments.LinkedEstablishmentSearch));


        <p class="bold-xsmall">Establishment found</p>
        <p>@Model.LinkedEstablishments.LinkedEstablishmentSearch.Name</p>

        @Html.EditorFor(x => x.LinkedEstablishments.LinkedEstablishmentSearch.JoinedDate, new { title = "Joined date", editorPrefix = prefix})

        <button id="add-estab-submit" type="submit" name="action" value="@VM.ActionLinkedEstablishmentAdd" class="button">Add establishment</button>
        @Html.HiddenFor(x => x.LinkedEstablishments.LinkedEstablishmentSearch.Urn)

        }

        @Html.HiddenFor(x => x.LinkedEstablishments.LinkedEstablishmentSearch.Name)
        @Html.HiddenFor(x => x.LinkedEstablishments.LinkedEstablishmentSearch.FoundUrn)

    </div>

    <div class="column-two-thirds">

            <ul class="school-results-listing">
                @for (int i = 0; i < Model.LinkedEstablishments.Establishments.Count; i++)
                {
                    var e = Model.LinkedEstablishments.Establishments[i];
                    <li>
                        <h2>@Html.ActionLink( Model.LinkedEstablishments.Establishments[i].Name, "Details", "Establishment", new { id = Model.LinkedEstablishments.Establishments[i].Urn, area = "Establishments" }, new { @class = "bold-small" })</h2>
                        @if (ViewData.ModelState["linkedEstablishments[" + i + "].id"] != null)
                        {
                            <div class="error">@Html.ValidationMessageNested("linkedEstablishments[" + i + "].id")</div>
                        }
                        <dl>
                            <dt>Address:</dt>
                            <dd>@e.Address</dd>

                            <dt>Phase / type:</dt>
                            <dd>
                                @(e.PhaseName ?? "Not recorded"),
                                @(e.TypeName ?? "Not recorded")
                            </dd>

                            <dt><abbr title="Unique Reference Number">URN</abbr>:</dt>
                            <dd>@e.Urn</dd>

                            <dt class="inline-details">
                                <abbr title="Local authority - Establishment number">LAESTAB</abbr>:
                            </dt>
                            <dd>@(e.LAESTAB ?? "Not recorded")</dd>

                            <dt>Status:</dt>
                            <dd>@(e.StatusName ?? "Not recorded")</dd>

                            <dt>Local authority name:</dt>
                            <dd>@(e.LocalAuthorityName ?? "Not recorded")</dd>


                            @if (!Model.LinkedEstablishments.Establishments[i].EditMode)
                            {
                                <dt>Joined date:</dt>
                                <dd>@(e.JoinedDate?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
                                @Html.HiddenFor(x => x.LinkedEstablishments.Establishments[i].JoinedDate)
                            }

                        </dl>

                        @if (Model.GroupTypeMode == VM.eGroupTypeMode.ChildrensCentre)
                        {
                            <div class="multiple-choice">
                                @Html.RadioButtonFor(x => x.CCLeadCentreUrn, Model.LinkedEstablishments.Establishments[i].Urn, new { id = "CCLeadCentreUrn" + i })
                                <label for="CCLeadCentreUrn@(i)">
                                    Make this children's centre a lead centre
                                </label>
                            </div>
                        }

                        @if (Model.LinkedEstablishments.Establishments[i].EditMode)
                        {
                            @Html.EditorFor(x => x.LinkedEstablishments.Establishments[i].JoinedDateEditable, new {title = "Joined date", fieldsetClassName = "joined-date-editor" })
                        }

                        @if (!Model.LinkedEstablishments.Establishments.Any(x => x.EditMode))
                        {
                            <div class="button-row">
                                <button type="submit" class="button button-secondary button-remove" name="action" value="@VM.ActionLinkedEstablishmentRemove@Model.LinkedEstablishments.Establishments[i].Urn" aria-label="Remove establishment">Remove</button>
                                <button type="submit" name="action" value="@VM.ActionLinkedEstablishmentEdit@Model.LinkedEstablishments.Establishments[i].Urn" class="button button-secondary">Edit join date</button>
                            </div>
                        }
                        else if (Model.LinkedEstablishments.Establishments[i].EditMode)
                        {
                            <div class="form-group">
                                <button id="save-joined-date-submit" type="submit" class="button" name="action" value="@VM.ActionLinkedEstablishmentSave">Save joined date</button>
                                @Html.ActionLink("Cancel", "EditLinks", "Group", new { area = "Groups" }, new { @class = "button button-secondary js-allow-exit" })
                            </div>
                        }


                        @Html.HiddenFor(x => x.LinkedEstablishments.Establishments[i].Id)
                        @Html.HiddenFor(x => x.LinkedEstablishments.Establishments[i].Name)
                        @Html.HiddenFor(x => x.LinkedEstablishments.Establishments[i].Urn)
                        @Html.HiddenFor(x => x.LinkedEstablishments.Establishments[i].Address)
                        @Html.HiddenFor(x => x.LinkedEstablishments.Establishments[i].TypeName)
                        @Html.HiddenFor(x => x.LinkedEstablishments.Establishments[i].HeadFullName)
                        @Html.HiddenFor(x => x.LinkedEstablishments.Establishments[i].EditMode)
                    </li>
                }
            </ul>
        </div>

        <div class="column-half">
            @if (!Model.LinkedEstablishments.Establishments.Any(x => x.EditMode))
            {
                <button type="submit" name="action" class="button" value="@VM.ActionSave">Save @Model.ListOfEstablishmentsPluralName.ToLower()</button>
            }
            @Html.ActionLink("Cancel", "Details", "Group", new { area = "Groups", id = Model.GroupUId }, new { @class = "button button-secondary cancel" })


        </div>
}
</div>
@section ViewScripts
{
    @if (Model.LinkedEstablishments.Establishments.Any(x => x.EditMode))
    {
        <script nonce="06cb7b504645a8ce1558dbddf1885bca45ec92e23d3c9a28e6e1e464c70d15fe">
            var $fields = $('#content').find('.form-control');
            var exitAttached = false;
            $fields.on('change',
                function() {
                    if (!exitAttached) {
                        DfE.Util.showUnload('Are you sure you want to leave this page? Any unsaved changes will be lost');
                        exitAttached = true;
                    }

                });

        </script>
    }
    @if (!Model.LinkedEstablishments.Establishments.Any(x => x.EditMode))
    {
        <script nonce="06cb7b504645a8ce1558dbddf1885bca45ec92e23d3c9a28e6e1e464c70d15fe">
            $('#content').find('.button-remove').okCancel({
                triggerEvent: 'click',
                title: 'Are you sure you want to remove this academy?',
                content: 'All governor information associated with this academy will be removed too.',
                idPrefix: 'remove-',
                ok: function () {
                    $(this.el).data().okCancel.unbind();
                    $(this.el).click();
                }
            })
        </script>
    }

    @if (Request.HttpMethod == "POST" && Model.Action != "cancel" )
    {
        <script nonce="06cb7b504645a8ce1558dbddf1885bca45ec92e23d3c9a28e6e1e464c70d15fe">
            $(function () {
                DfE.Util.showUnload('Are you sure you want to leave this page? Any unsaved changes will be lost');
            });
        </script>
    }
}
