@model SearchCompaniesHouseModel
@{
    ViewBag.bodyClasses = "create-edit-school school-details";
    ViewBag.hideLogo = true;
    ViewBag.Title = "Create academy trust";
}

@using (Html.BeginForm("SearchCompaniesHouse", "Group", FormMethod.Get))
{ 
    <div class="grid-row">
        <div class="column-full">
            @Html.ActionLink("Back", "Index", "Search", new { area = "" }, new { @class = "home-link" })
            
            
            <h1 class="heading-xlarge">
                Create a new Multi academy trust or Single academy trust
            </h1>

            @Html.ValidationSummary(null, new { @class = "error-summary" })


        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="form-group inline-with-button">
                <label class="form-label">Enter Companies House number OR Company name</label>

                @Html.TextBoxFor(x => x.SearchText, new { maxlength = 120, @class = "form-control "})
                <button type="submit" class="button button-next">Search</button>
            </div>

        </div>
    </div>

    if (Model.Results != null)
    {
        <div class="grid-row">
            <div class="column-two-thirds">
                <p>
                    We found <span class="heading-xlarge">@Model.Results.Count</span>
                    @(Model.Results.Count == 1 ? "company" : "companies")
                    @(Model.IsNumberSearch ? $"with the Companies House number '{Model.SearchText}'" : $"matching '{Model.SearchText}'").
                </p>

            </div>
        </div>

        
        if (Model.Results.PageCount > 1)
        {
            <div class="grid-row">
                <div class="column-two-thirds top-pagination">
                    @Html.Partial("_GenericPagination", Model)
                </div>
            </div>
        }


        if (Model.Results.Items.Any())
        {
            <div class="grid-row">
                <div class="column-two-thirds">
                    <ul class="school-results-listing">
                        @foreach (var result in Model.Results.Items)
                        {
                            <li>
                                <h2>@Html.ActionLink(result.Name, "CreateAcademyTrust", "Group", new { companiesHouseNumber = result.Number, area = "Groups" }, new { @class = "bold-small" })</h2>
                               <table class="borderless trust-details">
                                    <tr>
                                        <th scope="row">Companies House Number:</th>
                                        <td><a href="@System.Configuration.ConfigurationManager.AppSettings["CompaniesHouseBaseUrl"]@result.Number">@result.Number</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Incorporated:</th>
                                        <td>@(result.IncorporationDate?.ToString("dd MMMM yyyy"))</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address:</th>
                                        <td>@(result.Address ?? "Not recorded")</td>
                                    </tr>
                                </table>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

        if (Model.Results.PageCount > 1)
        {
            <div class="grid-row">
                <div class="column-two-thirds lower-pagination">
                    @Html.Partial("_GenericPagination", Model)
                </div>
            </div>
        }

        if (Model.NotFound)
        {
            <div class="grid-row">
                <div class="column-two-thirds">
                    <p>Please check the Companies House number or Company name entered.</p>
                </div>
            </div>
        }

    }


}
@Html.ActionLink("Cancel", "Index", "Home", new { area = "" }, new { @class = "button button-grey cancel mobile-full-width" })
