@model SearchCompaniesHouseModel
@{
    ViewBag.bodyClasses = "create-edit-school create-academy-trust";
    ViewBag.hideLogo = true;
    ViewBag.Title = "Create academy trust";
    ViewBag.SiteSection = "tools";
}

@section BreadCrumbs
{
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new { @class = "govuk-breadcrumbs__link" })</li>
            </ol>
        </div>
    </div>
</div>
}




@using (Html.BeginForm("SearchCompaniesHouse", "Group", FormMethod.Get))
{
    @Html.HiddenFor(x => x.Search, new { Value = "true" })

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @Html.Partial("_ValidationSummary", ViewData.ModelState)
            <h1 id="create-academy-trust-details-heading" class="govuk-heading-xl">Create new academy trusts</h1>
            <p>Set up an academy trust record by adding the Companies House name or number in the field below and selecting search.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-s">Companies House details</h2>
            <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.SearchText)">
                @Html.LabelFor(x => x.SearchText, "Companies House name or number", new { @class = "govuk-label" })
                @Html.ValidationMessageFor(x => x.SearchText, null, new { @class = "govuk-error-message"})
                @Html.TextBoxFor(x => x.SearchText, new { maxlength = 120, @class = "govuk-input  govuk-!-width-three-quarters" })
                <button type="submit" id="search-companies-house-submit-button" class="govuk-button links-estab-search-button">Search</button>
            </div>

        </div>
    </div>

    if (Model.Results != null)
    {
        var startResult = Model.StartIndex + 1;
        var endResult = (Model.StartIndex + Model.PageSize > Model.Count) ? Model.Count : Model.StartIndex + Model.PageSize;

        if (Model.Results.PageCount > 1)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full top-pagination">
                    @Html.Partial("_GenericPagination", Model, new ViewDataDictionary
                    {
                        {"resultsDescription", String.Concat("Showing ", @startResult, "-", @endResult, " of <span id='list-count'>", @Model.Count, "</span> establishments")},
                        {"maxPages", 5 }
                    })
                </div>
            </div>
        }


        if (Model.Results.Items.Any())
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <table class="govuk-table gias-table company-details">
                        <caption class="govuk-visually-hidden">Company search results</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Companies House number</th>
                            <th scope="col" class="govuk-table__header">Date incorporated</th>
                            <th scope="col" class="govuk-table__header">Address</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        @foreach (var result in Model.Results.Items)
                        {
                            <tr class="govuk-table__row">
                                <td data-label="Name" class="govuk-table__cell">@Html.ActionLink(result.Name, "CreateAcademyTrust", "Group", new { companiesHouseNumber = result.Number, area = "Groups" }, null)</td>
                                <td data-label="Companies House number" class="govuk-table__cell"><a href="@System.Configuration.ConfigurationManager.AppSettings["CompaniesHouseBaseUrl"]@result.Number" target="_blank">@result.Number (opens in new tab)</a></td>
                                <td data-label="Date incorporated" class="govuk-table__cell">@(result.IncorporationDate?.ToString("d MMMM yyyy"))</td>
                                <td data-label="Address" class="govuk-table__cell">@(result.Address.ToString() ?? "Not recorded")</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        if (Model.Results.PageCount > 1)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="lower-pagination">
                        @Html.Partial("_GenericPagination", Model, new ViewDataDictionary
                        {
                            {"resultsDescription", String.Concat("Showing ", @startResult, "-", @endResult, " of <span id='list-count'>", @Model.Count, "</span> establishments")},
                            {"maxPages", 5 }
                        })
                    </div>
                    @helpers.BackToTopLink()
                </div>
            </div>
        }
    }
}
