@using Edubase.Services.Downloads.Models;
@using Edubase.Services.Enums
@model DownloadsViewModel
@{
    ViewBag.Title = "Downloads";
    ViewBag.HideLogo = true;
    ViewBag.SiteSection = "downloads";
    var downloadGroups = Model.GetFileDownloadGroups();
}

@section Head
{
    <meta name="robots" content="noindex,nofollow"/>
}

@section BackLink
{
    @Html.ActionLink("Home", "Index", "Search", new {area = ""}, new {@class = "govuk-back-link"})
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
        <h1 class="govuk-heading-xl">Select date of files to download</h1>
        <p>
            This data is updated daily. The data fields and the order of the data fields can change in these downloads.
            If you need data in a prescribed format you should consider signing up for WebServices by submitting a
            <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-2b61dfcd-9296-4f6a-8a26-4671265cae67/AF-Stage-f3f5200e-e605-4a1b-ae6b-3536bc77305c/definition.json&redirectlink=/en&cancelRedirectLink=/en" target="_blank" rel="external">Service Request <span class="govuk-visually-hidden">Opens in new window</span></a>.
        </p>
    </div>
</div>

<div class="gias-tabs-wrapper">
    @if (Model.AreScheduledExtractsAvailable)
    {
        <div class="tab-wrap">
            <ul class="gias-tabs">
                <li class="gias-tabs__list-item">
                    <a href="#group-data" class="gias-tabs__tab">
                        Establishment &amp; group data
                    </a>
                </li>
                <li class="gias-tabs__list-item">
                    <a href="#scheduled-extracts" class="gias-tabs__tab">
                        Scheduled extracts
                    </a>
                </li>
            </ul>
        </div>
    }
    <div class="tab-content-wrapper gias-tabs-content">
        <div id="group-data" class="tab-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <a href="#results-container" class="govuk-visually-hidden-focusable">Skip filters</a>
                    <form id="download-filters">
                        @Html.HiddenFor(m => m.Skip)
                        <fieldset class="govuk-fieldset" id="download-radios">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Select an option</legend>
                            <div class="govuk-form-group">
                                <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
                                    @foreach (eDownloadFilter ft in Enum.GetValues(typeof(eDownloadFilter)))
                                    {
                                        <div class="govuk-radios__item gias-radio__item--bordered-filter">
                                            @{
                                                var id = TagBuilder.CreateSanitizedId(string.Format("{0}-{1}", "search-type", ft));
                                            }
                                            @Html.RadioButtonFor(x => x.SearchType, ft, new {id, data_aria_controls = $"{ft}", @class = "govuk-radios__input"})
                                            @Html.Label(ft.EnumDisplayNameFor(), new {@for = id, @class = "govuk-label govuk-radios__label"})
                                        </div>
                                    }
                                    <div id="@eDownloadFilter.DateFilter.ToString()" class="govuk-radios__conditional govuk-radios__conditional--hidden gias-conditional--bordered">
                                        <div class="date-filters" id="date-filter">
                                            <p class="govuk-!-padding-right-2">
                                                Files can be downloaded from DD MM YY to present
                                            </p>
                                            @Html.EditorFor(m => m.FilterDate,
                                                new
                                                {
                                                    disableHint = false,
                                                    labelClass = "govuk-label",
                                                    title = "",
                                                    inFilters = false,
                                                    fieldsetClassName = "search-to-date",
                                                    hideLegend = true
                                                })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-form-group">
                                <button type="submit" name="action" class="govuk-button" id="filter-submit">Update</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                @* results start *@
                <div class="govuk-grid-column-two-thirds" id="results-container">
                    <h2 class="govuk-heading-s">Select all the files you want to download</h2>
                    <details class="govuk-details govuk-!-margin-bottom-9" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Why can't I see the files I'm looking for?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>Some of the historical downloadable files may not be available for this date.</p>
                            <p>This is normally for one of the following reasons:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>The files were not introduced until a later date</li>
                                <li>A technical issue resulted in the files not being generated on this date</li>
                                <li>The files were only available as public download and not specific scheduled extracts</li>
                            </ul>
                            <p>
                                Please try again tomorrow or if the error continues, raise a
                                <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-2b61dfcd-9296-4f6a-8a26-4671265cae67/AF-Stage-f3f5200e-e605-4a1b-ae6b-3536bc77305c/definition.json&redirectlink=/en&cancelRedirectLink=/en" target="_blank" rel="external">
                                    Service Request <span class="govuk-visually-hidden">Opens in new window</span>
                                </a>.
                            </p>
                        </div>
                    </details>
                    @foreach (var group in downloadGroups)
                    {
                        <h2 class="govuk-heading-m">@group.Heading</h2>
                        <p>@group.Paragraph</p>
                        foreach (var item in group.SubSections)
                        {
                            <h3 class="govuk-heading-s">@item.Heading</h3>
                            <ul class="govuk-list govuk-list--spaced">
                                @foreach (var file in item.Files)
                                {
                                    <li>
                                        @if (file.Item2.RequiresGeneration)
                                        {
                                            <a href="@Url.RouteUrl("GenerateDownload", new {id = file.Item2.Tag})" rel="nofollow" class="js-track" data-track="download-data-page|@file.Item2.Description)|download">
                                                @file.Item1@Html.Conditional(file.Item2.FileSizeInBytes > 0, ", " + Html.FileSizeInMegabytes(file.Item2.FileSizeInBytes))
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@(file.Item2.AuthenticationRequired ? Url.RouteUrl("DownloadFile", new {filterDate = DateTime.Today, id = file.Item2.Tag}) : file.Item2.Url)" target="_blank" rel="nofollow" class="js-track" data-track="download-data-page|@file.Item2.Description)|download">
                                                @file.Item1@Html.Conditional(file.Item2.FileSizeInBytes > 0, ", " + Html.FileSizeInMegabytes(file.Item2.FileSizeInBytes)) <span class="govuk-visually-hidden">Opens in new window</span>
                                            </a>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    }
                </div>
            </div>
        </div>
        @if (Model.AreScheduledExtractsAvailable)
        {
            <div id="scheduled-extracts" class="tab-content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p>
                            This is full data that can be found on Get information about schools. Not all files are date stamped, so it's a good idea to make a note of when you download the file.
                        </p>

                        @if (Model.ScheduledExtracts.PageCount > 1)
                        {
                            <div class="top-pagination">
                                @Html.Partial("_GenericPaginationV2", Model.ScheduledExtracts)
                            </div>
                        }

                        <table class="govuk-table gias-table retain-columns @(Model.ScheduledExtracts.PageCount > 1 ? "" : "no-pagination")">
                            <caption class="govuk-visually-hidden">Scheduled extracts files</caption>
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">File</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">ID</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            @foreach (var item in Model.ScheduledExtracts.Items)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell download-list-item">
                                        @Html.RouteLink(item.Name, "RequestScheduledExtract", new {id = item.Id}, new {rel = "nofollow"})
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">
                                        @item.Id
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        @if (Model.ScheduledExtracts.PageCount > 1)
                        {
                            <div class="lower-pagination">
                                @Html.Partial("_GenericPaginationV2", Model.ScheduledExtracts)
                            </div>
                            @helpers.BackToTopLink()
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@section ViewScripts
{
    <script src="/public/assets/scripts/build/downloads.js"></script>

}
