@using System.Globalization
@using System.Web.Mvc.Html
@using Edubase.Data.Entity
@using Edubase.Web.UI.Controllers
@using Edubase.Web.UI.Helpers
@using MoreLinq

@model Edubase.Web.UI.Models.News.NewsArticleAuditViewModel
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.bodyClasses = "news-page";
    ViewBag.SiteSection = "news";
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a asp-controller="Home" asp-action="Index" asp-area="" class="govuk-breadcrumbs__link">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a asp-controller="News" asp-action="Index" asp-area="" class="govuk-breadcrumbs__link">News</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a asp-controller="News" asp-action="Manage" asp-area="" class="govuk-breadcrumbs__link">Manage</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a asp-controller="News" asp-action="AuditArticles" asp-area="" class="govuk-breadcrumbs__link">Audit</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Viewing change history of news article @Model.Articles.Select(x => x.Tracker).First()</h1>
    </div>
</div>

<div class="button-row govuk-!-margin-bottom-4">
    <a asp-controller="News" asp-action="AuditArticles" class="govuk-link">Back</a>
</div>


@{
    var request = ViewContext.HttpContext.Request;
    var sortDir = "desc";
    var sortDirText = "a descending order";
    var sortField = nameof(NewsArticle.Version);

    var sortByQuery = request.Query["sortby"].ToString();

    if (!string.IsNullOrEmpty(sortByQuery))
    {
        sortField = sortByQuery.Contains("-") ? sortByQuery.Substring(0, sortByQuery.IndexOf("-")) : sortByQuery;
        sortDir = sortByQuery.Contains("asc") ? "asc" : "desc";
        sortDirText = sortByQuery.Contains("asc") ? "an ascending order" : "a descending order";
    }

    var sortedDescription = " is sorted in " + sortDirText + ". Click to change order. All other columns are sortable.";
    var unsortedDescription = ". Click to sort data by this column.";

    var tableColumns = new List<Tuple<string, string, bool>>
{
        Tuple.Create(nameof(NewsArticle.AuditTimestamp), "Time and date", true),
        Tuple.Create(nameof(NewsArticle.Status), "Status", false),
        Tuple.Create(nameof(NewsArticle.Version), "Version", true),
        Tuple.Create(nameof(NewsArticle.AuditUser), "User ID", true),
        Tuple.Create(nameof(NewsArticle.Title), "Title", false),
        Tuple.Create(nameof(NewsArticle.ArticleDate), "Article date", true),
        Tuple.Create(nameof(NewsArticle.ShowDate), "Show date", true),
        Tuple.Create(nameof(NewsArticle.Content), "Article", false)
    };

<div id="audit-history">
    @if (!Model.Articles.Any())
    {
        <p class="govuk-body">There are no audit records available at the moment</p>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-s">Showing 1-@Model.Articles.Count() of @Model.Articles.Count()</p>
            </div>

            @{
                var latestArticle = Model.Articles
                    .OrderByDescending(x => x.Version)
                    .FirstOrDefault();

                _ = Enum.TryParse<eNewsArticleEvent>(latestArticle?.AuditEvent, true, out var parsedEvent);

                if (parsedEvent != eNewsArticleEvent.Delete)
                {
                    <div class="govuk-grid-column-one-third gias-align-right">
                        <a asp-route="EditArticle" asp-route-id="@Model.Articles.Select(x => x.Tracker).First()" class="govuk-button">Edit</a>
                    </div>
                }
            }
        </div>

        <table class="approval-changes govuk-table gias-table sortable-table">
            <caption class="govuk-visually-hidden">News audit</caption>
            <thead class="govuk-table__head">
                <tr class="gocuk-table__row">
                    @foreach (var tableColumn in tableColumns)
                    {
                        <th scope="col" class="govuk-table__header @Html.Conditional(tableColumn.Item3 == false, "govuk-!-font-weight-regular")">
                            @if (tableColumn.Item3)
                            {
                                <a href="@Url.SortUrl(tableColumn.Item1)"
                                   class="@Html.Conditional(sortField == tableColumn.Item1, "selected-sort") @Html.Conditional(sortDir.Contains("asc"), "sorted-asc") @Html.Conditional(sortDir.Contains("desc"), "sorted-desc")"
                                   aria-label="@string.Concat(tableColumn.Item2, (sortField == tableColumn.Item1 ? sortedDescription : unsortedDescription))">@tableColumn.Item2</a>
                            }
                            else
                            {
                                @tableColumn.Item2
                            }
                        </th>
                    }
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var article in Model.Articles)
                {
                    var articleEvent = (eNewsArticleEvent)Enum.Parse(typeof(eNewsArticleEvent), article.AuditEvent, true);

                    <tr class="govuk-table__row">
                        <td data-label="Time and date" class="govuk-table__cell">
                            @article.Timestamp?.ToString("h:mmtt", CultureInfo.InvariantCulture).ToLower()
                            <br />
                            @article.Timestamp?.ToString("d MMMM yyyy", CultureInfo.InvariantCulture)
                        </td>
                        <td data-label="Status" class="govuk-table__cell">
                            @if (articleEvent == eNewsArticleEvent.Delete)
                            {
                                <span>@articleEvent.EnumDisplayNameFor()</span>
                            }
                            else
                            {
                                <span>@article.Status.EnumDisplayNameFor()</span>
                            }
                        </td>
                        <td data-label="Version" class="govuk-table__cell">@article.Version</td>
                        <td data-label="User ID" class="govuk-table__cell">@article.AuditUser</td>
                        <td data-label="Title" class="govuk-table__cell">@article.Title</td>
                        <td data-label="Article date" class="govuk-table__cell">@article.ArticleDate.ToString("h:mmtt", CultureInfo.InvariantCulture).ToLower() <br /> @article.ArticleDate.ToString("d MMMM yyyy", CultureInfo.InvariantCulture)</td>
                        <td data-label="Show date" class="govuk-table__cell">@article.ShowDate</td>
                        <td data-label="Content" class="govuk-table__cell">
                            <a asp-controller="News"
                                asp-action="@(article.PartitionKey == eNewsArticlePartition.Current.ToString() ? "Article" : "ArticleAudit")"
                                asp-route-id="@article.RowKey"
                                asp-route-auditRoute="@nameof(NewsController.AuditArticle)"
                                class="govuk-link">
                                View article content
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <back-to-top-link />
    }
</div>
}
