@using System.Globalization
@model Edubase.Web.UI.Models.News.NewsArticlesViewModel
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.bodyClasses = "news-page";
    ViewBag.SiteSection = "news";
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>

                    @if (Model.IsPreview)
                    {
                        <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                        <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Manage", "Manage", "News", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    }
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">News</h1>
        <p>System updates for each development release, such as new functionality, features and bug fixes and other non development news items relating to Get Information about Schools (GIAS).</p>
        <p>All news items show what was originally displayed at the time of publication, therefore some links in these news items may no longer work.</p>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
        <form>
            <div class="govuk-grid-column-one-third">
                <p style="margin:0">
                    Showing
                    <select class="govuk-select" id="news-year" name="year">
                        @{
                            for (var y = DateTime.Now.Year; y >= 2017; y--)
                            {
                                <option value="@y" selected="@(Model.LookupYear == y)">@y news</option>
                            }}
                    </select>
                </p>
            </div>
            <div class="govuk-grid-column-two-thirds no-js-show-block" style="margin-top: 25px">
                <button type="submit" class="govuk-button" style="margin-left: 12px">Update</button>
            </div>
        </form>
    </div>
</div>
<div class="govuk-grid-row news">
    <div class="govuk-grid-column-two-thirds news-blog">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

        @if (Model.Articles.Any())
        {
            foreach (var modelArticle in Model.Articles)
            {
                <h2 class="govuk-heading-m">
                    @modelArticle.Title<br />
                    @if (@modelArticle.ShowDate)
                    {
                        <span class="gias-news-heading--date">@modelArticle.ArticleDate.ToString("d MMMM yyyy", CultureInfo.InvariantCulture)</span>
                    }
                </h2>

                @Html.Raw(modelArticle.Content)

                if (@Model.AllowEdit)
                {
                    <p>
                        @Html.RouteLink("Edit news article", "EditArticle", new { id = @modelArticle.RowKey }, new { @class = "govuk-button govuk-button--secondary" })
                        @Html.RouteLink("Delete news article", "DeleteArticle", new { id = @modelArticle.RowKey }, new { @class = "govuk-button govuk-button--secondary gias-banner-delete-button" })
                    </p>
                }

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
            }
        }

    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @helpers.BackToTopLink()
    </div>
</div>


@section ViewScripts
{
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("news.*.js"))"></script>
}
