@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.bodyClasses = "news-page";
    ViewBag.SiteSection = "news";
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage news</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list">
            <li>
                <h3 class="govuk-heading-s">
                    @Html.ActionLink("Create", "CreateArticle", "News")
                </h3>
                <p>
                    Create a fresh news article.
                </p>
            </li>

            <li>
                <h3 class="govuk-heading-s">
                    @Html.ActionLink("Preview", "Preview", "News")
                </h3>
                <p>
                    Preview the news page to see how it will look. This shows all articles and does not mask those which are not yet live.
                </p>
            </li>

            <li>
                <h3 class="govuk-heading-s">
                    @Html.ActionLink("Amend", "Edit", "News")
                </h3>
                <p>
                    Edit or Delete an existing news article.
                </p>
            </li>

            <li>
                <h3 class="govuk-heading-s">
                    @Html.ActionLink("Audit", "AuditArticles", "News")
                </h3>
                <p>
                    View the full change history audit of all the news articles, including all created versions.
                </p>
            </li>
        </ul>
    </div>
</div>
