
@model GlossaryViewModel
@{
    ViewBag.Title = "GIAS: Glossary";
    ViewBag.SiteSection = "help";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Glossary</h1>
        <p>The sections below give explanations for terms commonly used on this site. Select the first letter of the term you're searching for.</p>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (Model.UserCanEdit)
        {
            @Html.RouteLink("Add entry", "CreateGlossaryItem", null, new { @class = "govuk-button" })
        }
        @{
            var i = 0;
        }
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            @foreach (var group in Model.Items)
            {
                i++;
                var headingId = $"accordion-default-heading-{i}";
                var contentId = $"accordion-default-content-{i}";

                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <button type="button"
                                    class="govuk-accordion__section-button"
                                    id="@headingId"
                                    aria-controls="@contentId"
                                    aria-expanded="false">
                                @group.Key
                            </button>
                        </h2>
                    </div>

                    <div id="@contentId"
                         class="govuk-accordion__section-content"
                         aria-labelledby="@headingId">

                        @foreach (var item in group)
                        {
                            <div class="gias-glossary-item govuk-!-margin-bottom-3">
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">@item.Title</h3>
                                <div class="gias-user-content govuk-body">
                                    @Html.Raw(System.Text.RegularExpressions.Regex
                                        .Replace(item.Content, @"\r\n|\r|\n", "<br/>"))
                                </div>
                                @if (Model.UserCanEdit)
                                {
                                    <p class="govuk-!-margin-top-2">
                                        @Html.RouteLink("Edit entry",
                                            "EditGlossaryItem",
                                            new { id = item.RowKey },
                                            new { @class = "govuk-button govuk-button--secondary glossary-edit-button" })
                                    </p>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<noscript>
    <style>
    #accordion-default .govuk-accordion__section-content,
    #accordion-default .govuk-accordion__section-content[hidden] {
      display: block !important;
    }
  </style>

    <p class="no-js-show-block">
        @helpers.BackToTopLink()
    </p>
</noscript>
