@model GlossaryViewModel
@{
    ViewBag.Title = "GIAS: Glossary";
    ViewBag.SiteSection = "help";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Help", "Help", "Home", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Glossary</h1>
        <p>The sections below give explanations for terms commonly used on this site. Select the first letter of the term you're searching for.</p>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (Model.UserCanEdit)
        {
            @Html.RouteLink("Add entry", "CreateGlossaryItem", null, new { @class = "govuk-button" })
        }
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            @foreach (var group in Model.Items)
            {
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="ctrl-@group.Key">
                                @group.Key
                            </span>
                        </h2>
                    </div>
                    <div id="target-@group.Key" class="govuk-accordion__section-content" aria-labelledby="ctrl-@group.Key">
                        @foreach (var item in group)
                        {
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-2">
                                    <h2 class="govuk-heading-s">@item.Title</h2>
                                    <div class="gias-user-content">@Html.Raw(item.Content.Replace("\n", "<br/>"))</div>
                                </div>

                                @if (Model.UserCanEdit)
                                {
                                    <div class="govuk-grid-column-one-third gias-align-right govuk-!-padding-bottom-2">
                                        @Html.RouteLink("Edit entry", "EditGlossaryItem", new { id = item.RowKey }, new { @class = "govuk-button govuk-button--secondary glossary-edit-button" })
                                    </div>
                                }
                            </div>
                            }
                        </div>
                </div>
            }
        </div>

        <p class="no-js-show-block">@helpers.BackToTopLink()</p>
    </div>
</div>
