@using Edubase.Web.UI.Helpers
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.SiteSection = "help";

    var request = ViewContext.HttpContext.Request;
    var acceptsAnalytics = request.Cookies["analytics_preferences"];
    var declinedAnalytics = acceptsAnalytics == "False";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">How cookies are used on this service</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
        <div class="cookies">
            <section class="gias-readability">
                <p>
                    Get Information about Schools puts small files (known as &lsquo;cookies&rsquo;) onto your computer to
                    collect information about how you browse the site.
                </p>

                <p>Cookies are used to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>measure how you use the website so it can be updated and improved based on your needs</li>
                    <li>remember the notifications you&apos;ve seen so that we don&apos;t show them to you again</li>
                </ul>

                <p>The cookies aren&apos;t used to identify you personally.</p>

                <p>You&apos;ll normally see a message on the site before we store a cookie on your computer.</p>

                <p>
                    Find out more about
                    <a href="http://www.aboutcookies.org/" target="_blank" rel="noreferrer noopener">
                        how to manage cookies (opens in new tab)
                    </a>.
                </p>
            </section>
            <section class="gias-readability">

                <h2 class="govuk-heading-m">Measuring website usage</h2>

                <p>
                    We use Google Analytics software to collect information about how you use this website. We do this to help
                    make sure the site is meeting the needs of its users and to help us make improvements, for example
                    <a href="https://insidegovuk.blog.gov.uk/2015/03/26/new-tool-to-see-trending-searches/" target="_blank" rel="noreferrer noopener">
                        improving site search (opens in new tab)
                    </a>.
                    We also send cross-domain tracking information to GOV.UK to help us understand and monitor performance data across multiple public services.
                </p>

                <p>Google Analytics stores information about:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>the pages you visit on this website</li>
                    <li>how long you spend on each page</li>
                    <li>how you got to the site</li>
                    <li>what you click on while you&apos;re visiting the site</li>
                </ul>

                <p>We don&apos;t collect or store your personal information (for example your name or address) so this information can&apos;t be used to identify who you are.</p>

                <p>We don&apos;t allow Google to use or share our analytics data.</p>

                <p>Google Analytics sets the following cookies:</p>

                <div class="table-wrapper">
                    <table class="govuk-table gias-cookie-table">
                        <caption class="govuk-visually-hidden">Google Analytics cookies</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Name
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Purpose
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Expires
                            </th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">_ga</td>
                            <td class="govuk-table__cell" data-label="Purpose">This helps us count how many people visit GOV.UK by tracking if you&apos;ve visited before</td>
                            <td class="govuk-table__cell" data-label="Expires">2 years</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">_gat</td>
                            <td class="govuk-table__cell" data-label="Purpose">Used to manage the rate at which page view requests are made</td>
                            <td class="govuk-table__cell" data-label="Expires">10 minutes</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">_gid</td>
                            <td class="govuk-table__cell" data-label="Purpose">Used to distinguish users</td>
                            <td class="govuk-table__cell" data-label="Expires">24 hours</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h2 class="govuk-heading-m">Microsoft Clarity</h2>

                <p>
                    We use Microsoft Clarity to understand how you use the Get Information About Schools. This information helps us to improve the website.
                </p><p>
                    Microsoft Clarity uses the following cookies:
                </p>

                <div class="table-wrapper">
                    <table class="govuk-table gias-cookie-table">
                        <caption class="govuk-visually-hidden">Microsoft clarity cookies</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Name
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Purpose
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Expires
                            </th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">
                                _clck</td>
                            <td class="govuk-table__cell" data-label="Purpose">Checks if you&apos;ve visited the Get Information About Schools before and makes sure you&apos;re given the same ID</td>
                            <td class="govuk-table__cell" data-label="Expires">1 year</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">_clsk</td>
                            <td class="govuk-table__cell" data-label="Purpose">Connects a user&apos;s page views into a single session recording</td>
                            <td class="govuk-table__cell" data-label="Expires">1 day</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">CLID</td>
                            <td class="govuk-table__cell" data-label="Purpose">Identifies the first time Microsoft Clarity saw this user on any website that uses Microsoft Clarity</td>
                            <td class="govuk-table__cell" data-label="Expires">1 year</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">
                                ANONCHK</td>
                            <td class="govuk-table__cell" data-label="Purpose">	Indicates whether the MUID cookie is sent to ANID. ANID is not used by Microsoft Clarity, so is set to expire at the end of your session.</td>
                            <td class="govuk-table__cell" data-label="Expires">end of session</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">MUID</td>
                            <td class="govuk-table__cell" data-label="Purpose">Identifies unique web browsers visiting Microsoft sites. These cookies are used for advertising, analytics and operational purposes</td>
                            <td class="govuk-table__cell" data-label="Expires">1 year</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">MR</td>
                            <td class="govuk-table__cell" data-label="Purpose">Indicates whether to refresh the MUID cookie</td>
                            <td class="govuk-table__cell" data-label="Expires">7 days</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">SM</td>
                            <td class="govuk-table__cell" data-label="Purpose">Used to synchronise the MUID cookie across Microsoft domains</td>
                            <td class="govuk-table__cell" data-label="Expires">end of session</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            @using (Html.BeginForm("CookieChoices", "Home", new { area = "" }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <div class=" govuk-!-padding-top-4">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" id="set-analytics-prefs">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    <h2 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                                        Set your analytics preferences for Get Information about Schools
                                    </h2>
                                </legend>
                                <div class="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input"
                                               @Html.Conditional(!declinedAnalytics, "checked=\"checked\"")
                                               id="acceptAnalyticsCookies-true" name="acceptAnalyticsCookies" type="radio" value="true">
                                        <label class="govuk-label govuk-radios__label" for="acceptAnalyticsCookies-true">
                                            Use cookies that measure my website use
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input"
                                               @Html.Conditional(declinedAnalytics, "checked=\"checked\"")
                                               id="acceptAnalyticsCookies-false" name="acceptAnalyticsCookies" type="radio" value="false">
                                        <label class="govuk-label govuk-radios__label" for="acceptAnalyticsCookies-false">
                                            Do not use cookies that measure my website use
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Save cookie settings
                            </button>
                        </div>
                    </div>
                }

                <p>
                    You can
                    <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="noreferrer noopener">
                        opt out of Google Analytics cookies (opens in new tab)
                    </a>.
                </p>
            </section>
            <section class="gias-readability">
                <h2 class="govuk-heading-m">Essential cookies</h2>
                <div class="table-wrapper">
                    <table class="govuk-table gias-cookie-table">
                        <caption class="govuk-visually-hidden">Get Information about Schools</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" role="columnheader" class="govuk-table__header">
                                    Name
                                </th>
                                <th scope="col" role="columnheader" class="govuk-table__header">
                                    Purpose
                                </th>
                                <th scope="col" role="columnheader" class="govuk-table__header">
                                    Expires
                                </th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Name">analytics_preferences</td>
                                <td class="govuk-table__cell" data-label="Purpose">
                                    Lets us know whether you agree to the use of analytics cookies to help us understand how you
                                    use the service so we can make improvements
                                </td>
                                <td class="govuk-table__cell" data-label="Expires">28 days</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Name">AspNet.ApplicationCookie</td>
                                <td class="govuk-table__cell" data-label="Purpose">One of the ways that we manage the user access to the service</td>
                                <td class="govuk-table__cell" data-label="Expires">When you close your browser</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Name">AspNet.ExternalCookie</td>
                                <td class="govuk-table__cell" data-label="Purpose">One of the ways that we manage the user access to the service</td>
                                <td class="govuk-table__cell" data-label="Expires">When you close your browser</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Name">__RequestVerificationToken</td>
                                <td class="govuk-table__cell" data-label="Purpose">One of the ways that we manage the user access to the service</td>
                                <td class="govuk-table__cell" data-label="Expires">When you close your browser</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <back-to-top-link />
        </div>
    </div>
</div>
