@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.bodyClasses = "news-page";
    ViewBag.SiteSection = "help";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Help using Get Information about Schools</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>This page provides you with contact and support information for using the service, including details on how your data and cookies are used.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</h2>
        <p>Contact us if you are an establishment, local authority, academy trust or member of the public who has a query about Get Information about Schools.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Html.ActionLink("Glossary", "Index", "Glossary", new { area = "" }, null)</h2>
        <p>Specific terms explained with a full description.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Html.RouteLink("Frequently asked questions (FAQs)", "Faq")</h2>
        <p>Frequently asked questions about Get Information about Schools.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Html.ActionLink("Guidance", "Index", "Guidance", new { area = "" }, null)</h2>
        <p>General guidance about Get Information about Schools and for help with specific areas.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Html.ActionLink("Terms of use", "Index", "TermsofUse", new { area = "" }, null)</h2>
        <p>Terms of use for the Get Information about Schools service.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Html.ActionLink("Service information and users responsibilities", "Responsibilities", "Home", new { area = "" }, null)</h2>
        <p>Information for users about the service and their responsibilities.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Html.ActionLink("Privacy notice", "Privacy", "Home", new { area = "" }, null)</h2>
        <p>Information about how the DfE uses your personal data.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Html.ActionLink("Cookies", "Cookies", "Home", new { area = "" }, null)</h2>
        <p>How cookies are used on Get Information about Schools and each cookie's purpose.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">@Html.ActionLink("Accessibility statement", "Accessibility", "Home", new { area = "" }, null)</h2>
        <p>Information about Get Information about Schools accessibility for users.</p>

        @helpers.BackToTopLink()
    </div>
</div>
