@using System.Globalization
@model HomepageViewModel
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.siteSection = "home";
    var groupSpacing = "home-grid-component";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Get Information about Schools</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- MAIN CONTENT -->

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-!-padding-bottom-3">
                    For more information about this service go to the
                    <a href="@Url.Action("About", "Home", new {area = ""})">about</a> page.
                </p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half @groupSpacing">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-m">Establishments</h3>
                        <p>
                            Find and search for establishments
                        </p>
                        <p>
                            <a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = SearchViewModel.Tab.Establishments})">
                                Search for establishments
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-half @groupSpacing">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-m">Establishment groups</h3>
                        <p>
                            Find and search for establishment groups
                        </p>
                        <p>
                            <a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = SearchViewModel.Tab.Groups})">
                                Search for establishment groups
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half @groupSpacing">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-m">Governance roles</h3>
                        <p>
                            Find and search for governance roles in state maintained establishments and academy trust groups
                        </p>
                        <p>
                            <a href="@Url.Action("Index", "Search", new {area = "", SelectedTab = SearchViewModel.Tab.Governors})">
                                Search for governance roles
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-half @groupSpacing">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-m">Downloads</h3>
                        <p>
                            Download files of specific data item fields from the database that are publicly available and updated daily
                        </p>
                        <p>
                            <a href="@Url.Action("Index", "Downloads", new {area = ""})">
                                Find a download
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        @if (!Request.IsAuthenticated)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full @groupSpacing">
                    <h2 class="govuk-heading-m">Update your establishment, group and governance information</h2>
                    <p>
                        This is for establishment users only and local authority and group users where applicable. Please sign into your DfE Sign-in (DSI) account to make any updates
                    </p>
                    <p>
                        @Html.ActionLink("DfE Sign-in", "LogIn", "Account", new { area = "", returnUrl = Request.Url.PathAndQuery }, new { rel = "nofollow" })
                    </p>
                </div>
            </div>
        }

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0 home-hr">
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full @groupSpacing">
                <h2 class="govuk-heading-m">The following websites may be of interest in your searches</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half @groupSpacing">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-m">Find and Compare Schools in England</h3>
                        <p>
                            Search and compare performance information about schools and further education colleges in England
                        </p>
                        <p>
                            <a href="@Model.CscpHomepage" target="_blank" rel="noreferrer noopener">
                                Search
                                (opens in new tab)
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-half @groupSpacing">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-m">Schools Financial Benchmarking</h3>
                        <p>
                            Search and compare financial data about schools and academy trusts in England
                        </p>
                        <p>
                            <a href="@Model.FinancialBenchmarkingHomepage" target="_blank" rel="noreferrer noopener">
                                Search
                                (opens in new tab)
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half @groupSpacing">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-m">Ofsted</h3>
                        <p>
                            Search and view Ofsted inspection reports for establishments in England
                        </p>
                        <p>
                            <a href="https://reports.ofsted.gov.uk/" target="_blank" rel="noreferrer noopener">
                                Search
                                (opens in new tab)
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-half @groupSpacing">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-m">Education and learning</h3>
                        <p>
                            See a comprehensive listings of all DfE services and guidance
                        </p>
                        <p>
                            <a href="https://www.gov.uk/browse/education" target="_blank" rel="noreferrer noopener">
                                Explore
                                (opens in new tab)
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0 home-hr">
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full @groupSpacing">
                <h2 class="govuk-heading-m">Information about educational establishments in the rest of the United Kingdom</h2>
                <p>
                    Please visit the:
                </p>
                <p>
                    Northern Ireland government
                    <a href="https://www.northernireland.gov.uk/" target="_blank" rel="noreferrer noopener">
                        website
                        (opens in new tab)
                    </a>
                </p>
                <p>
                    Scottish government
                    <a href="https://www.gov.scot/" target="_blank" rel="noreferrer noopener">
                        website
                        (opens in new tab)
                    </a>
                </p>
                <p>
                    Welsh government
                    <a href="https://gov.wales/" target="_blank" rel="noreferrer noopener">
                        website
                        (opens in new tab)
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <!-- RIGHT HAND CONTENT-->
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0 home-hr">

        <h3 class="govuk-heading-m">News</h3>
        @{
            foreach (var modelNewsArticle in Model.NewsArticles)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-!-margin-bottom-0">
                            <a href="@Url.Action("Article", "News", new {id = @modelNewsArticle.RowKey})">
                                @modelNewsArticle.Title
                            </a>
                        </p>
                        <p class="govuk-!-font-size-16">
                            @modelNewsArticle.ArticleDate.ToString("d MMMM yyyy", CultureInfo.InvariantCulture)
                        </p>
                    </div>
                </div>
            }
        }
        <p>
            <a href="@Url.Action("Index", "News", null)">
                More news
            </a>
        </p>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @helpers.BackToTopLink()
    </div>
</div>
