@inject IConfiguration Configuration
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.SiteSection = "help";

    var fscpdServiceName = Configuration["FscpdServiceName"];
    var fscpdHomeUrl = Configuration["FscpdHomeUrl"];
}

@section BreadCrumbs
{
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Help", "Help", "Home", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})</li>
            </ol>
        </div>
    </div>
</div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Service information and users responsibilities
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-list--number">
            <li>
                <h2 class="govuk-heading-m">What is GIAS?</h2>
                <ul class="govuk-list govuk-list--spaced gias-list--number-nested">
                    <li data-idx="1.1">
                        It is the Department for Education&apos;s (DfE) register of educational establishments in England and Wales. It contains vital information about children&apos;s centres, academies, free schools, maintained schools, independent schools, further education colleges (further education and sixth form corporations, specialist designated colleges and special post 16 institutions) and higher education institutions.
                    </li>
                    <li data-idx="1.2">
                        It is the
                        <a href="https://www.gov.uk/government/news/national-database-of-governors" target="_blank" rel="noreferrer noopener">National Database of Governors (opens in new tab)</a> (for those establishment types where this applies).
                    </li>
                    <li data-idx="1.3">
                        All establishments are assigned a GIAS record as part of their registration or change of establishment type process.
                    </li>
                    <li data-idx="1.4">
                        Section 4 below explains how colleagues associated to establishments with the relevant access, need to keep the establishment&apos;s GIAS information up to date.
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="govuk-heading-m">Why does GIAS need to be kept up to date?</h2>
                <ul class="govuk-list govuk-list--spaced gias-list--number-nested">
                    <li data-idx="2.1">
                        It is used by the DfE, other government departments and partners to contact establishments, update systems, perform analysis and inform policy decisions, some of which may carry funding implications.
                    </li>
                    <li data-idx="2.2">
                        Key departmental services, such as
                        <a href="https://services.signin.education.gov.uk/" target="_blank" rel="noreferrer noopener">DfE Sign-in (DSI) (opens in new tab)</a>,
                        <a href="@fscpdHomeUrl" target="_blank" rel="noreferrer noopener">@fscpdServiceName (also known as the School Performance Tables (SPT)) (opens in new tab)</a>,
                        Analyse School Performance (ASP) and
                        <a href="https://schools-financial-benchmarking.service.gov.uk/" target="_blank" rel="noreferrer noopener">School Financial Benchmarking (SFB) (opens in new tab)</a>
                        use the information in GIAS to directly feed their services. If GIAS information is incorrect establishments (where applicable) may not be represented correctly on these key services that are available to the public and/or individual establishments.
                    </li>
                    <li data-idx="2.3">
                        The department&apos;s partners, such as Ofsted, use information from GIAS directly for their website (where applicable) and for the planning of, and implementation of their inspections. If the GIAS information is incorrect establishments may be misrepresented publicly on their website and it could affect inspections.
                    </li>
                    <li data-idx="2.4">
                        Other partners, such as the
                        <a href="https://www.ukrlp.co.uk/" target="_blank" rel="noreferrer noopener">UK Register of Learning Providers (UKRLP) (opens in new tab)</a>
                        who assign UK provider reference numbers (UKPRNs), also use GIAS information directly so it could affect the issuing of these numbers if GIAS establishment information is incorrect.
                    </li>
                    <li data-idx="2.5">
                        The information feeds many internal DfE systems and analysis (for example the termly school census, the annual school census for independent schools and the school workforce census data collections) so if the information on GIAS is incorrect it could have an impact on establishments, including funding allocations.
                    </li>
                    <li data-idx="2.6">
                        It is used by members of the public to see the publicly available information on establishments. If the information is not correct establishments are not being represented correctly to the public, many of whom are parents (or prospective parents) of the pupils and students in establishments.
                    </li>
                    <li data-idx="2.7">
                        Many external sources use the publicly available information about establishments, for example educational researchers and estate agents (to map establishments in a house buying area). If the information is incorrect establishments are being portrayed inaccurately in their research and systems.
                    </li>
                    <li data-idx="2.8">
                        It is the legislative avenue for local authority maintained schools to inform the Secretary of State of changes to establishments made through the prescribed alterations regulation process:
                        &ldquo;<a href="https://www.gov.uk/government/publications/school-organisation-maintained-schools" target="_blank" rel="noreferrer noopener">Making significant changes (&lsquo;prescribed alterations&rsquo;) to maintained schools&rdquo; (opens in new tab)</a>. For academies the
                        &ldquo;<a href="https://www.gov.uk/government/publications/making-significant-changes-to-an-existing-academy" target="_blank" rel="noreferrer noopener">Making significant changes to an open academy and closure by mutual agreement&rdquo; (opens in new tab)</a> guidance sets out that GIAS must be kept up to date.
                    </li>
                    <li data-idx="2.9">
                        It is also the approved process for schools to inform the Secretary of State of their intention to join or leave a federation. Information on federating can be found within the
                        <a href="https://www.gov.uk/government/publications/governance-in-federations" target="_blank" rel="noreferrer noopener">Governance in federations (opens in new tab)</a>.
                    </li>
                    <li data-idx="2.10">
                        All governance boards are required to provide information to the Secretary of State about people involved in governance via GIAS which is also the
                        <a href="https://www.gov.uk/government/news/national-database-of-governors" target="_blank" rel="noreferrer noopener">National Database of Governors (opens in new tab)</a>.
                        <a href="http://www.legislation.gov.uk/ukpga/1996/56/section/538" target="_blank" rel="noreferrer noopener">Section 538 of the Education Act 1996 (opens in new tab)</a> and the
                        <a href="https://www.gov.uk/guidance/academies-financial-handbook" target="_blank" rel="noreferrer noopener">Academy Trust Handbook (opens in new tab)</a> provide further information about establishments responsibilities with regards to GIAS.
                    </li>
                    <li data-idx="2.11">
                        For these reasons, it is essential that all establishments ensure their details are up to date on GIAS.
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="govuk-heading-m">When should GIAS be updated</h2>
                <ul class="govuk-list govuk-list--spaced gias-list--number-nested">
                    <li data-idx="3.1">
                        It is vital that establishments keep their GIAS record up to date.
                    </li>
                    <li data-idx="3.2">
                        It is the responsibility of establishments (and for local authority maintained schools the local authority and for academies the MAT) to keep their GIAS record up to date. GIAS must be updated whenever any of the fields associated with their record (establishment details or governance) has changed, or it has been agreed that there will be a change in their establishment that will affect information in their record.
                    </li>
                    <li data-idx="3.3">
                        Examples of changes are when a new headteacher or principle is appointed, changes in the establishments age range, if the gender of the establishment changes (where applicable), if the establishment (maintained schools only) is leaving or joining a federation, changes to trusts (single-academy trusts (SATs) and multi-academy trusts (MATs)), changes to academies and free schools, when a new governance role is appointed or one ends (where applicable).
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="govuk-heading-m">How to update GIAS</h2>
                <ul class="govuk-list govuk-list--spaced gias-list--number-nested">
                    <li data-idx="4.1">
                        Those colleagues within establishments, local authorities and MATs who have access to the establishment record they are associated with do this via their
                        <a href="https://services.signin.education.gov.uk/" target="_blank" rel="noreferrer noopener">DSI (opens in new tab)</a>
                        account that allows them to access their establishments GIAS record, access the non-public information and amend the establishment&apos;s record. It is recommended that establishments have nominated members of staff who maintain the establishment&apos;s GIAS record.
                    </li>
                    <li data-idx="4.2">
                        For those colleagues mentioned in 4.1 log into
                        <a href="https://services.signin.education.gov.uk/" target="_blank" rel="noreferrer noopener">DSI (opens in new tab)</a>.
                        If you are a user of other DfE services, you need to select the GIAS option.
                    </li>
                    <li data-idx="4.3">
                        Each establishment has a DSI approver who can grant access to other colleagues within their establishment. It is the approver&apos;s responsibility to keep the users who can access and edit their establishment&apos;s GIAS record up to date (through adding and removing colleagues), taking into account the
                        <a href="https://www.gov.uk/government/publications/guide-to-the-general-data-protection-regulation" target="_blank" rel="noreferrer noopener">General Data Protection Regulation (GDPR) (opens in new tab)</a>.
                        Local authority users and MAT users are given respective access via their own DSI approvers. In some cases, local authority users can make changes and approve and MAT users can suggest changes.
                    </li>
                    <li data-idx="4.4">
                        Once logged in details can be edited by selecting the relevant tabs, reviewing the information, and editing the fields that need amending. Prompts to save will be given where appropriate. It is important to save the tab, even if changes were not needed, as it confirms the information is correct and adds a date stamp to the records audit log.
                    </li>
                    <li data-idx="4.5">
                        When a record is saved some changes will take effect immediately and some may need relevant local authority or DfE approval, according to the establishment type and individual field being edited. You will be prompted where changes require further approval. On occasion, you may also need to provide supporting documentation to the relevant DfE policy team.
                    </li>
                    <li data-idx="4.6">
                        For further information on how to update establishment information on GIAS please see the
                        @Html.ActionLink("guidance", "Index", "Guidance", new { area = "" }, null) section on the site.
                        @Html.RouteLink("The frequently asked questions (FAQs)", "Faq") may also help.
                        If you cannot find the answer in these help sections you can contact the GIAS Support team using the
                        <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-2b61dfcd-9296-4f6a-8a26-4671265cae67/AF-Stage-f3f5200e-e605-4a1b-ae6b-3536bc77305c/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen" target="_blank" rel="noreferrer noopener">data collections service request form (opens in new tab)</a>
                        and choosing the Edubase (GIAS) option for your query. Please note there is a service level agreement (SLA) for responses so they will not be answered immediately.
                    </li>
                    <li data-idx="4.7">
                        The GIAS Support team recommends that, as a minimum, reviews of the record of the establishment you are associated with are undertaken monthly and required changes made.
                    </li>
                </ul>
            </li>
        </ul>

        <back-to-top-link />
    </div>
</div>
