@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.imageMQ = "(max-width: 768px)";
    ViewBag.SiteSection = "help";
}
@section BreadCrumbs
{
    <div class="govuk-govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Guidance", "Index", "Guidance", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Children&rsquo;s centres guidance</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Introduction</h2>
        <p>This document sets out the details of children&rsquo;s centres and related group types, as held on &lsquo;Get Information about Schools&rsquo;. You can create, update and download records of children&rsquo;s centres and groups.</p>
        <p>The terms &lsquo;group types&rsquo; and &lsquo;children&rsquo;s centre group&rsquo; refers to the group and collaboration delivery model types used by local authorities (LAs) to support Ofsted in planning the appropriate inspection.</p>

        <h2 class="govuk-heading-m">Types of children&rsquo;s centre</h2>
        <p>There are 2 types of children&rsquo;s centre records:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <h3 class="govuk-heading-s">Children&rsquo;s centre</h3>
                <p>Only facilities that fulfil the statutory definition of a children&rsquo;s centre in their own right may be called a children&rsquo;s centre. The children&rsquo;s centre is the &lsquo;main&rsquo; site if it has other &lsquo;linked sites&rsquo; offering access to some of the early childhood services on its behalf.</p>
                <p>A children&rsquo;s centre can be &lsquo;demoted&rsquo; to a linked site if it no longer fulfils the statutory definition of a children's centre in its own right, BUT continues to offer access to some of the early childhood services on behalf of another children's centre. See the definition of linked sites below.</p>
            </li>
            <li>
                <h3 class="govuk-heading-s">Children&rsquo;s centre linked site</h3>
                <p>These are places open to families and children providing some children's centre services as part of a Sure Start network. In the public domain, the department refers to these as &lsquo;additional sites&rsquo;.</p>
                <p>They were formerly children's centres in their own right and, while they no longer meet the statutory definition of a children&rsquo;s centre, they offer access to some of the early childhood services on behalf of another children's centre.</p>
                <p>A children&rsquo;s centre linked site can be promoted back up to a children&rsquo;s centre if in future it fulfils the statutory definition of a children's centre in its own right.</p>
            </li>
        </ul>


        <h2 class="govuk-heading-m">Types of children&rsquo;s centre groups</h2>
        <p>There are three different types of centres: stand-alone, collaborative and group.</p>
        <p>In &lsquo;Get Information about Schools&rsquo; the collaborative and group types are managed via the &lsquo;Find an establishment group&rsquo; search.</p>
        <p>The definitions of the types are:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <h3 class="govuk-heading-s">Stand-alone</h3>
                <p>This is the default type and these children&rsquo;s centres may work entirely independently of other children&rsquo;s centres. Stand-alone children&rsquo;s centres are inspected alone and have their own Ofsted report.</p>
                <p>Local authorities may change from stand-alone to either collaboration or group status based on the following definitions:</p>
            </li>
            <li>
                <h3 class="govuk-heading-s">Children&rsquo;s centre collaboration</h3>
                <p>This is where two or more main children&rsquo;s centres:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>do not share leadership and management</li>
                    <li>share their services through formal or informal arrangements in order to allow families access to a wider range of services than an individual centre can provide</li>
                </ul>
                <p>Wherever possible the inspections of centres sharing this type of arrangement are arranged simultaneously, allowing some evidence and inspector resource to be shared.</p>
                <p>Each main children&rsquo;s centre in a collaboration will have its own inspection report.</p>
            </li>
            <li>
                <h3 class="govuk-heading-s">Children&rsquo;s centre group</h3>
                <p>This is a group of main children&rsquo;s centres that:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>share leadership and management</li>
                    <li>have integrated services across the centres in the group</li>
                </ul>
                <p>A children&rsquo;s centre group has one inspection and one report that contains assessments for the group as a whole. The report does not contain assessments about the individual main children&rsquo;s centres that make up the group.</p>
                <p>A children&rsquo;s centre group:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        shares leadership and management (for example a group manager or leader or a shared
                        management committee or other shared governance arrangements through a formal
                        agreement), offers integrated or shared services and activities across the main children&rsquo;s
                        centres making up the group
                    </li>
                    <li>
                        must operate in a defined geographical area within one LA and be easily accessible to local
                        families with young children
                    </li>
                </ul>
                <p>Where main children&rsquo;s centres are in a group or collaboration, LAs should continue to list the individual children&rsquo;s centre records on the database, as well as assigning the children&rsquo;s centre to a particular group or collaboration for inspection purposes by using the group function.</p>
            </li>
        </ul>


        <h2 class="govuk-heading-m">Creation of children&rsquo;s centres</h2>
        <p>Members of the Children&rsquo;s Centre Local Authority Data Owners (CCLADO) user group can add new children&rsquo;s centres via the &lsquo;Create a new establishment&rsquo; tool.</p>
        <p>You can only create new children&rsquo;s centres for your own local authority. All fields in the form are mandatory.</p>
        <p>To add a children&rsquo;s centre follow these steps:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Go to the &lsquo;Tools&rsquo; section in the top menu</li>
            <li>Select &lsquo;Create a new establishment&rsquo; (example screenshot below)</li>
            <li>Complete all fields where possible.</li>
            <li>Select &lsquo;Children&rsquo;s centre&rsquo; or &lsquo;Children&rsquo;s centre linked site&rsquo; as the establishment type.</li>
            <li>Select &lsquo;Create</li>
        </ul>
        <figure class="gias-figure">
            <picture>
                <source media="@ViewBag.imageMQ"
                        srcset="~/public/assets/images/guidance/childrens_centre_tools_page_mobile.png"/>
                <source srcset="~/public/assets/images/guidance/childrens_centre_tools_page.png">
                <img src="~/public/assets/images/guidance/childrens_centre_tools_page.png"
                     alt="view of the tools page for a logged in user with Create a new establishment highlighted"/>
            </picture>
         </figure>

        <h2 class="govuk-heading-m">Editing a children&rsquo;s centre</h2>
        <p>Members of the Children&rsquo;s Centre Local Authority Data Owners (CCLADO) user group can edit and update children&rsquo;s centres within their local authority.</p>
        <p>Children&rsquo;s centre records can be edited in the &lsquo;Details&rsquo; tab (example screenshot below). Select &lsquo;Edit details&rsquo;, make the changes using the relevant field/s, then select &lsquo;Save&rsquo;. As a data owner, the changes will be automatically approved and processed.</p>
        <p>If a change is occurring in the future, you can add a future effective date (for changes that need to be processed immediately, the effective date can be left blank).</p>
        <figure class="gias-figure">
            <picture>
                <source media="@ViewBag.imageMQ"
                        srcset="~/public/assets/images/guidance/childrens_centre_details_page_mobile.png"/>
                <source srcset="~/public/assets/images/guidance/childrens_centre_details_page.png">
                <img src="~/public/assets/images/guidance/childrens_centre_details_page.png" alt="view of the details page for a children's centre"/>
            </picture>
        </figure>

        <h2 class="govuk-heading-m">Converting a children&rsquo;s centre to a linked site (and vice-versa)</h2>
        <p>A children&rsquo;s centre can be converted to a children&rsquo;s centre linked site, and vice-versa.</p>
        <p>Conversion from a children&rsquo;s centre to a children&rsquo;s centre linked site should only be done where it ceases to fulfil the statutory definition of a children's centre in its own right, but that it continues to offer access to some of the early childhood services on behalf of another children's centre.</p>
        <p>You will be asked to confirm that this is the case before you can complete the change.</p>
        <p>It is vice-versa to convert a children&rsquo;s centre linked site to a children&rsquo;s centre: that is the children&rsquo;s centre linked site once again fulfils the statutory definition of a children's centre in its own right, you will be asked to confirm that this is the case before you can complete the change.</p>
        <p>To complete this action, please following these steps:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Remove link to a collaboration or a group</li>
            <li>On the &lsquo;Details&rsquo; tab, select &lsquo;Edit details&rsquo;.</li>
            <li>Change the establishment type from &lsquo;children&rsquo;s centre&rsquo; to &lsquo;children&rsquo;s centre linked site&rsquo; or vice-versa.</li>
            <li>Select &lsquo;Save&rsquo;.</li>
            <li>When converting a children&rsquo;s centre to a children&rsquo;s centre linked site, you must then link it to a children&rsquo;s centre (see Linking children's centres above). A warning will appear if you don&rsquo;t create the link.</li>
        </ul>
        <p>The list of fields visible for a children&rsquo;s centre linked site is reduced when compared to a children&rsquo;s centre, this reduction will be applied on saving.</p>
        <p>In a similar fashion, changing a children&rsquo;s centre linked site to a children&rsquo;s centre will result in additional fields being displayed; this will be effective on saving. In this scenario you will need to check and update the &lsquo;re-displayed&rsquo; children&rsquo;s centre information as it is likely to be out of date.</p>
        <p>If the children&rsquo;s centre is in collaboration or a group, before you can convert it to a children&rsquo;s centre linked site you will get a warning message to remove the link to the group first.</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <h3 class="govuk-heading-s">Linking children&rsquo;s centres</h3>
                <p>Children&rsquo;s centre linked site records must have a link to a children&rsquo;s centre.</p>
                <p>Your conversion to a children&rsquo;s centre linked site will be checked overnight and if you have not set up a link to a children&rsquo;s centre the record will be deleted.</p>
                <p>Children&rsquo;s centres with the same type cannot be linked together, so a children&rsquo;s centre linked site cannot be linked to another children&rsquo;s centre linked site or a children&rsquo;s centre linked to another children&rsquo;s centre.</p>
                <p>If you attempt to link two children&rsquo;s centres of the same type, a warning message will appear and you will not be able to save.</p>
                <p>If a children&rsquo;s centre linked site closes the link to the children&rsquo;s centre will be automatically removed.</p>
                <p>If a children&rsquo;s centre is closing and it is linked to a children&rsquo;s centre linked site and you attempt to update the closing record with a close date with the link still in place, you will receive a warning message and you will not be able to save.</p>
                <p>Therefore, if the children&rsquo;s centre linked site is remaining open you must change the link to a different children&rsquo;s centre before you close its current children&rsquo;s centre record.</p>
                <p>To change a linked site from its current children&rsquo;s centre to a different children&rsquo;s centre please follow the steps below:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Open the children&rsquo;s centre linked site record</li>
                    <li>Select the &lsquo;Links&rsquo; tab (example screenshot below)</li>
                    <li>Select &lsquo;Edit&rsquo;</li>
                    <li>Delete the existing link by selecting &lsquo;Edit&rsquo; next to the relevant establishment</li>
                    <li>Add the new link by selecting &lsquo;Add another link&rsquo; and enter the URN of the children&rsquo;s centre</li>
                    <li>Select &lsquo;Save&rsquo;.</li>
                </ul>
                <figure class="gias-figure">
                    <picture>
                        <source media="@ViewBag.imageMQ"
                                srcset="~/public/assets/images/guidance/childrens_centre_links_page_mobile.png"/>
                        <source srcset="~/public/assets/images/guidance/childrens_centre_links_page.png"/>
                        <img src="~/public/assets/images/guidance/childrens_centre_links_page.png"
                             alt="view of the links page for a children's centre"/>
                    </picture>
                </figure>
            </li>
        </ul>


        <h2 class="govuk-heading-m">Creating new groups and collaborations</h2>
        <p>You can create new children&rsquo;s centre groups or collaborations via the &lsquo;Tools&rsquo; link in the menu at the top of the page. The name, type and open date of the group need to be entered.</p>
        <p>To add a new children&rsquo;s centre group:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>In the &lsquo;Tools&rsquo; menu, select &lsquo;Create new children&rsquo;s centres group or collaboration&rsquo; (example screenshot below)</li>
            <li>Select the &lsquo;Children&rsquo;s centres group&rsquo; button</li>
            <li>Enter the group name, the open date and the local authority.</li>
            <li>Add children&rsquo;s centres to the group by entering their URNs and selecting &lsquo;Add&rsquo;. For each centre, add the date it joined the group.</li>
            <li>Select &lsquo;Create a new group&rsquo;.</li>
        </ul>
        <figure class="gias-figure">
            <picture>
                <source media="@ViewBag.imageMQ"
                        srcset="~/public/assets/images/guidance/childrens_centre_tools_page_ccgroup_mobile.png"/>
                <source srcset="~/public/assets/images/guidance/childrens_centre_tools_page_ccgroup.png">
                <img src="~/public/assets/images/guidance/childrens_centre_tools_page_ccgroup.png"
                     alt="view of the tools page for a logged in user with Create a new children's centre group or collaboration highlighted"/>
            </picture>
        </figure>

        <h2 class="govuk-heading-m">Editing groups and collaborations</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <h3 class="govuk-heading-s">Editing children&rsquo;s centre groups and collaborations</h3>
                <p>
                    Once created, the new group or collaboration can be edited. Here&rsquo;s how:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Locate the group through the establishment group search</li>
                        <li>Select the &lsquo;Details&rsquo; tab</li>
                        <li>Select &lsquo;Edit details&rsquo;</li>
                        <li>Make the changes and select &lsquo;Submit&rsquo;.</li>
                    </ul>

            </li>

            <li>
                <h3 class="govuk-heading-s">Adding children&rsquo;s centres to groups and collaborations</h3>
                <p>Establishments can also be linked to the group by selecting the &lsquo;Children&rsquo;s centres&rsquo; tab on the group page. Select &lsquo;Edit children&rsquo;s centres&rsquo; and input the URN(s) to find the centres.</p>
                <p>All groups must contain a minimum of 2 establishments. Attempting to save the group with less than 2 establishments will result in an error message, and the save will not be processed.</p>
                <p>Notes:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>For groups (and not collaborations) a manager must be assigned to a group. If you try to save a group without entering details of a group manager, you will see an error message.</li>
                    <li>
                        A children&rsquo;s centre can only be linked to one children&rsquo;s centre group. If you attempt to add a
                        children&rsquo;s centre to a second group you will receive an error message, and the save will not
                        be processed.
                    </li>
                    <li>
                        In addition, every children&rsquo;s centre must have 1 (and 1 only) lead centre selected. This is
                        selected from the dropdown lists. Finally, all establishments within the group must be in the
                        same local authority.
                    </li>
                </ul>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <h4 class="govuk-heading-s">Populating lead centre&rsquo;s details</h4>
                        <p>In a children&rsquo;s centre group record the lead centre address and the local authority are automatically calculated based on the related schools and the lead centre selected. These fields cannot be altered via the group form.</p>
                    </li>
                    <li>
                        <h4 class="govuk-heading-s">Removing a children&rsquo;s centre from a group</h4>
                        <p>To remove an establishment from a group, follow these steps:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Locate the group through the establishment group search</li>
                            <li>Select the &lsquo;Details&rsquo; tab</li>
                            <li>Select &lsquo;Edit details&rsquo;</li>
                            <li>Make the changes and select &lsquo;Submit&rsquo;.</li>
                            <li>
                                Select &lsquo;Submit&rsquo; to save the update. As long as the group retains the minimum of 2 establishments and (in the case of children&rsquo;s centre groups) the lead centre, the group can be saved
                                <p>Alternatively, all establishments can be removed from the group and the group can be closed</p>
                            </li>
                            <li>When children&rsquo;s centres are removed from a group or collaboration they revert back to being the stand-alone delivery model type.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <h2 class="govuk-heading-m">Bulk update</h2>
        <p>If you need help in using the bulk update functionality, please select the link on the guidance page to read the step-by-step guide.</p>

        <back-to-top-link />
    </div>
</div>
