@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.imageMQ = "(max-width: 768px)";
    ViewBag.SiteSection = "help";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Guidance", "Index", "Guidance", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Establishment bulk update guidance</h1>
    </div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Introduction</h2>
<p>The bulk update tool allows you to make many updates in a single batch instead of editing individual establishment records. Multiple column files must be XLSX and bulk upload files can be XLSX or tab delimited text files.</p>
<p>If there&rsquo;s an error in your data, we&rsquo;ll send you a message to correct it. If your changes need approval, you&rsquo;ll get a second message to say your change is either approved or declined.</p>
<p>If there&rsquo;s an error in your data, we&rsquo;ll send you a message to correct it.</p>
<p>If your changes need approval, you&rsquo;ll get a second message to say your change is either approved or declined.</p>

<h2 class="govuk-heading-m">Bulk update steps</h2>
<p>You have to complete 3 steps to make changes via bulk update:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Create the file</li>
    <li>Upload the file</li>
    <li>Correct any errors</li>
</ul>

<p>Please use a file size smaller than 1MB. There are also limits of:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>5,000 rows per file for back office users</li>
    <li>1,000 rows per file for EFADO, SFC and DDCE users</li>
    <li>200 rows per file for establishment and MAT users</li>
</ul>

<p>If your data exceeds these limits, split it into two or more files and upload them separately.</p>
<p>Multiple column files must be XLSX and bulk upload files can be XLSX or tab delimited text files</p>

<h2 class="govuk-heading-m">Create the file</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <h2 class="govuk-heading-s">Bulk upload</h2>
        <p>You can use a spreadsheet editor (like Microsoft Excel or Open Office Calc) to create the file to be uploaded.</p>
        <p>The file should contain 3 columns and as many rows as the changes you want to suggest with each row representing a change request:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>The first column contains the establishment URN.</li>
            <li>The second column contains the database name of the field you want to change. See the appendix to identify the name of the field(s) to change.</li>
            <li>
                The third column contains the new value you want this field to have. Please note:
                <ul class="govuk-list govuk-list--bullet">
                    <li>For free text fields you can add any value you want</li>
                    <li>For date fields you should provide the date in DD/MM/YYYY format</li>
                    <li>For lookup fields you can add either the descriptor of the value or the code. See appendix.</li>
                </ul>
            </li>
        </ul>
        <p>Leaving a cell of the third column blank deletes the value of the field. You don't need to add any headers or footers to your file.</p>
        <figure class="gias-figure">
            <img src="~/public/assets/images/guidance/establishment_bulk_update_spreadsheet.png"
                 alt="example spreadsheet populated with Establishment URN in column A, Field name from appendix in column B, New data in column C"/>
        </figure>
    </li>

    <li>
        <h2 class="govuk-heading-s">Multiple column file</h2>
        <p>If you want to edit the same fields for several different schools, create a multiple column file. You can only use XLSX files.</p>
        <p>You can use a spreadsheet editor (like Microsoft Excel or Open Office Calc) to create the file to be uploaded.</p>
        <p>The file should contain headed short name columns and as many rows as the changes you want to suggest with each row representing an establishment.</p>
        <figure class="gias-figure">
            <img src="~/public/assets/images/guidance/establishment_bulk_update_multicolumn.png"
                 alt="example multi-column spreadsheet populated with Establishment URN in column A, Head First Name in column B, Head Last Name in column C for multiple URNs, one on each line"/>
        </figure>
    </li>

    <li>
        <h2 class="govuk-heading-s">Save the file</h2>
        <p>Bulk upload files can be XLSX or tab delimited text files.</p>
        <p>To create an XSLX file, save the file as &lsquo;Excel Workbook&rsquo;.</p>
        <figure class="gias-figure">
            <img src="~/public/assets/images/guidance/establishment_bulk_update_save_spreadsheet.png"
                 alt="example of the dropdown choices to select when saving the spreadsheet, with Excel Workbook selected"/>
        </figure>
    </li>
</ul>


<h2 class="govuk-heading-m">Upload the file</h2>
<p>Having created the file, you can upload it. First, sign in to the app and visit the 'Bulk update establishments' page under the &lsquo;Tools&rsquo; menu.</p>
<p>Click on 'Choose file' (see below). You will be presented with a browsing window that allows you to find and select the file you created in the first step. Select the file and click 'Open'.</p>
<p>You can then select the format of the file that you are uploading. Click on the drop-down list under the &lsquo;Select file type&rsquo; option.</p>
<p>You can also select the date for the changes. If you select a date in the future, the changes will be applied on this date (if approved).</p>
<p>If you leave the date blank, the changes will be applied immediately (if approved) or as soon as they get approved by the appropriate data owner.</p>
<p>Finally, if you select a date in the past the changes will be applied immediately (if approved), or as soon as they get approved, but they will show as being effective from this date in the past.</p>
<figure class="gias-figure">
    <picture>
        <source media="@ViewBag.imageMQ"
                srcset="~/public/assets/images/guidance/establishment_bulk_update_mobile.png"/>
        <source srcset="~/public/assets/images/guidance/establishment_bulk_update.png"/>
        <img src="~/public/assets/images/guidance/establishment_bulk_update.png" alt="view of the search establishment bulk update page"/>
    </picture>
</figure>
<p>To start your bulk upload click &lsquo;Submit&rsquo;.</p>

<h2 class="govuk-heading-m">Errors</h2>
<p>
    We&rsquo;ll send you an email if there&rsquo;s an error when you upload a file. Errors can include:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>the file is not in the correct format</li>
    <li>you&rsquo;re not allowed to change some fields</li>
    <li>you didn&rsquo;t select a file type</li>
    <li>some of the field names or values you used were not correct.</li>
</ul>

<p>Correct any errors and resubmit the file to complete your changes.</p>


<h2 class="govuk-heading-m">Further assistance</h2>
<p>
    If you have any issues when uploading a file, please
    <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" target="_blank" rel="noreferrer noopener">
        contact our Service Desk (opens in new tab)
    </a>
</p>

<h2 class="govuk-heading-m">Appendix</h2>
<table class="govuk-table gias-table gias-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
    <th class="govuk-table__header">
        Database name (use this for your upload file)
    </th>
    <th class="govuk-table__header">
        Equivalent field name in app
    </th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">EstablishmentName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">School / College Name</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Street</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Street</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Locality</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Locality</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Address3</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Address3</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Town</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Town</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">County (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">County (name)</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Postcode</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Postcode</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LA</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Local authority</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">HeadTitle (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Headteacher/Principal title</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">HeadFirstName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Headteacher/Principal first name</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">HeadLastName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Headteacher/Principal last name</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">HeadAppointmentDate</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Headteacher date of appointment</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">HeadEmail</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Headteacher/Principal email address</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">StatutoryLowAge</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Age range Low</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">StatutoryHighAge</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Age range High</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PhaseOfEducation (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Phase of education</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TypeOfEstablishment (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Establishment type</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">FurtherEducationType (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Further education type</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Trusts (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Academy trust or Trust</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SchoolSponsors (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Academy sponsor</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Federations (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Federation</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Gender (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Gender of entry</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">URN</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">URN</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">EstablishmentNumber</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Establishment Number</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">UKPRN</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">UK provider reference number (UKPRN)</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">EstablishmentStatus (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Establishment status</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">AdmissionsPolicy (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Admissons policy</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SchoolWebsite</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Website</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TelephoneNum</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Telephone</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">OfstedRating</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Ofsted rating</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">OfstedLastInspection</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Ofsted last inspection</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Osted report link</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Ofsted report link</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Inspectorate</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Inspectorate</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's name</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's name</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ReligiousCharacter (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Religious character</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Diocese (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Diocese</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ReligiousEthos (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Religious ethos</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Boarders (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Boarders</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">NurseryProvision (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Nursery provision</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">OfficialSixthForm (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Official sixth form</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SchoolCapacity</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">School capacity</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Section 41 Approved</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Section 41 approved</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">OpenDate</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Open date</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ReasonEstablishmentOpened (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Reason establishment opened</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CloseDate</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Close date</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ReasonEstablishmentClosed (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Reason establishment closed</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCOperationalHours</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Operational hours</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCNumberOfUnder5s</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Number of under 5s</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCGovernance</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Governance</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCGovernanceDetail</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Governance detail</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCLAContactName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Local authority contact name</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCLAContactEmail</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Local authority contact email</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCLAContactLAPhone</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Local authority contact telephone number</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChildrensCentresGroupFlag</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Delivery model</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChildrensCentresGroup (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Group/Collaboration name</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCGroupLead (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Group lead centre</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChildrensCentresPhaseType (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Phase</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCDisadvantagedArea (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Disadvantaged area</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCDirectProvisionOfEarlyYears (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Direct provision of early years</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SpecialClasses (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Special classes</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SENStat</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Number of special pupils under a special educational needs (SEN) statement/education, health and care (EHC) plan</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SENNoStat</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Number of special pupils not under a special educational needs (SEN) statement/education, health and care (EHC) plan</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">MainEmail</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Email address</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">AlternativeEmail</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Alternative email address</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LastChangedDate</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Last Changed Date</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SEN1</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Type of SEN provision</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TeenMoth</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Teenage mothers provision</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TeenMothPlaces</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Teenage mothers capacity</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CCF</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Childcare facilities provision</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SENPRU</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">SEN facilities</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">EBD</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Pupils with EBD</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PlacesPRU</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Number of places</td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">FTProv</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Full time provision</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">EdByOther</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Pupils educated by other providers</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TypeOfResourcedProvision</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Type of resourced provision</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ResourcedProvisionOnRoll</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Resourced provision number on roll</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ResourcedProvisionCapacity</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Resourced provision capacity</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SenUnitOnRoll</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">SEN unit number on roll</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SenUnitCapacity</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">SEN unit capacity</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">InspectorateName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Inspectorate Name</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">InspectorateReport</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Inspectorate Report</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DateOfLastInspectionVisit</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date of Last Inspection Visit</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">NextInspectionVisit</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Next Inspection Visit</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">RSCRegion</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">RSC Region</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">GOR</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Government Office Region</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DistrictAdministrative</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">District</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">AdministrativeWard</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Ward</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ParliamentaryConstituency</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Parliamentary Constituency</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">UrbanRural</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Urban/Rural Description</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">GSSLACode</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">GSS LA Code</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Easting</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Easting</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Northing</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Northing</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CensusAreaStatisticWard</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Census Ward</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">MSOA</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Middle Super Output Area (MSOA)</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LSOA</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Lower Super Output Area (LSOA)</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Notes</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Notes</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DateofLastFullBridgeInspection</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date of the Last Bridge Visit</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DateofLastFullOfstedInspection</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date of the Last Ofsted Visit</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DateofLastFullISIInspection</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date of the Last ISI Visit</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DateofLastFullWelfareInspection</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date of the Last Welfare Visit</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DateofLastFPVisit</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date of the Last FP Visit</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DateofLastFullSISInspection</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date of the Last SIS Visit</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DateNextFullInspection</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date Next Full Inspection Due</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ActionGEN</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Next General Action Required</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ActionWEL</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Next Action Required by WEL</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ActionFP</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Next Action Required by FP</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Inspectorate</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Inspectorate</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">IndependentSchoolType</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Independent School Type</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CharityName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Charity Organisation</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CharityNum</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Charity Registration Number</td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TotalPupilsFullTime</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Total number of full time pupils</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TotalPupilsPartTime</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Total number of part time pupils</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">CompSchoolAge</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Total number of pupils of compulsory school age</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SENStat</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Number of special pupils under a SEN statement/EHCP</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SENNoStat</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Number of special pupils not under a SEN statement/EHCP</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TotalPupilsInPublicCare</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Total Number of Pupils in Public Care</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTBoys2andUnder</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Boys (Aged 2 and Under):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTBoys3</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Boys (Aged 3):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTBoys4a</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Boys (Aged 4a):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTBoys4b</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Boys (Aged 4b):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTBoys4c</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Boys (Aged 4c):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TotalBoyBoarders</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Total number of boys in boarding schools</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTGirls2andUnder</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Girls (Aged 2 and Under):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTGirls3</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Girls (Aged 3):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTGirls4a</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Girls (Aged 4a):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTGirls4b</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Girls (Aged 4b):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PTGirls4c</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">PT Girls (Aged 4c):</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TotalGirlBoarders</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Total number of Girls in boarding schools</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TotalStaffFullTime</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Total Number of Full Time Staff</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">TotalStaffPartTime</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Total Number of Part Time Staff</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LowDayFee</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Lowest Annual Rate for Day Pupils:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">HighDayFee</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Highest Annual Rate for Day Pupils:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LowBoardFee</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Lowest Annual Rate for Boarding Pupils:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">HighBoardFee</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Highest Annual Rate for Boarding Pupils:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">BoardingEstablishment</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Boarding Establishment</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Name:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsStreet</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Street:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsLocality</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Locality:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsAddress3</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Address 3:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsTown</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Town:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsCounty</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's County:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsPostcode</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Postcode:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsTelephoneNum</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Telephone Number:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsFaxNumber</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Fax Number:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsEmail</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Email:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PropsPreferredJobTitle</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's Preferred Job Title:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Name:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyStreet</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Street:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyLocality</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Locality:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyAddress3</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Address 3:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyTown</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Town:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyCounty</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body County:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyPostcode</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Postcode:</td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyTelephoneNum</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Telephone Number:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyFaxNumber</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Fax Number:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyEmail</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Email:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ChairOfProprietorBodyPreferredJobTitle</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Chair of Proprietor's Body Preferred Job Title:</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">AccomChange</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Accomodation changed</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">HelpdeskNotes</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Helpdesk notes</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LastUpdate</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Last update</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Trigger1</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Trigger 1</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PreviousLA (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Previous local authority</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PreviousEstablishmentNumber</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Previous establishment number</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">AltSiteName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Site 2 name</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ConStreet</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Street</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ConLocality</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Locality</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ContactAddress3</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Address 3</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ConTown</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Town</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ConCounty (name)</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">County</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ConPostcode</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Postcode</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">ConTelNumber</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Telephone</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LinkURN</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">URN</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LinkName</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Establishment name</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LinkType</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Type of link</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LinkEstablishedDate</td>
    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date linked</td>
</tr>
</tbody>
</table>

@helpers.BackToTopLink()
</div>
</div>
