@using System.Configuration
@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.imageMQ = "(max-width: 768px)";
    ViewBag.SiteSection = "help";
}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Guidance", "Index", "Guidance", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Establishment bulk update guidance</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Introduction</h2>
        <p>The bulk update tool allows you to make many updates in a single batch instead of editing individual establishment records. Multiple column files must be XLSX and bulk upload files can be XLSX or tab delimited text files.</p>
        <p>If there&rsquo;s an error in your data, we&rsquo;ll send you a message to correct it. If your changes need approval, you&rsquo;ll get a second message to say your change is either approved or declined.</p>
        <p>If there&rsquo;s an error in your data, we&rsquo;ll send you a message to correct it.</p>
        <p>If your changes need approval, you&rsquo;ll get a second message to say your change is either approved or declined.</p>

        <h2 class="govuk-heading-m">Bulk update steps</h2>
        <p>You have to complete 3 steps to make changes via bulk update:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Create the file</li>
            <li>Upload the file</li>
            <li>Correct any errors</li>
        </ul>

        <p>Please use a file size smaller than 1MB. There are also limits of:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>5,000 rows per file for back office users</li>
            <li>1,000 rows per file for EFADO, SFC and DDCE users</li>
            <li>200 rows per file for establishment and MAT users</li>
        </ul>

        <p>If your data exceeds these limits, split it into two or more files and upload them separately.</p>
        <p>Multiple column files must be XLSX and bulk upload files can be XLSX or tab delimited text files</p>

        <h2 class="govuk-heading-m">Create the file</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <h2 class="govuk-heading-s">Bulk upload</h2>
                <p>You can use a spreadsheet editor (like Microsoft Excel or Open Office Calc) to create the file to be uploaded.</p>
                <p>The file should contain 3 columns and as many rows as the changes you want to suggest with each row representing a change request:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>The first column contains the establishment URN.</li>
                    <li>The second column contains the database name of the field you want to change. See the appendix to identify the name of the field(s) to change.</li>
                    <li>
                        The third column contains the new value you want this field to have. Please note:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>For free text fields you can add any value you want</li>
                            <li>For date fields you should provide the date in DD/MM/YYYY format</li>
                            <li>For lookup fields you can add either the descriptor of the value or the code. See appendix.</li>
                        </ul>
                    </li>
                </ul>
                <p>Leaving a cell of the third column blank deletes the value of the field. You don't need to add any headers or footers to your file.</p>
                <figure class="gias-figure">
                    <img src="~/public/assets/images/guidance/establishment_bulk_update_spreadsheet.png"
                         alt="example spreadsheet populated with Establishment URN in column A, Field name from appendix in column B, New data in column C"/>
                </figure>
            </li>

            <li>
                <h2 class="govuk-heading-s">Multiple column file</h2>
                <p>If you want to edit the same fields for several different schools, create a multiple column file. You can only use XLSX files.</p>
                <p>You can use a spreadsheet editor (like Microsoft Excel or Open Office Calc) to create the file to be uploaded.</p>
                <p>The file should contain headed short name columns and as many rows as the changes you want to suggest with each row representing an establishment.</p>
                <figure class="gias-figure">
                    <img src="~/public/assets/images/guidance/establishment_bulk_update_multicolumn.png"
                         alt="example multi-column spreadsheet populated with Establishment URN in column A, Head First Name in column B, Head Last Name in column C for multiple URNs, one on each line"/>
                </figure>
            </li>

            <li>
                <h2 class="govuk-heading-s">Save the file</h2>
                <p>Bulk upload files can be XLSX or tab delimited text files.</p>
                <p>To create an XSLX file, save the file as &lsquo;Excel Workbook&rsquo;.</p>
                <figure class="gias-figure">
                    <img src="~/public/assets/images/guidance/establishment_bulk_update_save_spreadsheet.png"
                         alt="example of the dropdown choices to select when saving the spreadsheet, with Excel Workbook selected"/>
                </figure>
            </li>
        </ul>


        <h2 class="govuk-heading-m">Upload the file</h2>
        <p>Having created the file, you can upload it. First, sign in to the app and visit the 'Bulk update establishments' page under the &lsquo;Tools&rsquo; menu.</p>
        <p>Click on 'Choose file' (see below). You will be presented with a browsing window that allows you to find and select the file you created in the first step. Select the file and click 'Open'.</p>
        <p>You can then select the format of the file that you are uploading. Click on the drop-down list under the &lsquo;Select file type&rsquo; option.</p>
        <p>You can also select the date for the changes. If you select a date in the future, the changes will be applied on this date (if approved).</p>
        <p>If you leave the date blank, the changes will be applied immediately (if approved) or as soon as they get approved by the appropriate data owner.</p>
        <p>Finally, if you select a date in the past the changes will be applied immediately (if approved), or as soon as they get approved, but they will show as being effective from this date in the past.</p>
        <figure class="gias-figure">
            <picture>
                <source media="@ViewBag.imageMQ"
                        srcset="~/public/assets/images/guidance/establishment_bulk_update_mobile.png"/>
                <source srcset="~/public/assets/images/guidance/establishment_bulk_update.png"/>
                <img src="~/public/assets/images/guidance/establishment_bulk_update.png" alt="view of the search establishment bulk update page"/>
            </picture>
        </figure>
        <p>To start your bulk upload click &lsquo;Submit&rsquo;.</p>

        <h2 class="govuk-heading-m">Errors</h2>
        <p>
            We&rsquo;ll send you an email if there&rsquo;s an error when you upload a file. Errors can include:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the file is not in the correct format</li>
            <li>you&rsquo;re not allowed to change some fields</li>
            <li>you didn&rsquo;t select a file type</li>
            <li>some of the field names or values you used were not correct.</li>
        </ul>

        <p>Correct any errors and resubmit the file to complete your changes.</p>


        <h2 class="govuk-heading-m">Further assistance</h2>
        <p>
            If you have any issues when uploading a file, please
            <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" target="_blank" rel="noreferrer noopener">
                contact our Service Desk (opens in new tab)
            </a>
        </p>

        <h2 class="govuk-heading-m">Appendix</h2>
        <table class="govuk-table gias-table gias-table">
            <colgroup>
                <col style="width: 28%">
                <col style="width: 20%">
                <col style="width: 22%">
                <col style="width: 30%">
            </colgroup>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">
                    Guidance Page<br/>(Database name)
                </th>
                <th class="govuk-table__header">
                    Name / Code
                </th>
                <th class="govuk-table__header">
                    Guidance Page<br/>(Equivalent field name in app)
                </th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">School / College Name</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">EstablishmentName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Street</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Street</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Locality</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Locality</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Address3</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Address3</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Town</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Town</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">County (name)</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">County</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Postcode</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Postcode</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Local authority</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LA</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">LA code</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app"></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Headteacher/Principal title</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">HeadTitle</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Headteacher/Principal first name</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">HeadFirstName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Headteacher/Principal last name</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">HeadLastName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Headteacher date of appointment</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">HeadAppointmentDate</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Headteacher/Principal email address</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">HeadEmail</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Age range Low</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">StatutoryLowAge</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Age range High</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">StatutoryHighAge</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Phase of education</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PhaseOfEducation</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Establishment type</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TypeOfEstablishment</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Further education type</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">FurtherEducationType</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Academy trust or Trust</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Trusts</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Academy sponsor</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SchoolSponsors</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Federation</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Federations</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Gender of entry</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Gender</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">URN</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">URN</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Establishment Number</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">EstablishmentNumber</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">UK provider reference number (UKPRN)</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">UKPRN</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Establishment status</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">EstablishmentStatus</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Registration suspended</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">RegistrationSuspended</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Admissions policy</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">AdmissionsPolicy</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Website</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SchoolWebsite</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Telephone</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TelephoneNum</td>
            </tr>

            @if ("true".Equals(ConfigurationManager.AppSettings["Feature_Ofsted_ShowBulkUpdateGuidance"], StringComparison.OrdinalIgnoreCase))
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">OfstedRating</td>
                    <td class="govuk-table__cell" data-label="Equivalent field name in app">Ofsted rating</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">OfstedLastInspection</td>
                    <td class="govuk-table__cell" data-label="Equivalent field name in app">Ofsted last inspection</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Osted report link</td>
                    <td class="govuk-table__cell" data-label="Equivalent field name in app">Ofsted report link</td>
                </tr>
            }

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Inspectorate</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Inspectorate</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's name</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Proprietor's name</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Religious character</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ReligiousCharacter</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Diocese</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Diocese</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Religious ethos</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ReligiousEthos</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Boarders</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Boarders</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Nursery provision</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">NurseryProvision</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Official sixth form</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">OfficialSixthForm</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">School Capacity</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SchoolCapacity</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Section 41 approved</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Section41Approved</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Open date</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">OpenDate</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Reason establishment opened</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ReasonEstablishmentOpened</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Close date</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CloseDate</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Reason establishment closed</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ReasonEstablishmentClosed</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Operational hours</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCOperationalHours</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Number of under 5s</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCNumberOfUnder5s</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Governance</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCGovernance</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Governance detail</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCGovernanceDetail</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Local authority contact name</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCLAContactName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Local authority contact email</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCLAContactEmail</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Local authority contact telephone number</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCLAContactLAPhone</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Delivery model</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChildrensCentresGroupFlag</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Group/Collaboration name</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChildrensCentresGroup</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Group lead centre</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCGroupLead</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Phase</td>
                <td class="govuk-table__cell" data-label="Name / Code"This is a name field></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChildrensCentresPhaseType</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Disadvantaged area</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCDisadvantagedArea</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Direct provision of early years</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCDirectProvisionOfEarlyYears</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Special classes</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SpecialClasses</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Number of special pupils under a special educational needs (SEN) statement/education, health and care (EHC) plan</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SENStat</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Number of special pupils not under a special educational needs (SEN) statement/education, health and care (EHC) plan</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SENNoStat</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Email address</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">MainEmail</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">AlternativeEmail</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">AlternativeEmail</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Last Changed Date</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LastChangedDate</td>
                <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Type of SEN provision</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a code field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SEN1</td>
                <td class="govuk-table__cell govuk-body-s" data-label="Equivalent field name in app">
                    Enter a comma separated list of codes for each type of SEN provision that you want applying to establishments: -<br/><br>
                    <table style="border-collapse: collapse;">
                        <thead>
                        <tr>
                            <th scope="col" class="govuk-visually-hidden" style="padding: 0;">Code</th>
                            <th scope="col" class="govuk-visually-hidden" style="padding: 0;">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(01)</td>
                            <td style="padding: 0;">VI - Visual Impairment</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(02)</td>
                            <td style="padding: 0;">HI - Hearing Impairment</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(03)</td>
                            <td style="padding: 0;">SLCN - Speech, language and Communication</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(04)</td>
                            <td style="padding: 0;">ASD - Autistic Spectrum Disorder</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(05)</td>
                            <td style="padding: 0;">SEMH - Social, Emotional and Mental Health</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(06)</td>
                            <td style="padding: 0;">MSI - Multi-Sensory Impairment</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(07)</td>
                            <td style="padding: 0;">PD - Physical Disability</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(08)</td>
                            <td style="padding: 0;">MLD - Moderate Learning Difficulty</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(09)</td>
                            <td style="padding: 0;">SLD - Severe Learning Difficulty</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(10)</td>
                            <td style="padding: 0;">PMLD - Profound and Multiple Learning Difficulty</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(11)</td>
                            <td style="padding: 0;">SpLD - Specific Learning Difficulty</td>
                        </tr>
                        <tr>
                            <td style="padding: 0 8px 0 0; vertical-align: top;">(12)</td>
                            <td style="padding: 0;"> OTH - Other Difficulty/Disability</td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="margin-top: 1.4em;">Example: 01, 07, 12</div>
                </td>
            </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Teenage mothers provision</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TeenMoth</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Teenage mothers capacity</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TeenMothPlaces</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Childcare facilities provision</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CCF</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SEN facilities</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SENPRU</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Pupils with EBD</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">EBD</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Number of places</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PlacesPRU</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Full time provision</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">FTProv</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Pupils educated by other providers</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">EdByOther</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Type of resourced provision</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TypeOfResourcedProvision</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Resourced provision number on roll</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ResourcedProvisionOnRoll</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Resourced provision capacity</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ResourcedProvisionCapacity</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SEN unit number on roll</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SenUnitOnRoll</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">SEN unit capacity</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SenUnitCapacity</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Inspectorate Name</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">InspectorateName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Inspectorate Report</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">InspectorateReport</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Date of Last Inspection Visit</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">DateOfLastInspectionVisit</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Next Inspection Visit</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">NextInspectionVisit</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">RSC Region</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">RSCRegion</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Government Office Region</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">GOR</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">District</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">DistrictAdministrative</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Ward</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">AdministrativeWard</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Parliamentary Constituency</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ParliamentaryConstituency</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Urban/Rural Description</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">UrbanRural</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">GSS LA Code</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">GSSLACode</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Easting</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Easting</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Northing</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Northing</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Census Ward</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CensusAreaStatisticWard</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Middle Super Output Area (MSOA)</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">MSOA</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Lower Super Output Area (LSOA)</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LSOA</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Notes</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Notes</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Date of the Last Bridge Visit</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">DateofLastFullBridgeInspection</td>
            </tr>

            @if ("true".Equals(ConfigurationManager.AppSettings["Feature_Ofsted_ShowBulkUpdateGuidance"], StringComparison.OrdinalIgnoreCase))
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">DateofLastFullOfstedInspection</td>
                    <td class="govuk-table__cell" data-label="Equivalent field name in app">Date of the Last Ofsted Visit</td>
                </tr>
            }

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Date of the Last ISI Visit</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">DateofLastFullISIInspection</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Date of the Last Welfare Visit</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">DateofLastFullWelfareInspection</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Date of the Last FP Visit</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">DateofLastFPVisit</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Date of the Last SIS Visit</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">DateofLastFullSISInspection</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Date Next Full Inspection Due</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">DateNextFullInspection</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Next General Action Required</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ActionGEN</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Next Action Required by WEL</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ActionWEL</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Next Action Required by FP</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ActionFP</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Inspectorate</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Inspectorate</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Independent School Type</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">IndependentSchoolType</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Charity Organisation</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CharityName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Charity Registration Number</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CharityNum</td>
            </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Total number of full time pupils</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TotalPupilsFullTime</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Total number of part time pupils</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TotalPupilsPartTime</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Total number of pupils of compulsory school age</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">CompSchoolAge</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Number of special pupils under a SEN statement/EHCP</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SENStat</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Number of special pupils not under a SEN statement/EHCP</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">SENNoStat</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Total Number of Pupils in Public Care</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TotalPupilsInPublicCare</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Boys (Aged 2 and Under):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTBoys2andUnder</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Boys (Aged 3):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTBoys3</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Boys (Aged 4a):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTBoys4a</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Boys (Aged 4b):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTBoys4b</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Girls (Aged 4c):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTBoys4c</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Total number of boys in boarding schools</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TotalBoyBoarders</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Girls (Aged 2 and Under):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTGirls2andUnder</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Girls (Aged 3):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTGirls3</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Girls (Aged 4a):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTGirls4a</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Girls (Aged 4b):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTGirls4b</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">PT Girls (Aged 4c):</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PTGirls4c</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Total number of Girls in boarding schools</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TotalGirlBoarders</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Total Number of Full Time Staff</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TotalStaffFullTime</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Total Number of Part Time Staff</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">TotalStaffPartTime</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Lowest Annual Rate for Day Pupils:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LowDayFee</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Highest Annual Rate for Day Pupils:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">HighDayFee</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Lowest Annual Rate for Boarding Pupils:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LowBoardFee</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Highest Annual Rate for Boarding Pupils:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">HighBoardFee</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Boarding Establishment</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">BoardingEstablishment</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Name:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Street:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsStreet</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Locality:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsLocality</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Address 3:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsAddress3</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Town:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsTown</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's County:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsCounty</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Postcode:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsPostcode</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Telephone Number:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsTelephoneNum</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Fax Number:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsFaxNumber</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Email:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsEmail</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Proprietor's Preferred Job Title:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PropsPreferredJobTitle</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Name:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Street:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyStreet</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Locality:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyLocality</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Address 3:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyAddress3</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Town:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyTown</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body County:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyCounty</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Postcode:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyPostcode</td>
            </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Telephone Number:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyTelephoneNum</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Fax Number:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyFaxNumber</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Email:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyEmail</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Chair of Proprietor's Body Preferred Job Title:</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ChairOfProprietorBodyPreferredJobTitle</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Accomodation changed</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">AccomChange</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Helpdesk notes</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">HelpdeskNotes</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Last update</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LastUpdate</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Trigger 1</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">Trigger1</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Previous local authority</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PreviousLA</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Previous establishment number</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">PreviousEstablishmentNumber</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Site 2 name</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">AltSiteName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Street</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ConStreet</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Locality</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ConLocality</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Address 3</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ContactAddress3</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Town</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ConTown</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">County</td>
                <td class="govuk-table__cell" data-label="Name / Code">This is a name field</td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ConCounty</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Postcode</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ConPostcode</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Telephone</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">ConTelNumber</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">URN</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LinkURN</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Establishment name</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LinkName</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Type of link</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LinkType</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-label="Database name (use this for your upload file)">Date linked</td>
                <td class="govuk-table__cell" data-label="Name / Code"></td>
                <td class="govuk-table__cell" data-label="Equivalent field name in app">LinkEstablishedDate</td>
            </tr>
            </tbody>
        </table>

        @helpers.BackToTopLink()
    </div>
</div>

<script>
    document.getElementById("copySafeTable").addEventListener("copy", function (e) {
        e.preventDefault();

        let rows = Array.from(this.querySelectorAll("tr"))
            .map(tr => Array.from(tr.querySelectorAll("td"))
                .map(td => td.innerText).join("\t"))
            .join("\n");

        e.clipboardData.setData("text/plain", rows);
    });
</script>
