@using System.Configuration

@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.imageMQ = "(max-width: 768px)";
    ViewBag.SiteSection = "help";

    var fscpdServiceName = ConfigurationManager.AppSettings["FscpdServiceName"];
    var fscpdHomeUrl = ConfigurationManager.AppSettings["FscpdHomeUrl"];
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Guidance", "Index", "Guidance", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">General guidance</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Overview</h2>
        <p>&lsquo;Get Information about Schools&rsquo; is a comprehensive database of educational establishments in England. It contains data on around 65,000 establishments, including academies, maintained schools and children&rsquo;s centres.</p>
        <p>Get Information about Schools currently contains over 250 data fields for each establishment, and this number is expected to grow.</p>

        <p>Establishment data is available for several groups of users, such as:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the general public</li>
            <li>establishment users</li>
            <li>stakeholders</li>
            <li>DfE staff</li>
            <li>system administrators and helpdesk staff.</li>
        </ul>

        <p>Each group of users accesses their data through a separate online portal. Each portal provides access to Get Information about Schools functions available for a specific user group.</p>
        <p>Get Information about Schools is mainly intended as resource for educational professionals. Parents and guardians are likely to find <a href="@fscpdHomeUrl" target="_blank" rel="noreferrer noopener">@fscpdServiceName (opens in new tab)</a> more helpful to meet their needs</p>

        <h2 class="govuk-heading-m">How to log in</h2>
        <p>If you are an educational professional and you need to log in to Get Information about Schools, click on the top menu bar &lsquo;Sign in&rsquo; link which will take you to the login page.</p>
        <p>Enter your user name and password to log in. If you don&rsquo;t have these details, contact the named user at your organisation.</p>

        <h2 class="govuk-heading-m">Search and menu options</h2>
        <p>You can use either the search tabs or links in the top menu on Get Information about Schools. The search page allows you to search by establishment, group (for example multi-academy trust or federation) or by governor.</p>
        <p>The options available in the top menu depend on your role. All users can search and download data. Some users also have access to tools which allow them to create and edit details of establishments and groups.</p>

        <h2 class="govuk-heading-m">Search using filters</h2>
        <p>You can customise your search using search filters. These appear once you have used one of the three search options.</p>
        <p>Each of the headings, for example &lsquo;Establishment type&rsquo; and &lsquo;Status&rsquo; opens a list of filters with tick boxes for you to search more specifically.</p>

        <figure class="gias-figure">
            <picture>
                <source media="@ViewBag.imageMQ"
                        srcset="~/public/assets/images/guidance/general_user_guide_search_filters_mobile.png">
                <source srcset="~/public/assets/images/guidance/general_user_guide_search_filters.png">
                <img src="~/public/assets/images/guidance/general_user_guide_search_filters.png" alt="View of the establishment search results page showing the filters" />
            </picture>
        </figure>

        <p>To apply a filter, select its tick-box. All establishments which meet the defined criteria will be displayed in a summary report, along with current filter name and defined criteria (listed in the header). You can choose to edit the filter, create an extract file based on the filter you are viewing, or go back to the filter list.</p>
        <p>You can also view an establishment record, by clicking on its name.</p>

        <h2 class="govuk-heading-m">Establishment record</h2>
        <p>Whenever you click on an establishment name, you will be taken to the full record for that establishment. This record contains all data available for the establishment in Get Information about Schools (depending on your security permissions).</p>
        <p>As there are a large number of data fields available for each establishment, the establishment record is displayed using tabs, to group fields into subject areas. You can switch between these tabs to view data on different aspects of the record.</p>

        <figure class="gias-figure">
            <picture>
                <source media="@ViewBag.imageMQ"
                        srcset="~/public/assets/images/guidance/general_user_guide_establishment_details_mobile.png" />
                <source srcset="~/public/assets/images/guidance/general_user_guide_establishment_details.png" />
                <img src="~/public/assets/images/guidance/general_user_guide_establishment_details.png" alt="View of the establishment details page" />
            </picture>
        </figure>

        <p>The details tab is a summary of the key information held on the establishment. If you&rsquo;re a logged in user, you can edit the establishment record to suggest changes/updates to a record.</p>
        <p>To edit an establishment record, you should use the &lsquo;Edit&rsquo; link at the top of the record. This option will take you to a page with fields offering free text and selection boxes, to help you suggest the appropriate change.</p>
        <p>You can only view fields for which you have permission to edit. To suggest a change to a field that you do not have permission to edit, contact the Get Information about Schools Service desk.</p>
        <p>The &lsquo;Details&rsquo; tab also features a map of the establishment&rsquo;s location. To navigate around the map, you can use:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                your keyboard arrows - click the appropriate arrow button to move the view north, south,
                east or west.
            </li>
            <li>zoom +/- - click + to zoom in on the centre of the map, or click - to zoom out</li>
            <li>left mouse button - hold down and move the mouse to pan around the map</li>
            <li>mouse wheel - zoom in or out using the mouse wheel.</li>
        </ul>
        <p>The &lsquo;Governance&rsquo; tab gives you details of the establishment&rsquo;s governing body, for example the names of governors and members, who appointed them and when their term began.</p>
        <p>The &lsquo;Links&rsquo; tab sets out details of predecessor and successor establishments, for example when a school becomes an academy.</p>
        <p>The &lsquo;Location&rsquo; tab gives details of the establishment&rsquo;s parliamentary constituency, census ward and other geographical parameters.</p>

        <h2 class="govuk-heading-m">Group record</h2>
        <p>When you select the name of a multi-academy trust, federation or other group, you will be taken to the group&rsquo;s record. This record contains all data available for the group in Get Information about Schools (depending on your security permissions).</p>
        <p>As there are a large number of data fields available for each group, the record is displayed using tabs, to group fields into subject areas. You can switch between these tabs to view data on different aspects of the record.</p>

        <figure class="gias-figure">
            <picture>
                <source media="@ViewBag.imageMQ"
                        srcset="~/public/assets/images/guidance/general_user_guide_group_edit_mobile.png">
                <source srcset="~/public/assets/images/guidance/general_user_guide_group_edit.png">
                <img src="~/public/assets/images/guidance/general_user_guide_group_edit.png" class="guidanceImage" alt="view of the group details page showing the edit details button placement" />
            </picture>
        </figure>

        <p>The &lsquo;Details&rsquo; tab gives the group&rsquo;s address, Companies House number, incorporation date and other information. If you&rsquo;re a logged in user with the relevant permissions, you can edit these details.</p>
        <p>The &lsquo;Academies&rsquo; tab lists all of the establishments in the trust. You can view the establishments&rsquo; records from this tab.</p>
        <p>The &lsquo;Governance&rsquo; tab explains the legal duty to provide this information and lists the governors, trustees and/or members responsible for governance.</p>
        <p>The &lsquo;Changes&rsquo; tab gives details of each change to the group&rsquo;s record, including the date of the request and its type.</p>

        <h2 class="govuk-heading-m">Downloads</h2>
        <p>You can download records for establishment and groups. This section has an &lsquo;Establishment and group data&rsquo; tab and a &lsquo;Scheduled extracts&rsquo; tab. Browse these to find the data you need, then select the link to the file you want to download.</p>

        <h2 class="govuk-heading-m">Change history</h2>
        <p>This option allows you to view the change history and to generate reports showing the changes made to data held within Get Information about Schools. You can only see the &lsquo;Changes&rsquo; tab if you have logged in to the service.</p>
        <p>If you are the owner of a data field(s), you can view all pending change requests for which you are responsible. You will be required to approve all outstanding change requests in line with an agreed Service Level Agreement (SLA). To approve changes, click on Change reports, then click on Pending change request</p>
        <figure class="gias-figure">
            <picture>
                <source media="@ViewBag.imageMQ"
                        srcset="~/public/assets/images/guidance/general_user_guide_changes_mobile.png" />
                <source srcset="~/public/assets/images/guidance/general_user_guide_changes.png">
                <img src="~/public/assets/images/guidance/general_user_guide_changes.png" alt="view of the establishment change history page" />
            </picture>
        </figure>

        <p>You will be presented with a list of change requests for which you are responsible.</p>
        <p>To approve a pending change request, tick the check box next to the change request that you wish to approve, then click the &lsquo;Approve&rsquo; button.</p>
        <p>Alternatively, if you feel that the change is unwarranted, you can reject the request and provide your reason for rejecting the change.</p>

        <h2 class="govuk-heading-m">Viewing the change history</h2>
        <p>The Change history option is only available for certain logged in users. It&rsquo;s a separate view from the establishment and group change history views.</p>
        <p>It allows you to generate a report from the Get Information about Schools change history.</p>
        <p>Select the &lsquo;Filters&rsquo; criteria and select the fields you wish to check for changes. Select &lsquo;Apply filters&rsquo; to view the results of your search.</p>

        <back-to-top-link />
    </div>
</div>
