@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.SiteSection = "help";
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Guidance</h1>
        <p>Use the download links below for general guidance about Get Information about Schools and for help with specific areas.
            For explanations of terms used on the site, see the @Html.RouteLink("glossary", "Glossary").</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                @Html.ActionLink("General guidance", "General", "Guidance", new { area = "" }, null)
            </li>
            <li>
                @Html.ActionLink("Establishment bulk update guidance", "EstablishmentBulkUpdate", "Guidance", new { area = "" }, null)
            </li>
            <li>
                @Html.ActionLink("Children's centres guidance", "ChildrensCentre", "Guidance", new { area = "" }, null)
            </li>
            <li>
                @Html.ActionLink("Federation guidance", "Federation", "Guidance", new { area = "" }, null)
            </li>
            <li>
                @Html.ActionLink("Governance guidance", "Governance", "Guidance", new { area = "" }, null)
            </li>
            <li>
                @Html.ActionLink("Local authority name and associated codes", "LaNameCodes", "Guidance", new { area = "" }, null)
            </li>
        </ul>
    </div>
</div>
