@{
    ViewBag.Title = "Get information about schools";
}

<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ol>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
                </li>
                <li>
                    @Html.ActionLink("Help", "Help", "Home", new { area = "" }, null)
                </li>
            </ol>
        </div>

        <h1 class="heading-xlarge">Guidance</h1>

        <p>Use the download links below for general guidance about Get information about schools and for help with specific areas.  For explanations of terms used on the site, see the @Html.RouteLink("glossary", "Glossary").</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <ul class="list list-bullet">
            <li class="list-item">
                @Html.ActionLink("General guidance", "General", "Guidance", new { area = "" }, null)
            </li>
            <li class="list-item">
                @Html.ActionLink("Establishment bulk update guidance", "EstablishmentBulkUpdate", "Guidance", new { area = "" }, null)
            </li>
            <li class="list-item">
                @Html.ActionLink("Children's centres guidance", "ChildrensCentre", "Guidance", new { area = "" }, null)
            </li>
            <li class="list-item">
                @Html.ActionLink("Federation guidance", "Federation", "Guidance", new { area = "" }, null)
            </li>
            <li class="list-item">
                @Html.ActionLink("Governance guidance", "Governance", "Guidance", new { area = "" }, null)
            </li>
        </ul>
    </div>
</div>
