@using Edubase.Services.Enums
@using Microsoft.Ajax.Utilities
@using Edubase.Web.UI.Helpers
@model Edubase.Web.UI.Models.Guidance.GuidanceLaNameCodeViewModel
@{
    ViewBag.bodyClasses = "schools-search-page search-page";
    ViewBag.hideLogo = true;
}

@section Head
{
    <meta name="robots" content="noindex,nofollow" />
}

@section BreadCrumbs
{
    @*@if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-back-link" })
    }
    else
    {
        if (Model.SearchSource == eLookupSearchSource.Governors)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new { area = "", SelectedTab = SearchViewModel.Tab.Governors }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "GovernorSearch", new {area = "Governors"})}?{Model.SearchQueryString}")>Search results</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
        else if (Model.SearchSource == eLookupSearchSource.Establishments)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new { area = "", SelectedTab = SearchViewModel.Tab.Establishments }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "EstablishmentsSearch", new {area = "Establishments"})}?{Model.SearchQueryString}")>Search results</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
        else if (Model.SearchSource == eLookupSearchSource.Groups)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new { area = "", SelectedTab = SearchViewModel.Tab.Groups }, new { @class = "govuk-breadcrumbs__link" })</li>
                            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href=@($"{Url.Action("Index", "GroupSearch", new {area = "Groups"})}?{Model.SearchQueryString}")>Search results</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        }
    }*@
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Download data</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m">Download guidance results</h2>

        <h2 class="govuk-heading-m">Select the file format of the data you are interested in</h2>
        <p>
            You can download your requested data in either CSV or XLSX format.
        </p>
    </div>
</div>

@using (Html.BeginForm("LaNameCodesDownload", "Guidance", FormMethod.Post))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          @Html.HiddenFor(x => x.DownloadName)
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden">Select your preferred format</legend>
                    <div class="govuk-radios">
                        @FormHelpers.GiasRadio("csv", "fileformat", "Data in CSV format", null, new { @checked = "checked" })

                        @FormHelpers.GiasRadio("xlsx", "fileformat", "Data in XLSX (Excel) format")
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @Html.HiddenFieldsFromQueryString()
            <input class="govuk-button" data-module="govuk-button" type="submit" value="Select and download">
        </div>
    </div>
}
