@using System.Linq
@using ViewModel = Edubase.Web.UI.Models.EditEstablishmentModel
@model ViewModel

<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Search")</li>
                <li>@Html.ActionLink(Model.Name, "Details", "Establishment", new {@class="requires-conf-to-leave"})</li>
            </ul>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full edit-changes-summary">
        @if (Model.IsAcademy || Model.IsLAMaintained)
        {
            if (Model.IsAcademy)
            {
                <div class="warning-message">
                    <p>
                        I confirm that in making these changes the academy has followed the
                        <a href="https://www.gov.uk/government/publications/making-significant-changes-to-an-existing-academy" rel="external" target="_blank">statutory guidance</a>
                        and have submitted a deed of variation to the funding agreement where required.
                    </p>
                </div>
            }
            else if (Model.IsLAMaintained)
            {
                <div class="warning-message">
                    <p>
                        I confirm that in making prescribed alterations the governing body or local authority has followed and completed the
                        <a href="https://www.gov.uk/government/publications/school-organisation-maintained-schools" rel="external" target="_blank">statutory process</a>.
                    </p>
                </div>
            }
        }

        <h1 class="heading-large">Confirm updates to establishment</h1>

        <p class="font-xsmall">Please conﬁrm updates to the following items for the Establishment @Model.OriginalEstablishmentName. URN: @Model.Urn.</p>

        <p class="table-caption">Showing 1 - @Model.ChangesSummary.Count of  @Model.ChangesSummary.Count</p>
        <table class="edubase-table changes-summary">            
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Old value</th>
                    <th>New value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ChangesSummary)
                {
                    <tr>
                        <td aria-label="Field">@item.Name</td>
                        <td aria-label="Old value">@(item.OldValue ?? "<empty>")</td>
                        <td aria-label="New value">@(item.NewValue ?? "<empty>")</td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="table-caption">Showing 1 - @Model.ChangesSummary.Count of  @Model.ChangesSummary.Count</p>

        @Html.EditorFor(x => x.ChangeEffectiveDate, new { title = "Effective date (optional)" })

        @if (Model.CanOverrideCRProcess)
        {
            <span class="checkbox-wrap">
                @Html.CheckBoxFor(x => x.OverrideCRProcess, new { @id="override-cr"})
                @Html.LabelFor(x => x.OverrideCRProcess, "Override CR", new {@for="override-cr", @class="edubase-button-checkbox"})
            </span>
            
        }
    </div>
</div>

