@using Edubase.Web.UI.ValueConverters;
@using Edubase.Web.UI.Areas.Establishments.Models.Search;
@model EstablishmentDetailViewModel

    <tr>
        <th scope="row">Address:</th>
        <td>@Model.Establishment.GetAddress()</td>
    </tr>
    @* TODO TEXCHANGE: use alt address see story 10909
    {
        <tr>
            <td>&nbsp;</td>
            <td><a href="#school-location" class="tab-manipulator">View other sites</a></td>
        </tr>
    }*@
    <tr>
        <th scope="row">Local authority:</th>
        <td>
            @if (Model.Establishment.LocalAuthorityId.HasValue)
            {
                <a href="/Establishments/Search?searchtype=ByLocalAuthority&@EstablishmentSearchViewModel.BIND_ALIAS_LAIDS=@Model.Establishment.LocalAuthorityId">
                    @Model.LocalAuthorityName
                </a>
                <text>(@Model.Establishment.LocalAuthorityId)</text>
            }
        </td>
    </tr>

    @if (Model.DisplayPolicy.HeadteacherDetails)
    {
        <tr>
            <th scope="row">@(Model.DisplayPolicy.HeadteacherLabel):</th>
            <td>
                @Model.HeadTitleName @Model.Establishment.HeadFirstName @Model.Establishment.HeadLastName
            </td>
        </tr>
        @*<tr>
            <th scope="row">@(Model.DisplayPolicy.HeadteacherLabel) appointment date</th> // TODO TEXCHANGE
            <td>
                @Model.Establishment.HeadAppointmentDate?.ToString("dd/MM/yyyy") ?? "Not recorded"
            </td>
        </tr>*@
        if (User.Identity.IsAuthenticated)
        {
            <tr>
                <th scope="row">@(Model.DisplayPolicy.HeadteacherLabel) email address</th>
                <td>
                    @(Model.Establishment.HeadEmailAddress ?? "Not recorded")
                </td>
            </tr>
        }
    }

    @if (Model.DisplayPolicy.HeadEmailAddress)
    {
        <tr>
            <th scope="row">@(Model.DisplayPolicy.HeadEmailAddressLabel):</th>
            <td>
                @(Model.Establishment.HeadEmailAddress ?? "Not recorded")
            </td>
        </tr>
    }

    @if (Model.DisplayPolicy.AgeRange)
    {
        <tr>
            <th scope="col">Age range: <a href="#help-text-age-range" class="icon-help"><span class="visuallyhidden">Help with this field</span></a></th>
            <td>
                @if (Model.Establishment.StatutoryLowAge.HasValue && Model.Establishment.StatutoryHighAge.HasValue)
                {
                    <text>@(Model.Establishment.StatutoryLowAge) to @(Model.Establishment.StatutoryHighAge)</text>
                }
            </td>
        </tr>
    }

    <tr>
        <th scope="row">Phase of education:</th>
        <td>
            @Model.EducationPhaseName
        </td>
    </tr>

    @if (Model.DisplayPolicy.TypeId)
    {
        <tr>
            <th scope="row">@(Model.DisplayPolicy.EstablishmentTypeLabel):</th>
            <td>
                @Model.TypeName
            </td>
        </tr>
    }

    @if (Model.DisplayPolicy.FurtherEducationTypeId)
    {
        <tr>
            <th scope="row">Further education type:</th>
            <td>
                @Model.FurtherEducationTypeName
            </td>
        </tr>
    }

    @foreach (var group in Model.Groups) 
    {
        <tr>
            <th scope="row">@(Model.GetGroupFieldLabel(group)):</th>
            <td>
                @Html.ActionLink(group.Name, "Details", "Group", new { id = group.GroupUId, area = "Groups" }, null)
            </td>
        </tr>
    }
    
    @if (Model.DisplayPolicy.GenderId)
    {
        <tr>
            <th scope="row">Gender of entry:</th>
            <td>
                @Model.GenderName
            </td>
        </tr>
    }

    <tr>
        <th scope="row">ID:</th>
        <td>
            <abbr title="Unique Reference Number">URN</abbr>: @Model.Establishment.Urn,
            @if (Model.DisplayPolicy.EstablishmentNumber)
            {
                <text>DfE number: @Model.Establishment.GetLAESTAB()<br /></text>
            }
            <abbr title="UK Provider Reference Number">UKPRN</abbr>: @Model.Establishment.UKPRN
        </td>
    </tr>

    <tr>
        <th scope="row">Establishment status:</th>
        <td>
            @if (Model.IsClosed)
            {
                <span class="pending-closure">
                    @Model.StatusName
                </span>
            }
            else
            {
                @Model.StatusName
            }
        </td>
    </tr>

    @if (Model.DisplayPolicy.AdmissionsPolicyId)
    {
        <tr>
            <th scope="row">Admissions policy:</th>
            <td>
                @Model.AdmissionsPolicyName
            </td>
        </tr>
    }

    @if (Model.DisplayPolicy.Contact_WebsiteAddress)
    {
        <tr>
            <th scope="row">Website:</th>
            <td>
                @if (Model.Establishment.Contact_WebsiteAddress == null)
                {
                    <text>Not recorded</text>
                }
                else
                {
                    <a href="@WeblinkConverter.Convert(Model.Establishment.Contact_WebsiteAddress)" target="_blank">
                        @WeblinkConverter.Convert(Model.Establishment.Contact_WebsiteAddress)
                    </a>
                }
            </td>
        </tr>
    }

    @if (Model.DisplayPolicy.Contact_TelephoneNumber)
    {
        <tr><th scope="row">Telephone:</th><td>@(Model.Establishment.Contact_TelephoneNumber ?? "Not recorded")</td></tr>
    }

    @if (Model.DisplayPolicy.OfstedRatingId)
    {
        @* TODO TEXCHANGE: support the ofsted lookup <tr>
            <th scope="row">Ofsted rating:</th>
            <td>
                @if (Model.Establishment.OfstedRating.HasValue)
                {
                    <span class="highlighted-ofsted-rating">@Model.Establishment.OfstedRating</span>
                }
                else
                {
                    <span>Not recorded</span>
                }

                @if (Model.Establishment.OfstedInspectionDate.HasValue)
                {
                    <span>(Last inspection: @(Model.Establishment.OfstedInspectionDate?.ToString("dd MMMM yyyy")))</span>
                }
                @if (Model.OfstedRatingReportUrl != null)
                {
                    <br />
                    <a href="@Model.OfstedRatingReportUrl" target="_blank" rel="external">Ofsted report</a>
                }
            </td>
        </tr>*@
    }

    @if (Model.DisplayPolicy.InspectorateId)
    {
        <tr>
            <th scope="row">Inspectorate:</th>
            <td>
                @Model.InspectorateName
            </td>
        </tr>
    }

    @if (Model.DisplayPolicy.ProprietorName)
    {
        <tr><th scope="row">Proprietor's name:</th><td>@Model.Establishment.ProprietorName</td></tr>
    }

