@model EstablishmentDetailViewModel

<div id="school-change-history" class="tab-content approval-data">
    <h2 class="bold-small">Change History</h2>
    @if (!Model.ChangeHistory.Any())
    {
        <p>There are no change records available at the moment</p>
    }
    else
    {
        <table class="approval-items">
            <thead>
                <tr>
                    <th>Updated field</th>
                    <th>Old value</th>
                    <th>New value</th>
                    <th>Date changed</th>
                    <th>Date requested</th>
                    <th>Suggested from</th>
                    <th>Approved by</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ChangeHistory)
                {
                    <tr>
                        <td>@item.PropertyName</td>
                        <td>@item.OldValue</td>
                        <td>@item.NewValue</td>
                        <td>@item.EffectiveDateUtc</td>
                        <td>@item.RequestedDateUtc</td>
                        <td>@item.OriginatorUserName</td>
                        <td>@item.ApproverUserName</td>
                    </tr>
                }
            </tbody>
        </table>

                    <ul class="school-results-listing approval-items">
                        @foreach (var item in Model.ChangeHistory)
                        {
                            <li>
                                <dl>
                                    <dt>Updated field:</dt>
                                    <dd>@item.PropertyName</dd>
                                    <dt>Old value:</dt>
                                    <dd>@item.OldValue</dd>
                                    <dt>New value:</dt>
                                    <dd>@item.NewValue</dd>
                                    <dt>Date changed:</dt>
                                    <dd>@item.EffectiveDateUtc</dd>
                                    <dt>Date requested:</dt>
                                    <dd>@item.RequestedDateUtc</dd>
                                    <dt>Suggested from:</dt>
                                    <dd>@item.OriginatorUserName</dd>
                                    <dt>Approved by:</dt>
                                    <dd>@item.ApproverUserName</dd>
                                </dl>
                            </li>
                        }
                    </ul>
    }
</div>