@model EstablishmentDetailViewModel

<div id="school-change-history" class="tab-content approval-data">
    <h2 class="bold-small">Change History</h2>
    @if (!Model.ChangeHistory.Any())
    {
        <p>There are no change records available at the moment</p>
    }
    else
    {
        <p>
            @Html.ActionLink("Download data in CSV format", "DownloadCsvChangeHistory", new { id = Model.Establishment.Urn, area = "" }, new { style = "margin-bottom:10px; display:block;" })
            @Html.ActionLink("Download data in XLSX format", "DownloadXlsxChangeHistory", new { id = Model.Establishment.Urn, area = "" })
            <br />
        </p>
        
        <table class="approval-items">
            <thead>
            <tr>
                <th>Date changed</th>
                <th>Updated field</th>
                <th>Old value</th>
                <th>New value</th>
                <th>Date requested</th>
                <th>Suggested from</th>
                <th>Approved by</th>
                <th>Reason</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ChangeHistory)
                {
                    <tr>
                        <td aria-label="Date changed">@item.EffectiveDateUtc</td>
                        <td aria-label="Updated field">@item.Name</td>
                        <td aria-label="Old value">@item.OldValue</td>
                        <td aria-label="New value">@item.NewValue</td>
                        <td aria-label="Date requested">@item.RequestedDateUtc</td>
                        <td aria-label="Suggested from">@item.OriginatorUserName</td>
                        <td aria-label="Approved by">@(item.ApproverUserName ?? "--")</td>
                        <td aria-label="Reason">--</td><!-- Reason field will be implemented by Texuna -->
                    </tr>
                }
            </tbody>
        </table>
        
    }
</div>