@model EstablishmentDetailViewModel

<div id="school-change-history" class="tab-content approval-data">
    <h2 class="bold-small">Change History</h2>
    @if (!Model.ChangeHistory.Any())
    {
        <p>There are no change records available at the moment</p>
    }
    else
    {
        <p>
            @Html.ActionLink("Download data in CSV format", "DownloadCsvChangeHistory", new { id = Model.Establishment.Urn, area = "" }, new { style = "margin-bottom:10px; display:block;" })
            @Html.ActionLink("Download data in XLSX format", "DownloadXlsxChangeHistory", new { id = Model.Establishment.Urn, area = "" })
            <br />
        </p>
        
        <table class="approval-items">
            <thead>
                <tr>
                    <th>Updated field</th>
                    <th>Old value</th>
                    <th>New value</th>
                    <th>Date changed</th>
                    <th>Date requested</th>
                    <th>Suggested from</th>
                    <th>Approved by</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ChangeHistory)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.OldValue</td>
                        <td>@item.NewValue</td>
                        <td>@item.EffectiveDateUtc</td>
                        <td>@item.RequestedDateUtc</td>
                        <td>@item.OriginatorUserName</td>
                        <td>@(item.ApproverUserName ?? "--")</td>
                        <td>--</td><!-- Reason field will be implemented by Texuna -->
                    </tr>
                }
            </tbody>
        </table>

                    <ul class="school-results-listing approval-items">
                        @foreach (var item in Model.ChangeHistory)
                        {
                            <li>
                                <dl>
                                    <dt>Updated field:</dt>
                                    <dd>@item.Name</dd>
                                    <dt>Old value:</dt>
                                    <dd>@item.OldValue</dd>
                                    <dt>New value:</dt>
                                    <dd>@item.NewValue</dd>
                                    <dt>Date changed:</dt>
                                    <dd>@item.EffectiveDateUtc</dd>
                                    <dt>Date requested:</dt>
                                    <dd>@item.RequestedDateUtc</dd>
                                    <dt>Suggested from:</dt>
                                    <dd>@item.OriginatorUserName</dd>
                                    <dt>Approved by:</dt>
                                    <dd>@(item.ApproverUserName ?? "--")</dd>
                                    <dt>Reason:</dt>
                                    <dd>--</dd> <!-- Reason field will be implemented by Texuna -->
                                </dl>
                            </li>
                        }
                    </ul>
    }
</div>