@model EstablishmentDetailViewModel
@{ 
    var p = Model.DisplayPolicy.IEBTDetail;
}

<div id="school-iebt" class="tab-content">
    @if (Model.UserCanEdit)
    {
        <div class="button-row">
            @Html.ActionLink("Edit IEBT", "EditIEBT", "Establishment", null,new { @class = "button button-grey mobile-full-width" })
        </div>
    }
    
    <div class="detail-summary">        
        <h2 class="heading-medium">Independent Education and Boarding Team</h2>
        
        @if (p.Notes)
        {
            <h2 class="heading-small">Notes</h2>
            <div>@(Model.Establishment.IEBTModel.Notes ?? "Not recorded")</div>
        }

        <dl>
            @if (p.DateOfTheLastBridgeVisit)
            {
                <dt>Date of the last Bridge visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastBridgeVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.OfstedInspectionDate)
            {
                <dt>Date of last Ofsted visit:</dt>
                <dd>@(Model.Establishment.OfstedInspectionDate?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (p.DateOfTheLastISIVisit)
            {
                <dt>Date of last ISI visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastISIVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (p.DateOfTheLastWelfareVisit)
            {
                <dt>Date of last welfare visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastWelfareVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (p.DateOfTheLastFPVisit)
            {
                <dt>Date of last FP visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastFPVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (p.DateOfTheLastSISVisit)
            {
                <dt>Date of last SIS visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastSISVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (p.NextOfstedVisit)
            {
                <dt>Next Ofsted visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.NextOfstedVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (p.NextGeneralActionRequired)
            {
                <dt>Next general action required:</dt>
                <dd>@(Model.Establishment.IEBTModel.NextGeneralActionRequired?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (p.NextActionRequiredByWEL)
            {
                <dt>Next action required by WEL:</dt>
                <dd>@(Model.Establishment.IEBTModel.NextActionRequiredByWEL?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (p.NextActionRequiredByFP)
            {
                <dt>Next action required by FP:</dt>
                <dd>@(Model.Establishment.IEBTModel.NextActionRequiredByFP?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }
        </dl>

        <dl>
            @if (Model.DisplayPolicy.InspectorateId)
            {
                <dt>Inspectorate:</dt>
                <dd>@Model.InspectorateName</dd>
            }

            @if (p.IndependentSchoolTypeId)
            {
                <dt>Independent school type:</dt>
                <dd>@Model.IndependentSchoolTypeName</dd>
            }

            @if (p.CharityOrganisation)
            {
                <dt>Charity organisation:</dt>
                <dd>@(Model.Establishment.IEBTModel.CharityOrganisation ?? "Not recorded")</dd>
            }

            @if (p.CharityRegistrationNumber)
            {
                <dt>Charity registration number:</dt>
                <dd>@(Model.Establishment.IEBTModel.CharityRegistrationNumber?.ToString() ?? "Not recorded")</dd>
            }
        </dl>
            
        <dl>
            @if (p.TotalNumberOfFullTimePupils)
            {
                <dt>Total number of full time pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfFullTimePupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.TotalNumberOfPartTimePupils)
            {
                <dt>Total number of part time pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfPartTimePupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.TotalNumberOfPupilsOfCompulsorySchoolAge)
            {
                <dt>Total number of pupils of compulsory school age:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfPupilsOfCompulsorySchoolAge?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.SENStat)
            {
                <dt>Total number of special pupils under a SEN statement/ECHP:</dt>
                <dd>@(Model.Establishment.SENStat?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.SENNoStat)
            {
                <dt>Number of special pupils not under a SEN statement/EHCP:</dt>
                <dd>@(Model.Establishment.SENNoStat?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.TotalNumberOfPupilsInPublicCare)
            {
                <dt>Total number of pupils in public care:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfPupilsInPublicCare?.ToString() ?? "Not recorded")</dd>
            }
        </dl>

        <dl>
            @if (p.PTBoysAged2AndUnder)
            {
                <dt>PT boys (aged 2 and under):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged2AndUnder?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.PTBoysAged3)
            {
                <dt>PT boys (aged 3):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged3?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.PTBoysAged4A)
            {
                <dt>PT boys (aged 4a):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged4A?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.PTBoysAged4B)
            {
                <dt>PT boys (aged 4b):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged4B?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.PTBoysAged4C)
            {
                <dt>PT boys (aged 4c):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged4C?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.TotalNumberOfBoysInBoardingSchools)
            {
                <dt>Total number of boys in boarding schools:</dt>
                <dd> @(Model.Establishment.IEBTModel.TotalNumberOfBoysInBoardingSchools?.ToString() ?? "Not recorded")</dd>
            }
        </dl>

        <dl>
            @if (p.PTGirlsAged2AndUnder)
            {
                <dt>PT girls (aged 2 and under):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged2AndUnder?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.PTGirlsAged3)
            {
                <dt>PT girls (aged 3):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged3?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.PTGirlsAged4A)
            {
                <dt>PT girls (aged 4a):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged4A?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.PTGirlsAged4B)
            {
                <dt>PT girls (aged 4b):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged4B?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.PTGirlsAged4C)
            {
                <dt>PT girls (aged 4c):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged4C?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.TotalNumberOfGirlsInBoardingSchools)
            {
                <dt>Total number of girls in boarding schools:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfGirlsInBoardingSchools?.ToString() ?? "Not recorded")</dd>
            }
        </dl>



        <dl>
            @if (p.TotalNumberOfFullTimeStaff)
            {
                <dt>Total number of full time staff:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfFullTimeStaff?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.TotalNumberOfPartTimeStaff)
            {
                <dt>Total number of part time staff:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfPartTimeStaff?.ToString() ?? "Not recorded")</dd>
            }
        </dl>

        <dl>
            @if (p.LowestAnnualRateForDayPupils)
            {
                <dt>Lowest annual rate for day pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.LowestAnnualRateForDayPupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.HighestAnnualRateForDayPupils)
            {
                <dt>Highest annual rate for day pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.HighestAnnualRateForDayPupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.LowestAnnualRateForBoardingPupils)
            {
                <dt>Lowest annual rate for boarding pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.LowestAnnualRateForBoardingPupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (p.HighestAnnualRateForBoardingPupils)
            {
                <dt>Highest annual rate for boarding pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.HighestAnnualRateForBoardingPupils?.ToString() ?? "Not recorded")</dd>
            }

        </dl>

        <dl>
            @if (Model.DisplayPolicy.ProvisionBoardingId)
            {
                <dt>Boarding establishment:</dt>
                <dd>@Model.ProvisionBoardingName</dd>
            }

            @if (Model.DisplayPolicy.ProprietorName)
            {
                <dt>Proprietor's name:</dt>
                <dd>@(Model.Establishment.ProprietorName ?? "Not recorded")</dd>
            }

            @if (p.ProprietorsStreet)
            {
                <dt>Proprietor's address:</dt>
                <dd>@Model.GetProprietorsAddress()</dd>

            }

            @if (p.ProprietorsTelephoneNumber)
            {
                <dt>Proprietor's telephone:</dt>
                <dd>@(Model.Establishment.IEBTModel.ProprietorsTelephoneNumber ?? "Not recorded")</dd>
            }

            @if (p.ProprietorsFaxNumber)
            {
                <dt>Proprietor's fax:</dt>
                <dd>@(Model.Establishment.IEBTModel.ProprietorsFaxNumber ?? "Not recorded")</dd>
            }

            @if (p.ProprietorsEmail)
            {
                <dt>Proprietor's email:</dt>
                <dd>@(Model.Establishment.IEBTModel.ProprietorsEmail ?? "Not recorded")</dd>
            }

            @if (p.ProprietorsPreferredJobTitle)
            {
                <dt>Proprietor's preferred job title:</dt>
                <dd>@(Model.Establishment.IEBTModel.ProprietorsPreferredJobTitle ?? "Not recorded")</dd>
            }

        </dl>

        <dl>
            @if (p.ChairOfProprietorsBodyName)
            {
                <dt>Chair of proprietor's name:</dt>
                <dd>@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyName ?? "Not recorded")</dd>
            }

            @if (p.ChairOfProprietorsBodyStreet)
            {
                <dt>Chair of proprietor's address:</dt>
                <dd>@Model.GetChairOfProprietorsBodyAddress()</dd>

            }

            @if (p.ChairOfProprietorsBodyTelephoneNumber)
            {
                <dt>Chair of proprietor's telephone:</dt>
                <dd>@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyTelephoneNumber ?? "Not recorded")</dd>
            }

            @if (p.ChairOfProprietorsBodyFaxNumber)
            {
                <dt>Chair of proprietor's fax:</dt>
                <dd>@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyFaxNumber ?? "Not recorded")</dd>

            }

            @if (p.ChairOfProprietorsBodyEmail)
            {
                <dt>Chair of proprietor's email:</dt>
                <dd>@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyEmail ?? "Not recorded")</dd>
            }

            @if (p.ChairOfProprietorsBodyPreferredJobTitle)
            {
                <dt>Chair of proprietor's preferred job title:</dt>
                <dd>@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyPreferredJobTitle ?? "Not recorded")</dd>
            }
        </dl>

    </div>

</div>