@using Edubase.Web.UI.Models
@using ViewModel = Edubase.Web.UI.Models.EditEstablishmentModel
@model ViewModel

@* TODO correct field mappings*@
<div class="additional-address-wrapper">

    <div class="form-group">
        <label for="sitename">[SITENAME X] </label>
        <input type="text" class="form-control" id="site-name-x" />
    </div>

    <div class="form-group">
        <label for="school-street" class="form-label">Street</label>
        @Html.TextBoxFor(x => x.Address.Line1, new { maxlength = 120, id = "school-street", @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="school-locality" class="form-label">Locality</label>
        @Html.TextBoxFor(x => x.Address.Locality, new { maxlength = 120, id = "school-locality", @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="school-addressline3" class="form-label">Address line 3</label>
        @Html.TextBoxFor(x => x.Address.Line3, new { maxlength = 120, id = "school-addressline3", @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="school-town" class="form-label">City / town</label>
        @Html.TextBoxFor(x => x.Address.CityOrTown, new { maxlength = 120, id = "school-town", @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="school-postcode" class="form-label">Post code</label>
        @Html.TextBoxFor(x => x.Address.PostCode, new { maxlength = 120, id = "school-postcode", @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="form-checkbox">
            <input type="checkbox"  />
            Hide address from other users
        </label>
    </div>
    <button type="submit" class="link-button font-xsmall" name="action" value="@ViewModel.eAction.AddAdditionalAddress">Remove this address</button>
</div>
