@model EstablishmentDetailViewModel

@if (Model.MediumPriorityConfirmationsPending || Model.HighPriorityConfirmationsPending)
{
    if (Model.MediumPriorityEstablishmentConfirmationPending || Model.HighPriorityEstablishmentConfirmationPending)
    {
        @RenderWarningBox("Establishment", Model.Establishment.ConfirmationUpToDate_LastConfirmationDate?.ToString("d MMMM yyyy") ?? "Not recorded", "EstablishmentConfirmUpToDate")
    }

    if (Model.MediumPriorityGovernanceConfirmationPending || Model.HighPriorityGovernanceConfirmationPending)
    {
        @RenderWarningBox("Governance", Model.Establishment.ConfirmationUpToDateGovernance_LastConfirmationDate?.ToString("d MMMM yyyy") ?? "Not recorded", "EstablishmentGovernanceConfirmUpToDate")
    }
}

@helper RenderWarningBox(string type, string date, string route)
{
    <div class="govuk-notification-banner govuk-notification-banner--warning" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Very Important!
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            @using (Html.BeginRouteForm(route, new { Model.Establishment.Urn }, FormMethod.Post))
            {
                <p class="govuk-notification-banner__heading">
                    <label for="estab-data-confirm">Confirm your @type.ToLower() details are correct.</label>
                    <button class="govuk-button" data-module="govuk-button" id="estab-data-confirm">Confirm</button>
                </p>

                <p>
                    If they are not correct, edit and save your @type.ToLower() details below<br />
                    <span class="govuk-hint govuk-hint-xs">Last updated or confirmed: @date</span>
                </p>
            }
        </div>
    </div>
}
