@model EstablishmentDetailViewModel

@if (Model.MediumPriorityConfirmationsPending || Model.HighPriorityConfirmationsPending)
{
    if (Model.MediumPriorityEstablishmentConfirmationPending || Model.HighPriorityEstablishmentConfirmationPending)
    {
        @RenderWarningBox("Establishment", Model.Establishment.ConfirmationUpToDate_LastConfirmationDate?.ToString("d MMMM yyyy") ?? "Not recorded", "EstablishmentConfirmUpToDate")
    }

    if (Model.MediumPriorityGovernanceConfirmationPending || Model.HighPriorityGovernanceConfirmationPending)
    {
        @RenderWarningBox("Governance", Model.Establishment.ConfirmationUpToDateGovernance_LastConfirmationDate?.ToString("d MMMM yyyy") ?? "Not recorded", "EstablishmentGovernanceConfirmUpToDate")
    }
}

@helper RenderWarningBox(string type, string date, string route)
{
    <div class="govuk-notification-banner govuk-notification-banner--warning" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Very important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            @using (Html.BeginRouteForm(route, new { Model.Establishment.Urn }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                        <p id="@type.ToLower()-details-confirmation-heading" class="govuk-notification-banner__heading govuk-!-margin-bottom-1">
                            <label for="estab-data-confirm">Review and confirm if the @type.ToLower() details are correct</label>
                        </p>
                        <p id="@type.ToLower()-details-confirmation-body" class="govuk-!-margin-bottom-1">
                            If they are not correct, edit your @type.ToLower() details below.<br />
                        </p>
                        <p id="@type.ToLower()-details-confirmation-date" class="govuk-hint govuk-!-font-size-14 govuk-!-margin-bottom-1">Date record last confirmed or updated: @date</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <button class="govuk-button" data-module="govuk-button" id="estab-data-confirm">Confirm</button>
                    </div>
                </div>
                }
            </div>
    </div>
}
