@model EstablishmentDetailViewModel

@if (Model.MediumPriorityConfirmationsPending)
{
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Confirm records</span>
        </summary>
        <div class="govuk-details__text">
            @if (Model.MediumPriorityEstablishmentConfirmationPending)
            {
                <div class="data-confirmation-panel">
                    <p class="confirmation-statement">
                        Establishment record last confirmed:
                        <span class="confirmation-date">
                            @(Model.Establishment.ConfirmationUpToDate_LastConfirmationDate?.ToString("dd MMMM yyyy") ?? "Not recorded")
                        </span>
                    </p>
                    @using (Html.BeginRouteForm("EstablishmentConfirmUpToDate", new {urn = Model.Establishment.Urn}, FormMethod.Post))
                    {
                        <label class="confirmation-label govuk-body" for="estab-data-confirm">
                            Confirm establishment record is up to date
                        </label>
                        <button class="govuk-button govuk-button--secondary confirmation-button" data-module="govuk-button" id="estab-data-confirm">Confirm</button>
                    }
                </div>
            }
            @if (Model.MediumPriorityGovernanceConfirmationPending)
            {
                <div class="data-confirmation-panel">
                    <p class="confirmation-statement">
                        Governance record last confirmed:
                        <span class="confirmation-date">
                            @(Model.Establishment.ConfirmationUpToDateGovernance_LastConfirmationDate?.ToString("dd MMMM yyyy") ?? "Not recorded")
                        </span>
                    </p>
                    @using (Html.BeginRouteForm("EstablishmentGovernanceConfirmUpToDate", new {urn = Model.Establishment.Urn}, FormMethod.Post))
                    {
                        <label class="confirmation-label govuk-body" for="gov-data-confirm">
                            Confirm governance record is up to date
                        </label>
                        <button class="govuk-button govuk-button--secondary confirmation-button" data-module="govuk-button" id="gov-data-confirm">Confirm</button>
                    }
                </div>
            }
        </div>
    </details>
}

@if (Model.HighPriorityConfirmationsPending)
{
    if (Model.HighPriorityEstablishmentConfirmationPending)
    {
        @RenderHighPriorityBox("Establishment", Model.Establishment.ConfirmationUpToDate_LastConfirmationDate?.ToString("dd MMMM yyyy") ?? "Not recorded", "EstablishmentConfirmUpToDate")
    }

    if (Model.HighPriorityGovernanceConfirmationPending)
    {
        @RenderHighPriorityBox("Governance", Model.Establishment.ConfirmationUpToDateGovernance_LastConfirmationDate?.ToString("dd MMMM yyyy") ?? "Not recorded", "EstablishmentGovernanceConfirmUpToDate")
    }
}

@helper RenderHighPriorityBox(string type, string date, string route)
{
    <div class="up-to-date-confirmations high-priority">
        <h2>@type record last confirmed: <span>@date</span></h2>
        @using (Html.BeginRouteForm(route, new { Model.Establishment.Urn }, FormMethod.Post))
        {
            <label for="estab-data-confirm">Confirm @type.ToLower() record is up to date</label>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="estab-data-confirm">Confirm</button>
        }
    </div>
}
