@model EstablishmentDetailViewModel

@if (Model.MediumPriorityConfirmationsPending)
{
    <div class="up-to-date-confirmations expanding-content-wrapper" data-update-text="false">
        <a class="expanding-content-trigger" href="#">Confirm records</a>
        <div class="expanding-content panel-indent">
            @if (Model.MediumPriorityEstablishmentConfirmationPending)
            {
                <div class="data-confirmation-panel">
                    <p class="confirmation-statement">
                        Establishment record last confirmed:
                        <span class="confirmation-date">
                            @(Model.Establishment.ConfirmationUpToDate_LastConfirmationDate?.ToString("dd/MM/yyyy") ?? "Not recorded")
                        </span>
                    </p>
                    @using (Html.BeginRouteForm("EstablishmentConfirmUpToDate", new { urn = Model.Establishment.Urn }, FormMethod.Post))
                    {
                        <label class="confirmation-label" for="estab-data-confirm">
                            Confirm establishment record is up to date
                        </label>
                        <button class="button button-grey confirmation-button" id="estab-data-confirm">Confirm</button>
                    }
                </div>
            }
            @if (Model.MediumPriorityGovernanceConfirmationPending)
            {
                <div class="data-confirmation-panel">
                    <p class="confirmation-statement">
                        Governance record last confirmed:
                        <span class="confirmation-date">
                            @(Model.Establishment.ConfirmationUpToDateGovernance_LastConfirmationDate?.ToString("dd/MM/yyyy") ?? "Not recorded")
                        </span>
                    </p>
                    @using (Html.BeginRouteForm("EstablishmentGovernanceConfirmUpToDate", new { urn = Model.Establishment.Urn }, FormMethod.Post))
                    {
                        <label class="confirmation-label" for="gov-data-confirm">
                            Confirm governance record is up to date
                        </label>
                        <button class="button button-grey confirmation-button" id="gov-data-confirm">Confirm</button>
                    }
                </div>
            }
        </div>
    </div>
}

@if (Model.HighPriorityConfirmationsPending)
{
    if (Model.HighPriorityEstablishmentConfirmationPending)
    {
        @RenderHighPriorityBox("Establishment", Model.Establishment.ConfirmationUpToDate_LastConfirmationDate?.ToString("dd/MM/yyyy") ?? "Not recorded", "EstablishmentConfirmUpToDate")
    }

    if (Model.HighPriorityGovernanceConfirmationPending)
    {
        @RenderHighPriorityBox("Governance", Model.Establishment.ConfirmationUpToDateGovernance_LastConfirmationDate?.ToString("dd/MM/yyyy") ?? "Not recorded", "EstablishmentGovernanceConfirmUpToDate")
    }
}

@helper RenderHighPriorityBox(string type, string date, string route)
{
    <div class="up-to-date-confirmations high-priority">
        <h3>@type record last confirmed: <span>@date</span></h3>
        @using (Html.BeginRouteForm(route, new { Model.Establishment.Urn }, FormMethod.Post))
        {
            <label for="estab-data-confirm">Confirm @type.ToLower() record is up to date</label>
            <button class="button button-grey" id="estab-data-confirm">Confirm</button>
        }
    </div>
}