@using Edubase.Common
@model EstablishmentDetailViewModel

<div id="helpdesk" class="tab-content">
    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit helpdesk notes", "EditHelpdesk", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "button button-secondary mobile-full-width" })
    }

    <div class="detail-summary">

        <h2 class="heading-small">Helpdesk notes:</h2>
        <div>@(Model.Establishment.HelpdeskNotes.Clean() ?? "Not recorded")</div>

        <dl>
            <dt>EduBase last update:</dt>
            <dd>@(Model.Establishment.HelpdeskLastUpdate?.ToString("dd/MM/yyyy"))</dd>


            <dt>EduBase trigger 1:</dt>
            <dd>@Model.Establishment.HelpdeskTrigger1</dd>

            <dt>Previous local authority:</dt>
            <dd>@Model.HelpdeskPreviousLocalAuthorityName</dd>

            <dt>Previous establishment number:</dt>
            <dd>@Model.Establishment.HelpdeskPreviousEstablishmentNumber</dd>

        </dl>
    </div>

  @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit helpdesk notes", "EditHelpdesk", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "button button-secondary  mobile-full-width" })
    }
</div>
