@using Edubase.Common
@model EstablishmentDetailViewModel

<div id="helpdesk" class="tab-content">
    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit helpdesk notes", "EditHelpdesk", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "button button-secondary" })
    }

    <div class="detail-summary">

        <h2 class="heading-small">Helpdesk notes:</h2>
        <div>@(Model.Establishment.HelpdeskNotes.Clean() ?? "Not recorded")</div>

        <dl>
            @if (Model.DisplayPolicy.HelpdeskLastUpdate)
            {
                <dt>EduBase last update:</dt>
                <dd>@(Model.Establishment.HelpdeskLastUpdate?.ToString("dd/MM/yyyy"))</dd>
            }

            @if (Model.DisplayPolicy.HelpdeskTrigger1)
            {
                <dt>EduBase trigger 1:</dt>
                <dd>@Model.Establishment.HelpdeskTrigger1</dd>
            }

            @if (Model.DisplayPolicy.HelpdeskPreviousLocalAuthorityId)
            {
                <dt>Previous local authority:</dt>
                <dd>@Model.HelpdeskPreviousLocalAuthorityName</dd>
            }

            @if (Model.DisplayPolicy.HelpdeskPreviousEstablishmentNumber)
            {
                <dt>Previous establishment number:</dt>
                <dd>@Model.Establishment.HelpdeskPreviousEstablishmentNumber</dd>
            }

        </dl>
    </div>

  @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit helpdesk notes", "EditHelpdesk", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "button button-secondary" })
    }
</div>
