@using Edubase.Common
@model EstablishmentDetailViewModel

<div id="helpdesk" class="tab-content">
    @if (Model.UserCanEdit && Model.TabEditPolicy.Helpdesk)
    {
        @Html.ActionLink("Edit helpdesk notes", "EditHelpdesk", "Establishment", new { id = Model.Establishment.Urn }, new { id = "edit-helpdesk-notes", @class = "govuk-button govuk-button--secondary" })
    }

    <div class="detail-summary">

        <h2 id="helpdesk-notes" class="govuk-heading-s">Helpdesk notes:</h2>
        <div class="govuk-body">@(Model.Establishment.HelpdeskNotes.Clean() ?? "Not recorded")</div>

        <dl class="govuk-summary-list">
            @if (Model.DisplayPolicy.HelpdeskLastUpdate)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">EduBase last update</dt>
                    <dd class="govuk-summary-list__value">@(Model.Establishment.HelpdeskLastUpdate?.ToString("d MMMM yyyy"))</dd>
                </div>
            }
            @if (Model.DisplayPolicy.HelpdeskTrigger1)
            {
                <div class="govuk-summary-list__row">
                    <dt id="edubase-trigger-1" class="govuk-summary-list__key">EduBase trigger 1</dt>
                    <dd class="govuk-summary-list__value">@Model.Establishment.HelpdeskTrigger1</dd>
                </div>
            }
            @if (Model.DisplayPolicy.HelpdeskPreviousLocalAuthorityId)
            {
                <div class="govuk-summary-list__row">
                    <dt id="previous-local-authority" class="govuk-summary-list__key">Previous local authority</dt>
                    <dd class="govuk-summary-list__value">@Model.HelpdeskPreviousLocalAuthorityName</dd>
                </div>
            }
            @if (Model.DisplayPolicy.HelpdeskPreviousEstablishmentNumber)
            {
                <div class="govuk-summary-list__row">
                    <dt id="previous-establishment-number" class="govuk-summary-list__key">Previous establishment number</dt>
                    <dd class="govuk-summary-list__value">@Model.Establishment.HelpdeskPreviousEstablishmentNumber</dd>
                </div>
            }

        </dl>
    </div>

    @if (Model.UserCanEdit && Model.TabEditPolicy.Helpdesk)
    {
        <div class="govuk-!-padding-top-4">
            @Html.ActionLink("Edit helpdesk notes", "EditHelpdesk", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "govuk-button govuk-button--secondary" })
        </div>
    }
</div>
