@model EstablishmentDetailViewModel
@{
    var p = Model.DisplayPolicy.IEBTDetail;
}

<div id="school-iebt" class="tab-content">
@if (Model.UserCanEdit && Model.TabEditPolicy.IEBT)
{
    @Html.ActionLink("Edit IEBT", "EditIEBT", "Establishment", null, new {@class = "govuk-button govuk-button--secondary"})
}

<div class="detail-summary">
@if (Model.DisplayPolicy.IEBTDetail.Notes && p.Notes)
{
    <h2 class="govuk-heading-s">Notes</h2>
    <div class="govuk-body">@(Model.Establishment.IEBTModel.Notes ?? "Not recorded")</div>
}

@if (Model.DisplayPolicy.IEBTDetail.Associations && p.Associations)
{
    <h2 class="govuk-heading-s">Associations</h2>
    <div class="govuk-body">@(Model.Establishment.IEBTModel.Associations ?? "Not recorded")</div>
}

<dl class="gias-summary-list">
@if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastBridgeVisit && p.DateOfTheLastBridgeVisit)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Date of the last Bridge visit:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.DateOfTheLastBridgeVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.DateOfLastOfstedVisit && p.DateOfLastOfstedVisit)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Date of last Ofsted visit:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.DateOfLastOfstedVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastISIVisit && p.DateOfTheLastISIVisit)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Date of last ISI visit:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.DateOfTheLastISIVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastWelfareVisit && p.DateOfTheLastWelfareVisit)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Date of last welfare visit:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.DateOfTheLastWelfareVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastFPVisit && p.DateOfTheLastFPVisit)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Date of last FP visit:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.DateOfTheLastFPVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastSISVisit && p.DateOfTheLastSISVisit)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Date of last SIS visit:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.DateOfTheLastSISVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.NextOfstedVisit && p.NextOfstedVisit)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Next Ofsted visit:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.NextOfstedVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.NextGeneralActionRequired && p.NextGeneralActionRequired)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Next general action required:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.NextGeneralActionRequired?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.NextActionRequiredByWEL && p.NextActionRequiredByWEL)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Next action required by WEL:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.NextActionRequiredByWEL?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.NextActionRequiredByFP && p.NextActionRequiredByFP)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Next action required by FP:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.NextActionRequiredByFP?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
    </div>
}


@if (Model.DisplayPolicy.InspectorateId)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Inspectorate:</dt>
        <dd class="gias-summary-list__value">@Model.InspectorateName</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.IndependentSchoolTypeId && p.IndependentSchoolTypeId)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Independent school type:</dt>
        <dd class="gias-summary-list__value">@Model.IndependentSchoolTypeName</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.CharityOrganisation && p.CharityOrganisation)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Charity organisation:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.CharityOrganisation ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.CharityRegistrationNumber && p.CharityRegistrationNumber)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Charity registration number:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.CharityRegistrationNumber?.ToString() ?? "Not recorded")</dd>
    </div>
}


@if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfFullTimePupils && p.TotalNumberOfFullTimePupils)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Total number of full time pupils:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.TotalNumberOfFullTimePupils?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfPartTimePupils && p.TotalNumberOfPartTimePupils)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Total number of part time pupils:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.TotalNumberOfPartTimePupils?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfPupilsOfCompulsorySchoolAge && p.TotalNumberOfPupilsOfCompulsorySchoolAge)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Total number of pupils of compulsory school age:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.TotalNumberOfPupilsOfCompulsorySchoolAge?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.SENStat)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Total number of special pupils under a SEN statement/ECHP:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.SENStat?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.SENNoStat)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Number of special pupils not under a SEN statement/EHCP:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.SENNoStat?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfPupilsInPublicCare && p.TotalNumberOfPupilsInPublicCare)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Total number of pupils in public care:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.TotalNumberOfPupilsInPublicCare?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.PTBoysAged2AndUnder && p.PTBoysAged2AndUnder)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT boys (aged 2 and under):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTBoysAged2AndUnder?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.PTBoysAged3 && p.PTBoysAged3)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT boys (aged 3):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTBoysAged3?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.PTBoysAged4A && p.PTBoysAged4A)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT boys (aged 4a):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTBoysAged4A?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.PTBoysAged4B && p.PTBoysAged4B)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT boys (aged 4b):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTBoysAged4B?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.PTBoysAged4C && p.PTBoysAged4C)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT boys (aged 4c):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTBoysAged4C?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfBoysInBoardingSchools && p.TotalNumberOfBoysInBoardingSchools)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Total number of boys in boarding schools:</dt>
        <dd class="gias-summary-list__value"> @(Model.Establishment.IEBTModel.TotalNumberOfBoysInBoardingSchools?.ToString() ?? "Not recorded")</dd>
    </div>
}


@if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged2AndUnder && p.PTGirlsAged2AndUnder)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT girls (aged 2 and under):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTGirlsAged2AndUnder?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged3 && p.PTGirlsAged3)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT girls (aged 3):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTGirlsAged3?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged4A && p.PTGirlsAged4A)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT girls (aged 4a):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTGirlsAged4A?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged4B && p.PTGirlsAged4B)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT girls (aged 4b):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTGirlsAged4B?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged4C && p.PTGirlsAged4C)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">PT girls (aged 4c):</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.PTGirlsAged4C?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfGirlsInBoardingSchools && p.TotalNumberOfGirlsInBoardingSchools)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Total number of girls in boarding schools:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.TotalNumberOfGirlsInBoardingSchools?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.TotalFTTeachersTutors || Model.DisplayPolicy.IEBTDetail.TotalPTTeachersTutors)
{
    if (p.TotalFTTeachersTutors)
    {
        <div class="gias-summary-list__row">
            <dt class="gias-summary-list__key">Total number of full time teachers or tutors:</dt>
            <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.TotalFTTeachersTutors?.ToString() ?? "Not recorded")</dd>
        </div>
    }

    if (p.TotalPTTeachersTutors)
    {
        <div class="gias-summary-list__row">
            <dt class="gias-summary-list__key">Total number of part time teachers or tutors:</dt>
            <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.TotalPTTeachersTutors?.ToString() ?? "Not recorded")</dd>
        </div>
    }
}

@if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfFullTimeStaff && p.TotalNumberOfFullTimeStaff)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Total number of full time staff:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.TotalNumberOfFullTimeStaff?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfPartTimeStaff && p.TotalNumberOfPartTimeStaff)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Total number of part time staff:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.TotalNumberOfPartTimeStaff?.ToString() ?? "Not recorded")</dd>
    </div>
}


@if (Model.DisplayPolicy.IEBTDetail.LowestAnnualRateForDayPupils && p.LowestAnnualRateForDayPupils)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Lowest annual rate for day pupils:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.LowestAnnualRateForDayPupils?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.HighestAnnualRateForDayPupils && p.HighestAnnualRateForDayPupils)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Highest annual rate for day pupils:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.HighestAnnualRateForDayPupils?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.LowestAnnualRateForBoardingPupils && p.LowestAnnualRateForBoardingPupils)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Lowest annual rate for boarding pupils:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.LowestAnnualRateForBoardingPupils?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.HighestAnnualRateForBoardingPupils && p.HighestAnnualRateForBoardingPupils)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Highest annual rate for boarding pupils:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.HighestAnnualRateForBoardingPupils?.ToString() ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.BoardingEstablishmentId)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Boarding establishment:</dt>
        <dd class="gias-summary-list__value">@(Model.BoardingEstabName ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.ProprietorName)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Proprietor's name:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.ProprietorName ?? "Not recorded")</dd>
    </div>
}

@if (p.ProprietorsStreet)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Proprietor's address:</dt>
        <dd class="gias-summary-list__value">@Model.GetProprietorsAddress()</dd>
    </div>
}

@if (p.ProprietorsTelephoneNumber)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Proprietor's telephone:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.ProprietorsTelephoneNumber ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.ProprietorsFaxNumber && p.ProprietorsFaxNumber)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Proprietor's fax:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.ProprietorsFaxNumber ?? "Not recorded")</dd>
    </div>
}

@if (p.ProprietorsEmail)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Proprietor's email:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.ProprietorsEmail ?? "Not recorded")</dd>
    </div>
}

@if (p.ProprietorsPreferredJobTitle)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Proprietor's preferred job title:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.ProprietorsPreferredJobTitle ?? "Not recorded")</dd>
    </div>
}


@if (p.ChairOfProprietorsBodyName)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Chair of proprietor's name:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyName ?? "Not recorded")</dd>
    </div>
}

@if (p.ChairOfProprietorsBodyStreet)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Chair of proprietor's address:</dt>
        <dd class="gias-summary-list__value">@Model.GetChairOfProprietorsBodyAddress()</dd>
    </div>
}

@if (p.ChairOfProprietorsBodyTelephoneNumber)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Chair of proprietor's telephone:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyTelephoneNumber ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.ChairOfProprietorsBodyFaxNumber && p.ChairOfProprietorsBodyFaxNumber)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Chair of proprietor's fax:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyFaxNumber ?? "Not recorded")</dd>
    </div>
}

@if (p.ChairOfProprietorsBodyEmail)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Chair of proprietor's email:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyEmail ?? "Not recorded")</dd>
    </div>
}

@if (p.ChairOfProprietorsBodyPreferredJobTitle)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Chair of proprietor's preferred job title:</dt>
        <dd class="gias-summary-list__value">@(Model.Establishment.IEBTModel.ChairOfProprietorsBodyPreferredJobTitle ?? "Not recorded")</dd>
    </div>
}

@if (Model.DisplayPolicy.IEBTDetail.AccommodationChangedId && p.AccommodationChangedId)
{
    <div class="gias-summary-list__row">
        <dt class="gias-summary-list__key">Accommodation changed:</dt>
        <dd class="gias-summary-list__value">@(Model.AccommodationChangedName ?? "Not recorded")</dd>
    </div>
}
</dl>

</div>


@if (Model.UserCanEdit && Model.TabEditPolicy.IEBT)
{
    <div class="button-row govuk-!-padding-top-4">
        @Html.ActionLink("Edit IEBT", "EditIEBT", "Establishment", null, new {@class = "govuk-button govuk-button--secondary"})
    </div>
}

</div>
