@model EstablishmentDetailViewModel
@{
    var p = Model.DisplayPolicy.IEBTDetail;
}

<div id="school-iebt" class="tab-content">
    @if (Model.UserCanEdit && Model.TabEditPolicy.IEBT)
    {
            @Html.ActionLink("Edit IEBT", "EditIEBT", "Establishment", null,new { @class = "button button-secondary" })
    }

    <div class="detail-summary">
        @if (Model.DisplayPolicy.IEBTDetail.Notes && p.Notes)
        {
            <h2 class="heading-small">Notes</h2>
            <div>@(Model.Establishment.IEBTModel.Notes ?? "Not recorded")</div>
        }

        @if (Model.DisplayPolicy.IEBTDetail.Associations && p.Associations)
        {
            <h2 class="heading-small">Associations</h2>
            <div>@(Model.Establishment.IEBTModel.Associations ?? "Not recorded")</div>
        }

        <dl>
            @if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastBridgeVisit && p.DateOfTheLastBridgeVisit)
            {
                <dt>Date of the last Bridge visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastBridgeVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.DateOfLastOfstedVisit && p.DateOfLastOfstedVisit)
            {
                <dt>Date of last Ofsted visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfLastOfstedVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastISIVisit && p.DateOfTheLastISIVisit)
            {
                <dt>Date of last ISI visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastISIVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastWelfareVisit && p.DateOfTheLastWelfareVisit)
            {
                <dt>Date of last welfare visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastWelfareVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastFPVisit && p.DateOfTheLastFPVisit)
            {
                <dt>Date of last FP visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastFPVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.DateOfTheLastSISVisit && p.DateOfTheLastSISVisit)
            {
                <dt>Date of last SIS visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.DateOfTheLastSISVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.NextOfstedVisit && p.NextOfstedVisit)
            {
                <dt>Next Ofsted visit:</dt>
                <dd>@(Model.Establishment.IEBTModel.NextOfstedVisit?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.NextGeneralActionRequired && p.NextGeneralActionRequired)
            {
                <dt>Next general action required:</dt>
                <dd>@(Model.Establishment.IEBTModel.NextGeneralActionRequired?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.NextActionRequiredByWEL && p.NextActionRequiredByWEL)
            {
                <dt>Next action required by WEL:</dt>
                <dd>@(Model.Establishment.IEBTModel.NextActionRequiredByWEL?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.NextActionRequiredByFP && p.NextActionRequiredByFP)
            {
                <dt>Next action required by FP:</dt>
                <dd>@(Model.Establishment.IEBTModel.NextActionRequiredByFP?.ToString("dd/MM/yyyy") ?? "Not recorded")</dd>
            }
        </dl>

        <dl>
            @if (Model.DisplayPolicy.InspectorateId)
            {
                <dt>Inspectorate:</dt>
                <dd>@Model.InspectorateName</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.IndependentSchoolTypeId && p.IndependentSchoolTypeId)
            {
                <dt>Independent school type:</dt>
                <dd>@Model.IndependentSchoolTypeName</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.CharityOrganisation && p.CharityOrganisation)
            {
                <dt>Charity organisation:</dt>
                <dd>@(Model.Establishment.IEBTModel.CharityOrganisation ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.CharityRegistrationNumber && p.CharityRegistrationNumber)
            {
                <dt>Charity registration number:</dt>
                <dd>@(Model.Establishment.IEBTModel.CharityRegistrationNumber?.ToString() ?? "Not recorded")</dd>
            }
        </dl>

        <dl>
            @if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfFullTimePupils && p.TotalNumberOfFullTimePupils)
            {
                <dt>Total number of full time pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfFullTimePupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfPartTimePupils && p.TotalNumberOfPartTimePupils)
            {
                <dt>Total number of part time pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfPartTimePupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfPupilsOfCompulsorySchoolAge && p.TotalNumberOfPupilsOfCompulsorySchoolAge)
            {
                <dt>Total number of pupils of compulsory school age:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfPupilsOfCompulsorySchoolAge?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.SENStat)
            {
                <dt>Total number of special pupils under a SEN statement/ECHP:</dt>
                <dd>@(Model.Establishment.SENStat?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.SENNoStat)
            {
                <dt>Number of special pupils not under a SEN statement/EHCP:</dt>
                <dd>@(Model.Establishment.SENNoStat?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfPupilsInPublicCare && p.TotalNumberOfPupilsInPublicCare)
            {
                <dt>Total number of pupils in public care:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfPupilsInPublicCare?.ToString() ?? "Not recorded")</dd>
            }
        </dl>

        <dl>
            @if (Model.DisplayPolicy.IEBTDetail.PTBoysAged2AndUnder && p.PTBoysAged2AndUnder)
            {
                <dt>PT boys (aged 2 and under):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged2AndUnder?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.PTBoysAged3 && p.PTBoysAged3)
            {
                <dt>PT boys (aged 3):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged3?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.PTBoysAged4A && p.PTBoysAged4A)
            {
                <dt>PT boys (aged 4a):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged4A?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.PTBoysAged4B && p.PTBoysAged4B)
            {
                <dt>PT boys (aged 4b):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged4B?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.PTBoysAged4C && p.PTBoysAged4C)
            {
                <dt>PT boys (aged 4c):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTBoysAged4C?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfBoysInBoardingSchools && p.TotalNumberOfBoysInBoardingSchools)
            {
                <dt>Total number of boys in boarding schools:</dt>
                <dd> @(Model.Establishment.IEBTModel.TotalNumberOfBoysInBoardingSchools?.ToString() ?? "Not recorded")</dd>
            }
        </dl>

        <dl>
            @if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged2AndUnder && p.PTGirlsAged2AndUnder)
            {
                <dt>PT girls (aged 2 and under):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged2AndUnder?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged3 && p.PTGirlsAged3)
            {
                <dt>PT girls (aged 3):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged3?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged4A && p.PTGirlsAged4A)
            {
                <dt>PT girls (aged 4a):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged4A?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged4B && p.PTGirlsAged4B)
            {
                <dt>PT girls (aged 4b):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged4B?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.PTGirlsAged4C && p.PTGirlsAged4C)
            {
                <dt>PT girls (aged 4c):</dt>
                <dd>@(Model.Establishment.IEBTModel.PTGirlsAged4C?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfGirlsInBoardingSchools && p.TotalNumberOfGirlsInBoardingSchools)
            {
                <dt>Total number of girls in boarding schools:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfGirlsInBoardingSchools?.ToString() ?? "Not recorded")</dd>
            }
        </dl>

        @if (Model.DisplayPolicy.IEBTDetail.TotalFTTeachersTutors || Model.DisplayPolicy.IEBTDetail.TotalPTTeachersTutors)
        {
            <dl>
                @if (p.TotalFTTeachersTutors)
                {
                    <dt>Total number of full time teachers or tutors:</dt>
                    <dd>@(Model.Establishment.IEBTModel.TotalFTTeachersTutors?.ToString() ?? "Not recorded")</dd>
                }

                @if (p.TotalPTTeachersTutors)
                {
                    <dt>Total number of part time teachers or tutors:</dt>
                    <dd>@(Model.Establishment.IEBTModel.TotalPTTeachersTutors?.ToString() ?? "Not recorded")</dd>
                }
            </dl>
        }

        <dl>
            @if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfFullTimeStaff && p.TotalNumberOfFullTimeStaff)
            {
                <dt>Total number of full time staff:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfFullTimeStaff?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.TotalNumberOfPartTimeStaff && p.TotalNumberOfPartTimeStaff)
            {
                <dt>Total number of part time staff:</dt>
                <dd>@(Model.Establishment.IEBTModel.TotalNumberOfPartTimeStaff?.ToString() ?? "Not recorded")</dd>
            }
        </dl>

        <dl>
            @if (Model.DisplayPolicy.IEBTDetail.LowestAnnualRateForDayPupils && p.LowestAnnualRateForDayPupils)
            {
                <dt>Lowest annual rate for day pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.LowestAnnualRateForDayPupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.HighestAnnualRateForDayPupils && p.HighestAnnualRateForDayPupils)
            {
                <dt>Highest annual rate for day pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.HighestAnnualRateForDayPupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.LowestAnnualRateForBoardingPupils && p.LowestAnnualRateForBoardingPupils)
            {
                <dt>Lowest annual rate for boarding pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.LowestAnnualRateForBoardingPupils?.ToString() ?? "Not recorded")</dd>
            }

            @if (Model.DisplayPolicy.IEBTDetail.HighestAnnualRateForBoardingPupils && p.HighestAnnualRateForBoardingPupils)
            {
                <dt>Highest annual rate for boarding pupils:</dt>
                <dd>@(Model.Establishment.IEBTModel.HighestAnnualRateForBoardingPupils?.ToString() ?? "Not recorded")</dd>
            }

        </dl>

        <dl>
            @if (Model.DisplayPolicy.IEBTDetail.BoardingEstablishmentId)
            {
                <dt>Boarding establishment:</dt>
                <dd>@(Model.BoardingEstabName ?? "Not recorded")</dd>
            }
        </dl>

        @if (Model.DisplayPolicy.Proprietors)
        {
            @Html.DisplayFor(x => x.Establishment.IEBTModel.Proprietors)
        }

        @if (Model.DisplayPolicy.ChairOfProprietor)
        {
            @Html.DisplayFor(x => x.Establishment.IEBTModel.ChairOfProprietor, "ProprietorModel", new {prefix = "Chair of the proprietary body"})
        }

        <dl>
            @if (Model.DisplayPolicy.IEBTDetail.AccommodationChangedId && p.AccommodationChangedId)
            {
                <dt>Accommodation changed:</dt>
                <dd>@(Model.AccommodationChangedName ?? "Not recorded")</dd>
            }
        </dl>

    </div>

@if (Model.UserCanEdit && Model.TabEditPolicy.IEBT)
{
    <div class="button-row">
        @Html.ActionLink("Edit IEBT", "EditIEBT", "Establishment", null,new { @class = "button button-secondary" })
    </div>
}

</div>
