@model EstablishmentDetailViewModel

<div id="school-location" class="tab-content">

    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit location", "EditLocation", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "govuk-button govuk-button--secondary" })
    }

    <div class="detail-summary">
        <dl class="gias-summary-list">
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key"><abbr title="Regional Schools Commissioner">RSC</abbr> Region:</dt>
                <dd class="gias-summary-list__value">@Model.RSCRegionName</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key">Government Office Region:</dt>
                <dd class="gias-summary-list__value">@Model.GovernmentOfficeRegionName</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key">District:</dt>
                <dd class="gias-summary-list__value">@Model.AdministrativeDistrictName</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key">Ward:</dt>
                <dd class="gias-summary-list__value">@Model.AdministrativeWardName</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key">Parliamentary Constituency:</dt>
                <dd class="gias-summary-list__value">@Model.ParliamentaryConstituencyName</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key">Urban/Rural Description:</dt>
                <dd class="gias-summary-list__value">@Model.UrbanRuralName</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key"><abbr title="Government Statistical Service">GSS</abbr> LA Code:</dt>
                <dd class="gias-summary-list__value">@Model.GSSLAName</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key">Easting:</dt>
                <dd class="gias-summary-list__value">@Model.Establishment.Easting</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key">Northing:</dt>
                <dd class="gias-summary-list__value">@Model.Establishment.Northing</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key">Census Ward: </dt>
                <dd class="gias-summary-list__value">@Model.CASWardName</dd>
            </div>
            <div class="gias-summary-list__row">
                <dt class="gias-summary-list__key">Middle Super Output Area (MSOA): </dt>
                <dd class="gias-summary-list__value">@Model.MSOAName</dd>
            </div>
            <div class="gias-summary-list__row">
            <dt class="gias-summary-list__key">Lower Super Output Area (LSOA):</dt>
            <dd class="gias-summary-list__value">@Model.LSOAName</dd>
            </div>
        </dl>
    </div>

    <br />
    @if (Model.AdditionalAddressList.Any())
    {
        <h3 class="govuk-heading-s">Other sites</h3>
        foreach (var address in Model.AdditionalAddressList)
        {
            if (address.SiteName != null)
            {
                <h4 class="govuk-heading-s">@address.SiteName</h4>
            }
            <div class="detail-summary">
                <dl class="gias-summary-list">
                    <div class="gias-summary-list__row">
                        <dt class="gias-summary-list__key">Address:</dt>
                        <dd class="gias-summary-list__value">@address.GetAddress()</dd>
                    </div>
                </dl>
            </div>
        }
    }

    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit location", "EditLocation", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "govuk-button govuk-button--secondary" })
    }
</div>
