@model EstablishmentDetailViewModel

<div id="school-location" class="tab-content">

    @if (Model.UserCanEdit && Model.TabEditPolicy.Location)
    {
        @Html.ActionLink("Edit location", "EditLocation", "Establishment", new { id = Model.Establishment.Urn }, new { id = "edit-location-button", @class = "govuk-button govuk-button--secondary" })
    }

    <div class="detail-summary">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt id="rsc-region-key" class="govuk-summary-list__key">Regional schools commissioner (RSC) region</dt>
                <dd id="rsc-region-value" class="govuk-summary-list__value">@Model.RSCRegionName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="gor-key" class="govuk-summary-list__key">Government office region (GOR)</dt>
                <dd id="gor-value" class="govuk-summary-list__value">@Model.GovernmentOfficeRegionName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="district-key" class="govuk-summary-list__key">District</dt>
                <dd id="district-value" class="govuk-summary-list__value">@Model.AdministrativeDistrictName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="ward-key" class="govuk-summary-list__key">Ward</dt>
                <dd id="ward-value" class="govuk-summary-list__value">@Model.AdministrativeWardName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="parliamentary-constituency-key" class="govuk-summary-list__key">Parliamentary constituency</dt>
                <dd id="parliamentary-constituency-value" class="govuk-summary-list__value">@Model.ParliamentaryConstituencyName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="urban-rural-key" class="govuk-summary-list__key">Urban/rural description</dt>
                <dd id="urban-rural-value" class="govuk-summary-list__value">@Model.UrbanRuralName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="gss-key" class="govuk-summary-list__key">Government Statistical Service (GSS) local authority code</dt>
                <dd id="gss-value" class="govuk-summary-list__value">@Model.GSSLAName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="easting-key" class="govuk-summary-list__key">Easting</dt>
                <dd id="easting-value" class="govuk-summary-list__value">@Model.Establishment.Easting</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="northing-key" class="govuk-summary-list__key">Northing</dt>
                <dd id="northing-value" class="govuk-summary-list__value">@Model.Establishment.Northing</dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt id="msoa-key" class="govuk-summary-list__key">
                    Middle super output area (MSOA)
                    <a href="#help-text-msoa" class="help-icon modal-link">
                        <span class="govuk-visually-hidden">Help with middle super output area</span>
                        @helpers.DialogHiddenPrompt()
                    </a>
                </dt>
                <dd id="msoa-value" class="govuk-summary-list__value">@Model.MSOAName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="lsoa-key" class="govuk-summary-list__key">
                    Lower super output area (LSOA)
                    <a href="#help-text-lsoa" class="help-icon modal-link">
                        <span class="govuk-visually-hidden">Help with lower super output area</span>
                        @helpers.DialogHiddenPrompt()
                    </a>
                </dt>
                <dd id="lsoa-value" class="govuk-summary-list__value">@Model.LSOAName</dd>
            </div>
        </dl>
    </div>

    @if (Model.AdditionalAddressList.Any())
    {
        <br/>
        <h3 class="govuk-heading-s">Other sites</h3>
        foreach (var address in Model.AdditionalAddressList)
        {
            if (address.SiteName != null)
            {
                <h4 class="govuk-heading-s">@address.SiteName</h4>
            }
            <div class="detail-summary">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt id="address-key" class="govuk-summary-list__key">Address</dt>
                        <dd id="address-value" class="govuk-summary-list__value">@address.GetAddress()</dd>
                    </div>
                </dl>
            </div>
        }
    }

    @if (Model.UserCanEdit && Model.TabEditPolicy.Location)
    {
        <div class="govuk-!-padding-top-4">
            @Html.ActionLink("Edit location", "EditLocation", "Establishment", new { id = Model.Establishment.Urn }, new { id = "edit-location-button", @class = "govuk-button govuk-button--secondary" })
        </div>
    }

    @helpers.BackToTopLink()
</div>
