@model EstablishmentDetailViewModel

<div id="school-links" class="tab-content">
    @if (Model.UserCanEdit)
    {
        <a href="@Url.RouteUrl("EditEstabLinks", new { id = Model.Establishment.Urn })" class="button button-secondary mobile-full-width">Edit links</a>

    }

    @if (Model.LinkedEstablishments.Any())
    {
        <p class="table-caption">
            These establishments are linked with @Model.Establishment.Name,
            <abbr title="Unique Reference Number">URN</abbr>: @Model.Establishment.Urn. For example, they may be predecessor or successor establishments.
        </p>

        <div class="table-count">
            <p>Showing 1 - @Model.LinkedEstablishments.Count() of @Model.LinkedEstablishments.Count()</p>
        </div>

        <table class="edubase-table">
            <caption class="visuallyhidden">Links</caption>
            <thead>
                <tr>
                    <th scope="col" class="links-urn"><abbr title="Unique Reference Number">URN</abbr></th>
                    <th scope="col" class="links-name">Establishment name</th>
                    <th scope="col" class="links-type">Type of link</th>
                    <th scope="col" class="links-date">Date linked</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var l in Model.LinkedEstablishments)
            {
                <tr>
                    <td>@Html.ActionLink(l.Urn.ToString(), "Details", new {id = l.Urn})</td>
                    <td>@Html.ActionLink((l.EstablishmentName ?? "-"), "Details", new {id = l.Urn})</td>
                    <td>@l.LinkTypeName</td>
                    <td>@(l.LinkDate?.ToString("dd/MM/yyyy") ?? "None recorded")</td>
                </tr>
            }
            </tbody>
        </table>


    }
    else
    {
        <p>There are no linked establishments</p>
    }

    @if (Model.UserCanEdit)
    {
        <div class="button-row">
            <a href="@Url.RouteUrl("EditEstabLinks", new { id = Model.Establishment.Urn })" class="button button-secondary mobile-full-width">Edit links</a>
        </div>

    }

</div>
