@model EstablishmentDetailViewModel

<div id="school-location" class="tab-content">

    @if (Model.UserCanEdit && Model.TabEditPolicy.Location)
    {
        @Html.ActionLink("Edit location", "EditLocation", "Establishment", new { id = Model.Establishment.Urn }, new { id = "edit-location-button", @class = "govuk-button govuk-button--secondary" })
    }

    <div class="detail-summary">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Regional schools commissioner (RSC) region</dt>
                <dd class="govuk-summary-list__value">@Model.RSCRegionName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="gor-key" class="govuk-summary-list__key">Government office region (GOR)</dt>
                <dd id="gor-value" class="govuk-summary-list__value">@Model.GovernmentOfficeRegionName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">District</dt>
                <dd class="govuk-summary-list__value">@Model.AdministrativeDistrictName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Ward</dt>
                <dd class="govuk-summary-list__value">@Model.AdministrativeWardName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Parliamentary constituency</dt>
                <dd class="govuk-summary-list__value">@Model.ParliamentaryConstituencyName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Urban/rural description</dt>
                <dd class="govuk-summary-list__value">@Model.UrbanRuralName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt id="gss-key" class="govuk-summary-list__key">Government Statistical Service (GSS) local authority code</dt>
                <dd id="gss-value" class="govuk-summary-list__value">@Model.GSSLAName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Easting</dt>
                <dd class="govuk-summary-list__value">@Model.Establishment.Easting</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Northing</dt>
                <dd class="govuk-summary-list__value">@Model.Establishment.Northing</dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Middle super output area (MSOA)</dt>
                <dd class="govuk-summary-list__value">@Model.MSOAName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Lower super output area (LSOA)</dt>
                <dd class="govuk-summary-list__value">@Model.LSOAName</dd>
            </div>
        </dl>
    </div>

    @if (Model.AdditionalAddressList.Any())
    {
        <br />
        <h3 class="govuk-heading-s">Other sites</h3>
        foreach (var address in Model.AdditionalAddressList)
        {
            if (address.SiteName != null)
            {
                <h4 class="govuk-heading-s">@address.SiteName</h4>
            }
            <div class="detail-summary">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">@address.GetAddress()</dd>
                    </div>
                </dl>
            </div>
        }
    }

    @if (Model.UserCanEdit && Model.TabEditPolicy.Location)
    {
        <div class="govuk-!-padding-top-4">
            @Html.ActionLink("Edit location", "EditLocation", "Establishment", new {id = Model.Establishment.Urn}, new { id = "edit-location-button", @class = "govuk-button govuk-button--secondary"})
        </div>
    }

    @helpers.BackToTopLink()
</div>
