@model EstablishmentDetailViewModel

<div id="school-location" class="tab-content">
    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit", "EditLocation", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "button button-grey block-button mobile-full-width" })
    }
    <table class="borderless">
        <caption class="visually-hidden">Location information for @Model.Establishment.Name</caption>
        <tr>
            <th scope="row"><abbr title="Regional Schools Commissioner">RSC</abbr> Region:</th>
            <td>@Model.RSCRegionName</td>
        </tr>
        <tr>
            <th scope="row">Government Office Region:</th>
            <td>@Model.GovernmentOfficeRegionName</td>
        </tr>
        <tr>
            <th scope="row">District:</th>
            <td>@Model.AdministrativeDistrictName</td>
        </tr>
        <tr>
            <th scope="row">Ward:</th>
            <td>@Model.AdministrativeWardName</td>
        </tr>
        <tr>
            <th scope="row">Parliamentary Constituency:</th>
            <td>@Model.ParliamentaryConstituencyName</td>
        </tr>
        <tr>
            <th scope="row">Urban/Rural Description:</th>
            <td>@Model.UrbanRuralName</td>
        </tr>
        <tr>
            <th scope="row"><abbr title="Government Statistical Service">GSS</abbr> LA Code:</th>
            <td>@Model.GSSLAName</td>
        </tr>
        <tr>
            <th scope="row">Easting:</th>
            <td>@Model.Establishment.Easting</td>
        </tr>
        <tr>
            <th scope="row">Northing:</th>
            <td>@Model.Establishment.Northing</td>
        </tr>
        <tr>
            <th scope="row">Census Ward: </th>
            <td>@Model.CASWardName</td>
        </tr>
        <tr>
            <th scope="row">Middle Super Output Area (MSOA): </th>
            <td>@Model.MSOAName</td>
        </tr>
        <tr>
            <th scope="row">Lower Super Output Area (LSOA):</th>
            <td>@Model.LSOAName</td>
        </tr>
    </table>

    @if (Model.DisplayPolicy.AltSiteName.GetValueOrDefault(true))
    {
        <h3 class="font-small">Other site</h3>
        <table class="borderless">
            <caption class="visually-hidden">Additional site information for @Model.Establishment.Name</caption>

            <tr>
                <th colspan="2">@Model.Establishment.AltSiteName</th>
            </tr>
            <tr>
                <th scope="row">
                    Address:
                </th>
                <td>
                    @Model.GetAltAddress()
                </td>
            </tr>
            @*<tr>
                <th scope="row">Telephone</th>
                <td>@(address.TelephoneNumber ?? "Not recorded")</td>
            </tr>*@
        </table>
    }

    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit", "EditLocation", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "button button-grey block-button mobile-full-width" })
    }
</div>