@model EstablishmentDetailViewModel

<div id="school-location" class="tab-content">

    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit location", "EditLocation", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "button button-secondary" })
    }

    <div class="detail-summary">
        <dl>
            <dt><abbr title="Regional Schools Commissioner">RSC</abbr> Region:</dt>
            <dd>@Model.RSCRegionName</dd>

            <dt>Government Office Region:</dt>
            <dd>@Model.GovernmentOfficeRegionName</dd>

            <dt>District:</dt>
            <dd>@Model.AdministrativeDistrictName</dd>

            <dt>Ward:</dt>
            <dd>@Model.AdministrativeWardName</dd>

            <dt>Parliamentary Constituency:</dt>
            <dd>@Model.ParliamentaryConstituencyName</dd>

            <dt>Urban/Rural Description:</dt>
            <dd>@Model.UrbanRuralName</dd>

            <dt><abbr title="Government Statistical Service">GSS</abbr> LA Code:</dt>
            <dd>@Model.GSSLAName</dd>

            <dt>Easting:</dt>
            <dd>@Model.Establishment.Easting</dd>

            <dt>Northing:</dt>
            <dd>@Model.Establishment.Northing</dd>

            <dt>Census Ward: </dt>
            <dd>@Model.CASWardName</dd>

            <dt>Middle Super Output Area (MSOA): </dt>
            <dd>@Model.MSOAName</dd>

            <dt>Lower Super Output Area (LSOA):</dt>
            <dd>@Model.LSOAName</dd>
        </dl>
    </div>

    <br />
    @if (Model.AdditionalAddressList.Any())
    {
        <h3 class="font-small">Other sites</h3>
        <br />
        foreach (var address in Model.AdditionalAddressList)
        {
            if (address.SiteName != null)
            {
                <h4 class="font-small">@address.SiteName</h4>
            }
            <div class="detail-summary">
                <dl>
                    <dt>Address:</dt>
                    <dd>@address.GetAddress()</dd>
                </dl>
            </div>
        }
    }

    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit location", "EditLocation", "Establishment", new { id = Model.Establishment.Urn }, new { @class = "button button-secondary" })
    }
</div>
