@using Edubase.Common;
@using Edubase.Services.Groups.Search;
@model GroupSearchViewModel
@{
    ViewBag.Title = $"Search results for '{Model.GroupSearchModel.Text}'";
    ViewBag.PageClass = "search-results";
    ViewBag.HideLogo = true;
}
@section Head
{
    <meta name="robots" content="noindex,nofollow" />
}

<div class="grid-row">
    <div class="column-full results-heading">
        <div class="breadcrumbs">
            @Html.ActionLink("Back to find an establishment group", "Index", new { controller = "Search", area = "", SelectedTab = "Groups" })
        </div>
        <h1 class="heading-xlarge">Search results for establishment groups</h1>
        <a class="download-link" href="@Url.Action("PrepareDownload", "GroupSearch")?@Url.CurrentQueryString()">Download these search results</a>

    </div>
    @if (!Model.GroupSearchModel.Text.IsNullOrEmpty())
    {
        <div class="column-full">
            <p>Establishment groups matching &lsquo;<span class="bold-small">@Model.GroupSearchModel.Text</span>&rsquo;.</p>
        </div>
    }
</div>

<div class="grid-row">

    <div class="column-third">
        <div class="filter-form" id="filter-form">

            <div id="EditSearchCollapse" class="blanket-container">
                <h2 class="visuallyhidden">Search results filters</h2>
                <a href="#results-container" class="visually-hidden-focusable">Skip filters</a>

                <form method="get" action="@Url.Action("Index", "GroupSearch", new { area = "Groups" })">
                    <input type="hidden" id="client-only-searchtype" value="EstablishmentGroupsAll" />

                    <div class="govuk-option-select js-collapsible"
                         id="option-select-sort-by" role="search">
                        <div class="container-head js-container-head">
                            <div class="option-select-label">Sort by</div>
                        </div>
                        <div class="options-container">
                            <label for="sortBy" class="visuallyhidden">Sort by</label>
                            <select class="form-control trigger-result-update push-half--top" name="SortBy" id="sortBy">
                                <option value="a" @Html.Conditional(Model.SortOption == Edubase.Services.Enums.eSortBy.NameAlphabeticalAZ, "selected")>Alphabetical A-Z</option>
                                <option value="z" @Html.Conditional(Model.SortOption == Edubase.Services.Enums.eSortBy.NameAlphabeticalZA, "selected")>Alphabetical Z-A</option>
                            </select>
                        </div>
                    </div>

                    <div class="govuk-option-select js-collapsible"
                         id="option-select-group-type" role="search">
                        <div class="container-head js-container-head">
                            <div class="option-select-label">Group type</div>
                            <div class="js-selected-counter">
                                <span class="js-selected-counter-text"></span>
                            </div>
                        </div>
                        @*<a href="#" class="clear-selections filter-clear">Clear</a>*@
                        <div class="options-container">
                            <div class="js-auto-height-inner">
                                <fieldset>
                                    <legend class="visuallyhidden">Select an option below to filter the results</legend>
                                    <div class="select-all-wrap multiple-choice multiple-choice--smaller multiple-choice--list">
                                        <input id="grouptype_all" class="select-all" type="checkbox" />
                                        <label for="grouptype_all">
                                            All
                                        </label>
                                    </div>
                                    @foreach (var item in Model.GroupTypes)
                                    {
                                        <div class="multiple-choice multiple-choice--smaller multiple-choice--list">
                                            <input name="t" value="@item.Id" class="trigger-result-update" id="group-type_@item.Id" type="checkbox" @Html.Conditional(Model.SelectedGroupTypeIds.Contains(item.Id), "checked") />
                                            <label for="group-type_@item.Id">
                                                @item
                                            </label>
                                        </div>
                                    }
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="govuk-option-select js-collapsible" id="option-select-group-status" role="search">
                            <div class="container-head js-container-head">
                                <div class="option-select-label">Group status</div>
                                <div class="js-selected-counter">
                                    <span class="js-selected-counter-text"></span>
                                </div>
                            </div>
                            @*<a href="#" class="clear-selections filter-clear">Clear</a>*@
                            <div class="options-container" id="">
                                <div class="js-auto-height-inner">
                                    <fieldset>
                                        <span class="visuallyhidden">- changing the selection will refresh the results</span>
                                        <legend class="visuallyhidden">Select an option below to filter the results</legend>
                                        <div class="select-all-wrap multiple-choice multiple-choice--smaller multiple-choice--list">
                                            <input id="groupstatus_all" class="select-all" type="checkbox" />
                                            <label for="groupstatus_all">
                                                All
                                            </label>
                                        </div>
                                        @foreach (var item in Model.GroupStatuses)
                                        {
                                            <div class="multiple-choice multiple-choice--smaller multiple-choice--list">
                                                <input name="s" value="@item.Id" class="trigger-result-update" id="group-status_@item.Id" type="checkbox" @Html.Conditional(Model.SelectedGroupStatusIds.Contains(item.Id), "checked") />
                                                <label for="group-status_@item.Id">
                                                    @item
                                                </label>
                                            </div>
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    }
                    <div id="filter-additional-controls">
                        <a href="#" class="add-clear-filters" id="clear-filters" role="search">Clear all filters</a>
                    </div>
                    <input type="submit" value="Update" class="button edubase-filter-submit" id="filter-submit" />
                    @Html.HiddenFor(!Model.GroupSearchModel.Text.IsEmpty(), x => x.GroupSearchModel.Text)
                    @Html.HiddenFor(!Model.GroupSearchModel.AutoSuggestValue.IsEmpty(), x => x.GroupSearchModel.AutoSuggestValue)
                </form>
            </div>

        </div>
    </div>

    <div role="alert" aria-live="assertive" id="results-notification" class="visuallyhidden"></div>
    <h2 class="visuallyhidden">Search results listing</h2>
    <div class="column-two-thirds" id="results-container">

        @{Html.RenderPartial("Partials/_GroupSearchResults");}

    </div>

</div>

@section ViewScripts
{
    <script language="javascript" nonce="@Html.ScriptNonce()">
        var $openSelector = $("#group-status_1");
        var $openClosedSelector = $("#group-status_4");

        $($openSelector).change(function () {
            if (this.checked) {
                $openClosedSelector.prop('checked', true);
            }
        });

        DfE.searchResults.init();


    </script>
}
