@using Edubase.Common;
@using Edubase.Services.Groups.Search;
@model GroupSearchViewModel
@{
    ViewBag.Title = string.Format("Search results for '{0}'", Model.GroupSearchModel.Text);
    ViewBag.PageClass = "search-results";
    ViewBag.HideLogo = true;
}

<div class="grid-row">
    <div class="column-full">
        @Html.ActionLink("Go back", "Index", "Search", new { area = "" }, new { @class = "home-link" })
        <h1 class="heading-xlarge">Search results</h1>
        <p>
            @if (Model.GroupSearchModel.Text.IsInteger())
            {
                <text>We found <span class="heading-xlarge count">@Model.Count</span> groups with Companies House Number '@Model.GroupSearchModel.Text'.</text>
            }
            else
            {
                <text>
                    We found <span class="heading-xlarge count">@Model.Count</span> groups
                    @if (!Model.GroupSearchModel.Text.IsNullOrEmpty())
                    {
                        <text>matching "@Model.GroupSearchModel.Text".</text>
                    }
               </text>
            }
            <a class="download-link" href="@Url.Action("PrepareDownload", "GroupSearch")?@Url.CurrentQueryString()">Download these search results</a>
        </p>
    </div>
</div>


<div class="grid-row">

    <div class="column-third">
        <div class="filter-form">

            <div id="EditSearchCollapsible"
                 class="button-as-link js-collapsible selected mbl js-track"
                 data-track="search-results||edit-search"
                 aria-controls="EditSearchCollapse"
                 role="button">
                <a class="help-toggle" href="@Url.Action("Index", "Search", new { area = "" })">Edit search</a>
            </div>

            <div id="EditSearchCollapse" aria-expanded="true" class="blanket-container">
                <div class="blanket"></div>
                <div class="filter-divider"></div>
                <form method="get" action="@Url.Action("Index", "GroupSearch", new { area = "Groups" })">

                    <div class="govuk-option-select js-collapsible"
                         id="option-select-sort-by">
                        <div class="container-head js-container-head">
                            <div class="option-select-label">Sort by</div>
                            <div class="js-selected-counter"></div>
                        </div>
                        <select class="form-control trigger-result-update" name="SortBy">
                            <option value="a" @Html.Conditional(Model.SortOption == Edubase.Services.Core.Search.eSortBy.NameAlphabeticalAZ , "selected")>alphabetical a-z</option>
                            <option value="z" @Html.Conditional(Model.SortOption == Edubase.Services.Core.Search.eSortBy.NameAlphabeticalZA, "selected")>alphabetical z-a</option>
                        </select>
                    </div>
                    <div class="filter-divider"></div>

                    <div class="govuk-option-select js-collapsible"
                         id="option-select-group-type">
                        <div class="container-head js-container-head">
                            <div class="option-select-label">Group type</div>
                            <div class="js-selected-counter"></div>
                        </div>
                        <a href="#" class="clear-selections">Clear</a>
                        <div class="options-container" id="">
                            <div class="js-auto-height-inner">
                                <fieldset>
                                    <legend class="visuallyhidden">Select an option below to filter the results</legend>
                                    @foreach (var item in Model.GroupTypes)
                                    {
                                        <label for="group-type_@item.Id">
                                            <input name="t" value="@item.Id" class="trigger-result-update" id="group-type_@item.Id" type="checkbox" @Html.Conditional(Model.SelectedGroupTypeIds.Contains(item.Id), "checked") />
                                            @item
                                            <span class="visuallyhidden">- changing the selection will refresh the results</span>
                                        </label>
                                    }
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="filter-divider"></div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="govuk-option-select js-collapsible" id="option-select-group-status">
                            <div class="container-head js-container-head">
                                <div class="option-select-label">Group status</div>
                                <div class="js-selected-counter"></div>
                            </div>
                            <a href="#" class="clear-selections">Clear</a>
                            <div class="options-container" id="">
                                <div class="js-auto-height-inner">
                                    <fieldset>
                                        <legend class="visuallyhidden">Select an option below to filter the results</legend>
                                        @foreach (var item in Model.GroupStatuses)
                                        {
                                            <label for="group-status_@item.Id">
                                                <input name="s" value="@item.Id" class="trigger-result-update" id="group-status_@item.Id" type="checkbox" @Html.Conditional(Model.SelectedGroupStatusIds.Contains(item.Id), "checked")/>
                                                @item
                                                <span class="visuallyhidden">- changing the selection will refresh the results</span>
                                            </label>
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="filter-divider"></div>

                    <input type="submit" value="Update" class="button edubase-filter-submit" id="filter-submit" />
                    @Html.HiddenFor(!Model.GroupSearchModel.Text.IsEmpty(), x => x.GroupSearchModel.Text)
                    @Html.HiddenFor(!Model.GroupSearchModel.AutoSuggestValue.IsEmpty(), x => x.GroupSearchModel.AutoSuggestValue)
                </form>
            </div>

        </div>
    </div>

    <div class="column-two-thirds" id="results-container">

        @{Html.RenderPartial("Partials/_GroupSearchResults");}

    </div>

</div>