@using Edubase.Common;
@model SearchModel
@{
    ViewBag.Title = string.Format("Governor search results");
    ViewBag.PageClass = "search-results";
    ViewBag.HideLogo = true;
}

<div class="grid-row">
    <div class="column-two-thirds">
        @Html.ActionLink("Search for governors", "Index", null, new { @class = "home-link" })

        <h1 class="heading-xlarge">Search results</h1>
        
            <p>We found <span class="heading-xlarge">@Model.Count</span> result@(Model.Count == 1 ? "" : "") matching 
            @if (Model.Forename.Clean() != null)
            {
                <text>Forename <span class="bold-small">'@Model.Forename'</span>&nbsp;</text>
            }
            
            @if (Model.Surname.Clean() != null)
            {
                <text>Surname <span class="bold-small">'@Model.Surname'</span>&nbsp;</text>
}

            @if (Model.RoleName.Clean() != null)
            {
                <text>Role <span class="bold-small">'@Model.RoleName'</span>&nbsp;</text>
}

        </p>
        
    </div>
</div>

<div class="grid-row">
    @if (Model.Error != null)
    {
        <div class="column-two-thirds">
            <h2 class="heading-medium">Error</h2>

            <p>@Model.Error</p>
        </div>
    }
    else if (Model.Results.Count > 0)
    {
        if (Model.PageCount > 1)
        {
            <div class="column-two-thirds top-pagination">
                @Html.Partial("_ResultsPagination")
            </div>
        }
        <div class="column-two-thirds">
            <ul class="school-results-listing">
                @foreach (var result in Model.Results)
                {
                    <li>
                        <h2 class="bold-small">@result.FullName &ndash; @result.Role.Name</h2>
                        <dl>
                            <dt>URN:</dt>
                            <dd>@Html.ActionLink(result.EstablishmentUrn.ToString(), "Details", "Schools", new { id = result.EstablishmentUrn, area = "" }, null)</dd>
                            <dt>Establishment:</dt>
                            <dd>@Html.ActionLink(result.Establishment.Name, "Details", "Schools", new { id = result.EstablishmentUrn, area = "" }, null)</dd>
                            <dt>GID:</dt>
                            <dd>@result.Id</dd>
                            @if (result.AppointmentEndDate.HasValue)
                            {
                                <dt>Date term of office ends/ended</dt>
                                <dd>@result.AppointmentEndDate.Value.ToString("dd/MM/yyyy")</dd>
                            }
                            @if (result.AppointmentStartDate.HasValue)
                            {
                                <dt>Date of appointment</dt>
                                <dd>@result.AppointmentStartDate.Value.ToString("dd/MM/yyyy")</dd>
                            }
                            @if (result.GovernorAppointingBodyId.HasValue)
                            {
                                <dt>Appointing body:</dt>
                                <dd>@result.GovernorAppointingBody</dd>
                            }

                        </dl>
                    </li>
                }
            </ul>
        </div>

        if (Model.PageCount > 1)
        {
            <div class="column-two-thirds lower-pagination">
                @Html.Partial("_ResultsPagination")
            </div>
        }
    }
    else
    {
        <div class="column-two-thirds">
            <p class="no-school-results">Please try @Html.ActionLink("searching again", "Index") using different spelling or words.</p>
        </div>
    }

</div>