@using System.Xml.XPath
@using Edubase.Web.UI.Areas.Establishments.Models.Search
@using Edubase.Web.UI.Models.Search
@using Edubase.Web.UI.Helpers
@using Edubase.Common
@using Edubase.Services.Enums
@model EstablishmentSearchViewModel
@using M = Edubase.Web.UI.Areas.Establishments.Models.Search.EstablishmentSearchViewModel;
@{
    var startResult = @Model.StartIndex + 1;
    var endResult = (@Model.StartIndex + @Model.PageSize > @Model.Count) ? @Model.Count : @Model.StartIndex + @Model.PageSize;
}

@if (Model.HasError)
{
    <div class="column-two-thirds">
        <p class="no-school-results">@Model.Error</p>
    </div>
}
else if (Model.Results.Count > 0)
{
    <div class="search-results-header">

    <div class="top-pagination">
        @await Html.PartialAsync("_GenericPagination", Model, new ViewDataDictionary(ViewData)
        {
            { "resultsDescription", $"Showing {startResult}-{endResult} of <span id='list-count'>{Model.Count}</span> establishments" },
            { "maxPages", 5 }
        })
    </div>

    </div>
    <hr class="govuk-section-break govuk-section-break--visible">
    <span class="gias-map-toggle-icon-container">
    <map-button-icon />
    </span>
    <a href="#" class="js-enabled search-type-toggle icon-map" id="view-map">View on a map</a>

    <ul class="school-results-listing">
        @foreach (var result in Model.Results)
        {
        <li class="gias-result-tile">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 result-establishment-name">
                @Html.ActionLink(result.Name.Clean() ?? "(name not recorded)",
                    "Details",
                    "Establishment",
                    new {id = result.Urn, area = "Establishments", searchQueryString = Model.SearchQueryString},
                    new { @class="govuk-link"})
            </h3>
            @if (Model.EstablishmentStatuses.FirstOrDefault(x => x.Id == result.StatusId)?.Name == "Closed")
            {
                <p class="additional-closed">Closed</p>
            }

            <dl>
                <dt>Address:</dt>
                <dd>@Model.Addresses[result]</dd>
                <dt>Phase / type:</dt>
                <dd>
                    @(Model.EducationPhases.FirstOrDefault(x => x.Id == result.EducationPhaseId)?.Name ?? "Not recorded"),
                    @((result.TypeId != null && Model.EstablishmentTypeLookup.ContainsKey(result.TypeId.Value)) ? Model.EstablishmentTypeLookup[result.TypeId.Value] : "Not recorded")
                    @*@(Model.EstablishmentTypes.FirstOrDefault(x => x.Id == result.TypeId)?.Name ?? "Not recorded")*@
                </dd>
                <dt class="result-urn-label"><abbr title="Unique Reference Number">URN</abbr>:</dt>
                <dd class="result-urn-value">@result.Urn</dd>
                <dt class="result-inline-details">
                    <abbr title="Local authority - Establishment number">LAESTAB</abbr>:
                </dt>
                <dd class="result-laestab-value">@Model.LAESTABs[result]</dd>
                <dt class="result-status-label">Status:</dt>
                <dd class="result-status-value">@(Model.EstablishmentStatuses.FirstOrDefault(x => x.Id == result.StatusId)?.Name ?? "Not recorded")</dd>
                <dt class="result-la-name-label">Local authority name:</dt>
                <dd class="result-la-name-value">@(Model.LocalAuthorities.FirstOrDefault(x => x.Id == result.LocalAuthorityId)?.Name ?? "Not recorded")</dd>
                @if (Model.SearchType == eSearchType.Location)
                {
                    var distanceInMiles = Math.Round(Edubase.Common.Spatial.DistanceCalculator.Calculate(Model.LocationSearchCoordinate, result.Location).Miles, 2);
                    <dt>Distance:</dt>
                    <dd>@distanceInMiles mile@(Html.Conditional(distanceInMiles != 1, "s"))</dd>
                }
            </dl>
        </li>
        }
    </ul>
    if (Model.PageCount > 1)
    {
        <div class="lower-pagination push--bottom">
            @await Html.PartialAsync("_GenericPagination", Model, new ViewDataDictionary(ViewData)
            {
                { "resultsDescription", $"Showing {startResult}-{endResult} of <span id='list-count'>{Model.Count}</span> establishments" },
                { "maxPages", 5 }
            })
        </div>

        <back-to-top-link />
    }
}
else
{
    <p>There are no results for your search. Please change the filters to adjust your search, or go @Html.ActionLink("back to the search page", "Index", "Search", new { area = "" }, null) to start again.</p>
}
