@model Edubase.Web.UI.Models.DataQuality.FullDataQualityStatusViewModel
    @{
        ViewBag.bodyClasses = "data-quality";
    }
<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
                </li>
                <li>
                    @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
                </li>
            </ul>
        </div>


        @if (Model.DataUpdated)
        {
            <div class="pending-updates-message js-dismiss-message js-trigger-aria-live" role="alert">
                <div class="tick"></div>
                <p class="message-text" aria-live="polite">Data status has been updated.</p>
                <a href="#" class="cross"><span class="visually-hidden">Dismiss notification</span></a>
            </div>
        }
        <h1 class="heading-xlarge">Data status</h1>

        <table class="edubase-table no-pagination">
            <caption class="table-caption">These dates show when each of our teams last updated their data.</caption>
            <thead>
                <tr>
                    <th scope="col">Establishment type</th>
                    <th scope="col">Last updated</th>
                    <th scope="col">Data owner</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Items)
            {
                var hasClause = (item.DataOwner == "Independent Education and Boarding Team");

                <tr>
                    <td data-label="Establishment type">@item.EstablishmentType.GetEnumMember()</td>
                    <td data-label="Last updated">@item.LastUpdated.ToString()</td>
                    <td data-label="Data owner" @Html.Raw(hasClause ? "aria-describedby = 'independent-pending'" : "")>
                        @item.DataOwner
                        @(hasClause ? "*" : "")
                    </td>
                    <td data-label="Email">
                        <span class="truncate">
                            @item.Email
                        </span>
                    </td>
                </tr>
            }

            </tbody>
        </table>

        <p id="independent-pending" class="table-footnote">* All approved changes to schools' registered details are recorded at this date. Changes still pending approval won't appear here yet.</p>

        <div class="button-row">
            @if (Model.UserCanUpdate)
            {
                <a class="button button-secondary" href="/DataQuality/Edit">Update</a>
            }
        </div>
    </div>
</div>

@section ViewScripts {
    <script src="/public/assets/scripts/standalone/accessibility.js"></script>
}
