@model Edubase.Web.UI.Models.DataQuality.FullDataQualityStatusViewModel
    @{
        ViewBag.bodyClasses = "data-quality";
        ViewBag.SiteSection = "tools";
    }
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (Model.DataUpdated)
        {
            <div class="pending-updates-message js-dismiss-message js-trigger-aria-live" role="alert">
                <div class="tick"></div>
                <p class="message-text" aria-live="polite">Data status has been updated.</p>
                <a href="#" class="cross"><span class="govuk-visually-hidden">Dismiss notification</span></a>
            </div>
        }
        <h1 class="govuk-heading-xl">View data owner teams' data status</h1>

        <p>These dates show when each of our data owner teams' last confirmed their team's data was up to date.</p>
        <table class="govuk-table gias-table no-pagination gias-table--data-status">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Establishment type</th>
                    <th scope="col" class="govuk-table__header">Last updated</th>
                    <th scope="col" class="govuk-table__header">Data owner</th>
                    <th scope="col" class="govuk-table__header">Email</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var item in Model.Items)
            {
                var hasClause = (item.DataOwner == "Independent Education and Boarding Team");
                var updated = new DateTime((int)item.LastUpdated.Year,(int) item.LastUpdated.Month, (int)item.LastUpdated.Day);

                <tr class="govuk-table__row">
                    <td id="establishment-type-@StringUtils.ElementIdFormat(item.EstablishmentType.GetEnumMember())" data-label="Establishment type" class="govuk-table__cell">@item.EstablishmentType.GetEnumMember()</td>
                    <td id="last-updated-@StringUtils.ElementIdFormat(item.EstablishmentType.GetEnumMember())" data-label="Last updated" class="govuk-table__cell">@updated.ToString("d MMMM yyyy")</td>
                    <td id="data-owner-@StringUtils.ElementIdFormat(item.DataOwner)" data-label="Data owner" @Html.Raw(hasClause ? "aria-describedby = 'independent-pending'" : "") class="govuk-table__cell">
                        @item.DataOwner
                        @(hasClause ? "*" : "")
                    </td>
                    <td id="email-@StringUtils.ElementIdFormat(item.DataOwner)" data-label="Email"  class="govuk-table__cell">
                        @item.Email
                    </td>
                </tr>
            }

            </tbody>
        </table>

        <p id="independent-pending" class="govuk-body-s">* All approved changes to establishments' registered details are recorded at this date. Changes still pending approval won't appear here yet.</p>


            @if (Model.UserCanUpdate)
            {
                <div class="button-row govuk-!-padding-top-4">
                    @Html.ActionLink("Update", "EditStatus", "DataQuality", new {area = ""}, new { @class = "govuk-button govuk-button--secondary", data_module = "govuk-button" })
                </div>
            }

    </div>
</div>

