@using System.Linq.Expressions
@using Edubase.Common.Text
@using Edubase.Services.Establishments.DisplayPolicies
@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models
@using Edubase.Web.UI.Views.Shared.EditorTemplates.Model
@model ProprietorViewModel

@{
    var displayPolicy = ViewData["displayPolicy"] as ProprietorFieldList<bool> ?? new ProprietorFieldList<bool>();
}

@if (ViewBag.ModelState != null)
{
    // horrible way of doing it, but the viewstate is wiped when we call the RenderPartial
    // we cant just create the new viewDataDictionary from the model either because that messes up the repeated sections.
    var ms = (ModelStateDictionary)ViewBag.ModelState;
    if (Html.ViewData.ModelState.IsValid && !ms.IsValid)
    {
        foreach (var msKey in ms.Keys)
        {
            var value = ms[msKey];
            foreach (var error in value.Errors)
            {
                Html.ViewData.ModelState.AddModelError(msKey, error.ErrorMessage);
            }
        }
    }
}

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.CountyIdDefault)

@if (displayPolicy.Name)
{
    @await Html.PartialAsync("_RenderTextBox", new ProprietorTextBoxModel {
        FieldExpression = (Expression<Func<ProprietorViewModel, string>>)(model => model.Name),
        FieldName = nameof(ProprietorViewModel.Name)
    })
}

@if (displayPolicy.Street)
{
    @await Html.PartialAsync("_RenderTextBox", new ProprietorTextBoxModel {
        FieldExpression = (Expression<Func<ProprietorViewModel, string>>)(model => model.Street),
        FieldName = nameof(ProprietorViewModel.Street)
    })
}

@if (displayPolicy.Locality)
{
    @await Html.PartialAsync("_RenderTextBox", new ProprietorTextBoxModel {
        FieldExpression = (Expression<Func<ProprietorViewModel, string>>)(model => model.Locality),
        FieldName = nameof(ProprietorViewModel.Locality)
    })
}

@if (displayPolicy.Address3)
{
    @await Html.PartialAsync("_RenderTextBox", new ProprietorTextBoxModel {
        FieldExpression = (Expression<Func<ProprietorViewModel, string>>)(model => model.Address3),
        FieldName = nameof(ProprietorViewModel.Address3)
    })
}

@if (displayPolicy.Town)
{
    @await Html.PartialAsync("_RenderTextBox", new ProprietorTextBoxModel {
        FieldExpression = (Expression<Func<ProprietorViewModel, string>>)(model => model.Town),
        FieldName = nameof(ProprietorViewModel.Town)
    })
}

@if (displayPolicy.CountyId)
{
    var countyCounter = ViewBag.ShowCounter != null ? $"[{ViewBag.ShowCounter - 1}]" : "";
    var countyId = $"iebtDetail.{ViewBag.ProprietorType}{countyCounter}.{nameof(ProprietorViewModel.CountyId).ToLowerFirstLetter()}";
    var countyLink = countyId.Replace(".", "_").Replace("[", "_").Replace("]", "_");

    <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.CountyId) @ProprietorsValidationCssClass(countyId)" id="@countyLink">
        @Html.LabelFor(x => x.CountyId, null, new { @class = "govuk-label" })
        @Html.ValidationMessageFor(x => x.CountyId, null, new { @class = "govuk-error-message" })
        @if (ProprietorsValidationCssClass(countyId) == "error")
        {
            <span class="govuk-error-message">@Html.ViewData.ModelState[countyId].Errors.First().ErrorMessage</span>
        }
        @Html.DropDownListFor(x => x.CountyId, Model.Counties, "", new { id = $"proprietor-county-dropdown-{countyCounter}", @class = "govuk-select" })
    </div>
}

@if (displayPolicy.Postcode)
{
    @await Html.PartialAsync("_RenderTextBox", new ProprietorTextBoxModel {
        FieldExpression = (Expression<Func<ProprietorViewModel, string>>)(model => model.Postcode),
        FieldName = nameof(ProprietorViewModel.Postcode),
        FieldClasses = "govuk-input--width-10"
})

}

@if (displayPolicy.TelephoneNumber)
{
    @await Html.PartialAsync("_RenderTextBox", new ProprietorTextBoxModel {
        FieldExpression = (Expression<Func<ProprietorViewModel, string>>)(model => model.TelephoneNumber),
        FieldName = nameof(ProprietorViewModel.TelephoneNumber)
    })

}

@if (displayPolicy.Email)
{
    @await Html.PartialAsync("_RenderTextBox", new ProprietorTextBoxModel {
        FieldExpression = (Expression<Func<ProprietorViewModel, string>>)(x => x.Email),
        FieldName = nameof(ProprietorViewModel.Email)
    })
}

@functions {

    private string ProprietorsValidationCssClass(string validationId)
    {
        var state = Html.ViewData.ModelState[validationId];
        if (state != null && state.Errors.Count > 0)
        {
            return "govuk-form-group--error";
        }
        return "";
    }

}
