@using Edubase.Web.UI.Models
@using System.Linq
@using ViewModel = Edubase.Web.UI.Areas.Establishments.Models.IEstablishmentPageViewModel
@model ViewModel
@{
    ViewBag.bodyClasses = "create-edit-school school-details";
    ViewBag.hideLogo = true;
    ViewBag.Title = string.Concat(!ViewData.ModelState.IsValid ? "Error: " : string.Empty, "Edit establishment");
    Layout = "~/Views/Dfe/Layouts/template.cshtml";
}
<div class="breadcrumbs">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)</li>
        @if (Model.LegalParentGroup != null)
        {
            <li>@Html.ActionLink(Model.LegalParentGroup.Name, "Details", "Group", new { id = Model.LegalParentGroup.GroupUId, area = "Groups" }, null)</li>
        }
    </ul>
</div>

@if (ViewBag.ShowSaved != null && ViewBag.ShowSaved)
{
    <!-- TODO: check if this ever displays -->
    <div class="pending-updates-message js-dismiss-message">
        <div class="tick"></div>
        Your changes have been saved
        <a class="cross" href="#"><span class="visually-hidden">Dismiss notification</span></a>
    </div>
}

@if (!IsSectionDefined("validation"))
{
    @Html.Partial("_ValidationSummary", ViewData.ModelState);
}
else
{
    @RenderSection("validation", false)
}

<h1 class="heading-large">
    <span class="heading-secondary">Edit establishment</span>
    @Model.Name
</h1>
<p class="urn"><abbr title="Unique Reference Number">URN</abbr>: @Model.Urn</p>
<p class="establishment-type">@Model.TypeName</p>

<div class="grid-row">
    <div class="column-full">

        <div class="horizontal-tabs-wrapper">
            <div class="tab-wrap">
                <ul class="horizontal-tabs">
                    <li>
                        @if (string.Equals(Model.SelectedTab, "details"))
                        {
                            <a href="@Url.Action("EditDetails", "Establishment", new {id = Model.Urn, area = "Establishments"})" class="horizontal-tab selected-tab">Details</a>
                        }
                        else
                        {
                            <a href="@($"{Url.Action("Details", "Establishment", new {id = Model.Urn, area = "Establishments"})}#school-dashboard")" class="horizontal-tab">Details</a>
                        }

                    </li>

                    @if (Model.TabDisplayPolicy.Governance)
                    {
                        <li>
                            @if (string.Equals(Model.SelectedTab, "governance"))
                            {
                                <a href="@Url.Action("Edit", "Governor", new { establishmentUrn = Model.Urn, area = "Governors" })" class="horizontal-tab selected-tab">Governance</a>
                            }
                            else
                            {
                                <a href="@($"{Url.Action("Details", "Establishment", new {id = Model.Urn, area = "Establishments"})}#school-governance")" class="horizontal-tab">Governance</a>
                            }
                        </li>
                    }

                    @if (Model.TabDisplayPolicy.IEBT)
                    {
                        <li>
                            @if (string.Equals(Model.SelectedTab, "iebt"))
                            {
                                <a href="@Url.Action("EditIEBT", "Establishment", new {id = Model.Urn, area = "Establishments"})" class="horizontal-tab selected-tab">IEBT</a>
                            }
                            else
                            {
                                <a href="@($"{Url.Action("Details", "Establishment", new {id = Model.Urn, area = "Establishments"})}#school-iebt")" class="horizontal-tab">IEBT</a>
                            }
                        </li>
                    }

                    <li>
                        @if (string.Equals(Model.SelectedTab, "links"))
                        {
                            <a href="@Url.Action("EditLinks", "Establishment", new {id = Model.Urn, area = "Establishments"})" class="horizontal-tab selected-tab">Links</a>
                        }
                        else
                        {
                            <a href="@($"{Url.Action("Details", "Establishment", new {id = Model.Urn, area = "Establishments"})}#school-links")" class="horizontal-tab">Links</a>
                        }
                    </li>


                    @if (Model.TabDisplayPolicy.Location)
                    {
                        <li>
                            @if (string.Equals(Model.SelectedTab, "location"))
                            {
                                <a href="@Url.Action("EditLocation", "Establishment", new {id = Model.Urn, area = "Establishments"})" class="horizontal-tab selected-tab">Location</a>
                            }
                            else
                            {
                                <a href="@($"{Url.Action("Details", "Establishment", new {id = Model.Urn, area = "Establishments"})}#school-location")" class="horizontal-tab">Location</a>
                            }
                        </li>
                    }

                    @if (Model.TabDisplayPolicy.Helpdesk)
                    {
                        <li>
                            @if (string.Equals(Model.SelectedTab, "helpdesk"))
                            {
                                <a href="@Url.Action("EditHelpdesk", "Establishment", new {id = Model.Urn, area = "Establishments"})" class="horizontal-tab @Html.Conditional(Model.SelectedTab == "helpdesk", "selected-tab")">Helpdesk</a>
                            }
                            else
                            {
                                <a href="@($"{Url.Action("Details", "Establishment", new {id = Model.Urn, area = "Establishments"})}#helpdesk")" class="horizontal-tab">Helpdesk</a>
                            }
                        </li>
                    }
                </ul>
            </div>
            <div class="tab-content-wrapper horizontal-tabs-content">
                @if (Model.SelectedTab == "governance")
                {
                    <div class="tab-content">
                        @RenderBody()
                    </div>
                }
                else
                {
                    @RenderBody()
                }

            </div>
        </div>
    </div>
</div>

@section ViewScripts
{
    @(RenderSection("ViewScripts", required: false))
}
