@model SearchForEstablishmentViewModel
@{
    Layout = "_EditLayoutPage.cshtml";
}

@using (Html.BeginRouteForm("EditEstabLinks_SearchForEstablishment", FormMethod.Get))
{
    <div class="tab-content">
        <div class="links-search">
            <div>
                <a class="button button-secondary" href="@Url.RouteUrl("EditEstabLinks", new { id = Model.Urn })">Cancel</a>
            </div>

            <h2 class="bold-medium">Link to other establishment</h2>
            <br />
            <div class="column-two-thirds">
                <div class="form-group @Html.ValidationCssClassFor(x => x.SearchUrn)">
                    <label class="form-label" for="SearchUrn">
                        Other establishment's Unique Reference Number (URN)
                    </label>
                    @Html.ValidationMessageFor(x => x.SearchUrn)
                    @Html.TextBoxFor(x => x.SearchUrn, new { @class = "form-control form-control-1-2 push-half--bottom" })
                    <button id="search-urn-submit" class="button inline-button mobile-full-width mobile-full-width--inline" name="@SearchForEstablishmentViewModel.BIND_ALIAS_DOSEARCH" value="true">Search URN</button>
                </div>
            </div>

            <div class="button-row">
                <a class="button button-secondary" href="@Url.RouteUrl("EditEstabLinks", new { id = Model.Urn })">Cancel</a>
            </div>
        </div>
    </div>
}
