@using System.Linq
@model EditEstablishmentLinksViewModel
@{
    Layout = "_EditLayoutPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.LegalParentGroupToken)
    <div class="tab-content">
        <div class="links-list">
            <div>
                @Html.ActionLink("Cancel", "Details", "Establishment", new { id = Model.Urn }, new { @class = "button button-secondary mobile-full-width" })
            </div>

            <p>
                These establishments are linked with @Model.Name,
                URN: @Model.Urn For example, they may be predecessor or successor establishments.
            </p>
            <table class="edubase-table no-pagination">
                <thead>
                    <tr>
                        <th class="links-urn"><abbr title="Unique Reference Number">URN</abbr></th>
                        <th class="links-name">Establishment name</th>
                        <th class="links-type">Type of link</th>
                        <th class="links-date">Date linked</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Links)
                    {
                        <tr>
                            <td aria-label="URN">@item.Urn</td>
                            <td aria-label="Establishment name">@item.EstablishmentName</td>
                            <td aria-label="Type of link">@item.LinkTypeName</td>
                            <td aria-label="Date linked">@(item.LinkDate?.ToString("dd/MM/yyyy"))</td>
                            <td class="edit-cell"><a href="@Url.RouteUrl("EditEstabLink", new { urn = Model.Urn, linkid = item.Id })">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <a href="@Url.RouteUrl("EditEstabLinks_SearchForEstablishment", new { id = Model.Urn })" class="plus-link">Add another link</a>
            </p>
            <div class="button-row">
                @Html.ActionLink("Cancel", "Details", "Establishment", new { id = Model.Urn }, new { @class = "button button-secondary mobile-full-width" })
            </div>

        </div>
    </div>
}