@using Edubase.Web.UI.Areas.Establishments.Models.Search
@using Edubase.Web.UI.Helpers
@using Microsoft.Ajax.Utilities
@model EstablishmentSearchDownloadViewModel
@using Edubase.Web.UI.Models.Search
@using System.Web
@{
    ViewBag.Title = "Download establishment search results";
    ViewBag.bodyClasses = " search-page custom-fields-download";
    ViewBag.hideLogo = true;
}

@section Head
{
    <meta name="robots" content="noindex,nofollow"/>
    <style>
        .govuk-form-group-search.govuk-form-group--error {
            border-left: 4px solid #d4351c;
            padding-left: 0.5rem;
            margin-left: 0;
        }
    </style>
    <style>
    .js-only {
    display: none;
    }
    </style>
}

<div id="search-error-summary" class="govuk-error-summary" role="alert" style="display: none;">
    <h2 class="govuk-error-summary__title">There was a problem</h2>
    <ul class="govuk-list govuk-error-summary__list">
        <li><a href="#field-search">Enter a field name to search.</a></li>
    </ul>
</div>

@section BreadCrumbs
{
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        @Html.ActionLink("Search", "Index", "Search", new { area = "" },
            new { @class = "govuk-back-link" })
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item">
                            @Html.ActionLink("Home", "Index", "Home",
                                new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                        </li>
                        <li class="govuk-breadcrumbs__list-item">
                            @Html.ActionLink("Search", "Index", "Search",
                                new { area = "", SelectedTab = SearchViewModel.Tab.Establishments },
                                new { @class = "govuk-breadcrumbs__link" })
                        </li>
                        <li class="govuk-breadcrumbs__list-item">
                            <a class="govuk-breadcrumbs__link"
                               href=@($"{Url.Action("Index", "EstablishmentsSearch", new { area = "Establishments" })}?{Model.SearchQueryString}")>Search
                                results</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    }
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" role="alert">
        <h2 class="govuk-error-summary__title">There was a problem</h2>
        <ul class="govuk-list govuk-error-summary__list">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="no-js-show-block">
            @Html.Partial("_ValidationSummary", ViewData.ModelState)
        </div>
        <h1 class="govuk-heading-xl">Download data</h1>

        <h2 class="govuk-heading-m">Download establishment search results</h2>
        <h2 class="govuk-heading-m">Select the data you are interested in</h2>
    </div>
</div>

@using (Html.BeginForm("PrepareDownload", "EstablishmentsSearch", FormMethod.Get, new { id = "field-selection" }))
{
    @Html.HiddenFieldsFromQueryString()
    foreach (var laId in Model.SelectedLocalAuthorityIds ?? Enumerable.Empty<int>())
    {
        <input type="hidden" name="SelectedLocalAuthorityIds" value="@laId" />
    }
    var statusId = Request.QueryString.GetValues("SelectedEstablishmentStatusIds") ?? new string[0];
    foreach (var status in statusId)
    {
        @Html.Raw($"<input type=\"hidden\" name=\"SelectedEstablishmentStatusIds\" value=\"{HttpUtility.HtmlEncode(status)}\" />")
    }
    <!-- Top error summary (already works) -->
    <div id="search-error-summary" class="govuk-error-summary" role="alert" style="display: none;">
        <h2 class="govuk-error-summary__title">There was a problem</h2>
        <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#field-search">Enter a field name to search.</a></li>
        </ul>
    </div>

    <div id="search-error" style="display: none; margin-top: 1rem; font-size: 19px;"></div>
    <input type="hidden" name="Dataset" value="Custom"/>
    <input type="hidden" name="SearchType" value="@((int)Model.SearchType)"/>

    <div class="js-only">
        <div class="govuk-form-group-search" id="search-form-group" style="margin-bottom: 1rem;">
            <p id="search-inline-error" class="govuk-error-message" style="display: none;">
                Enter a field name to search.
            </p>
            <label for="field-search" class="govuk-label">Search by field name</label>

            <div class="govuk-input__wrapper" style="display: flex; gap: 0.5rem;">
                <input type="text"
                       class="govuk-input"
                       id="field-search"
                       style="width: 35ch;"/>

                <button class="govuk-button" id="search-btn">Search</button>

                <a href="#" class="govuk-link" id="clear-search" role="button" style="display:none;">
                    Clear Search
                </a>
                <a href="#" class="govuk-link govuk-!-font-size-19" id="switch-view" role="button"
                   style="margin-left: auto;">
                    View in alphabetical order
                </a>
            </div>
        </div>

        <div class="govuk-grid-row" style="margin-bottom: 1rem;">
            <div class="govuk-grid-column-full" style="text-align: right;">
                <a href="#" class="govuk-link govuk-!-font-size-19" id="select-all" role="button">Select all</a>&nbsp;&nbsp;&nbsp;
                <span></span>
                <a href="#" class="govuk-link govuk-!-font-size-19" id="clear-all" role="button">Clear all</a>
            </div>
        </div>
    </div>
    <div id="response-error" style="display: none; margin-top: 10px; font-size: 19px;">
        There are no results for your search.
        Please <a href="#" id="inline-clear">clear your search</a> and try again.
    </div>

    <button type="submit" id="next-button" class="govuk-button">Next</button>

    <div id="checkbox-container">
        @foreach (var category in Model.CustomFieldsByCategory)
        {
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        @category.Category
                    </legend>
                    <div class="govuk-checkboxes">
                        @foreach (var field in category.CustomFields)
                        {
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input"
                                       type="checkbox"
                                       id="@field.Id"
                                       name="selectedCustomFields"
                                       value="@field.Id"
                                       @(Model.SelectedCustomFields.Contains(field.Id) ? "checked" : "")/>
                                <label class="govuk-label govuk-checkboxes__label" for="@field.Id">
                                    @field.Name
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
        }
    </div>
    <button type="submit" id="next-button" class="govuk-button">Next</button>
}

@section ViewScripts
{
    <script src="~/Assets/Scripts/Entry/Download-specific-field.js"></script>
}
