@using Edubase.Web.UI.Helpers
@model Edubase.Web.UI.Areas.Governors.Models.GovernorViewModel

@if (Model.DisplayPolicy.TelephoneNumber)
{
    var inputId = Html.IdFor(model => model.TelephoneNumber);
    var errorsWrapperId = $"{inputId}-errors";

    <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.TelephoneNumber)">
        <label class="govuk-label" for="@inputId">
            Telephone number
            <a id="TelephoneNumberTooltipLink" href="#help-text-telephonenumber" class="help-icon modal-link">
                <span class="govuk-visually-hidden">Help with the telephone number field</span>
                @await Html.PartialAsync("_DialogHiddenPrompt", Model)
            </a>
        </label>

        <span id="@errorsWrapperId">
            @Html.ValidationMessageFor(model => model.TelephoneNumber, null, new { @class = "govuk-error-message" })
        </span>

        <div class="govuk-grid-column-full helptext-container">
            <div id="help-text-telephonenumber">
                <h3 class="govuk-heading-s make-modal-header">Home postcode</h3>
                <p class="govuk-body">
                    This information will not be made public and will only be shared within the Department for Education, across government and with organisations where the department are legally required to do so for business-critical work and safeguarding actions.
                </p>
            </div>
        </div>

        @Html.TextBoxFor(model => model.TelephoneNumber, new {
            @class = $"govuk-input {Html.TextBoxValidationClass(x => x.TelephoneNumber)}",
            id = inputId,
            aria_describedBy = errorsWrapperId
        })
    </div>
}

