@using Edubase.Common
@using Edubase.Services.Enums
@model Edubase.Web.UI.Areas.Governors.Models.GovernorViewModel

@if (Model.DisplayPolicy.PreviousFullName)
{
    <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.PreviousTitleId)">
        @Html.LabelFor(x => x.PreviousTitleId, new { @class = "govuk-label" })
        @Html.ValidationMessageFor(x => x.PreviousTitleId, null, new { @class = "govuk-error-message" })
        @Html.DropDownListFor(x => x.PreviousTitleId, Model.PreviousTitles, "",
            new { id="GovernorPreviousNameTitleInput", @class = string.Concat("govuk-select ", Html.TextBoxValidationClass(x => x.PreviousTitleId)) })
    </div>

    <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.PreviousFirstName)">
        @Html.LabelFor(x => x.PreviousFirstName, new { @class = "govuk-label" })
        @Html.ValidationMessageFor(x => x.PreviousFirstName, null, new { @class = "govuk-error-message" })
        @Html.TextBoxFor(x => x.PreviousFirstName,
            new { id = "GovernorPreviousNameFirstNameInput", @class = string.Concat("govuk-input ", Html.TextBoxValidationClass(x => x.PreviousFirstName)) })
    </div>

    <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.PreviousMiddleName)">
        @Html.LabelFor(x => x.PreviousMiddleName, new { @class = "govuk-label" })
        @Html.ValidationMessageFor(x => x.PreviousMiddleName, null, new { @class = "govuk-error-message" })
        @Html.TextBoxFor(x => x.PreviousMiddleName,
            new { id = "GovernorPreviousNameMiddleNameInput", @class = string.Concat("govuk-input ", Html.TextBoxValidationClass(x => x.PreviousMiddleName)) })
    </div>

    <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.PreviousLastName)">
        @Html.LabelFor(x => x.PreviousLastName, new { @class = "govuk-label" })
        @Html.ValidationMessageFor(x => x.PreviousLastName, null, new { @class = "govuk-error-message" })
        @Html.TextBoxFor(x => x.PreviousLastName,
            new { id = "GovernorPreviousNameLastNameInput", @class = string.Concat("govuk-input ", Html.TextBoxValidationClass(x => x.PreviousLastName)) })
    </div>
}
