@model AddSharedGovernorViewModel

@{
    ViewBag.hideLogo = true;
    ViewBag.SelectedTab = "EditGovernance";
    Layout = Model.Layout;
}

<div id="add-shared-governor" class="tab-content">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="bold-medium">Add @Model.GovernorType</h2>

            <div class="shared-governor-list selection-button-radio">
                <form action="">
                    <h3 class="bold-small">@Model.Governor.GetFullName()</h3>
                    <dl>
                        <dt>GID:</dt>
                        <dd>@Model.Governor.Id</dd>
                        <dt>Appointed by:</dt>
                        <dd>@Model.Governor.AppointingBodyName</dd>
                        <dt>Postcode:</dt>
                        <dd>@Model.Governor.PostCode</dd>
                        <dt>Date of birth:</dt>
                        <dd>@(Model.Governor.DOB?.ToString("dd/MM/yyyy"))</dd>
                        <dt>Nationality:</dt>
                        <dd>@Model.Governor.Nationality</dd>
                    </dl>
                    
                    @Html.RenderDateSelector(x => x.AppointmentStartDate, "Date of appointment")
                    @Html.RenderDateSelector(x => x.AppointmentEndDate, "Date term ends")
                    
                    <input type="submit" class="button mobile-full-width" value="Add"/>
                    <a href="#" class="button button-grey mobile-full-width">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>