@model ReplaceChairViewModel
    
@{
    ViewBag.hideLogo = true;
    ViewBag.SelectedTab = "EditGovernance";
    Layout = Model.Layout;
}

<div id="select-shared-governor" class="tab-content">
        <div class="column-two-thirds">
            @using (Html.BeginForm("ReplaceChair", "Governor", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.ExistingGovernorId)
                @Html.HiddenFor(m => m.GovernorFullName)
                @Html.HiddenFor(m => m.ExistingChairType)
                @Html.HiddenFor(m => m.Urn)
                @Html.HiddenFor(m => m.Name)
                <div class="button-row">
                    <input type="submit" value="Select" class="button mobile-full-width" />
                    <a href="@Url.RouteUrl("EstabEditGovernance", new { establishmentUrn = Model.Urn.Value })" class="button button-grey mobile-full-width">Cancel</a>
                </div>
                <h2 class="heading-medium">Replace chair of local governing body</h2>
                <h3 class="heading-small">@Model.GovernorFullName</h3>

                @Html.EditorFor(m => m.DateTermEnds)
                <div class="form-group inline toggle-panels">
                    <label class="block-label">
                        @Html.RadioButtonFor(m => m.NewChairType, ReplaceChairViewModel.ChairType.LocalChair, new { id = "newChair", @class = "panel-trigger", data_toggle_panel = "#newChairDetails" })
                        New Chair
                    </label>
                
                    <label class="block-label ">
                        @Html.RadioButtonFor(m => m.NewChairType, ReplaceChairViewModel.ChairType.SharedChair, new { id = "sharedChair", @class = "panel-trigger", data_toggle_panel = "#sharedChairDetails" })
                        Shared Chair
                    </label>
                </div>
                <div id="replacement-chair-details" class="exapanding-list-wrap chair-replace governor-toggles">
                    <div class="column-two-thirds">
                        <div id="newChairDetails" class="panel-indent @(Model.NewChairType == ReplaceChairViewModel.ChairType.LocalChair ? "open-expander" : "")">
                            <div class="replacement-chair-option">
                                @Html.EditorFor(m => m.NewLocalGovernor)
                            </div>
                        </div>
                        <div id="sharedChairDetails" class="panel-indent @(Model.NewChairType == ReplaceChairViewModel.ChairType.SharedChair ? "open-expander" : "")">
                            <div class="replacement-chair-option">
                                <div class="shared-governor-list">
                                    @if (Model.SharedGovernors.Any())
                                    {
                                        <ul>
                                            @for (var index = 0; index < Model.SharedGovernors.Count; index++)
                                            {
                                                @Html.EditorFor(x => x.SharedGovernors[index])
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>There are no shared governors available for this establishment</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-row">
                    <input type="submit" value="Select" class="button mobile-full-width" />
                    <a href="@Url.RouteUrl("EstabEditGovernance", new { establishmentUrn = Model.Urn.Value })" class="button button-grey mobile-full-width">Cancel</a>
                </div>
            }
        </div>
</div>

