@model SelectSharedGovernorViewModel

@{
    ViewBag.hideLogo = true;
    ViewBag.SelectedTab = "EditGovernance";
    Layout = Model.Layout;
}

<div id="select-shared-governor" class="tab-content">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="bold-medium">Select @Model.GovernorType</h2>

            <div class="shared-governor-list">
                <form action="">
                    <ul>
                        @foreach (var governor in Model.Governors)
                        {
                            <li>
                                <div class="expander-panel">
                                    <h3 class="bold-small">
                                        <span class="checkbox-wrap">
                                            <input type="checkbox" id="gov-@governor.Id" class="panel-trigger"/>
                                            <label for="gov-@governor.Id" class="edubase-button-checkbox">@governor.FullName</label>
                                        </span>
                                    </h3>
                                    <dl>
                                        <dt>Shared with:</dt>
                                        <dd>No establishments</dd>
                                        <dt>Postcode:</dt>
                                        <dd>@governor.PostCode</dd>
                                    </dl>
                                    <div class="expander-panel-content">
                                        <dl>
                                            <dt>GID:</dt>
                                            <dd>@governor.Id</dd>
                                            <dt>Appointed by:</dt>
                                            <dd>@governor.AppointingBodyName</dd>
                                            <dt>Date of birth:</dt>
                                            <dd>@governor.DOB</dd>
                                            <dt>Nationality:</dt>
                                            <dd>@governor.Nationality</dd>
                                        </dl>

                                        @Html.RenderDateSelector(x => governor.AppointmentStartDate, "Date of appointment")
                                        @Html.RenderDateSelector(x => governor.AppointmentEndDate, "Date term ends")
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <div>
                        <a href="@Url.RouteUrl("GroupEditGovernance", new {establishmentUrn = Model.Urn.Value})" class="button mobile-full-width">Select</a>
                        <a href="@Url.RouteUrl("GroupEditGovernance", new {establishmentUrn = Model.Urn.Value})" class="button button-grey mobile-full-width">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section ViewScripts
{
    <script type="text/javascript">
        $(".panel-trigger").change(function() {
            if ($(this).is(":checked")) {
                $(this).closest(".expander-panel").addClass("open-expander");
            } else {
                $(this).closest(".expander-panel").removeClass("open-expander");
            }
        })
    </script>
}